<div ng-if="!cdbctrl.viewingDetail" layout="column">

    <div layout="row"
        class="euiFlexGroup euiFlexGroup--alignItemsCenter euiFormControlLayout__childrenWrapper md-padding-h ng-scope wz-margin-top-16"
        ng-if="!dctrl.editingFile && !mctrl.filesSubTab">
        <input placeholder="Filter lists..." ng-model="cdbctrl.custom_search" type="text"
            class="euiFieldSearch euiFieldSearch--fullWidth euiFlexItem height-35 ng-empty ng-pristine ng-touched ng-valid"
            aria-invalid="false" wz-enter="cdbctrl.search(cdbctrl.custom_search)">
        <div class="euiFormControlLayoutIcons wz-margin-left-16"><span class="euiFormControlLayoutCustomIcon"><svg
                    class="euiIcon euiIcon--medium euiFormControlLayoutCustomIcon__icon" focusable="false"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="16" height="16" viewBox="0 0 16 16">
                    <defs>
                        <path id="search-a"
                            d="M11.271 11.978l3.872 3.873a.502.502 0 0 0 .708 0 .502.502 0 0 0 0-.708l-3.565-3.564c2.38-2.747 2.267-6.923-.342-9.532-2.73-2.73-7.17-2.73-9.898 0-2.728 2.729-2.728 7.17 0 9.9a6.955 6.955 0 0 0 4.949 2.05.5.5 0 0 0 0-1 5.96 5.96 0 0 1-4.242-1.757 6.01 6.01 0 0 1 0-8.486c2.337-2.34 6.143-2.34 8.484 0a6.01 6.01 0 0 1 0 8.486.5.5 0 0 0 .034.738z">
                        </path>
                    </defs>
                    <use xlink:href="#search-a"></use>
                </svg></span></div>

        <button type="submit" aria-label="Search"
            class="euiFlexItem euiFlexItem--flexGrowZero height-35 kuiButton kuiButton--secondary wz-margin-left-8"
            ng-click="cdbctrl.search(cdbctrl.custom_search)">
            Search
        </button>
    </div>

    <md-chips class="wz-chips md-padding-h  wz-margin-top-16" readonly="true" ng-show="cdbctrl.appliedFilters.length">
        <md-chip class="wz-chip" ng-show="cdbctrl.includesFilter('file')">
            <span>File: {{cdbctrl.getFilter('file')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true"
                    ng-click="cdbctrl.removeFilter('file')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="cdbctrl.includesFilter('path')">
            <span>Path: {{cdbctrl.getFilter('path')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true"
                    ng-click="cdbctrl.removeFilter('path')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="cdbctrl.includesFilter('level')">
            <span>Level: {{cdbctrl.getFilter('level')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true"
                    ng-click="cdbctrl.removeFilter('level')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="cdbctrl.includesFilter('group')">
            <span>Group: {{cdbctrl.getFilter('group')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true"
                    ng-click="cdbctrl.removeFilter('group')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="cdbctrl.includesFilter('pci')">
            <span>PCI control: {{cdbctrl.getFilter('pci')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true"
                    ng-click="cdbctrl.removeFilter('pci')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="cdbctrl.includesFilter('gdpr')">
            <span>GDPR: {{cdbctrl.getFilter('gdpr')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true"
                    ng-click="cdbctrl.removeFilter('gdpr')"></i>
            </span>
        </md-chip>
    </md-chips>

    <div layout="row" class="wz-margin-top-16">
        <md-card flex class="wz-md-card _md flex md-margin-h">
            <md-card-actions ng-if="cdbctrl.adminMode" layout="row" layout-align="end center"
                class="wz-card-actions wz-card-actions-top">
                <a ng-click="cdbctrl.addNewList()">Add new list <i aria-hidden="true" class="fa fa-plus"></i></a>
                <span flex></span>
            </md-card-actions>
            <md-card-content>
                <wz-table custom-columns="true" implicit-filter="cdbctrl.appliedFilters" flex path="'/lists/files'"
                    keys="['name', 'path']" allow-click="true" row-sizes="[15,13,11]">
                </wz-table>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button type="button" ng-click="cdbctrl.downloadCsv()"
                    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small">
                    <span class="euiButtonEmpty__content">
                        <svg class="euiIcon euiIcon--medium euiButtonEmpty__icon" focusable="false" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <path
                                d="M9 10.114l1.85-1.943a.52.52 0 0 1 .77 0c.214.228.214.6 0 .829l-1.95 2.05a1.552 1.552 0 0 1-2.31 0L5.41 9a.617.617 0 0 1 0-.829.52.52 0 0 1 .77 0L8 10.082V1.556C8 1.249 8.224 1 8.5 1s.5.249.5.556v8.558zM4.18 6a.993.993 0 0 0-.972.804l-1.189 6A.995.995 0 0 0 2.991 14h11.018a1 1 0 0 0 .972-1.196l-1.19-6a.993.993 0 0 0-.97-.804H4.18zM6 5v1h5V5h1.825c.946 0 1.76.673 1.946 1.608l1.19 6A2 2 0 0 1 14.016 15H2.984a1.992 1.992 0 0 1-1.945-2.392l1.19-6C2.414 5.673 3.229 5 4.174 5H6z">
                            </path>
                        </svg>
                        <span class="euiButtonEmpty__text">Formatted</span>
                    </span>
                </button>
            </md-card-actions>
        </md-card>
    </div>
</div>