<div ng-if="!cdbctrl.viewingDetail" layout="column">
        <div layout="row" class="wz-margin-top-16">
                <div flex class="euiPanel euiPanel--paddingLarge md-margin-h">
                        <div layout="row" layout-align="end center" class="height-35">
                                <h1 class="euiTitle euiTitle--medium">CDB lists</h1>
                                <span flex></span>
                                <button ng-if="cdbctrl.adminMode" type="button" ng-click="cdbctrl.addNewList()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                        <span class="euiButtonEmpty__content">
                                            <react-component name="EuiIcon" props="{type:'plusInCircle'}" ></react-component>
                                            <span class="euiButtonEmpty__text">Add new list</span>
                                        </span>
                                    </button>
                                <button type="button" ng-click="cdbctrl.downloadCsv()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                    <span class="euiButtonEmpty__content">
                                        <react-component name="EuiIcon" props="{type:'exportAction'}" ></react-component>
                                        <span class="euiButtonEmpty__text">Export formatted</span>
                                    </span>
                                </button>
                                <react-component ng-if="mctrl.adminMode" name="UploadFiles" props="mctrl.uploadFilesProps" class="wz-margin-left-10"></react-component>
                                <button type="button" ng-click="cdbctrl.refresh()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                    <span class="euiButtonEmpty__content">
                                        <react-component name="EuiIcon" props="{type:'refresh'}" ></react-component>
                                        <span class="euiButtonEmpty__text">Refresh</span>
                                    </span>
                                </button>
                                <!--  
                                <button type="button" ng-click="mctrl.openLogtest()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                    <span class="euiButtonEmpty__content">
                                        <react-component name="EuiIcon" props="{type:'play'}" ></react-component>
                                        <span class="euiButtonEmpty__text">Test your logs</span>
                                    </span>
                                </button>
                                -->
                                </div>
    <div layout="row" style="margin-left: -16px;margin-bottom: 25px;padding-right:0" 
        class="euiFlexGroup euiFlexGroup--alignItemsCenter euiFormControlLayout__childrenWrapper md-padding-h ng-scope wz-margin-top-16"
        ng-if="!dctrl.editingFile && !mctrl.filesSubTab">
        <input placeholder="Filter lists..." ng-model="cdbctrl.custom_search" type="text"
            class="euiFieldSearch euiFieldSearch--fullWidth euiFlexItem ng-empty ng-pristine ng-touched ng-valid"
            aria-invalid="false" wz-enter="cdbctrl.search(cdbctrl.custom_search)">
        <div class="euiFormControlLayoutIcons wz-margin-left-16">
            <span class="euiFormControlLayoutCustomIcon">
                <react-component name="EuiIcon" props="{type:'search', className:'euiFormControlLayoutCustomIcon__icon'}" ></react-component>
            </span>
        </div>
        <button type="submit" aria-label="Search" class="euiButton euiButton--primary euiButton--fill wz-margin-left-8"
            ng-click="cdbctrl.search(cdbctrl.custom_search)">
            <react-component name="EuiIcon" props="{type:'search'}"></react-component> Search
        </button>
    </div>
                <wz-table custom-columns="true" implicit-filter="cdbctrl.appliedFilters" flex path="'/lists/files'"
                    keys="['name', 'path']" allow-click="true" row-sizes="[15,13,11]" implicit-sort="'name'">
                </wz-table>
        </div>
    </div>
</div>