<div ng-if="!loading && viewingDetail" layout="column" class="wz-content">
    <!-- Back button and title -->
    <div layout="row" layout-align="start center">
        <!-- Back button -->
        <md-button class="md-icon-button wz-circle-back-button" style="margin: 5px 15px!important;" aria-label="Back to CDB Lists list"
            tooltip="Back" tooltip-placement="bottom" ng-click="closeDetailView(true)"><i class="fa fa-fw fa-arrow-left"
                aria-hidden="true"></i></md-button>
        <!-- List title -->
        <div>
            <h5 class="titleSectionIdentifier">CDB List</h5>
            <!-- <h1 class="font-size-18">{{currentList.name}}</h1> -->
            <h1 class="font-size-18">{{currentList.name}}</h1>
        </div>
    </div>
    <!-- End back button, title and status indicator -->


    <!-- List information ribbon -->
    <div layout="row" class="wz-padding-left-8 wz-padding-right-8">
        <md-card flex class="wz-metric-color wz-md-card">
            <md-card-content layout="row" class="wz-padding-metric">
                <div flex="50" class="wz-text-truncatable">Name: <span class="wz-text-bold wz-text-link">{{currentList.name}}</span></div>
                <div flex="50" class="wz-text-truncatable">Path: <span class="wz-text-bold wz-text-link">{{currentList.path}}</span></div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End List information ribbon -->

    <wz-list-manage ng-if="currentList" list="currentList"></wz-list-manage>
    <br>
</div>