.flyout-header {
    padding: 14px;
}

.flyout-body > .euiFlyoutBody__overflow{
    padding: 8px 16px 16px 16px;
    mask-image: unset;
}

.details-row{
    background: #fafbfd;
    margin: -8px -16px 16px -16px;
    padding: 16px;
    border-bottom: 1px solid #d3dae6;
}

.detail-title{
    font-size: 16px;
    font-weight: 500;
}

.detail-value{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px;
    max-height: 80px;
}

.fim-search-bar, .fim-search-bar > div > div:nth-child(1) > div:nth-child(1) {
    margin-right: 0px!important;
}

.fim-date-picker {
    margin-left: 0px!important;
}