.container {
  box-sizing: border-box;
  min-height: 1271px;
  margin-top: 44px;
  background: #ffffff;
  border: 1px solid rgba(52, 55, 65, 0.2);
  max-width: 1030px;
  padding-left: 72px;
  padding-right: 63px;
}

.title {
  margin-top: 51px;
  margin-bottom: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #343741;
  display: flex;
  justify-content: center;
}
.close {
  display: flex;
  justify-content: end;
  margin-top: 17px;
}

.close-button {
  width: 112px;
  height: 40px;
  border-radius: 6px;
  background: #CCE4F5 !important;
  border-color: #CCE4F5 !important;
}
