<div layout="column">

    <!-- No configuration card -->
    <md-card class="wz-md-card">
        <md-card-content class="wz-text-center">
            <react-component name="EuiIcon" props="{type:'help'}" ></react-component>
            <span ng-if="error === 'not-present'" class="wz-headline-title">Configuration not available</span>
            <span ng-if="error !== 'not-present'" class="wz-headline-title">Error fetching configuration</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div layout="column" class="wz-padding-top-10">
                <p ng-if="error === 'not-present'">This section is not present on the configuration file.</p>
                <p ng-if="error !== 'not-present'">There was a problem while fetching the configuration for this
                    section.</p>
            </div>
            <div layout="column" class="wz-padding-top-10">
                <p>Click on the
                    <react-component name="EuiIcon" props="{type:'questionInCircle'}" ></react-component> icon for help. Check
                    the documentation links to learn more about how to configure it.</p>
            </div>
        </md-card-content>
    </md-card>
    <!-- End no configuration card -->

</div>
