<div flex layout="column" ng-class="{'cursor-wait': multipleSelectorLoading}" ng-controller="groupsPreviewController as gp"
    ng-if="mctrl.tab == 'groups'">

    <!-- Main content -->
    <md-content flex layout="column" class=" overflow-hidden" ng-init="gp.lookingGroup=false">
        
        <!-- Loading ring -->
        <div class="md-padding md-padding-top-16" ng-show="load">
            <react-component name="EuiProgress" props="{size: 'xs', color: 'primary'}" />
        </div>

        <!-- Main table (list of groups) -->
        <div ng-show="!gp.load" layout="column" layout-padding ng-if="(!gp.currentGroup || !gp.currentGroup.name) && gp.groupsTableProps && !gp.lookingGroup">
            <react-component name="GroupsTable" props="gp.groupsTableProps" />
        </div>
        <!-- End main table -->

        
        <!-- Inside the group -->
        <div flex layout="column" layout-align="start stretch" ng-show="!gp.load && gp.lookingGroup " ng-init="gp.groupsSelectedTab='agents'">
            <!-- MD5 Sums and Details cards -->
            <div layout="row" class="md-padding" ng-if="gp.currentGroup">
                <span class="wz-headline-title font-size-18"><i class="fa fa-fw fa-object-group" aria-hidden="true"></i>
                    {{gp.currentGroup.name}}</span>
            </div>

            <!-- Tabs for the groups Agents / Files -->
            <div ng-if="gp.currentGroup && !gp.addingAgents && !gp.editingFile && gp.groupsTabsProps" class="md-margin-h">
                <react-component name="Tabs" props="gp.groupsTabsProps" />
            </div>

            <!-- XML editor for group agents -->
            <div ng-show="gp.editingFile">
                <div layout="row" class="md-padding-h wz-margin-top-10">
                    <span ng-click='gp.closeEditingFile()' class='wz-margin-top-3 kuiButton kuiButton--hollow'>Cancel</span>
                    <button ng-disabled='gp.xmlHasErrors' ng-click='gp.doSaveGroupAgentConfig()' class='height-35 kuiButton kuiButton--secondary wz-margin-left-8'>
                        <span ng-show='!gp.xmlHasErrors'>
                            <react-component name="EuiIcon" props="{type: 'save'}" /> Save file
                        </span>
                        <span ng-show='gp.xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                            XML format error</span>
                    </button>
                </div>
                <div class="md-padding md-padding-top-10" ng-if="gp.fetchedXML && gp.currentGroup">
                    <wz-xml-file-editor file-name='agent.conf' data="gp.fetchedXML" target-name="gp.currentGroup.name + ' group'"
                        valid-fn='gp.xmlIsValid(valid)' close-fn='gp.closeEditingFile(reload)'>
                    </wz-xml-file-editor>
                </div>
            </div>
            <!-- End XML editor for group agents -->

            <div ng-if="!gp.editingFile">
                <div layout="row" class="md-padding" ng-if="gp.currentGroup && gp.addingAgents">
                    <span ng-click='gp.addMultipleAgents(false)' class='wz-margin-top-3 kuiButton kuiButton--hollow'>
                        Cancel</span>
                    <span ng-hide='moreThan500' ng-click='gp.saveAddAgents()' class='btn wz-button wz-margin-left-8'><i
                            aria-hidden='true' class='fa fa-fw fa-save'></i>
                        Apply changes</span>
                    <span class='error-msg' ng-show='gp.moreThan500'><i class="fa fa-exclamation-triangle"></i> It is not
                        possible to apply changes of more than 500 additions or deletions</span>
                </div>

                <div ng-if='!gp.addingAgents'>
                <!-- Group agents table -->

                <!-- buttons to add agents TODO set in a new component -->
                <div>
                        <button ng-if="gp.lookingGroup && gp.currentGroup && !gp.addingAgents && !gp.editingFile && !gp.file && gp.adminMode && gp.groupsSelectedTab==='files'"
                        class="euiFlexItem euiFlexItem--flexGrowZero height-35 kuiButton kuiButton--secondary ng-scope wz-margin-left-8"
                        ng-click="gp.editGroupAgentConfig(currentGroup)" aria-label="Edit group configuration">
                        <react-component name="EuiIcon" props="{type:'pencil', color:'primary'}" />
                        Edit group configuration
                    </button>
                </div>
                <!-- end buttons to add agents -->
                    
                    <react-component ng-if="gp.currentGroup" name="AgentsInGroupTable" props="gp.agentsInGroupTableProps"/>

                    <md-card flex class="wz-md-card _md flex md-margin-h wz-margin-top-16" ng-if="gp.groupsSelectedTab==='agents' && gp.currentGroup">
                        <md-card-actions layout="row" class="wz-card-actions wz-card-actions-top layout-align-end-center">
                            <react-component name="ExportConfiguration" ng-hide="gp.reportBusy && gp.reportStatus" props="gp.exportConfigurationProps" />
                            <react-component ng-show="gp.reportBusy && gp.reportStatus" name="EuiLoadingSpinner" props="{size:'m'}" />
                        </md-card-actions>
                        <div layout="row" ng-show="gp.failedErrors" class="extraHeader">
                            <md-list>
                                <md-list-item class="error-enum-configuration" ng-repeat="group in gp.failedErrors">
                                    <span class="wz-agent-status-indicator small red-text padding-left-0"><span
                                            ng-repeat="error in group">{{error.id}}{{$last
                                            ? '' : ',&nbsp;'}}</span>: {{group[0].message}}</span>
                                </md-list-item>
                            </md-list>
                            <span flex></span>
                            <a class='md-padding md-padding-top-10' ng-click='gp.clearFailedErrors()'><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </div>
                        <md-card-content>
                            <div layout="row">
                                <wz-table flex custom-columns="true" path="'/agents/groups/' + gp.currentGroup.name" keys="['id','name','ip','status','os.name','os.version','version']"
                                    allow-click="true" row-sizes="[14,12,10]" empty-results="'No agents were added to this group.'" />
                            </div>
                            <div layout="row" ng-if="gp.groupsSelectedTab==='agents'">
                                <span flex></span>
                                <button type="button" ng-click="gp.downloadCsv('/agents/groups/' + gp.currentGroup.name)"
                                    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small">
                                    <span class="euiButtonEmpty__content">
                                        <react-component name="EuiIcon" props="{type:'importAction'}" />
                                        <span class="euiButtonEmpty__text">Formatted</span>
                                    </span>
                                </button>
                            </div>
                        </md-card-content>
                    </md-card>

                    <!-- Group files table -->
                    <md-card flex class="wz-md-card _md flex md-margin-h wz-margin-top-16" ng-if="gp.groupsSelectedTab==='files' && !gp.fileViewer && gp.currentGroup">
                        <md-card-actions layout="row" class="wz-card-actions wz-card-actions-top layout-align-end-center">
                            <react-component name="ExportConfiguration" ng-hide="gp.reportBusy && gp.reportStatus" props="gp.exportConfigurationProps" />
                            <react-component ng-show="gp.reportBusy && gp.reportStatus" name="EuiLoadingSpinner" props="{size:'m'}" />
                        </md-card-actions>
                        <md-card-content>
                            <div layout="row">
                                <wz-table custom-columns="true" flex path="'/agents/groups/' + gp.currentGroup.name + '/files'"
                                    keys="[{value:'filename',width:'300px'},'hash']" allow-click="true" row-sizes="[16,14,12]">
                                </wz-table>
                            </div>
                            <div layout="row" ng-if="gp.groupsSelectedTab==='files' && !gp.file">
                                <span flex></span>
                                <button type="button" ng-click="gp.downloadCsv('/agents/groups/' + gp.currentGroup.name + '/files')"
                                    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small">
                                    <span class="euiButtonEmpty__content">
                                        <react-component name="EuiIcon" props="{type:'importAction'}" />
                                        <span class="euiButtonEmpty__text">Formatted</span>
                                    </span>
                                </button>
                            </div>
                        </md-card-content>                    </md-card>
                    <!-- End Group files table -->

                    <!-- CSV Download button section for group files-->

                    <!-- End CSV Download button section for group files -->

                    <!-- File JSON viewer section -->
                    <div flex layout="column" class="md-padding" ng-if="gp.groupsSelectedTab==='files' && gp.file">
                        <div flex layout="column">
                            <div layout="row" class="wz-padding-bottom-14">
                                <span flex class="wz-headline-title">{{ gp.filename }}</span>
                                <button class="md-icon-button" ng-if="gp.lookingGroup" aria-label="Back" tooltip="Close file"
                                    tooltip-placement="left" ng-click="gp.goBackFiles()"><i class="fa fa-fw fa-close"
                                        aria-hidden="true"></i></button>
                                <!--<span flex class="wz-text-right cursor-pointer color-grey" ng-click="goBackFiles()">close</span>-->
                            </div>
                            <div flex layout="column">
                                <pre flex class="wz-pre groupContentViewer wzXmlEditor wz-overflow-y-auto"><code wz-dynamic="gp.file"></code></pre>
                            </div>
                        </div>
                    </div>
                    <!-- End File JSON viewer section -->
                </div>

                <div layout="row" class="md-padding" ng-if="gp.addingAgents">
                    <span ng-show='!gp.multipleSelectorLoading' class="wzMultipleSelectorCounter"><span style='color:green'>+{{gp.currentAdding}}</span>&nbsp;
                    <span style='color:red'>-{{gp.currentDeleting}}</span></span>
                    <wz-multiple-selector class='wzMultipleSelector' available-items="gp.availableAgents.data"
                        selected-items="gp.selectedAgents.data" title-available-items="Available agents"
                        title-selected-items="Current agents in the group" total-selected-items="gp.totalSelectedAgents"
                        reload-scroll='gp.reload(element, searchTerm, 499, start)' limit="gp.checkLimit()">
                    </wz-multiple-selector>
                </div>
            </div>
        </div>
        <!-- End inside the group -->
    </md-content>
</div>