<div flex layout="column" ng-class="{'cursor-wait': multipleSelectorLoading}" ng-controller="groupsPreviewController"
    ng-if="mctrl.tab == 'groups'">
    <md-content flex layout="column" class=" overflow-hidden" ng-init="lookingGroup=false">

        <!-- Loading ring -->
        <div class="md-padding md-padding-top-16" ng-show="load">
            <react-component name="EuiProgress" props="{size: 'xs', color: 'primary'}" />
        </div>

        <!-- Headline -->
        <div ng-show="!load" layout="column" layout-padding ng-if="!currentGroup || !currentGroup.name">
            <div layout="row">
                <span class="font-size-18">
                    <i class="fa fa-fw fa-object-group" aria-hidden="true"></i> Groups </span>
                <span ng-if='adminMode' class="font-size-18 wz-text-link wz-margin-left-8" ng-click="switchAddingGroup()">
                    <react-component ng-if="!addingGroup" name="EuiIcon" props="{type:'plusInCircle', color:'primary'}" />
                    <svg ng-if="addingGroup" class="euiIcon euiIcon--medium" focusable="false" xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.5 0C11.636 0 15 3.364 15 7.5S11.636 15 7.5 15 0 11.636 0 7.5 3.364 0 7.5 0zm0 .882a6.618 6.618 0 1 0 0 13.236A6.618 6.618 0 0 0 7.5.882zM3.5 7h8a.5.5 0 1 1 0 1h-8a.5.5 0 0 1 0-1z">
                        </path>
                    </svg>
                </span>
            </div>
            <div layout="row" ng-if="addingGroup" ng-if='adminMode' class="wz-padding-bottom-0">
                <input placeholder="Group name..." ng-model="groupToBeAdded" type="text" class="kuiLocalSearchInput addGroupInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
                    aria-invalid="false">
                <button type="submit" aria-label="Search" class="kuiLocalSearchButton addGroupBtn" ng-click="createGroup(groupToBeAdded)">
                    <span class="fa fa-save fa-fw" aria-hidden="true"></span>
                </button>
            </div>
            <div layout="row" ng-if="!addingGroup">
                <span class="md-subheader">List and check your groups, its agents and files</span>
            </div>
        </div>
        <!-- End headline -->

        <div flex layout="column" layout-align="start stretch" ng-show="!load" ng-init="groupsSelectedTab='agents'">
            <!-- MD5 Sums and Details cards -->
            <div layout="row" class="md-padding" ng-if="lookingGroup && currentGroup">
                <span class="wz-headline-title font-size-18"><i class="fa fa-fw fa-object-group" aria-hidden="true"></i>
                    {{currentGroup.name}}</span>
            </div>

            <!-- End group actions -->
            <div ng-if="lookingGroup && currentGroup && !addingAgents && !editingFile && groupsTabsProps" class="md-margin-h">
                <react-component name="Tabs" props="groupsTabsProps" />
            </div>

            <!-- XML editor for group agents -->
            <div ng-show="editingFile">
                <div layout="row" class="md-padding-h wz-margin-top-10">
                    <span ng-click='closeEditingFile()' class='wz-margin-top-3 kuiButton kuiButton--hollow'>Cancel</span>
                    <button ng-disabled='xmlHasErrors' ng-click='doSaveGroupAgentConfig()' class='height-35 kuiButton kuiButton--secondary wz-margin-left-8'>
                        <span ng-show='!xmlHasErrors'>
                            <react-component name="EuiIcon" props="{type: 'save'}" /> Save file
                        </span>
                        <span ng-show='xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                            XML format error</span>
                    </button>
                </div>
                <div class="md-padding md-padding-top-10" ng-if="fetchedXML && currentGroup">
                    <wz-xml-file-editor file-name='agent.conf' data="fetchedXML" target-name="currentGroup.name + ' group'"
                        valid-fn='xmlIsValid(valid)' close-fn='closeEditingFile(reload)'>
                    </wz-xml-file-editor>
                </div>
            </div>
            <!-- XML editor for group agents -->

            <div ng-if="!editingFile">
                <div layout="row" class="md-padding" ng-if="lookingGroup && currentGroup && addingAgents">
                    <span ng-click='addMultipleAgents(false)' class='wz-margin-top-3 kuiButton kuiButton--hollow'>
                        Cancel</span>
                    <span ng-hide='moreThan500' ng-click='saveAddAgents()' class='btn wz-button wz-margin-left-8'><i
                            aria-hidden='true' class='fa fa-fw fa-save'></i>
                        Apply changes</span>
                    <span class='error-msg' ng-show='moreThan500'><i class="fa fa-exclamation-triangle"></i> It is not
                        possible to apply changes of more than 500 additions or deletions</span>
                </div>

                <!-- Search bar -->
                <div layout="row" class="wz-margin-top-16 euiFlexGroup euiFlexGroup--alignItemsCenter euiFormControlLayout__childrenWrapper md-padding-h ng-scope"
                    ng-if="!addingAgents && !file">
                    <input placeholder="{{groupsSelectedTab==='files' ? 'Filter files...' : lookingGroup ? 'Filter agents...' : 'Filter groups...'}}"
                        ng-model="custom_search" type="text" class="euiFieldSearch euiFieldSearch--fullWidth euiFlexItem height-35 ng-empty ng-pristine ng-touched ng-valid"
                        aria-invalid="false" wz-enter="search(custom_search)">
                    <div class="euiFormControlLayoutIcons wz-margin-left-16">
                        <span class="euiFormControlLayoutCustomIcon">
                            <react-component name="EuiIcon" props="{type:'search', className:'euiFormControlLayoutCustomIcon__icon'}" />
                        </span>
                    </div>

                    <button type="submit" aria-label="Search" class="euiFlexItem euiFlexItem--flexGrowZero height-35 kuiButton kuiButton--secondary wz-margin-left-8"
                        ng-click="search(custom_search)">
                        Search
                    </button>
                    <div ng-if="lookingGroup && currentGroup && !addingAgents && !editingFile && !file && adminMode"
                        class="euiFlexItem euiFlexItem--flexGrowZero height-35 wz-margin-left-8">
                        <div class="euiFilterGroup"></div>
                    </div>
                    <button ng-if="lookingGroup && currentGroup && !addingAgents && !editingFile && !file && adminMode && groupsSelectedTab==='files'"
                        class="euiFlexItem euiFlexItem--flexGrowZero height-35 kuiButton kuiButton--secondary ng-scope wz-margin-left-8"
                        ng-click="editGroupAgentConfig(currentGroup)" aria-label="Edit group configuration">
                        <react-component name="EuiIcon" props="{type:'pencil', color:'primary'}" />
                        Edit group configuration
                    </button>
                    <button ng-if="lookingGroup && currentGroup && !addingAgents && !editingFile && !file && adminMode && groupsSelectedTab==='agents'"
                        class="euiFlexItem euiFlexItem--flexGrowZero height-35 kuiButton kuiButton--secondary ng-scope wz-margin-left-8"
                        ng-click="addMultipleAgents(true)" aria-label="Add or remove agents">
                        <react-component name="EuiIcon" props="{type:'plusInCircle', color:'primary'}" />
                        Add or remove agents
                    </button>

                </div>
                <!-- End search bar -->

                <!-- Groups table -->
                <md-card flex class="wz-md-card _md flex md-margin-h wz-margin-top-16" ng-if="!lookingGroup">
                    <md-card-content>
                        <div layout="row">
                            <wz-table custom-columns="true" flex path="'/agents/groups'" keys="['name','count','mergedSum']"
                                allow-click="true" row-sizes="[14,12,10]">
                            </wz-table>
                        </div>
                        <div layout="row" layout-align="end center">
                            <button type="button" ng-click="downloadCsv('/agents/groups')" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small">
                                <span class="euiButtonEmpty__content">
                                    <react-component name="EuiIcon" props="{type:'importAction'}" />
                                    <span class="euiButtonEmpty__text">Formatted</span>
                                </span>
                            </button>
                        </div>
                    </md-card-content>
                </md-card>
                <!-- End groups table -->

                <div ng-if='!addingAgents'>
                    <!-- Group agents table -->
                    <md-card flex class="wz-md-card _md flex md-margin-h wz-margin-top-16" ng-if="lookingGroup && groupsSelectedTab==='agents' && currentGroup">
                        <md-card-actions layout="row" class="wz-card-actions wz-card-actions-top layout-align-end-center">
                            <react-component name="ExportConfiguration" ng-hide="reportBusy && reportStatus" props="{exportConfiguration, type: 'group'}" />
                            <react-component ng-show="reportBusy && reportStatus" name="EuiLoadingSpinner" props="{size:'m'}" />
                        </md-card-actions>
                        <div layout="row" ng-show="failedErrors" class="extraHeader">
                            <md-list>
                                <md-list-item class="error-enum-configuration" ng-repeat="group in failedErrors">
                                    <span class="wz-agent-status-indicator small red-text padding-left-0"><span
                                            ng-repeat="error in group">{{error.id}}{{$last
                                            ? '' : ',&nbsp;'}}</span>: {{group[0].message}}</span>
                                </md-list-item>
                            </md-list>
                            <span flex></span>
                            <a class='md-padding md-padding-top-10' ng-click='clearFailedErrors()'><i class="fa fa-times"
                                    aria-hidden="true"></i></a>
                        </div>
                        <md-card-content>
                            <div layout="row">
                                <wz-table flex custom-columns="true" path="'/agents/groups/' + currentGroup.name" keys="['id','name','ip','status','os.name','os.version','version']"
                                    allow-click="true" row-sizes="[14,12,10]" empty-results="'No agents were added to this group.'" />
                            </div>
                            <div layout="row" ng-if="lookingGroup && groupsSelectedTab==='agents'">
                                <span flex></span>
                                <button type="button" ng-click="downloadCsv('/agents/groups/' + currentGroup.name)"
                                    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small">
                                    <span class="euiButtonEmpty__content">
                                        <react-component name="EuiIcon" props="{type:'importAction'}" />
                                        <span class="euiButtonEmpty__text">Formatted</span>
                                    </span>
                                </button>
                            </div>
                        </md-card-content>
                    </md-card>

                    <!-- Group files table -->
                    <md-card flex class="wz-md-card _md flex md-margin-h wz-margin-top-16" ng-if="lookingGroup && groupsSelectedTab==='files' && !fileViewer && currentGroup">
                        <md-card-actions layout="row" class="wz-card-actions wz-card-actions-top layout-align-end-center">
                            <react-component name="ExportConfiguration" ng-hide="reportBusy && reportStatus" props="{exportConfiguration, type: 'group'}" />
                            <react-component ng-show="reportBusy && reportStatus" name="EuiLoadingSpinner" props="{size:'m'}" />
                        </md-card-actions>
                        <md-card-content>
                            <div layout="row">
                                <wz-table custom-columns="true" flex path="'/agents/groups/' + currentGroup.name + '/files'"
                                    keys="[{value:'filename',width:'300px'},'hash']" allow-click="true" row-sizes="[16,14,12]">
                                </wz-table>
                            </div>
                            <div layout="row" ng-if="lookingGroup && groupsSelectedTab==='files' && !file">
                                <span flex></span>
                                <button type="button" ng-click="downloadCsv('/agents/groups/' + currentGroup.name + '/files')"
                                    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small">
                                    <span class="euiButtonEmpty__content">
                                        <react-component name="EuiIcon" props="{type:'importAction'}" />
                                        <span class="euiButtonEmpty__text">Formatted</span>
                                    </span>
                                </button>
                            </div>
                        </md-card-content>
                    </md-card>
                    <!-- End Group files table -->

                    <!-- CSV Download button section for group files-->

                    <!-- End CSV Download button section for group files -->

                    <!-- File JSON viewer section -->
                    <div flex layout="column" class="md-padding" ng-if="lookingGroup && groupsSelectedTab==='files' && file">
                        <div flex layout="column">
                            <div layout="row" class="wz-padding-bottom-14">
                                <span flex class="wz-headline-title">{{ filename }}</span>
                                <button class="md-icon-button" ng-if="lookingGroup" aria-label="Back" tooltip="Close file"
                                    tooltip-placement="left" ng-click="goBackFiles()"><i class="fa fa-fw fa-close"
                                        aria-hidden="true"></i></button>
                                <!--<span flex class="wz-text-right cursor-pointer color-grey" ng-click="goBackFiles()">close</span>-->
                            </div>
                            <div flex layout="column">
                                <pre flex class="wz-pre groupContentViewer wzXmlEditor wz-overflow-y-auto"><code wz-dynamic="file"></code></pre>
                            </div>
                        </div>
                    </div>
                    <!-- End File JSON viewer section -->
                </div>

                <div layout="row" class="md-padding" ng-if="addingAgents">
                    <span ng-show='!multipleSelectorLoading' class="wzMultipleSelectorCounter"><span style='color:green'>+{{currentAdding}}</span>&nbsp;<span
                            style='color:red'>-{{currentDeleting}}</span></span>
                    <wz-multiple-selector class='wzMultipleSelector' available-items="availableAgents.data"
                        selected-items="selectedAgents.data" title-available-items="Available agents"
                        title-selected-items="Current agents in the group" total-selected-items="totalSelectedAgents"
                        reload-scroll='reload(element, searchTerm, 499, start)' limit="checkLimit()">
                    </wz-multiple-selector>
                </div>
            </div>
        </div>
    </md-content>
</div>