<div ng-if="!loading && !dctrl.viewingDetail" layout="column">
    <div layout="row" class="wz-margin-top-16">
        <div flex class="euiPanel euiPanel--paddingLarge md-margin-h" ng-if="!dctrl.editingFile && !mctrl.filesSubTab">
            <div layout="row" layout-align="end center">
                            <h1 class="euiTitle euiTitle--medium">Decoders</h1>
                            <wz-kbn-switch class="md-primary wz-no-top-bottom-margin md-padding-h wz-margin-top-3" switch-model="dctrl.showingLocalDecoders"
                            switch-text="Custom decoders" switch-change="dctrl.switchLocalDecoders()"></wz-kbn-switch>
                            <span flex></span>
                            <button ng-if="adminMode" type="button" ng-click="mctrl.switchFilesSubTab('decoders')" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                    <span class="euiButtonEmpty__content">
                                        <react-component name="EuiIcon" props="{type:'folderOpen'}" ></react-component>
                                        <span class="euiButtonEmpty__text">Manage decoders files</span>
                                    </span>
                                </button>
                                <button ng-if="adminMode" type="button" ng-click="mctrl.newFile()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                        <span class="euiButtonEmpty__content">
                                            <react-component name="EuiIcon" props="{type:'plusInCircle'}" ></react-component>
                                            <span class="euiButtonEmpty__text">Add new decoder</span>
                                        </span>
                                    </button>
                                <button type="button" ng-click="dctrl.downloadCsv()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                        <span class="euiButtonEmpty__content">
                                            <react-component name="EuiIcon" props="{type:'exportAction'}" ></react-component>
                                            <span class="euiButtonEmpty__text">Export formatted</span>
                                        </span>
                                    </button>
                                    <!--
                                    <button type="button" ng-click="mctrl.openLogtest()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                        <span class="euiButtonEmpty__content">
                                            <react-component name="EuiIcon" props="{type:'play'}" ></react-component>
                                            <span class="euiButtonEmpty__text">Test your logs</span>
                                        </span>
                                    </button> 
                                    -->
                                 </div>
            <div class="wz-padding-bottom-0">
                    <div layout="row" style="margin-left: -16px;margin-bottom: 20px;padding-right:0" class="euiFlexGroup euiFlexGroup--alignItemsCenter euiFormControlLayout__childrenWrapper md-padding-h ng-scope wz-margin-top-16"
        ng-if="!dctrl.editingFile && !mctrl.filesSubTab">
        <input placeholder="Filter decoders..." ng-model="dctrl.custom_search" type="text" class="euiFieldSearch euiFieldSearch--fullWidth euiFlexItem ng-empty ng-pristine ng-touched ng-valid"
            aria-invalid="false" wz-enter="dctrl.search(dctrl.custom_search)" id="search-input-rules">
        <wz-add-filter-chip id-input="search-input-rules" options="[{label: 'File', value: 'file'}, {label: 'Path', value: 'path', hide: dctrl.showingLocalDecoders}]"></wz-add-filter-chip>
        <div class="euiFormControlLayoutIcons wz-margin-left-16">
            <span class="euiFormControlLayoutCustomIcon">
                <react-component name="EuiIcon" props="{type:'search', className:'euiFormControlLayoutCustomIcon__icon'}" ></react-component>
            </span>
        </div>
        <button type="submit" aria-label="Search" class="euiButton euiButton--primary euiButton--fill wz-margin-left-8"
            ng-click="dctrl.search(dctrl.custom_search)">
            <react-component name="EuiIcon" props="{type:'search'}"></react-component> Search
        </button>
        </div>

    <md-chips readonly="true" ng-hide="!dctrl.appliedFilters.length || 
    (dctrl.appliedFilters.length === 1 && dctrl.includesFilter('path') && dctrl.showingLocalDecoders)"
        ng-if="!dctrl.editingFile">
        <md-chip class="wz-chip" ng-show="dctrl.includesFilter('file')">
            <span>File: {{ dctrl.getFilter('file') }}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="dctrl.removeFilter('file')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="dctrl.includesFilter('path') && !dctrl.showingLocalDecoders">
            <span>Path: {{ dctrl.getFilter('path') }}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="dctrl.removeFilter('path')"></i>
            </span>
        </md-chip>
    </md-chips>
    <div class="wz-margin-top-16">
                <wz-table lens="dctrl.showingLocalDecoders" custom-columns="true" ng-if="!dctrl.showingLocalDecoders" implicit-filter="dctrl.appliedFilters"
                    flex path="'/decoders'" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file', 'path']"
                    allow-click="true" row-sizes="[16,13,11]" implicit-sort="'name'">
                </wz-table>
                <wz-table lens="dctrl.showingLocalDecoders" custom-columns="true" ng-if="dctrl.showingLocalDecoders" flex path="'/decoders'" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file', 'path']"
                    implicit-filter="dctrl.appliedFilters" allow-click="true" row-sizes="[16,13,11]" implicit-sort="'name'">
                </wz-table>
            </div>
        </div>
        </div>
    </div>
</div>