<div ng-if="!loading && !dctrl.viewingDetail" layout="column">
    <div id="content" layout="row" layout-align="start start" class="md-padding" ng-if="!dctrl.editingFile && !mctrl.filesSubTab">
        <input flex placeholder="Filter decoders..." ng-model="dctrl.custom_search" type="text" class="kuiLocalSearchInput height-40"
            aria-invalid="false" wz-enter="dctrl.search(dctrl.custom_search)">
        <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-40" ng-click="dctrl.search(dctrl.custom_search)">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </div>

    <md-chips class="wz-chips md-padding-h wz-padding-bottom-14" readonly="true" ng-show="dctrl.appliedFilters.length"
        ng-if="!dctrl.editingFile">
        <md-chip class="wz-chip" ng-show="dctrl.includesFilter('file')">
            <span>File: {{ dctrl.getFilter('file') }}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="dctrl.removeFilter('file')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="dctrl.includesFilter('path')">
            <span>Path: {{ dctrl.getFilter('path') }}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="dctrl.removeFilter('path')"></i>
            </span>
        </md-chip>
    </md-chips>

    <div layout="row">
        <md-card flex class="wz-md-card _md flex md-margin-h" ng-if="!dctrl.editingFile && !mctrl.filesSubTab">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions wz-card-actions-top">
                <a ng-if="adminMode" ng-click="mctrl.switchFilesSubTab('decoders')">Manage decoders files</a>
                <span flex></span>
                <wz-kbn-switch class="md-primary wz-no-top-bottom-margin" switch-model="dctrl.showingLocalDecoders"
                    switch-text="Custom decoders"></wz-kbn-switch>
            </md-card-actions>
            <md-card-content class="wz-padding-bottom-0">
                <wz-table custom-columns="true" ng-if="!dctrl.showingLocalDecoders" implicit-filter="dctrl.appliedFilters"
                    flex path="'/decoders'" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
                    allow-click="true" row-sizes="[16,13,11]">
                </wz-table>
                <wz-table custom-columns="true" ng-if="dctrl.showingLocalDecoders" flex path="'/decoders'" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
                    implicit-filter="[{ name:'path',value: 'etc/decoders'}]" allow-click="true" row-sizes="[16,13,11]"></wz-table>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions layout-align-end-center layout-row">
                <a class="wz-text-link cursor-pointer small md-button md-ink-ripple" id="btnDownload" ng-click="dctrl.downloadCsv()">Formatted
                    <i aria-hidden="true" class="fa fa-download"></i></a>
            </md-card-actions>
        </md-card>
    </div>
</div>