<div ng-if="!loading && !dctrl.viewingDetail" layout="column">
    <div id="content" layout="row" layout-align="start start" class="md-padding" ng-if="!dctrl.editingFile">
        <input flex placeholder="Filter decoders..." ng-model="dctrl.custom_search" type="text" class="kuiLocalSearchInput height-40  ng-empty ng-pristine ng-scope ng-touched ng-valid"
            aria-invalid="false" wz-enter="dctrl.search(dctrl.custom_search)">
        <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-40 wz-margin-right-8" ng-click="dctrl.search(dctrl.custom_search)">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </div>

    <md-chips class="wz-chips md-padding-h wz-padding-bottom-14" readonly="true" ng-show="dctrl.appliedFilters.length"
        ng-if="!dctrl.editingFile">
        <md-chip class="wz-chip" ng-show="dctrl.includesFilter('file')">
            <span>File: {{ dctrl.getFilter('file') }}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="dctrl.removeFilter('file')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="dctrl.includesFilter('path')">
            <span>Path: {{ dctrl.getFilter('path') }}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="dctrl.removeFilter('path')"></i>
            </span>
        </md-chip>
    </md-chips>

    <div layout="row">
        <md-card flex class="wz-md-card _md flex md-margin-h" ng-if="!dctrl.editingFile">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions wz-card-actions-top">
                <a ng-click="dctrl.addNewFile('decoders')">Add new decoder <i aria-hidden="true" class="fa fa-plus"></i></a>
                <span flex></span>
                <wz-kbn-switch class="md-primary wz-no-top-bottom-margin" switch-model="dctrl.showingLocalDecoders"
                    switch-text="Custom decoders"></wz-kbn-switch>
            </md-card-actions>
            <md-card-content>
                <wz-table custom-columns="true" ng-if="!dctrl.showingLocalDecoders" implicit-filter="dctrl.appliedFilters"
                    flex path="'/decoders'" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
                    allow-click="true" row-sizes="[16,13,11]">
                </wz-table>
                <wz-table custom-columns="true" ng-if="dctrl.showingLocalDecoders" flex path="'/decoders'" keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
                    implicit-filter="[{ name:'path',value: 'etc/decoders'}]" allow-click="true" row-sizes="[16,13,11]"></wz-table>
                <div layout="row" class="wz-margin-top-10 md-padding-h">
                    <span flex></span>
                    <a class="small" id="btnDownload" ng-click="dctrl.downloadCsv()">Formatted <i aria-hidden="true"
                            class="fa fa-download"></i></a>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div class="md-padding" ng-if="dctrl.editingFile && dctrl.type === 'decoders'">
        <div flex layout="column">
            <div layout="row" ng-if="!dctrl.newFile" class="wz-padding-bottom-14">
                <span ng-click='dctrl.closeEditingFile()' class='btn btn-info'>Cancel</span>
                <button ng-disabled='dctrl.xmlHasErrors || dctrl.doingSaving' ng-click='dctrl.doSaveConfig(false)'
                    class='btn wz-button pull-right'>
                    <span ng-show='!dctrl.xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save' ng-class="dctrl.doingSaving ? 'fa-spin fa-spinner' : ''"></i>Save
                        file</span>
                    <span ng-show='dctrl.xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                        XML format error</span>
                </button>
            </div>
            <div layout="row" ng-if="dctrl.newFile" class="wz-padding-bottom-14">
                <span ng-click='dctrl.closeEditingFile()' class='btn btn-info'>Cancel</span>
                <button ng-disabled='dctrl.xmlHasErrors || dctrl.newFileName ===  "" || dctrl.doingSaving' ng-click='dctrl.doSaveConfig(true,dctrl.newFileName)'
                    class='btn wz-button pull-right wz-margin-left-8'>
                    <span ng-show='!dctrl.xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save' ng-class="dctrl.doingSaving ? 'fa-spin fa-spinner' : ''"></i>Save
                        file</span>
                    <span ng-show='dctrl.xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                        XML format error</span>
                </button>
                <input placeholder="Eg: my_local_decoder.xml" ng-model="dctrl.newFileName" type="text" class="wz-margin-left-8 kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
                    aria-invalid="false">
                <div ng-show="dctrl.restartMsg" class="confirmEmbedBubble confirmEmbedBubbleInline">
                    <span class="wz-padding-top-10 wz-padding-left-8">Configuration is not applied yet. Do you want
                        to restart <b>{{selectedNode}}</b> to apply it?</span>
                    <button class="btn cancelBtn btn-info md-padding-h" type="button" ng-click="dctrl.restartMsg = false">I
                        will do it later</button>
                    <button class="btn wz-button" type="button" ng-disabled="dctrl.doingSaving" ng-click="dctrl.restart(); dctrl.restartMsg = false">Restart
                        <b>{{selectedNode}}</b> now</button>
                </div>
            </div>
            <div ng-if="dctrl.fetchedXML" style="height: calc(100vh - 220px);">
                <wz-xml-file-editor file-name='{{dctrl.type}}' data="dctrl.fetchedXML" target-name="dctrl.selectedItem.file"
                    valid-fn='dctrl.xmlIsValid(valid)' saving-param='dctrl.toggleSaveConfig()' close-fn='dctrl.closeEditingFile(reload)'>
                </wz-xml-file-editor>
            </div>
        </div>
    </div>
</div>