<div ng-if="!loading && dctrl.viewingDetail" layout="column">
    <!-- Back button and title -->
    <div layout="row" layout-align="start center">
        <!-- Back button -->
        <md-button class="md-icon-button wz-circle-back-button" style="margin: 5px 15px!important;" aria-label="Back to decoders list"
            tooltip="Back" tooltip-placement="bottom" ng-click="dctrl.closeDetailView()"><i class="fa fa-fw fa-arrow-left"
                aria-hidden="true"></i></md-button>
        <!-- Rule title -->
        <h1 class="font-size-18">{{dctrl.currentDecoder.name}}</h1>

    </div>
    <!-- End back button, title and status indicator -->

    <!-- Decoder information ribbon -->
    <div layout="row" class="wz-padding-left-8 wz-padding-right-8">
        <md-card flex class="wz-metric-color wz-md-card">
            <md-card-content layout="row" class="wz-padding-metric">
                <div flex="20" ng-if="dctrl.currentDecoder.position || dctrl.currentDecoder.position == 0" class="wz-text-truncatable">Position:
                    <span class="wz-text-bold">{{dctrl.currentDecoder.position}}</span></div>
                <div flex="40" ng-if="dctrl.currentDecoder.file" class="wz-text-truncatable">File: <span class="wz-text-bold wz-text-link"
                        ng-click="dctrl.addDetailFilter('file', dctrl.currentDecoder.file)" tooltip="Filter by this file"
                        tooltip-placement="bottom">{{dctrl.currentDecoder.file}}</span></div>
                <div flex="40" ng-if="dctrl.currentDecoder.path" class="wz-text-truncatable">Path: <span class="wz-text-bold wz-text-link"
                        ng-click="dctrl.addDetailFilter('path', dctrl.currentDecoder.path)" tooltip="Filter by this path"
                        tooltip-placement="bottom">{{dctrl.currentDecoder.path}}</span></div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End Decoder information ribbon -->

    <!-- Rest of decoder information -->
    <div layout="column" layout-align="start">

        <div layout="row" class="wz-padding-left-8 wz-padding-right-8" layout-align="start stretch">

            <!-- Details section -->
            <md-card flex class="wz-md-card">
                <md-card-content>
                    <span class="wz-headline-title"><i class="fa fa-fw fa-info" aria-hidden="true"></i> Details</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="row" layout-wrap class="wz-padding-top-10" ng-repeat="(key, value) in dctrl.currentDecoder.details"
                        ng-if="!dctrl.isArray(value)">
                        <span flex="20">{{key}}</span>
                        <span class="wz-text-right color-grey" ng-if="key !== 'regex' && key !== 'order'">{{value}}</span>
                        <span class="wz-text-right color-grey" ng-if="key == 'regex'" ng-bind-html="dctrl.colorRegex(value)"></span>
                        <span class="wz-text-right color-grey" ng-if="key == 'order'" ng-bind-html="dctrl.colorOrder(value)"></span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- End details section -->

            <!-- Regex section -->
            <md-card flex class="wz-md-card" ng-if="dctrl.isArray(dctrl.currentDecoder.details.regex)">
                <md-card-content>
                    <span class="wz-headline-title"><i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> Regex</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div ng-repeat="item in dctrl.currentDecoder.details.regex">
                        <div layout="row" layout-wrap class="wz-padding-top-10">
                            <span ng-bind-html="dctrl.colorRegex(item)"></span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <!-- End regex section -->

        </div>

        <div layout="row" class="wz-padding-left-8 wz-padding-right-8" layout-align="start stretch">

            <!-- Match section -->
            <md-card flex class="wz-md-card" ng-if="dctrl.isArray(dctrl.currentDecoder.details.match)">
                <md-card-content>
                    <span class="wz-headline-title"><i class="fa fa-fw fa-retweet" aria-hidden="true"></i> Match</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div ng-repeat="item in dctrl.currentDecoder.details.match">
                        <div layout="row" layout-wrap class="wz-padding-top-10">
                            <span>{{item}}</span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <!-- End match section -->

            <!-- Prematch section -->
            <md-card flex class="wz-md-card" ng-if="dctrl.isArray(dctrl.currentDecoder.details.prematch)">
                <md-card-content>
                    <span class="wz-headline-title"><i class="fa fa-fw fa-retweet" aria-hidden="true"></i> Prematch</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div ng-repeat="item in dctrl.currentDecoder.details.prematch">
                        <div layout="row" layout-wrap class="wz-padding-top-10">
                            <span>{{item}}</span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <!-- End prematch section -->
        </div>
        <div layout="row" class="md-padding wz-padding-bottom-0" ng-if="!editingFile && dctrl.currentDecoder.file && dctrl.currentDecoder.path === '/var/ossec/etc/decoders' && adminMode">
            <button ng-click='dctrl.editDecodersConfig(dctrl.currentDecoder)' class='btn btn-primary'><i aria-hidden='true'
                    class='fa fa-fw fa-pencil'></i>
                Edit decoders
            </button>
        </div>

        <!-- Related decoders section -->
        <div ng-show="!editingFile">
            <div layout="row" class="md-padding wz-padding-top-10" ng-if="dctrl.currentDecoder">
                <h1 class="md-headline wz-headline"><i class="fa fa-fw fa-link" aria-hidden="true"></i> Related
                    decoders</h1>
            </div>
            <div layout="row" ng-if="dctrl.currentDecoder">
                <md-card flex class="wz-md-card _md flex md-margin-h">
                    <md-card-content>
                        <wz-table flex path="'/decoders'" implicit-filter="[{ name:'file',value: dctrl.currentDecoder.file}]"
                            keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
                            allow-click="true" />
                    </md-card-content>
                </md-card>
            </div>
            <!-- End related decoders section -->
        </div>
        <br>
    </div>
    <!-- End rest of decoder information -->

    <!-- XML editor for rules -->
    <div layout="column" layout-align="start" ng-show="editingFile">
        <div layout="row" class="wz-margin-left-16">
            <span ng-click='dctrl.closeEditingFile()' class='btn btn-info'>Cancel</span>
            <button ng-disabled='xmlHasErrors' ng-click='dctrl.doSaveRuleConfig()' class='btn btn-primary pull-right wz-margin-left-8'>
                <span ng-show='!xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save'></i>Save file</span>
                <span ng-show='xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                    XML format error</span>
            </button>
        </div>
        <div class="md-padding md-padding-top-10" ng-if="fetchedXML">
            <wz-xml-file-editor file-name='rules' data="fetchedXML" target-name="currentRule.file" valid-fn='xmlIsValid(valid)'>
            </wz-xml-file-editor>
        </div>
    </div>
    <!-- XML editor for rules -->

</div>