<div ng-if="!loading && dctrl.viewingDetail" layout="column" ng-class="{ 'md-padding' : dctrl.editingFile }">
    <!-- Back button and title -->
    <div layout="row" layout-align="start center" ng-show="!dctrl.editingFile">
        <!-- Back button -->
        <md-button class="md-icon-button" style="margin: 5px!important;" aria-label="Back to decoders list"
            tooltip="Back" tooltip-placement="bottom" ng-click="dctrl.closeDetailView()"><i
                class="fa fa-fw fa-arrow-left" aria-hidden="true"></i></md-button>
        <!-- Rule title -->
        <div>
            <h1 class="font-size-18">{{dctrl.currentDecoder.name}}</h1>
        </div>
    </div>
    <!-- End back button, title and status indicator -->

    <!-- Decoder information ribbon -->
    <div layout="row" class="wz-padding-left-8 wz-padding-right-8" ng-show="!dctrl.editingFile">
        <md-card flex class="wz-metric-color wz-md-card">
            <md-card-content layout="row" class="wz-padding-metric">
                <div flex="20" ng-if="dctrl.currentDecoder.position || dctrl.currentDecoder.position == 0"
                    class="wz-text-truncatable">Position:
                    <span class="wz-text-bold">{{dctrl.currentDecoder.position}}</span></div>
                <div flex="40" ng-if="dctrl.currentDecoder.file" class="wz-text-truncatable">File: <span
                        class="wz-text-bold wz-text-link"
                        ng-click="dctrl.openFile(dctrl.currentDecoder.file,dctrl.currentDecoder.path)"
                        tooltip="Filter by this file" tooltip-placement="bottom">{{dctrl.currentDecoder.file}}</span>
                </div>
                <div flex="40" ng-if="dctrl.currentDecoder.path" class="wz-text-truncatable">Path: <span
                        class="wz-text-bold wz-text-link"
                        ng-click="dctrl.addDetailFilter('path', dctrl.currentDecoder.path)"
                        tooltip="Filter by this path" tooltip-placement="bottom">{{dctrl.currentDecoder.path}}</span>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End Decoder information ribbon -->

    <div layout="row" class="md-padding"
        ng-if="!dctrl.editingFile && dctrl.currentDecoder.file && dctrl.currentDecoder.path === 'etc/decoders' && adminMode">
        <button ng-click='dctrl.editDecodersConfig(dctrl.currentDecoder)'
            class="height-35 kuiButton kuiButton--secondary">
            <react-component name="EuiIcon" props="{type:'pencil'}" />
            Edit {{ dctrl.currentDecoder.file }}
        </button>
    </div>

    <!-- Rest of decoder information -->
    <div layout="column" layout-align="start" ng-show="!dctrl.editingFile">

        <div layout="row" class="wz-padding-left-8 wz-padding-right-8" layout-align="start stretch">

            <!-- Details section -->
            <md-card flex class="wz-md-card">
                <md-card-content>
                    <span class="wz-headline-title">
                        <react-component name="EuiIcon" props="{type:'editorUnorderedList'}" /> Details</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="row" layout-wrap class="wz-padding-top-10"
                        ng-repeat="(key, value) in dctrl.currentDecoder.details">
                        {{key}}
                        <div ng-if="!dctrl.isArray(value)" class="wz-margin-left-16">
                            <span class="wz-text-right color-grey"
                                ng-if="key !== 'regex' && key !== 'order'">{{value}}</span>
                            <span class="wz-text-right color-grey" ng-if="key == 'regex'"
                                ng-bind-html="dctrl.colorRegex(value)"></span>
                            <span class="wz-text-right color-grey" ng-if="key == 'order'"
                                ng-bind-html="dctrl.colorOrder(value)"></span>
                        </div>
                        <div class="wz-margin-left-16" ng-if="dctrl.isArray(value)">
                            <span ng-repeat="v in value track by $index" class="wz-text-right color-grey ">{{v}}{{$last
                            ? '' : ',&nbsp;'}}</span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <!-- End details section -->

            <!-- Regex section -->
            <md-card flex class="wz-md-card" ng-if="dctrl.isArray(dctrl.currentDecoder.details.regex)">
                <md-card-content>
                    <span class="wz-headline-title">
                        <react-component name="EuiIcon" props="{type:'bullseye'}" /> Regex</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div ng-repeat="item in dctrl.currentDecoder.details.regex">
                        <div layout="row" layout-wrap class="wz-padding-top-10">
                            <span ng-bind-html="dctrl.colorRegex(item)"></span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <!-- End regex section -->

        </div>

        <div layout="row" class="wz-padding-left-8 wz-padding-right-8" layout-align="start stretch">

            <!-- Match section -->
            <md-card flex class="wz-md-card" ng-if="dctrl.isArray(dctrl.currentDecoder.details.match)">
                <md-card-content>
                    <span class="wz-headline-title">
                        <react-component name="EuiIcon" props="{type:'kqlField'}" /> Match</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div ng-repeat="item in dctrl.currentDecoder.details.match">
                        <div layout="row" layout-wrap class="wz-padding-top-10">
                            <span>{{item}}</span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <!-- End match section -->

            <!-- Prematch section -->
            <md-card flex class="wz-md-card" ng-if="dctrl.isArray(dctrl.currentDecoder.details.prematch)">
                <md-card-content>
                    <span class="wz-headline-title">
                        <react-component name="EuiIcon" props="{type:'kqlFunction'}" />
                        Prematch</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div ng-repeat="item in dctrl.currentDecoder.details.prematch">
                        <div layout="row" layout-wrap class="wz-padding-top-10">
                            <span>{{item}}</span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <!-- End prematch section -->
        </div>

        <!-- Related decoders section -->
        <div ng-if="!dctrl.editingFile">
            <div layout="row" class="md-padding wz-padding-top-10" ng-if="dctrl.currentDecoder">
                <h1 class="md-headline wz-headline"><i class="fa fa-fw fa-link" aria-hidden="true"></i> Related
                    decoders</h1>
            </div>
            <div layout="row" ng-if="dctrl.currentDecoder">
                <md-card flex class="wz-md-card _md flex md-margin-h">
                    <md-card-content>
                        <wz-table custom-columns="true" flex path="'/decoders'"
                            implicit-filter="[{ name:'file',value: dctrl.currentDecoder.file}]"
                            keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
                            allow-click="true" />
                    </md-card-content>
                </md-card>
            </div>
            <!-- End related decoders section -->
        </div>
        <br>
    </div>
    <!-- End rest of decoder information -->

    <!-- XML editor for rules -->
    <div layout="column" layout-align="start" ng-show="dctrl.editingFile">
        <div layout="row">
            <span ng-click='dctrl.closeEditingFile()' class='wz-margin-top-3 kuiButton kuiButton--hollow'>Close</span>
            <button ng-disabled='dctrl.xmlHasErrors || dctrl.doingSaving' ng-click='dctrl.doSaveConfig()'
                class='btn wz-button pull-right wz-margin-left-8'>
                <span ng-show='!dctrl.xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save'
                        ng-class="dctrl.doingSaving ? 'fa-spin fa-spinner' : ''"></i>Save
                    file</span>
                <span ng-show='dctrl.xmlHasErrors' class='btn-danger'><i aria-hidden='true'
                        class='fa fa-fw fa-exclamation-triangle'></i>
                    XML format error</span>
            </button>
            <button class="btn wz-button" type="button" ng-show="dctrl.restartBtn" ng-disabled="dctrl.doingSaving"
                ng-click="dctrl.restart(); dctrl.restartBtn = false">Restart
                <b>{{selectedNode}}</b> now</button>
        </div>
        <div class="wz-padding-top-14" ng-if="dctrl.fetchedXML">
            <wz-xml-file-editor file-name='decoders' data="dctrl.fetchedXML" target-name="dctrl.currentDecoder.file"
                valid-fn='dctrl.xmlIsValid(valid)' saving-param='dctrl.toggleSaveConfig()'
                close-fn='dctrl.closeEditingFile(reload)'>
            </wz-xml-file-editor>
        </div>
    </div>
    <!-- XML editor for rules -->

</div>