include ./management.head
include ./welcome.html
include ./status.html
include ./configuration/configuration.pug
include ./monitoring/monitoring.pug
include ./logs.html
include ./reporting.html
include ./groups/groups.html
include ./ruleset/ruleset.pug
include ../footer.foot
