include ./management.head
include ./management-welcome.html
include ./monitoring/monitoring.pug
include ./statistics/statistics.html
include ./management.html

include ./groups/groups.html

include ../footer.foot