include ./management.head
include ./welcome.html
include ./status.html
include ./configuration/configuration.jade
include ./logs.html
include ./reporting.html
include ./monitoring/monitoring.jade
include ./groups/groups.html
include ./ruleset/ruleset.jade
include ../footer.foot
