<!-- No results section -->
<div class="wz-margin-bottom-45 wz-margin-top-17"
    ng-show="resultState === 'none' && !loading && !showConfig && !showNodes">
    <div flex class="euiCallOut euiCallOut--warning">
        <div class="euiCallOutHeader">
            <react-component name="EuiIcon" props="{type:'help',className:'euiCallOutHeader__title'}" ></react-component>
            <span class="euiCallOutHeader__title">There are no results for selected time range. Try another one.</span>
        </div>
    </div>
</div>
<!-- End no results section -->

<!-- Monitoring Timelion visualizations section -->
<div class="height-400" ng-class="{'no-opacity': resultState === 'none' || !rendered}"
    ng-show="!loading && !showConfig && !showNodes && rendered">
    <react-component name="ClusterTimelions" props="{}" ></react-component>
</div>
<!-- End monitoring Timelion visualizations section -->