<!-- No results section -->
<div layout="row" ng-show="resultState !== 'ready' && !loading && !showConfig && !showNodes">
    <md-card flex layout="column" class="wz-md-card">
        <md-card-content class="wz-text-center">
            <span>There are no results for selected time range. Try another one.</span>
        </md-card-content>
    </md-card>
</div>
<!-- End no results section -->

<!-- Monitoring Timelion visualizations section -->
<div layout="row" layout-align="start stretch" class="height-400" ng-show="!loading && !showConfig && !showNodes && rendered">
    <md-card flex class="wz-md-card">
        <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Cluster alerts summary</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <kbn-vis vis-id="'Wazuh-App-Cluster-Overview-Manager'" id="Wazuh-App-Cluster-Overview-Manager"></kbn-vis>
        </md-card-content>
    </md-card>
    <md-card flex class="wz-md-card">
        <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Alerts by node summary</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <kbn-vis vis-id="'Wazuh-App-Cluster-Overview'" id="Wazuh-App-Cluster-Overview"></kbn-vis>
        </md-card-content>
    </md-card>
</div>
<!-- End monitoring Timelion visualizations section -->
