<div ng-controller="clusterController" ng-if="mctrl.tab === 'monitoring'">

    <!-- Cluster disabled or not running -->
    <div ng-show="!isClusterEnabled || !isClusterRunning"
        class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
        <div ng-if="!isClusterEnabled" class="euiFlexItem euiTextAlign euiTextAlign--center">
            <div class="euiPanel euiPanel--paddingMedium">
                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> <span class="wz-headline-title">Cluster
                    disabled</span>
                <div class="euiSpacer euiSpacer--m"></div>
                <div layout="column" class="wz-padding-top-10">
                    <p>The cluster is disabled. Visit the documentation on <a target="_blank"
                            href="https://documentation.wazuh.com/current/user-manual/configuring-cluster/index.html">this
                            link</a> to learn about how to enable it.
                    </p>
                </div>
            </div>
        </div>
        <div ng-if="!isClusterRunning">
            <div class="euiFlexItem euiTextAlign euiTextAlign--center">
                <div class="euiPanel euiPanel--paddingMedium">
                    <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> <span class="wz-headline-title">Cluster
                        not running</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="column" class="wz-padding-top-10">
                        <p>
                            The cluster is enabled but it's not running.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cluster enabled -->
    <div ng-show="isClusterEnabled && isClusterRunning" class="monitoring-discover">
        <div class="md-padding md-padding-top-16" ng-show="loading">
            <react-component name="EuiProgress" props="{size: 'xs', color: 'primary'}" />
        </div>

        <!-- Navigation section -->
        <div layout="row" layout-align="start center" ng-if="!loading">
            <div layout="row" layout-padding>
                <div ng-if="!showConfig && !showNodes">
                    <span class="wz-text-link cursor-pointer" ng-click="mctrl.switchTab('welcome')">Management</span>
                    <span> / </span>
                    <span>{{ mctrl.tabNames[mctrl.tab] }}</span>
                    <span> / </span>
                    <span>{{ currentAPI }}</span>
                </div>
                <div ng-if="showConfig">
                    <span class="wz-text-link cursor-pointer" ng-click="mctrl.switchTab('welcome')">Management</span>
                    <span> / </span>
                    <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ mctrl.tabNames[mctrl.tab] }}</span>
                    <span> / </span>
                    <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ currentAPI }}</span>
                    <span> / Overview</span>
                </div>
                <div ng-if="showNodes && !currentNode">
                    <span class="wz-text-link cursor-pointer" ng-click="mctrl.switchTab('welcome')">Management</span>
                    <span> / </span>
                    <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ mctrl.tabNames[mctrl.tab] }}</span>
                    <span> / </span>
                    <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ currentAPI }}</span>
                    <span> / </span>
                    <span>Nodes</span>
                </div>
                <div ng-if="currentNode">
                    <span class="wz-text-link cursor-pointer" ng-click="mctrl.switchTab('welcome')">Management</span>
                    <span> / </span>
                    <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ mctrl.tabNames[mctrl.tab] }}</span>
                    <span> / </span>
                    <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ currentAPI }}</span>
                    <span> / </span>
                    <span class="wz-text-link cursor-pointer" ng-click="goNodes()">Nodes</span>
                    <span> / </span>
                    <span class="wz-text-bold">{{ currentNode.name }}</span>
                </div>
            </div>
        </div>
        <!-- End navigation section -->

        <!-- Status and reports navigation bar -->
        <div ng-if="!loading" ng-show="mctrl.tab !== 'welcome'" class="md-padding-h">
            <react-component name="Tabs" props="mctrl.managementTabsProps" />
        </div>
        <!-- End status and reports navigation bar -->

        <!-- Discover search bar section -->
        <kbn-dis class="monitoring-discover" ng-show="!loading && (!showNodes || currentNode)"></kbn-dis>
        <!-- End Discover search bar section -->

        <!-- Loading status section -->
        <div
            class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--justifyContentSpaceAround euiFlexGroup--directionRow euiFlexGroup--responsive">
            <div class="euiFlexItem euiFlexItem--flexGrowZero euiTextAlign euiTextAlign--center"
                ng-show="!loading && !rendered && resultState === 'ready' && (!showNodes || (showNodes && currentNode))">
                <span class="euiLoadingChart euiLoadingChart--large">
                    <span class="euiLoadingChart__bar"></span>
                    <span class="euiLoadingChart__bar"></span>
                    <span class="euiLoadingChart__bar"></span>
                    <span class="euiLoadingChart__bar"></span>
                </span>
                <div class="euiSpacer euiSpacer--m"></div>
                <div class="percentage">{{loadingStatus}}</div>
            </div>
        </div>
        <!-- End loading status section -->
    </div>