<table class="table table-chrome table-striped alerts-grid">
    <colgroup>
        <col class="col-flex col-name">
        <col class="col-slim col-actions">
        <col class="col-slim col-status">
    </colgroup>
    <thead>
    <tr>
        <th class="<%- sortCellClass %>" <%- sortKeyAttribute %>="name">
        <a href="#" class="name-sort-link"><%= _('Name').t() %><i class="icon-sorts"></i></a>
        </th>

        <th><%= _('Actions').t() %></th>

        <th class="<%- sortCellClass %>" <%- sortKeyAttribute %>="disabled">
        <a href="#" class="name-sort-link"><%= _('Status').t() %><i class="icon-sorts"></i></a>
        </th>

    </tr>
    </thead>
    <tbody class="grid-table-body">

    </tbody>

</table>