<table class="table table-chrome sortable">
    <colgroup>
        <col class="col-flex col-title">
        <col class="col-slim col-category">
        <col class="col-flex col-results">
    </colgroup>
    <thead>
	    <tr>
	    	<th class="sorts"  data-sort-key="name">
	    		<a href="#"><%= _('Check').t() %><i class="icon-sorts"></i></a>
	    	</th>
	    	<th class="sorts" data-sort-key="category">
	    		<a href="#"><%= _('Category').t() %><i class="icon-sorts"></i></a>
	    	</th>
	    	<th class="sorts" data-sort-key="tags">
	    		<a href="#"><%= _('Tags').t() %><i class="icon-sorts"></i></a>
	    	</th>
	    	<th class="sorts" data-sort-key="results">
	    		<a href="#"><%= _('Results').t() %><i class="icon-sorts"></i></a>
	    	</th>
	    </tr>
    </thead>
    <tbody class="check-item-table-body"></tbody>
</table>