<div flex ng-if="!loading && globalsubmenuNavItem2 == 'decoders'" ng-controller="decodersController" layout="column" id="rulesContainer"
    layout-padding layout-align="start space-around">

    <div class='uil-ring-css' ng-show="loading">
        <div></div>
    </div>

    <div ng-show="!loading" layout="row" layout-align="center start">
        <md-card flex class="manager-ruleset-decoders-top-24">
            <md-card-content class="wazuh-column">
                <span class="md-headline-small">Top 24h - Decoder name</span>
                <kbn-vis specific-time-range="true" vis-id="'Wazuh-App-Manager-Ruleset-Decoders-Top-24h-Decoder-name'" id="Wazuh-App-Manager-Ruleset-Decoders-Top-24h-Decoder-name"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div ng-show="!loading" flex layout="column" class="manager-ruleset-decoders-no-padding">
        <div id="content" layout="row" layout-align="start start" class="manager-ruleset-decoders-top-content">
            <span layout="row" class="manager-ruleset-decoders-top-span" flex layout-align="space-between center">
                <md-autocomplete flex id="Auto" md-input-id="autocomplete" md-select-on-match="true" md-no-cache="noCache" md-selected-item="filter"
                    md-selected-item-change="decoders.addFilter('search', filter.name)" md-search-text="searchTerm" md-items="decoder in analizeDecoders(searchTerm)"
                    md-item-text="decoder.name +' '+ decoder.file" md-min-length="0" md-no-asterisk="false" md-menu-class="autocomplete-custom-agents-bar"
                    md-search-text-change="analizeDecoders(searchTerm)" placeholder="Search..." lazy-load-data="decodersAutoComplete.nextPage()"
                    md-autofocus="" wz-enter="checkEnter(searchTerm)">
                    <md-item-template>
                        <span class="item-title">
                            <span>
                                <strong md-highlight-text="search" md-highlight-flags="i"> {{decoder.file}} - {{decoder.name}} </strong>
                            </span>
                        </span>
                        <span class="item-metadata">
                            <span class="item-metastat"> {{decoder.type}} </span>
                        </span>
                    </md-item-template>
                    <md-not-found> No results matching "{{searchTerm}}" were found. </md-not-found>
                </md-autocomplete>
            </span>

            <md-button flex="10" ng-class="(globalsubmenuNavItem2 == 'rules') ? 'button-active' : 'buttonBlueLightRuleset'" ng-click="setRulesTab('rules')"
                class="md-primary manager-ruleset-decoders-btn">
                Rules
            </md-button>
            <md-button flex="10" ng-class="(globalsubmenuNavItem2 == 'decoders') ? 'button-active' : 'buttonBlueLightRuleset'" ng-click="setRulesTab('decoders')"
                class="md-primary manager-ruleset-decoders-btn">
                Decoders
            </md-button>

            <md-input-container flex="20" class="md-whiteframe-z1 manager-ruleset-decoders-selector">
                <md-select ng-model="typeFilter" ng-change="applyFilter(typeFilter)" aria-label="Filter by type" ng-init="'All'">
                    <md-option value="all">All</md-option>
                    <md-option value="parents">Parents only</md-option>
                </md-select>
            </md-input-container>
        </div>

        <md-chips readonly="true" ng-show="decoders.hasFilter('search') || decoders.hasFilter('file') || decoders.hasFilter('path')">
            <md-chip class="wazuh-chip" ng-click="decoders.removeFilter('search', true)" ng-if="decoders.hasFilter('search') && decoders.getFilter('search')">
                <span class="bold">Search: {{decoders.getFilter('search')}}
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </md-chip>
            <md-chip class="wazuh-chip" ng-click="decoders.removeFilter('file', true)" ng-if="decoders.hasFilter('file');">
                <span class="bold">File: {{decoders.getFilter('file')}}
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </md-chip>
            <md-chip class="wazuh-chip" ng-click="decoders.removeFilter('path', true)" ng-if="decoders.hasFilter('path');">
                <span class="bold">Path: {{decoders.getFilter('path')}}
                    <i class="fa fa-times" aria-hidden="true"></i>
                </span>
            </md-chip>
        </md-chips>

        <wz-table-header
            layout="row" 
            data="decoders" 
            keys="[
                {name:'Name',sortValue:'name',size:20},
                {name:'Program name',size:20},
                {name:'Fields',size:40},
                {name:'File',sortValue:'file',size:20}
            ]">
        </wz-table-header>
        <wz-table 
            layout="column" 
            flex
            func="closeOther(decoder.name+decoder.file+decoder.position)"
            data="decoders" 
            full="'decoder'"
            activeitem="activeItem"
            keys="[
                {col:'name',size:20},
                {col:'details.program_name',size:20},
                {col:'details.order',size:40},
                {col:'file',size:20}
            ]" 
            isdecoders="true"
            class="no-lateral-padding">
        </wz-table>
    </div>
</div>
