<div layout="column" layout-align="start">
    <div layout="row" ng-class="hideClose ? ['wz-margin-top-8', 'md-padding-h'] : ''">
        <span ng-if="!hideClose" ng-click='closeFn()' class='wz-margin-top-3 kuiButton kuiButton--hollow wz-margin-right-8'>Cancel</span>
        <button ng-if='adminMode'
            ng-disabled='!(currentItems || []).length || (currentList.new && !currentList.newName) || doingSaving || overwriteError'
            ng-click='saveList()' class='btn wz-button pull-right'>
            <span><i aria-hidden='true' class='fa fa-fw fa-save'
                    ng-class="doingSaving ? 'fa-spin fa-spinner' : ''"></i>Save
                list</span>
        </button>
        <input ng-show="currentList.new" placeholder="Enter new list name" ng-model="currentList.newName"
            ng-change="overwriteError = false" type="text"
            class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid wz-margin-left-8"
            aria-invalid="false">
    </div>
    <div layout="row" ng-class="hideClose ? ['wz-padding-left-8', 'wz-padding-right-8'] : ['wz-padding-top-14']"
        layout-align="start stretch">
        <md-card flex class="wz-md-card" ng-class="{ 'wz-no-margin' : !hideClose }">
            <div layout="row" ng-if="restartBtn" class="extraHeaderInfo">
                <span><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
                    Changes will not take effect until a restart is performed.</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="restart()">Restart now</span>
            </div>
            <md-card-content>
                <div layout="row">
                    <input placeholder="Filter entries..." ng-model="searchTerm" ng-change="filterTable()" type="text"
                        class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid height-40">
                </div>
                <table
                    class="table table-striped table-condensed table-layout-fixed table-hover table-vertical-align-middle">
                    <thead class="wz-text-bold">
                        <th class="wz-text-left">Key</th>
                        <th class="wz-text-left">Value</th>
                        <th class="wz-text-left">Actions</th>
                    </thead>
                    <tbody>
                        <tr ng-if="adminMode">
                            <td>
                                <input placeholder="Key" type="text" class="wz-input-text" ng-model="newKey"></input>
                            </td>
                            <td>
                                <input placeholder="Value" type="text" class="wz-input-text"
                                    ng-model="newValue"></input>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-as-i" ng-disabled="!newKey"
                                    ng-click="addEntry(newKey, newValue);newKey = ''; newValue = ''"
                                    tooltip="Add new entry" tooltip-placement="right">
                                    <react-component name="EuiIcon" props="{type:'plusInCircle', color:'primary'}" ></react-component>
                                </button>
                            </td>
                        </tr>
                        <tr class="wz-word-wrap" ng-repeat="item in pagedItems[currentPage] track by $index"
                            ng-style="editingKey === item[0] && {'background': '#e2f7ff'}">
                            <td>{{item[0]}}</td>
                            <td>
                                <input ng-show="editingKey === item[0]" ng-disabled="loadingChange" type="text"
                                    class="wz-input-text" ng-model="currentList.editingNewValue"></input>
                                <span ng-show="!editingKey || editingKey !== item[0]">{{item[1] || '-'}}</span>
                            </td>
                            <td class="action-btn-td">
                                <div ng-hide="!adminMode">
                                    <span ng-show="(!editingKey || editingKey !== item[0]) && removingEntry !== item[0]"
                                        tooltip="Edit" ng-click="setEditingKey(item[0], item[1])"
                                        class="cursor-pointer">
                                        <react-component name="EuiIcon" props="{type:'pencil', color:'primary'}" ></react-component>
                                    </span>
                                    <span ng-show="editingKey === item[0] && !loadingChange" tooltip="Cancel"
                                        class="fa fa-fw fa-times cursor-pointer" ng-click="cancelEditingKey()"></span>
                                    <span
                                        ng-show="editingKey === item[0] && currentList.editingNewValue !== '' && !loadingChange"
                                        tooltip="Apply" class="fa fa-fw fa-success cursor-pointer"
                                        ng-click="editKey(item[0])"></span>
                                    <span ng-show="editingKey === item[0] && loadingChange"><i
                                            class="fa fa-fw fa-spin fa-spinner"></i></span>
                                    <span
                                        ng-if="(!removingEntry || removingEntry !== item[0]) && editingKey !== item[0]"
                                        ng-click="showConfirmRemoveEntry($event, item[0]); $event.stopPropagation()"
                                        class="cursor-pointer" tooltip="Remove this entry" tooltip-placement="left"
                                        aria-hidden="true">
                                        <react-component name="EuiIcon" props="{type:'trash', color:'primary'}" ></react-component>
                                    </span>

                                    <div ng-if="removingEntry === item[0]" class="confirmEmbedBubble">
                                        <div layout="row">
                                            <span class="font-size-12 wz-padding-left-8">This entry will be
                                                removed</span>
                                        </div>
                                        <div layout="row">
                                            <md-button class="cancelBtn" type="button" ng-click="cancelRemoveEntry()"><i
                                                    aria-hidden='true' class='fa fa-fw fa-close'></i> Cancel</md-button>
                                            <md-button class="agreeBtn wz-button" type="button"
                                                ng-click="confirmRemoveEntry(item[0])"><i aria-hidden='true'
                                                    class='fa fa-fw fa-check'></i> Confirm</md-button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="3">
                            <span ng-show="!wazuh_table_loading" class="color-grey">{{ totalItems }} items</span>
                            <div ng-show="items.length > itemsPerPage" class="pagination pull-right"
                                style="margin:0 !important">
                                <ul layout="row">
                                    <li ng-show="currentPage > 0" class="md-padding">
                                        <a href ng-click="firstPage()">First</a>
                                    </li>

                                    <li ng-show="currentPage" class="md-padding">
                                        <a href ng-click="prevPage()">« Prev</a>
                                    </li>

                                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                        ng-class="{'wz-text-active': n == currentPage}" ng-click="setPage()"
                                        class="md-padding">
                                        <a href ng-bind="n + 1">1</a>
                                    </li>

                                    <li ng-show="currentPage < pagedItems.length - 1" class="md-padding">
                                        <a href ng-click="nextPage()">Next »</a>
                                    </li>

                                    <li ng-show="currentPage < pagedItems.length - 1" class="md-padding">
                                        <a href ng-click="setPage(pagedItems.length - 1)">Last</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tfoot>
                </table>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button type="button" ng-click="downloadCsv('/lists',  currentList.name, currentList.path)"
                    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small" id="btnDownload">
                    <span class="euiButtonEmpty__content">
                        <react-component name="EuiIcon" props="{type:'importAction'}" ></react-component>
                        <span class="euiButtonEmpty__text">Formatted</span>
                    </span>
                </button>
            </md-card-actions>
        </md-card>
    </div>
</div>