<md-content flex layout="column" ng-controller="groupsPreviewController" class="manager-groups-main-div overflow-hidden"
    ng-if="groupsMenu == 'preview'">
    <div flex layout="column" layout-align="start stretch" ng-init="groupsSelectedTab='agents'">
        <div flex layout="column" ng-init="lookingGroup=false">
            <div flex layout="column" class="md-padding">
                <div layout="row" ng-if="lookingGroup">
                    <md-card flex class="no-margin-left">
                        <md-card-content>
                            <span class="md-headline">Details</span>
                            <md-divider></md-divider>
                            <div layout="row">
                                <p class="manager-status-subtitle">Name</p>
                                <p class="text-right color-grey">{{ groups.items[selectedGroup].name }}</p>
                            </div>
                            <div layout="row">
                                <p class="manager-status-subtitle">Configuration sum</p>
                                <p class="text-right color-grey">{{ groups.items[selectedGroup].conf_sum }}</p>
                            </div>
                            <div layout="row">
                                <p class="manager-status-subtitle">Merged sum</p>
                                <p class="text-right color-grey">{{ groups.items[selectedGroup].merged_sum }}</p>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card flex class="no-margin-right">
                        <md-card-content>
                            <span class="md-headline">Group</span>
                            <md-divider></md-divider>
                            <div layout="row">
                                <p class="manager-status-subtitle cursor-pointer" ng-click="goBackToAgents()">Agents</p>
                                <p class="text-right cursor-pointer color-pointer" ng-click="goBackToAgents()">{{ groups.items[selectedGroup].count }}</p>
                            </div>
                            <div layout="row">
                                <p class="manager-status-subtitle cursor-pointer" ng-click="goBackFiles()">Content</p>
                                <p class="text-right cursor-pointer color-pointer" ng-click="goBackFiles()">{{ groupFiles.totalItems }}</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>

                <wz-search-bar layout="row" ng-show="groupsSelectedTab==='agents' && lookingGroup" data="groupAgents" term="searchTermAgent"
                    placetext="'Filter agents...'"></wz-search-bar>

                <wz-search-bar layout="row" ng-show="groupsSelectedTab==='files' && !file && lookingGroup" data="groupFiles" term="searchTermFile"
                    placetext="'Filter files...'"></wz-search-bar>

                <wz-search-bar ng-show="!lookingGroup" layout="row" data="groups" term="searchTerm" placetext="'Filter groups...'"></wz-search-bar>

                <wz-table-header ng-if="!lookingGroup" layout="row" data="groups" keys="[
                        {name:'Name',sortValue:'name',size:20},
                        {name:'Agents',sortValue:'count',size:15},
                        {name:'MD5 agent.conf'}
                        ]">
                </wz-table-header>
                <wz-table ng-if="!lookingGroup" layout="row" flex func="loadGroup(index)" data="groups" keys="[{col:'name',size:20},{col:'count',size:15},'merged_sum']"
                    ng-if="!lookingGroup"></wz-table>


                <wz-table-header layout="row" data="groupAgents" keys="[
                        {name:'ID',sortValue:'id',size:10},
                        {name:'Name',sortValue:'name'},
                        {name:'IP',sortValue:'ip'},
                        {name:'OS platform',sortValue:'os.platform'},
                        {name:'OS version',sortValue:'os.version'},
                        {name:'Agent version',sortValue:'version'}
                        ]" ng-show="lookingGroup && groupsSelectedTab==='agents'">
                </wz-table-header>

                <wz-table-header layout="row" data="groupFiles" keys="[
                        {name:'File',sortValue:'filename',size:30},
                        {name:'MD5 checksum'}
                        ]" ng-show="lookingGroup && groupsSelectedTab==='files' && !file">
                </wz-table-header>

                <wz-table layout="column" flex full="'agent'" func="showAgent(agent)" data="groupAgents" keys="[{col:'id',size:10},'name','ip','os.platform','os.version','version']"
                    ng-if="lookingGroup && groupsSelectedTab==='agents'">
                </wz-table>

                <wz-table layout="column" flex func="showFile(index)" data="groupFiles" keys="[{col:'filename',size:30},'hash']" ng-if="lookingGroup && groupsSelectedTab==='files' && !file">
                </wz-table>

                <div flex layout="column" class="md-padding groupsFixPadding" ng-if="lookingGroup && groupsSelectedTab==='files' && file">
                    <div flex layout="column">
                        <div layout="row" class="topMarginSearchBottom groupsHeader">
                            <span class="md-headline">{{ filename }}</span>
                            <span flex></span>
                            <span class="md-headline cursor-pointer" ng-click="goBackFiles()">close</span>
                        </div>
                        <div flex layout="column">
                            <pre flex class="json-beautifier jsonbeauty2"><code wz-dynamic="file"></code></pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</md-content>