<md-content flex layout="column" ng-controller="groupsPreviewController" class="manager-groups-main-div overflow-hidden"
    ng-if="groupsMenu == 'preview'">
    <div flex layout="column" layout-align="start stretch" ng-init="groupsSelectedTab='agents'">
        <div flex layout="column" ng-init="lookingGroup=false">
            <div flex layout="column" class="md-padding">
                <div layout="row" ng-if="lookingGroup">
                    <md-card flex class="no-margin-left wz-md-card">
                        <md-card-content>
                            <span class="wz-headline-title">{{ groups.items[selectedGroup].name }}</span>
                            <md-divider class="wz-margin-top-10"></md-divider>

                            <div layout="row" class="wz-padding-top-10">
                                <span flex="25">Configuration sum</span>
                                <span class="wz-text-right color-grey">{{ groups.items[selectedGroup].conf_sum }}</span>
                            </div>
                            <div layout="row" class="wz-padding-top-10">
                                <span flex="25">Merged sum</span>
                                <span class="wz-text-right color-grey">{{ groups.items[selectedGroup].merged_sum }}</span>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card flex class="no-margin-right wz-md-card">
                        <md-card-content>
                            <span class="wz-headline-title">Details</span>
                            <md-divider class="wz-margin-top-10"></md-divider>

                            <div layout="row" class="wz-padding-top-10">
                                <span flex="20" ng-class="groupsSelectedTab==='agents' ? 'wz-font-weight-bold' : ''">Agents</span>
                                <span class="wz-text-link" tooltip="Click to open the list of agents" tooltip-placement="right"
                                ng-click="goBackToAgents()">{{ groups.items[selectedGroup].count }}</span>
                            </div>
                            <div layout="row" class="wz-padding-top-10">
                                <span flex="20" ng-class="groupsSelectedTab==='files' ? 'wz-font-weight-bold' : ''">Content</span>
                                <span class="wz-text-link" tooltip="Click to open the list of files" tooltip-placement="right"
                                ng-click="goBackFiles()">{{ groupFiles.totalItems }}</span>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>

                <wz-search-bar layout="row" ng-show="groupsSelectedTab==='agents' && lookingGroup" data="groupAgents" term="searchTermAgent"
                    placetext="'Filter agents...'"></wz-search-bar>

                <wz-search-bar layout="row" ng-show="groupsSelectedTab==='files' && !file && lookingGroup" data="groupFiles" term="searchTermFile"
                    placetext="'Filter files...'"></wz-search-bar>

                <wz-search-bar ng-show="!lookingGroup" layout="row" data="groups" term="searchTerm" placetext="'Filter groups...'"></wz-search-bar>

                <wz-table-header ng-if="!lookingGroup" layout="row" data="groups" keys="[
                        {name:'Name',sortValue:'name',size:20},
                        {name:'Agents',sortValue:'count',size:15},
                        {name:'MD5 agent.conf'}
                        ]">
                </wz-table-header>
                <wz-table ng-if="!lookingGroup" layout="row" flex func="loadGroup(index)" data="groups" keys="[{col:'name',size:20},{col:'count',size:15},'merged_sum']"
                    ng-if="!lookingGroup"></wz-table>


                <wz-table-header layout="row" data="groupAgents" keys="[
                        {name:'ID',sortValue:'id',size:10},
                        {name:'Name',sortValue:'name'},
                        {name:'IP',sortValue:'ip'},
                        {name:'OS platform',sortValue:'os.platform'},
                        {name:'OS version',sortValue:'os.version'},
                        {name:'Agent version',sortValue:'version'}
                        ]" ng-show="lookingGroup && groupsSelectedTab==='agents'">
                </wz-table-header>

                <wz-table-header layout="row" data="groupFiles" keys="[
                        {name:'File',sortValue:'filename',size:30},
                        {name:'MD5 checksum'}
                        ]" ng-show="lookingGroup && groupsSelectedTab==='files' && !file">
                </wz-table-header>

                <wz-table layout="column" flex full="'agent'" func="showAgent(agent)" data="groupAgents" keys="[{col:'id',size:10},'name','ip','os.platform','os.version','version']"
                    ng-if="lookingGroup && groupsSelectedTab==='agents'">
                </wz-table>

                <wz-table layout="column" flex func="showFile(index)" data="groupFiles" keys="[{col:'filename',size:30},'hash']" ng-if="lookingGroup && groupsSelectedTab==='files' && !file">
                </wz-table>

                <div flex layout="column" class="md-padding" ng-if="lookingGroup && groupsSelectedTab==='files' && file">
                    <div flex layout="column">
                        <div layout="row" class="wz-padding-bottom-14">
                            <span flex class="wz-headline-title">{{ filename }}</span>
                            <span flex class="wz-text-right cursor-pointer color-grey" ng-click="goBackFiles()">close</span>
                        </div>
                        <div flex layout="column">
                            <pre flex class="wz-pre json-beautifier jsonbeauty2 wz-overflow-y-auto"><code wz-dynamic="file"></code></pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</md-content>
