<md-content ng-controller="healthCheck" layout="column" flex>
    <div layout="row" class="layout-align-center margin-top-30">
        <img aria-hidden="true" kbn-src="/plugins/wazuh/img/icon_blue.svg"></img>
    </div>
    <div layout="row" class="layout-align-center margin-top-30">
        <table flex="50" class="table">
            <thead class="kuiTableHeaderCell">
                <th>Description</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr ng-repeat="result in results">
                    <td>{{result.description}}</td>
                    <td ng-if="result.status === 'disabled'" class="discover-field-details">
                        Disabled
                    </td> 
                    <td ng-if="result.status === 'Ready' || result.status === 'Error'">
                        <i ng-if="result.status === 'Ready'" class="fa fa-fw fa-check wz-hc-ready"></i>
                        <i ng-if="result.status === 'Error'" class="fa fa-fw fa-warning wz-hc-error"></i>
                        {{result.status}}</td>
                    <td ng-if="result.status !== 'Ready' && result.status !== 'Error' && result.status !== 'disabled'">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div layout="row" ng-if="errors.length" class="layout-align-center margin-top-30">
        <ul>
            <li class="wz-hc-error" ng-repeat='error in errors'>{{error}}</li>
        </ul>
    </div>
    <div ng-if="errors.length" layout="row" class="layout-align-center margin-top-30">
        <md-button class="wz-button md-raised md-primary" ng-click="goApp()" aria-label="Go app">
            <i class="fa fa-fw fa-sign-out"></i> Open the app
        </md-button>
    </div>

</md-content>