<md-content flex="auto" layout="column" layout-align="center" class="health-check" ng-controller="healthCheck as ctrl">
    <span class="euiLoadingSpinner health-check-loader"></span>
    <img aria-hidden="true" wz-src="/plugins/wazuh/img/icon_blue.svg" class="health-check-logo" />
    <div class="margin-top-30">
        <dl class="euiDescriptionList euiDescriptionList--column euiDescriptionList--center euiDescriptionList--reverse"
            ng-repeat="result in ctrl.results track by $index">
            <dt class="euiDescriptionList__title">{{result.description}}</dt>
            <dd class="euiDescriptionList__description">
                <div ng-if="result.status === 'disabled'" class="discover-field-details">
                    Disabled
                </div>
                <div ng-if="result.status === 'Ready' || result.status === 'Error'">
                    <i ng-if="result.status === 'Ready'" class="fa fa-fw fa-check wz-text-teal"></i>
                    <i ng-if="result.status === 'Error'" class="fa fa-fw fa-warning wz-text-red"></i>
                    {{result.status}}</td>
                    <div ng-if="result.status !== 'Ready' && result.status !== 'Error' && result.status !== 'disabled'">
                        <i class="fa fa-fw fa-spin fa-spinner"></i>
                    </div>
                </div>
            </dd>
            <div class="euiSpacer euiSpacer--m"></div>
        </dl>
    </div>
    <div layout="row" ng-if="ctrl.errors.length" class="layout-align-center margin-top-30">
        <ul>
            <li class="wz-text-red" ng-repeat='error in ctrl.errors track by $index'>{{error}}</li>
        </ul>
    </div>
    <div ng-if="ctrl.errors.length" layout="row" class="layout-align-center margin-top-30">
        <md-button class="wz-button md-raised md-primary" ng-click="ctrl.goApp()" aria-label="Go to app">
            <i class="fa fa-fw fa-sign-out"></i> Go to app
        </md-button>
    </div>

</md-content>