<div ng-cloak flex layout="column" ng-controller="healthCheck" layout-align="center center">
    <div class="wz-text-center">
        <div ng-show="errors.length == 0" class='uil-ring-css'><div></div></div>
        <div ng-show="errors.length == 0"><img class="loading-logo" aria-hidden="true" kbn-src="/plugins/wazuh/img/icon_blue.svg"></img></div>
        <div ng-show="errors.length > 0"><img class="loading-logo-fail" aria-hidden="true" kbn-src="/plugins/wazuh/img/icon_fail.png"></img></div>
    </div>

    <div ng-class="{'checks': errors.length == 0, 'checks-fail': errors.length > 0}">
        <div ng-if="!zeroChecks">&nbsp; Performing checks...({{processedChecks}}/{{totalChecks}})<i ng-class="{'fa-spinner': processedChecks != totalChecks && !checksDone, 'fa-spin': processedChecks != totalChecks && !checksDone}" class="fa fa-fw" aria-hidden="true"></i></div>
        <div class="health-check-error" ng-show="errors.length > 0">
            <div class="error-notify">Ups, something went wrong...</div>
            <div>
                <ul>
                    <li ng-repeat='error in errors'>{{error}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
