<%!
app_name = cherrypy.request.path_info.split('/')[3]

from splunk.appserver.mrsparkle.lib import util
isLite = util.isLite()

if isLite:
    theme = 'lite'
else:
    theme = 'enterprise'

%>\


<!doctype html>
<html class="no-js" lang="${i18n.current_lang()[0]|h}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>${_('Loading...')}</title>
    <link rel="shortcut icon" href="${util.getFaviconURL()}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%
    style_page_path = "/static/app/splunk_gdi/build/home.pcss." + theme + ".css"
    %>
    <link rel="stylesheet" type="text/css" media="all" href="${make_url(style_page_path)}" />
</head>

<body>
    <script src="${make_url('/config?autoload=1')}" crossorigin="use-credentials"></script>
    <script src="${make_url('/static/js/i18n.js')}"></script>
    <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
    <script>
        __splunkd_partials__ = ${json_decode(splunkd)};
    </script>

    <%
    page_path = "/static/app/splunk_gdi/build/home." + theme + ".jsx.js"
    %>

    <script src="${make_url(page_path)}"></script>

</body>
