<div ng-if="octrl.tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}"
    class="md-padding-v">

    <div class="wz-no-display">
        <div ng-repeat="vis in octrl.visualizations[octrl.tab].metrics">
            <kbn-vis id="{{vis.id}}" vis-id="vis.id"></kbn-vis>
        </div>
    </div>

    <!-- Metrics of Security Events Dashboard -->
    <div ng-if="octrl.tab === 'general'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
            items: [
                { description: 'Total', value: octrl.totalAlerts(), color: 'primary' },
                { description: 'Level 12 or above alerts', value: octrl.level12(), color: 'accent' },
                { description: 'Authentication failure', value: octrl.authFailure(), color: 'danger' }, 
                { description: 'Authentication success', value: octrl.authSuccess(), color: 'secondary' }
            ]            
        }" />
    </div>

    <!-- Metrics of Vulverabilities Dashboard -->
    <div ng-if="octrl.tab === 'vuls'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
            items: [
                { description: 'Critical severity alerts', value: octrl.vulnCritical(), color: 'danger' },
                { description: 'High severity alerts', value: octrl.vulnHigh(), color: 'primary' },
                { description: 'Medium severity alerts', value: octrl.vulnMedium(), color: 'secondary' },
                { description: 'Low severity alerts', value: octrl.vulnLow(), color: 'subdued' }
            ]            
        }" />
    </div>

    <!-- Metrics of VirusTotal Dashboard -->
    <div ng-if="octrl.tab === 'virustotal'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
            items: [
                { description: 'Total malicious', value: octrl.virusMalicious(), color: 'danger' },
                { description: 'Total positives', value: octrl.virusPositives(), color: 'primary' },
                { description: 'Total', value: octrl.virusTotal(), color: 'secondary' },
            ]            
        }" />
    </div>

    <!-- Metrics of Osquery Dashboard -->
    <div ng-if="octrl.tab === 'osquery'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
            items: [
                { description: 'Agents reporting Osquery events', value: octrl.osqueryAgentsReporting() + ' / ' + octrl.agentsCountTotal, color: 'primary' },
            ]            
        }" />
    </div>

    <!-- Metrics of Oscap Dashboard -->
    <div ng-if="octrl.tab === 'oscap'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
                items: [
                    { description: 'Last score', value: octrl.scapLastScore(), color: 'accent' },
                    { description: 'Highest score', value: octrl.virusPositives(), color: 'primary' },
                    { description: 'Lowest score', value: octrl.virusTotal(), color: 'secondary' },
                ]            
            }" />
    </div>

    <!-- Metrics of Cis-Cat Dashboard -->
    <div ng-if="octrl.tab === 'ciscat'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
                items: [
                    { description: 'Last not checked', value: octrl.ciscatScanNotChecked(), color: 'accent' },
                    { description: 'Last pass', value: octrl.ciscatScanPass(), color: 'primary' },
                    { description: 'Last scan score', value: octrl.ciscatScanScore(), color: 'secondary' },
                    { description: 'Last scan date', value: octrl.ciscatScanTimestamp(), color: 'subdued' },
                    { description: 'Last errors', value: octrl.ciscatScanError(), color: 'accent' },
                    { description: 'Last fails', value: octrl.ciscatScanFail(), color: 'primary' },
                    { description: 'Last unknown', value: octrl.ciscatScanUnknown(), color: 'secondary' },
                    { description: 'Last scan benchmark', value: octrl.ciscatScanBenchmark(), color: 'subdued' },
                ]            
            }" />
    </div>

    <!-- Cards for PCI Dashboard-->
    <div ng-if="octrl.tab === 'pci'" class="md-padding">
        <div ng-if="octrl.pciReqs" class="wz-margin-10">
            <react-component name='RequirementCard' props="octrl.pciReqs" />
        </div>
    </div>

    <!-- Cards for GDPR Dashboard-->
    <div ng-if="octrl.tab === 'gdpr'" class="md-padding">
        <div ng-if="octrl.gdprReqs" class="wz-margin-10">
            <react-component name='RequirementCard' props="octrl.gdprReqs" />
        </div>
    </div>

    <!-- Cards for NIST Dashboard-->
    <div ng-if="octrl.tab === 'nist'" class="md-padding">
        <div ng-if="octrl.nistReqs" class="wz-margin-10">
            <react-component name='RequirementCard' props="octrl.nistReqs" />
        </div>
    </div>

    <!-- Cards for HIPAA Dashboard-->
    <div ng-if="octrl.tab === 'hipaa'" class="md-padding">
        <div ng-if="octrl.hipaaReqs" class="wz-margin-10">
            <react-component name='RequirementCard' props="octrl.hipaaReqs" />
        </div>
    </div>

    <div ng-repeat="row in octrl.visualizations[octrl.tab].rows">
        <div class="euiFlexGroup" ng-style="{'height':row.height + 'px'}">
            <div ng-repeat="vis in row.vis" flex="{{vis.width || 100}}">
                <div ng-if="vis.hasRows">
                    <div class="euiFlexItem">
                        <div ng-repeat="visRow in vis.rows">
                            <div class="euiFlexGroup" ng-style="{'height':visRow.height + 'px'}">
                                <div ng-repeat="visualizeRow in visRow.vis" flex="{{visualizeRow.width || 100}}">
                                    <div class="euiPanel wz-margin-10">
                                        <div class="euiFlexItem h-100"
                                            ng-class="{'fullscreen': octrl.checkExpandedVis(visualizeRow.id)}">
                                            <div class="euiFlexGroup" ng-dblclick="octrl.expand(visualizeRow.id)">
                                                <span
                                                    class="embPanel__header embPanel__title embPanel__dragger layout-row wz-headline-title">{{visualizeRow.title}}</span>
                                                <span class="cursor-pointer wz-margin-8-no-left"
                                                    ng-click="octrl.expand(visualizeRow.id)">
                                                    <react-component name="EuiIcon" props="{type:'expand'}" />
                                                </span>
                                            </div>
                                            <div class="wazuh-column"
                                                ng-style="{'height': (visRow.height - 65) + 'px'}">
                                                <kbn-vis id="{{visualizeRow.id}}" vis-id="visualizeRow.id"></kbn-vis>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!vis.hasRows">
                    <div class="euiPanel wz-margin-10">
                        <div class="euiFlexItem h-100" ng-class="{'fullscreen': octrl.checkExpandedVis(vis.id)}">
                            <div class="euiFlexGroup" ng-dblclick="octrl.expand(vis.id)">
                                <span
                                    class="embPanel__header embPanel__title embPanel__dragger layout-row wz-headline-title">{{vis.title}}</span>
                                <span class="cursor-pointer wz-margin-8-no-left" ng-click="octrl.expand(vis.id)">
                                    <react-component name="EuiIcon" props="{type:'expand'}" />
                                </span>
                            </div>
                            <div class="wazuh-column" ng-style="{'height': (row.height - 65) + 'px'}"
                                ng-show="vis.id !== 'Wazuh-App-Overview-General-Agents-status' || (vis.id === 'Wazuh-App-Overview-General-Agents-status' && octrl.wzMonitoringEnabled)">
                                <kbn-vis id="{{vis.id}}" vis-id="vis.id"></kbn-vis>
                            </div>
                        </div>
                        <div class="wazuh-column" ng-style="{'height': (row.height - 65) + 'px'}"
                            ng-show="vis.id === 'Wazuh-App-Overview-General-Agents-status' && !octrl.wzMonitoringEnabled">
                            <div layout="row">
                                <div flex layout="column">
                                    <div layout="row" class="wz-padding-top-10"></div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50" class="wz-text-bold">Total</p>
                                        <p class="wz-text-right color-grey wz-text-bold">{{octrl.agentsCountTotal}}</p>
                                    </div>
                                    <div layout="row" class="wz-padding-top-10"></div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50">Active</p>
                                        <p class="wz-text-right color-grey">{{octrl.agentsCountActive}}</p>
                                    </div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50">Disconnected</p>
                                        <p class="wz-text-right color-grey">{{octrl.agentsCountDisconnected}}</p>
                                    </div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50">Never connected</p>
                                        <p class="wz-text-right color-grey">{{octrl.agentsCountNeverConnected}}</p>
                                    </div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50">Agents coverage</p>
                                        <p class="wz-text-right color-grey">{{(octrl.agentsCoverity | number:2)}}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>