<table class="table table-chrome table-striped threshold-configs-grid">
    <colgroup>
        <col class="col-flex col-name">
        <col class="col-slim col-actions">
        <col class="col-flex col-configs">
    </colgroup>
    <thead>
    <tr>
        <th class="<%- sortCellClass %>" <%- sortKeyAttribute %>="name">
        <a href="#" class="name-sort-link"><%= _('Metric').t() %><i class="icon-sorts"></i></a>
        </th>
        <th><%= _('Actions').t() %></th>
        <th><%= _('Mapping').t() %></th>

    </tr>
    </thead>
    <tbody class="grid-table-body">

    </tbody>

</table>