<div class="section-header section-padded">
	<h2 class="section-title"><%- _("Overview Preferences").t() %></h2>
	<%- _("Customize color mappings for the Monitoring Console Overview page.").t() %>
</div>

<div class="main-section">
	<h3 class="subheader"><%- _("Color mappings").t() %></h3>
	<div class="table-toolbar">
		<div class="filter-container">
			<div class="collection-count threshold-config"></div>
			<span class="text-name-filter-placeholder threshold-config"></span>
			<div class="select-page-count threshold-config"></div>
		</div>
		<div class="paginator-container threshold-config"></div>
	</div>
	<div class="grid-placeholder threshold-config"></div>
</div>