<div flex="auto" layout="column" ng-if="editionTab === 'ruleset'" ng-controller="configurationRulesetController">
    <div layout="column" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i> Edit the ruleset</span>
        <span class="md-subheader">Edit your current rules, decoders and CDB lists</span>
    </div>
    <md-nav-bar class="wz-nav-bar" md-selected-nav-item="selectedRulesetTab">
        <md-nav-item class="wz-nav-item" md-nav-click="switchRulesetTab('rules')" name="rules">Rules</md-nav-item>
        <md-nav-item class="wz-nav-item" md-nav-click="switchRulesetTab('decoders')" name="decoders">Decoders</md-nav-item>
        <md-nav-item class="wz-nav-item" md-nav-click="switchRulesetTab('cdblists')" name="cdblists">CDB Lists</md-nav-item>
    </md-nav-bar>

    <div class="md-padding" ng-show="!editingFile">
        <!-- Search bar -->
        <div layout="row" ng-if="!addingAgents && !file" class="wz-padding-bottom-14">
            <input placeholder="{{searchPlaceholder}}" ng-model="custom_search" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
                aria-invalid="false" wz-enter="search(custom_search)">
            <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-40" ng-click="search(custom_search)">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </div>
        <!-- End search bar -->
        <div ng-if="selectedRulesetTab === 'rules'">
            <md-card flex class="wz-md-card _md flex wz-no-margin">
                <md-card-content>
                    <wz-table flex path="'/rules'" keys="['file']" implicit-filter="[{ name:'path',value: '/var/ossec/etc/rules'}]"
                        allow-click="true" row-sizes="[17,15,13]">
                </md-card-content>
            </md-card>
            </wz-table>
        </div>
        <div ng-if="selectedRulesetTab === 'decoders'">
            <md-card flex class="wz-md-card _md flex wz-no-margin">
                <md-card-content>
                    <wz-table flex path="'/decoders'" keys="['file']" implicit-filter="[{ name:'path',value: '/var/ossec/etc/decoders'}]"
                        allow-click="true" row-sizes="[17,15,13]">
                </md-card-content>
            </md-card>
            </wz-table>
        </div>
        <div ng-if="selectedRulesetTab === 'cdblists'">
            elige CDB Lists
        </div>
    </div>
    <!-- <select ng-disabled="!selectData" class="wz-input-text wz-width-100" ng-model="selectedItem" ng-change="" ng-options="o as o for o in selectData"></select> -->

    <!-- XML editor for node configuration -->
    <div class="md-padding" ng-show="editingFile">
        <div flex layout="column">
            <div layout="row" class="wz-padding-bottom-14">
                <span ng-click='closeEditingFile()' class='btn btn-info'>Cancel</span>
                <button ng-disabled='xmlHasErrors' ng-click='doSaveConfig()' class='btn btn-primary pull-right wz-margin-left-8'>
                    <span ng-show='!xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save'></i>Save file</span>
                    <span ng-show='xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                        XML format error</span>
                </button>
            </div>
            <div ng-if="fetchedXML">
                <wz-xml-file-editor file-name='{{selectedFileName}}' data="fetchedXML" target-name="selectedItem.file" valid-fn='xmlIsValid(valid)'>
                </wz-xml-file-editor>
            </div>
        </div>
    </div>
</div>