<td ng-click="toggleRow()" data-test-subj="docTableExpandToggleColumn" class="kbnDocTableCell__toggleDetails">
  <button
    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--xSmall euiButtonEmpty--open euiButtonEmpty--auto"
    aria-expanded="{{!!open}}"
    aria-label="{{ ::'discover.docTable.tableRow.toggleRowDetailsButtonAriaLabel' | i18n: {defaultMessage: 'Toggle row details'} }}">
    <span class="euiButtonContent euiButtonEmpty__content">
        <icon ng-if="open" type="'arrowDown'" size="'s'" color="'text'"></icon>
        <icon ng-if="!open" type="'arrowRight'" size="'s'" color="'text'"></icon>
    </span>
  </button>
</td>
