include ./ruleset.head
include ./rules/rules.pug
include ./decoders/decoders.pug
include ./cdblists/cdblists.pug
include ./files/files.pug
include ./logtest.html
include ./ruleset-shortcuts.html
include ./ruleset.foot
include ../../footer.foot
