<!--   Version 4.0 -->
                                                                                                                                       
<module>
     <pipeline name="fschangemanager" type="startup">
         <processor name="fschangemanager" plugin="fschangemanagerprocessor">
             <config>
             </config>
         </processor>
         <processor name="sendIndex" plugin="queueoutputprocessor">
            <config>
                <queueName>parsingQueue</queueName>
            </config>
         </processor>
     </pipeline>
</module>
