<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="!load && configurationSubTab === 'localfile-logs'" class="d-height">

    <!-- No configuration section -->
    <wz-no-config flex error="currentConfig['logcollector-localfile']"
        ng-if="currentConfig['logcollector-localfile'] && isString(currentConfig['logcollector-localfile'])">
    </wz-no-config>

    <wz-no-config flex error="'not-present'"
        ng-if="currentConfig['logcollector-localfile'] && !isString(currentConfig['logcollector-localfile']) && !(currentConfig['logcollector-localfile']['localfile-logs'] || []).length">
    </wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column"
        ng-if="currentConfig['logcollector-localfile'] && !isString(currentConfig['logcollector-localfile']) && currentConfig['logcollector-localfile']['localfile-logs'] && currentConfig['logcollector-localfile']['localfile-logs'].length">

        <!-- The main card will all the settings -->
        <md-card flex="auto" class="wz-md-card height-full" ng-if="!JSONContent && !XMLContent">
            <md-card-content flex layout="column" class="height-full">
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Logs files</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">List of log files that will be analyzed</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getJSON()">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getXML()">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The container for both list and detail -->
                <div flex="auto" layout="row" class="wz-margin-top-10 min-height-300 height-full">

                    <!-- List container -->
                    <div flex="30" layout="column">

                        <md-list flex="auto" class="wz-item-list">
                            <md-list-item class="wz-text-link" ng-click="updateSelectedItem($index)"
                                ng-repeat="item in currentConfig['logcollector-localfile']['localfile-logs']">
                                <span ng-if='item.file || item.alias || item.command'>{{ item.file || item.alias ||
                                    item.command }}</span>
                                <span ng-if='!item.file && !item.alias && !item.command'>{{ item.logformat }} - {{
                                    item.targetStr }}</span></md-list-item>
                        </md-list>

                    </div>
                    <!-- End list container -->

                    <!-- Detail container -->
                    <div flex layout="column" ng-if="currentConfig['logcollector-localfile']['localfile-logs'].length">

                        <div flex="auto" class="wz-item-detail">
                            <wz-config-item label="Log format"
                                value="currentConfig['logcollector-localfile']['localfile-logs'][selectedItem].logformat">
                            </wz-config-item>
                            <wz-config-item label="Log location"
                                value="currentConfig['logcollector-localfile']['localfile-logs'][selectedItem].file || '-'">
                            </wz-config-item>
                            <wz-config-item label="Only receive logs occured after start"
                                ng-if="agent && agent.os && agent.os.platform === 'windows'"
                                value="currentConfig['logcollector-localfile']['localfile-logs'][selectedItem]['only-future-events']">
                            </wz-config-item>
                            <wz-config-item label="Time in seconds to try to reconnect with Windows Event Channel when it has fallen"
                                ng-if="agent && agent.os && agent.os.platform === 'windows'"
                                value="currentConfig['logcollector-localfile']['localfile-logs'][selectedItem]['reconnect_time']">
                            </wz-config-item>
                            <wz-config-item label="Filter logs using this XPATH query"
                                ng-if="agent && agent.os && agent.os.platform === 'windows'"
                                value="currentConfig['logcollector-localfile']['localfile-logs'][selectedItem].query || '-'">
                            </wz-config-item>
                            <wz-config-item label="Log labels"
                                value="currentConfig['logcollector-localfile']['localfile-logs'][selectedItem].labels || '-'">
                            </wz-config-item>
                            <wz-config-item is-array="true" label="Redirect output to this socket"
                                value="currentConfig['logcollector-localfile']['localfile-logs'][selectedItem].target || 'agent'">
                            </wz-config-item>
                        </div>

                    </div>
                    <!-- End detail container -->
                </div>
                <!-- End container for both list and detail -->
            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent"
            xmlcontent="XMLContent" />

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
        <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
            <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
        </span>
        <md-list ng-if="showHelp">
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/log-data-collection/index.html">
                Log
                data collection documentation</md-list-item>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/localfile.html">
                Localfile
                reference</md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->