<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="!load && configurationSubTab === 'socket'" class="d-height">

    <!-- No configuration section -->
    <wz-no-config flex error="currentConfig['logcollector-socket']" ng-if="currentConfig['logcollector-socket'] && isString(currentConfig['logcollector-socket'])"></wz-no-config>
    <wz-no-config flex error="'not-present'" ng-if="currentConfig['logcollector-socket'] && !isString(currentConfig['logcollector-socket']) && !currentConfig['logcollector-socket'].target"></wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column" ng-if="currentConfig['logcollector-socket'] && !isString(currentConfig['logcollector-socket']) && currentConfig['logcollector-socket'].target && currentConfig['logcollector-socket'].target.length">

        <!-- The main card will all the settings -->
        <md-card flex="auto" class="wz-md-card height-full" ng-if="!JSONContent && !XMLContent">
            <md-card-content flex layout="column" class="height-full">
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Output sockets</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">Define custom outputs to send log data</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON()">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML()">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The container for both list and detail -->
                <div flex="auto" layout="row" class="wz-margin-top-10 min-height-300 height-full">

                    <!-- List container -->
                    <div flex="30" layout="column">

                        <md-list flex="auto" class="wz-item-list">
                            <md-list-item class="wz-text-link" ng-click="updateSelectedItem($index)" ng-repeat="item in currentConfig['logcollector-socket'].target">{{
                                item.name }}</md-list-item>
                        </md-list>

                    </div>
                    <!-- End list container -->

                    <!-- Detail container -->
                    <div flex layout="column" ng-if="currentConfig['logcollector-socket'].target.length">

                        <div flex="auto" class="wz-item-detail">
                            <wz-config-item label="Socket name" value="currentConfig['logcollector-socket'].target[selectedItem].name || '-'">
                            </wz-config-item>
                            <wz-config-item label="Socket location" value="currentConfig['logcollector-socket'].target[selectedItem].location || '-'">
                            </wz-config-item>
                            <wz-config-item label="UNIX socket protocol" value="currentConfig['logcollector-socket'].target[selectedItem].mode || 'udp'">
                            </wz-config-item>
                            <wz-config-item label="Prefix to place before the message" value="currentConfig['logcollector-socket'].target[selectedItem].prefix || '-'">
                            </wz-config-item>
                        </div>

                    </div>
                    <!-- End detail container -->
                </div>
                <!-- End container for both list and detail -->
            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent" xmlcontent="XMLContent" />

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
        <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
            <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
        </span>
        <md-list ng-if="showHelp">
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/log-data-collection/log-data-configuration.html#using-multiple-outputs">Using
                multiple outputs</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/socket.html">Socket
                reference</md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->