include ./alerts.head
include ./email-alerts/email-alerts.html
include ./general-alerts/general-alerts.html
include ./labels/labels.html
include ./reports/reports.html
include ./syslog/syslog.html
include ../../../footer.foot
