<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="configurationSubTab === 'general-alerts'">

    <!-- This section appears when there's no configuration -->
    <wz-no-config flex ng-if="false"></wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column">

        <!-- The main card will all the settings -->
        <md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Main settings</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">General alerts settings</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('alerts')">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('alerts')">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item
                        label="Minimum severity level to store the alert"
                        value="3">
                    </wz-config-item>
                    <wz-config-item
                        label="Minimum severity level to send the alert by email"
                        value="enabled">
                    </wz-config-item>
                    <wz-config-item
                        label="Enable GeoIP lookups"
                        value="no">
                    </wz-config-item>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <!-- JSON card -->
        <md-card flex="auto" class="wz-md-card" ng-if="JSONContent">
            <md-card-content flex layout="column">
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">JSON viewer</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">View this configuration in raw JSON format</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('alerts')">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('alerts')">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The JSON viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre><code wz-dynamic="JSONContent"></code></pre>
                </div>
                <!-- End JSON viewer -->
            </md-card-content>
        </md-card>
        <!-- End JSON card -->

        <!-- XML card -->
        <md-card flex="auto" class="wz-md-card" ng-if="XMLContent">
            <md-card-content flex layout="column">
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">XML viewer</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">View this configuration in raw XML format</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('alerts')">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('alerts')">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The XML viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre>{{ XMLContent }}</pre>
                </div>
                <!-- End XML viewer -->
            </md-card-content>
        </md-card>
        <!-- End XML card -->

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav
        class="md-sidenav-right"
        md-is-locked-open="true">
        <md-list>
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/getting-started/use-cases.html">Use cases about alerts generation</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/alerts.html">Alerts reference</md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->
