 .wz-login {
  background: url(/plugins/wazuh/assets/wazuh_wazuh_bg.svg) !important;
  background-image: url(/plugins/wazuh/assets/wazuh_wazuh_bg.svg) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: cover !important;
  background-repeat-x: initial !important;
  background-repeat-y: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
} 

.wz-login .login-wrapper img {
  width: 100%;
  height: 64px;
  text-align: 'center';
}
 