.moduleMitreAttackIntelligenceResourceButton{
  width: 100%;
  text-align: left;
  padding: 0 8px;
  height: 40px;
  &:hover{
    background-color: rgba(128, 128, 128, 0.08);
    text-decoration: underline;
  }
}

.moduleMitreAttackIntelligenceResourceButton--selected{
  background-color: rgba(128, 128, 128, 0.15);
  font-weight: 700;
  &:hover{
    background-color: rgba(128, 128, 128, 0.15);
  }
}