include ./configuration.head
include ./welcome.html
include ./cluster/cluster.html
include ./registration-service/registration-service.html
include ./wazuh-modules/wazuh-modules.jade
include ../../footer.foot
