include ./configuration.head
include ./welcome.html
include ./alerts/alerts.jade
include ./cluster/cluster.html
include ./commands-active-response/commands-active-response.jade
include ./database-output/database-output.html
include ./global-configuration/global-configuration.jade
include ./integrations/integrations.html
include ./log-collection/log-collection.jade
include ./registration-service/registration-service.html
include ./ruleset/ruleset.jade
include ./wazuh-modules/wazuh-modules.jade
include ../../footer.foot
