include ./configuration.head
include ./welcome.html
include ./cluster/cluster.html
include ./database-output/database-output.html
include ./global-configuration/global-configuration.jade
include ./integrations/integrations.html
include ./registration-service/registration-service.html
include ./ruleset/ruleset.jade
include ./wazuh-modules/wazuh-modules.jade
include ../../footer.foot
