<div layout="column" layout-align="start stretch" ng-if="!load && configurationTab === 'welcome'">

    <!-- Headline -->
    <div layout="column" layout-padding>
        <span class="font-size-18">
            <i class="fa fa-fw fa-cog" aria-hidden="true"></i> Configuration</span>
        <span class="md-subheader">Check your Wazuh cluster configuration</span>
    </div>
    <!-- End headline -->

    <div layout="row" layout-align="center center" layout-wrap>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('registration-service')">Registration service</md-button>

        <!-- <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('cluster')">Cluster</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('wazuh-modules')">Wazuh modules</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('commands-active-response')">Commands and active response</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('integrations')">Integrations</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('ruleset')">Ruleset</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('database-output')">Database output</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('alerts')">Alerts</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('global-configuration')">Global configuration</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('integrity-monitoring')">Integrity monitoring</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('policy-monitoring')">Policy monitoring</md-button>

        <md-button class="wz-button md-raised md-primary" ng-click="switchConfigurationTab('log-collection')">Log collection</md-button> -->

    </div>

</div>
