<div flex="auto" layout="column" ng-if="!load && configurationTab === 'welcome'">

    <!-- Headline -->
    <div layout="column" layout-padding>
        <span class="font-size-18">
            <i class="fa fa-fw fa-cog" aria-hidden="true"></i> Configuration</span>
        <span class="md-subheader">Check your Wazuh cluster configuration</span>
    </div>
    <!-- End headline -->

    <!-- This section contains the main content and the right sidenav -->
    <div flex="auto" layout="row">

        <!-- This section is the main content -->
        <div flex layout="column">

            <!-- The main card will all the settings -->
            <md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent">
                <md-card-content>
                    <span class="font-size-16">All configurations</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <md-list layout="row" layout-wrap>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('registration-service')">Registration service</h3>
                                <p>Automatic agent registration using the <span class="wz-text-monospace">ossec-authd</span> binary</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('cluster')">Cluster</h3>
                                <p>Availability and scalability enhancement of the Wazuh service</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('wazuh-modules')">Wazuh modules</h3>
                                <p>Configuration for several Wazuh modules and integrations</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('global-configuration')">Global configuration</h3>
                                <p>Global and remote settings that applies to the whole cluster</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('integrations')">Integrations</h3>
                                <p>Slack, VirusTotal and PagerDuty integrations with external APIs</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('database-output')">Database output</h3>
                                <p>MySQL and PostgreSQL database output configuration</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('ruleset')">Ruleset</h3>
                                <p>Current rules, decoders and CDB lists loaded in the cluster</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('commands-active-response')">Commands & Active response</h3>
                                <p>Pending description</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('alerts')">Alerts</h3>
                                <p>Pending description</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('integrity-monitoring')">Integrity monitoring</h3>
                                <p>Pending description</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('policy-monitoring')">Policy monitoring</h3>
                                <p>Pending description</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigurationTab('log-collection')">Log collection</h3>
                                <p>Pending description</p>
                            </div>
                        </md-list-item>
                    </md-list>

                </md-card-content>
            </md-card>
            <!-- End main card with all the settings -->

            <!-- JSON card -->
            <md-card flex="auto" class="wz-md-card" ng-if="JSONContent">
                <md-card-content flex layout="column">
                    <span class="font-size-16">JSON viewer</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <!-- The JSON viewer -->
                    <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                        <pre><code wz-dynamic="JSONContent"></code></pre>
                    </div>
                    <!-- End JSON viewer -->
                </md-card-content>
            </md-card>
            <!-- End JSON card -->

            <!-- XML card -->
            <md-card flex="auto" class="wz-md-card" ng-if="XMLContent">
                <md-card-content flex layout="column">
                    <span class="font-size-16">XML viewer</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <!-- The XML viewer -->
                    <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                        <pre>{{ XMLContent }}</pre>
                    </div>
                    <!-- End XML viewer -->
                </md-card-content>
            </md-card>
            <!-- End XML card -->

        </div>
        <!-- End main content section -->

        <!-- This section is the right sidenav content -->
        <md-sidenav
            class="md-sidenav-right"
            md-is-locked-open="true">
            <md-list>
                <md-subheader>Any questions?</md-subheader>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/manager/index.html">Wazuh administration documentation</md-list-item>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/index.html">Wazuh capabilities documentation</md-list-item>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/index.html">Local configuration reference</md-list-item>

                <md-divider></md-divider>

                <md-subheader>Having trouble?</md-subheader>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://groups.google.com/forum/#!forum/wazuh">Ask on the mailing list</md-list-item>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://github.com/wazuh/wazuh/issues">Ask on GitHub</md-list-item>

                <md-divider></md-divider>

                <md-subheader>More options</md-subheader>
                <md-list-item layout-wrap>
                    <md-button ng-class="JSONContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getJSON()">{{ JSONContent ? "Close JSON viewer" : "Open JSON viewer" }}</md-button>
                    <md-button ng-class="XMLContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getXML()">{{ XMLContent ? "Close XML viewer" : "Open XML viewer" }}</md-button>
                </md-list-item>

                <!-- Commented code until final decision made -->
                <!-- <div layout="row" layout-align="center center">
                    <md-button ng-class="JSONContent ? 'active' : ''" class="wz-button wz-button-group md-raised small left" ng-click="getJSON('cluster')">{{ JSONContent ? "Close JSON viewer" : "Open JSON viewer" }}</md-button>
                    <md-button ng-class="XMLContent ? 'active' : ''" class="wz-button wz-button-group md-raised small right" ng-click="getXML('cluster')">{{ XMLContent ? "Close XML viewer" : "Open XML viewer" }}</md-button>
                </div>

                <md-list-item>
                    <span flex></span>
                    <md-button ng-class="JSONContent ? 'active' : ''" class="md-icon-button wz-button md-raised md-primary" ng-click="getJSON('cluster')"><i class="fa fa-fw fa-file-code-o" aria-hidden="true"></i></md-button>
                    <span flex></span>
                    <md-button ng-class="XMLContent ? 'active' : ''" class="md-icon-button wz-button md-raised md-primary" ng-click="getXML('cluster')"><i class="fa fa-fw fa-code" aria-hidden="true"></i></md-button>
                    <span flex></span>
                    <md-button ng-href="#/manager/monitoring" class="md-icon-button wz-button md-raised md-primary"><i class="fa fa-fw fa-external-link" aria-hidden="true"></i></md-button>
                    <span flex></span>
                </md-list-item>

                <md-list-item>
                    <md-button ng-class="JSONContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getJSON('cluster')"><i class="fa fa-fw fa-code" aria-hidden="true"></i> {{ JSONContent ? "Close JSON viewer" : "Open JSON viewer" }}</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-class="XMLContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getXML('cluster')"><i class="fa fa-fw fa-code" aria-hidden="true"></i> {{ XMLContent ? "Close XML viewer" : "Open XML viewer" }}</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button ng-href="#/manager/monitoring" class="wz-button md-raised md-primary small"><i class="fa fa-fw fa-share" aria-hidden="true"></i> Open Monitoring tab</md-button>
                </md-list-item>

                <md-list-item class="wz-text-link" ng-click="getJSON('cluster')">
                    <i class="fa fa-fw fa-code" aria-hidden="true"></i> {{ JSONContent ? "Close JSON viewer" : "Open JSON viewer" }}
                </md-list-item>
                <md-list-item class="wz-text-link" ng-click="getXML('cluster')">
                    <i class="fa fa-fw fa-code" aria-hidden="true"></i> {{ XMLContent ? "Close XML viewer" : "Open XML viewer" }}
                </md-list-item>
                <md-list-item class="wz-text-link" ng-href="#/manager/monitoring">
                    <i class="fa fa-fw fa-share" aria-hidden="true"></i> Open Monitoring tab
                </md-list-item>

                <md-list-item layout-wrap>
                    <md-button ng-class="JSONContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getJSON('cluster')"><i class="fa fa-fw fa-code" aria-hidden="true"></i> {{ JSONContent ? "Close JSON viewer" : "Open JSON viewer" }}</md-button>
                    <md-button ng-class="XMLContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getXML('cluster')"><i class="fa fa-fw fa-code" aria-hidden="true"></i> {{ XMLContent ? "Close XML viewer" : "Open XML viewer" }}</md-button>
                    <md-button ng-href="#/manager/monitoring" class="wz-button md-raised md-primary small"><i class="fa fa-fw fa-share" aria-hidden="true"></i> Open Monitoring tab</md-button>
                </md-list-item> -->
                <!-- Commented code until final decision made -->
            </md-list>
        </md-sidenav>
        <!-- End right sidenav section -->

    </div>
    <!-- End main content and right sidenav section -->

</div>
