.flex-column {
  flex-direction: column;
}

.mt-0 {
  margin-top: 0px;
}

.loading-chart {
  margin: 75px auto;
}

.eui-panel {
  padding-bottom: 0px;
  min-height: 168px;
  min-width: 350px;
}

.align-items-center {
  align-items: center;
}

.group-details {
  padding: 12px 0px;
}

.white-space-nowrap {
  white-space: nowrap;
}

.pb-12 {
  padding-bottom: 12px;
}

.p-30 {
}

.loading-chart-xl {
  display: block;
  text-align: center;
  padding: 30px;
}
