<div layout="row" ng-show="showConfig" class="wz-timelions">
    <md-card flex="30" class="wz-md-card">
        <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 nodes</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <kbn-vis ng-show="rendered" vis-id="'Wazuh-App-Cluster-Overview-Node-Pie'" id="Wazuh-App-Cluster-Overview-Node-Pie"></kbn-vis>
            <span class="wz-padding-top-10" ng-show="!rendered">No results for selected time interval</span>
        </md-card-content>
    </md-card>
    <md-card flex class="wz-md-card">
        <md-card-content>
            <span class="wz-headline-title">Overview</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div layout="row" class="wz-padding-top-10">
                <span flex="15">Disabled</span>
                <span flex class="color-grey">{{configuration.disabled}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="15">Hidden</span>
                <span flex class="color-grey">{{configuration.hidden}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="15">Name</span>
                <span flex class="color-grey">{{configuration.name}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="15">Node name</span>
                <span flex class="color-grey">{{configuration.node_name}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="15">Node type</span>
                <span flex class="color-grey">{{configuration.node_type}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="15">Bind address</span>
                <span flex class="color-grey">{{configuration.bind_addr}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="15">IP</span>
                <span flex class="color-grey">{{configuration.nodes[0] || 'Unknown'}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="15">Port</span>
                <span flex class="color-grey">{{configuration.port}}</span>
            </div>
        </md-card-content>
    </md-card>
</div>