<div flex layout="column" ng-controller="clusterController" ng-if="tab === 'monitoring'" ng-show="!isClusterEnabled">

    <!-- Cluster disabled breadcrumbs -->
    <div layout="row" layout-align="start center">
        <div layout="row" layout-padding>
            <div>
                <i class="fa fa-fw fa-server" aria-hidden="true"></i>
                <span class="wz-text-link cursor-pointer" ng-click="switchTab('welcome')">Management</span>
                <span> / {{ tabNames[tab] }}</span>
            </div>
        </div>
    </div>
    <!-- End cluster disabled breadcrumbs -->

    <!-- Status and reports navigation bar -->
    <md-nav-bar
        class="wz-nav-bar"
        ng-show="tab !== 'welcome'"
        md-selected-nav-item="tab"
        nav-bar-aria-label="Status and reports navigation links">
        <md-nav-item class="wz-nav-item" md-nav-click="switchTab('status')" name="status">Status</md-nav-item>
        <md-nav-item class="wz-nav-item" md-nav-click="switchTab('logs')" name="logs">Logs</md-nav-item>
        <md-nav-item class="wz-nav-item" md-nav-click="switchTab('monitoring')" name="monitoring">Monitoring</md-nav-item>
        <md-nav-item class="wz-nav-item" md-nav-click="switchTab('reporting')" name="reporting">Reporting</md-nav-item>
    </md-nav-bar>
    <!-- End status and reports navigation bar -->

    <!-- Headline -->
    <div layout="column" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-search" aria-hidden="true"></i> Monitoring</span>
        <span class="md-subheader">Visualize your Wazuh cluster nodes and its agents</span>
    </div>
    <!-- End headline -->

    <!-- Cluster disabled section -->
    <div flex layout="row" layout-align="start start">
        <md-card flex class="wz-md-card" flex>
            <md-card-content class="wz-text-center">
                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> <span class="wz-headline-title">Cluster disabled</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="column" class="wz-padding-top-10">
                    <p>The cluster is disabled. Visit the documentation on <a target="_blank" href="https://documentation.wazuh.com/current/user-manual/manager/wazuh-cluster.html">this link</a> to learn about how to enable it.
                    </p>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End cluster disabled section -->
</div>
