<div class="wazuh-loading" layout="column" layout-align="center center" ng-show="!loading && !rendered && resultState === 'ready' && !showNodes && !currentNode">
    <div class="percentage">
        <i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i>
    </div>
    <div class="percentage">{{loadingStatus}}</div>
</div>
<div layout="row" ng-show="resultState !== 'ready' && !loading">
    <md-card flex layout="column" class="wz-md-card">
        <md-card-content class="wz-text-center">
            No results for selected time interval
        </md-card-content>
    </md-card>
</div>
<div layout="row" layout-align="center stretch" class="height-400" ng-show="!loading && !showConfig && !showNodes && rendered">
    <md-card flex class="wz-md-card">
        <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Cluster alerts summary</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <kbn-vis specific-time-range="true" vis-id="'Wazuh-App-Cluster-Overview-Manager'" id="Wazuh-App-Cluster-Overview-Manager"></kbn-vis>
        </md-card-content>
    </md-card>
    <md-card flex class="wz-md-card">
        <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Alerts by node summary</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <kbn-vis specific-time-range="true" vis-id="'Wazuh-App-Cluster-Overview'" id="Wazuh-App-Cluster-Overview"></kbn-vis>
        </md-card-content>
    </md-card>
</div>