<div layout="row" ng-if="!showConfig && !showNodes && !loading" class="wz-timelions">
    <md-card flex="50" class="wz-md-card">
        <md-card-content>
            <span class="wz-headline-title wz-text-link cursor-pointer" ng-click="goConfiguration()">Overview</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div layout="row" class="wz-padding-top-10">
                <span flex="40">IP</span>
                <span flex class="color-grey">{{configuration.nodes[0] || 'Unknown'}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="40">Running</span>
                <span flex class="color-grey">{{ status || 'no' }}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="40">Version</span>
                <span flex class="color-grey">{{version}}</span>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex="50" class="wz-md-card">
        <md-card-content>
            <span class="wz-headline-title">Info</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div layout="row" class="wz-padding-top-10 cursor-pointer" ng-click="goNodes()">
                <span class="wz-text-link" flex="40">Nodes</span>
                <span flex class="color-grey">{{nodesCount}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10 cursor-pointer" ng-click="goAgents()">
                <span class="wz-text-link" flex="40">Agents</span>
                <span flex class="color-grey">{{agentsCount}}</span>
            </div>
        </md-card-content>
    </md-card>
</div>