include ./monitoring-disabled.html
include ./monitoring.head

<!-- Main -->
include ./main.html

<!-- Main timelions -->
include ./main-timelions.html

<!-- Config -->
include ./config.html

<!-- Node list -->
include ./node-list.html

<!-- Node detail -->
include ./node-detail.html

<!-- Footer -->
include ../../footer.foot
