<div layout="row" class="md-padding font-size-18 height-75" ng-if="!loading">
    <span flex="20" ng-if="!showConfig && !showNodes" class="wz-padding-top-5">
        <i class="fa fa-sitemap"></i> {{ currentAPI }}</span>
    <span flex ng-if="showConfig" class="wz-padding-top-5">
        <i class="fa fa-sitemap"></i>
        <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ currentAPI }}</span> / overview</span>
    <span flex ng-if="showNodes && !currentNode" class="wz-padding-top-5">
        <i class="fa fa-sitemap"></i>
        <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ currentAPI }}</span> / nodes</span>
    <span flex ng-if="currentNode" class="wz-padding-top-5">
        <i class="fa fa-sitemap"></i>
        <span class="wz-text-link cursor-pointer" ng-click="goBack()">{{ currentAPI }}</span> /
        <span class="wz-text-link cursor-pointer" ng-click="goNodes()">nodes</span> / {{ currentNode.name }}</span>
    <kbn-dis id="monitoring_dis" flex ng-show="!loading && (!showNodes || currentNode)"></kbn-dis>
</div>