<md-content flex layout="column" ng-if="tab == 'monitoring'" ng-show="!isClusterEnabled" ng-controller="clusterController">
    <div flex layout="row" layout-align="start start">
        <md-card class="wz-md-card" flex>
            <md-card-content class="wz-text-center">
                <div layout="row" class="wz-padding-top-10">
                    <i class="fa fa-fw fa-frown-o"></i> The cluster is disabled.
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <a href="https://documentation.wazuh.com/current/user-manual/manager/wazuh-cluster.html">https://documentation.wazuh.com/current/user-manual/manager/wazuh-cluster.html</a>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
