<div layout="column" layout-align="start stretch" class="md-padding" ng-if="showNodes && !currentNode">

    <!-- Monitoring nodes searchbar -->
    <wz-search-bar data="nodes" term="nodeSearchTerm" placetext="'Search nodes...'"></wz-search-bar>
    <!-- End monitoring nodes searchbar -->

    <!-- Monitoring nodes table -->
    <wz-table-header layout="row" data="nodes" keys="[
            {name:'Name',size:25},
            {name:'Version',size:25},
            {name:'IP',size:25},
            {name:'Type',size:25}
        ]">
    </wz-table-header>
    <wz-table layout="column" flex data="nodes" func="showNode(index)" keys="[
            {col:'name',size:25},
            {col:'version',size:25},
            {col:'ip',size:25},
            {col:'type',size:25}
        ]" class="no-lateral-padding">
    </wz-table>
    <!-- End monitoring nodes table -->
</div>
