.checkbox-group-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 26px;
  justify-content: center;
}

.checkbox-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.checkbox-group-container.single-architecture {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}

.checkbox-group-container.double-architecture {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  .checkbox-item:first-child {
    margin-bottom: 13px;
  }
  .checkbox-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }
}

.architecture-label {
  margin-left: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #343741;
}
.first-card-four-items {
  .checkbox-item:nth-child(n + 3) {
    padding-top: 16px;
    justify-content: center;
  }
}
