.checkbox-group-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 26px;
  column-gap: 8px;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
}

.checkbox-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.checkbox-group-container.single-architecture {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}

.architecture-label {
  margin-left: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #343741;
}
