.wzFilterBarOperatorBtn{
    text-align: left;
    line-height: 0;
    padding-right: 5px;
    font-size: 14px!important;
  }

  .euiComboBoxOptionsList  {
    width: 25%!important;
  }

  .euiComboBoxOptionsList__rowWrap{
      max-height: 350px!important;
  }

  .euiComboBoxOptionsList .ReactVirtualized__List{
    height: 350px!important;
  }