<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="!load && configurationSubTab === 'global'">

    <!-- No configuration section -->
    <wz-no-config
      flex
      error="currentConfig['analysis-global']"
      ng-if="currentConfig['analysis-global'] && isString(currentConfig['analysis-global'])"></wz-no-config>
    <wz-no-config
      flex
      error="'not-present'"
      ng-if="currentConfig['analysis-global'] && !isString(currentConfig['analysis-global']) && !currentConfig['analysis-global'].global"></wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column" ng-if="currentConfig['analysis-global'] && currentConfig['analysis-global'].global">

        <!-- The main card will all the settings -->
        <md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Main settings</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">Basic alerts and logging settings</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('global')">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('global')">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item
                        label="Write alerts to alerts.log file"
                        value="currentConfig['analysis-global'].global.alerts_log">
                    </wz-config-item>
                    <wz-config-item
                        label="Write JSON formatted alerts to alerts.json file"
                        value="currentConfig['analysis-global'].global.jsonout_output">
                    </wz-config-item>
                    <wz-config-item
                        label="Archive all the alerts in plain text format"
                        value="currentConfig['analysis-global'].global.logall">
                    </wz-config-item>
                    <wz-config-item
                        label="Archive all the alerts in JSON format"
                        value="currentConfig['analysis-global'].global.logall_json">
                    </wz-config-item>
                    <wz-config-item
                        label="Customized alerts format for alerts.log file"
                        value="currentConfig['analysis-global'].global.custom_alert_output">
                    </wz-config-item>
                    <wz-config-item
                        label="Write Wazuh internal logs in plain text"
                        value="currentConfig['com-logging'].logging.plain">
                    </wz-config-item>
                    <wz-config-item
                        label="Write Wazuh internal logs in JSON format"
                        value="currentConfig['com-logging'].logging.json">
                    </wz-config-item>
                    <wz-config-item
                        label="Size limit of alert files"
                        value="currentConfig['analysis-global'].global.max_output_size">
                    </wz-config-item>
                    <wz-config-item
                        label="File rotation interval"
                        value="currentConfig['analysis-global'].global.rotate_interval">
                    </wz-config-item>


                </div>
                <!-- End configuration block -->

                <div class="wz-margin-top-10">
                    <span class="font-size-16">Email settings</span>
                    <div class="wz-margin-top-10">
                        <span class="md-subheader small">Basic base email settings (needed for granular email settings)</span>
                    </div>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item
                        label="Enable alerts sent by email"
                        value="currentConfig['analysis-global'].global.email_notification">
                    </wz-config-item>
                    <wz-config-item
                        label="Sender address for email alerts"
                        value="currentConfig['analysis-global'].global.email_from">
                    </wz-config-item>
                    <wz-config-item
                        label="Recipient address for email alerts "
                        value="currentConfig['analysis-global'].global.email_to">
                    </wz-config-item>
                    <wz-config-item
                        label="Reply-to address for email alerts"
                        value="currentConfig['analysis-global'].global.email_reply_to">
                    </wz-config-item>
                    <wz-config-item
                        label="Address for SMTP mail server"
                        value="currentConfig['analysis-global'].global.smtp_server">
                    </wz-config-item>
                    <wz-config-item
                        label="Maximum number of email alerts sent per hour"
                        value="currentConfig['analysis-global'].global.email_maxperhour">
                    </wz-config-item>
                    <wz-config-item
                        label="Name used for email alerts headers"
                        value="currentConfig['analysis-global'].global.email_idsname">
                    </wz-config-item>

                </div>
                <!-- End configuration block -->

                <div class="wz-margin-top-10">
                    <span class="font-size-16">Other settings</span>
                    <div class="wz-margin-top-10">
                        <span class="md-subheader small">Settings not applied to any particular section or component</span>
                    </div>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item
                        label="Severity level for alerts generated by statistical analysis"
                        value="currentConfig['analysis-global'].global.stats">
                    </wz-config-item>
                    <wz-config-item
                        label="Severity level for alerts generated by host change monitor"
                        value="currentConfig['analysis-global'].global.host_information">
                    </wz-config-item>
                    <wz-config-item
                        label="Analysisd message input buffer size"
                        value="currentConfig['analysis-global'].global.queue_size">
                    </wz-config-item>
                    <wz-config-item
                        label="Memory size for the alert correlation engine"
                        value="currentConfig['analysis-global'].global.memory_size">
                    </wz-config-item>
                    <wz-config-item
                        label="White-listed IP addresses"
                        value="currentConfig['analysis-global'].global.white_list">
                    </wz-config-item>
                    <wz-config-item
                        label="Full path to MaxMind GeoIP IPv4 database file"
                        value="currentConfig['analysis-global'].global.geoip_db_path">
                    </wz-config-item>

                </div>
                <!-- End configuration block -->

                <div class="wz-margin-top-10">
                    <span class="font-size-16">Prelude and ZeroMQ output</span>
                    <div class="wz-margin-top-10">
                        <span class="md-subheader small">Configure custom Prelude or ZeroMQ outputs</span>
                    </div>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item
                        label="Enable Prelude output"
                        value="currentConfig['analysis-global'].global.prelude_output">
                    </wz-config-item>
                    <wz-config-item
                        label="Enable ZeroMQ output"
                        value="currentConfig['analysis-global'].global.zeromq_output">
                    </wz-config-item>
                    <wz-config-item
                        label="ZeroMQ URI to bind publisher socket"
                        value="currentConfig['analysis-global'].global.zeromq_uri">
                    </wz-config-item>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <!-- JSON card -->
        <md-card flex="auto" class="wz-md-card" ng-if="JSONContent">
            <md-card-content flex layout="column">
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">JSON viewer</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">View this configuration in raw JSON format</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('global')">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('global')">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The JSON viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre><code wz-dynamic="JSONContent"></code></pre>
                </div>
                <!-- End JSON viewer -->
            </md-card-content>
        </md-card>
        <!-- End JSON card -->

        <!-- XML card -->
        <md-card flex="auto" class="wz-md-card" ng-if="XMLContent">
            <md-card-content flex layout="column">
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">XML viewer</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">View this configuration in raw XML format</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('global')">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('global')">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The XML viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre>{{ XMLContent }}</pre>
                </div>
                <!-- End XML viewer -->
            </md-card-content>
        </md-card>
        <!-- End XML card -->

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav
        class="md-sidenav-right"
        md-is-locked-open="true">
        <md-list>
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/global.html">Global reference</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/logging.html">Logging reference</md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->
