<div layout="column" layout-align="start stretch" ng-if="!load && apiIsDown">
    <!-- API down card section -->
    <div layout="row" layout-align="start start">
        <md-card flex class="wz-md-card">
            <md-card-content>
                <i class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i> <span class="wz-headline-title">The Wazuh API seems to be down</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="column" class="wz-padding-top-10">
                    <div layout-padding>
                        Please, check if the Wazuh API is running with one of the commands below:
                    </div>
                    <div layout="row">
                        <div layout="column">
                            <div layout-padding>
                                For <strong>systemd</strong>:
                            </div>
                            <div layout-padding>
                                <pre class="json-beautifier"><code># systemctl status wazuh-api</code></pre>
                            </div>
                        </div>
                        <div layout="column">
                            <div layout-padding>
                                For <strong>SysV Init</strong>:
                            </div>
                            <div layout-padding>
                                <pre class="json-beautifier"><code># service wazuh-api status</code></pre>
                            </div>
                        </div>
                    </div>
                    <div layout-padding>
                        If the API is <strong>active (running)</strong>, please check the credentials below.
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End API down card section -->
</div>
