include ./settings.head
include ./settings-api.html
include ./settings-modules.html
include ./settings-configuration.html
include ./settings-logs.html
include ./settings-about.html
include ./settings-sample-data.html
include ../footer.foot
