<div layout="column" layout-align="start stretch" ng-if="tab === 'api' && !load && apiEntries.length === 0">

    <!-- About card section -->
    <div layout="row" layout-align="start start">
        <md-card flex class="wz-md-card">
            <md-card-content>
                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> <span class="wz-headline-title">Welcome to the Wazuh app for Kibana 6</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="column" class="wz-padding-top-10">
                    <div layout-padding>
                        The Wazuh App brings together a new and useful web interface for managing and monitoring your Wazuh infrastructure. You can check agent status, alert evolution, most recent events, popular alerts, top alert groups, etc. You can also display configuration and logs of the manager.
                    </div>

                    <div layout="row">
                        <div layout="column">
                            <div layout-padding>
                                Make use of any or all of these extensions:
                            </div>

                            <div layout-padding>
                                <ul class="md-body-1">
                                    <li><strong>Linux Audit system integration</strong></li>
                                    <li><strong>PCI DSS Compliance</strong></li>
                                    <li><strong>GDPR Compliance</strong></li>
                                    <li><strong>OpenSCAP security compliance and vulnerability assessments</strong></li>
                                    <li><strong>CIS-CAT integration</strong></li>
                                    <li><strong>Amazon Web Services (AWS) integration</strong></li>
                                    <li><strong>VirusTotal integration</strong></li>
                                </ul>
                            </div>
                        </div>

                        <div layout="column">
                            <div layout-padding>
                                The app joins Wazuh features like:
                            </div>

                            <div layout-padding>
                                <ul class="md-body-1">
                                    <li><strong>Manager and agent groups configurations</strong></li>
                                    <li><strong>Log management and analysis</strong></li>
                                    <li><strong>File integrity monitoring</strong></li>
                                    <li><strong>Intrusion and anomaly detection</strong></li>
                                    <li><strong>Policy and compliance monitoring</strong></li>
                                    <li><strong>Wazuh cluster nodes monitoring</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div layout-padding>
                        Help us to improve this app. We would appreciate your feedback. Collaborate with us on the links below.
                    </div>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://groups.google.com/forum/#!forum/wazuh" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh mailing list">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> Mailing list
                </md-button>
                <md-button target="_blank" href="https://github.com/wazuh/wazuh-kibana-app" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh Kibana app repository">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> GitHub repository
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- End about card section -->
</div>
