<div layout="column" layout-align="start stretch" ng-if="tab === 'logs' && !load">
    <!-- Headline -->
    <div layout="column" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i> Wazuh Kibana plugin log messages</span>
        <span class="md-subheader">Log file located at <span class="wz-text-monospace">/usr/share/kibana/optimize/wazuh-logs/wazuhapp.log</span></span>
    </div>
    <!-- End headline -->

    <!-- Loading ring -->
    <div class='uil-ring-css' ng-show="loadingLogs">
        <div></div>
    </div>
    <!-- End loading ring -->

    <div layout="row" ng-show="!loadingLogs">
        <md-button class="wz-report-refresh-btn" ng-click="refreshLogs()"><i class="fa fa-fw fa-refresh"></i> Refresh</md-button>
    </div>

    <div layout="row" class="md-padding" ng-show="!loadingLogs">
        <table class="table table-striped table-condensed" style="table-layout: fixed !important" id="wz_table">
            <thead class="wz-text-bold">
                <th class="wz-text-left col-lg-2"  >Date</th>
                <th class="wz-text-left col-lg-1" >Level</th>
                <th class="wz-text-left" >Message</th>
            </thead>
            <tbody>
                <tr class="wz-word-wrap" ng-repeat="item in logs">
                    <td>
                       {{ item.date | date: "medium" }}
                    </td>
                    <td>
                        {{ item.level.toUpperCase() }}
                     </td>
                     <td>
                        {{ item.message }}
                     </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
