include ./settings.head

<!-- API down error card -->
include ./api-down-card.html

<!-- First-time welcome card -->
include ./welcome-card.html

<!-- API entries and form -->
include ./api-tab.html

<!-- Extensions section -->
include ./extensions-tab.html

<!-- Index pattern section -->
include ./pattern-tab.html

<!-- About section -->
include ./about-tab.html

include ./settings.foot