<div flex layout="column" layout-align="start stretch" ng-if="tab === 'welcome' && !load">

    <!-- Configure app section section -->
    <!-- Headline -->
    <div layout="row" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-sliders" aria-hidden="true"></i> Configure the Wazuh app</span>
    </div>
    <!-- End headline -->

    <!-- Section cards -->
    <div layout="row" layout-align="start start" layout-wrap>

        <!-- API -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content>
                <i class="fa fa-fw fa-tasks" aria-hidden="true"></i> <span ng-click="switchTab('api')" class="wz-headline-title wz-text-link cursor-pointer">API configuration</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>Administer your Wazuh API credentials</p>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/installation-guide/installing-elastic-stack/connect_wazuh_app.html" class="wz-text-link cursor-pointer small" aria-label="Open connect app to API documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>

        <!-- Extensions -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content>
                <i class="fa fa-fw fa-check-square-o" aria-hidden="true"></i> <span ng-click="switchTab('extensions')" class="wz-headline-title wz-text-link cursor-pointer">Extensions</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>Enable or disable extensions on the app</p>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/user-manual/capabilities/index.html" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh capabilities documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>

        <!-- Pattern -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content>
                <i class="fa fa-fw fa-filter" aria-hidden="true"></i> <span ng-click="switchTab('pattern')" class="wz-headline-title wz-text-link cursor-pointer">Index pattern</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>Select a pattern for exploring alerts</p>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://www.elastic.co/guide/en/kibana/current/tutorial-define-index.html" class="wz-text-link cursor-pointer small" aria-label="Open Kibana index patterns documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- End section cards -->
    <!-- End configure app section -->

    <!-- About section -->
    <!-- Headline -->
    <div layout="row" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-info" aria-hidden="true"></i> About</span>
    </div>
    <!-- End headline -->

    <!-- Section cards -->
    <div layout="row" layout-align="start start" layout-wrap>

        <!-- Description -->
        <md-card flex class="wz-md-card">
            <md-card-content>
                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> <span ng-click="switchTab('vuls')" class="wz-headline-title">App description</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="column" class="wz-padding-top-10">
                    <div layout-padding>
                        The Wazuh App brings together a new and useful web interface for managing and monitoring your Wazuh infrastructure. You can check agent status, alert evolution, most recent events, popular alerts, top alert groups, etc. You can also display configuration and logs of the manager.
                    </div>

                    <div layout="row">
                        <div layout="column">
                            <div layout-padding>
                                Make use of any or all of these extensions:
                            </div>

                            <div layout-padding>
                                <ul class="md-body-1">
                                    <li><strong>Linux Audit system integration</strong></li>
                                    <li><strong>PCI DSS Compliance</strong></li>
                                    <li><strong>GDPR Compliance</strong></li>
                                    <li><strong>OpenSCAP security compliance and vulnerability assessments</strong></li>
                                    <li><strong>Amazon Web Services (AWS) integration</strong></li>
                                    <li><strong>VirusTotal integration</strong></li>
                                </ul>
                            </div>
                        </div>

                        <div layout="column">
                            <div layout-padding>
                                The app joins Wazuh features like:
                            </div>

                            <div layout-padding>
                                <ul class="md-body-1">
                                    <li><strong>Manager and agent groups configurations</strong></li>
                                    <li><strong>Log management and analysis</strong></li>
                                    <li><strong>File integrity monitoring</strong></li>
                                    <li><strong>Intrusion and anomaly detection</strong></li>
                                    <li><strong>Policy and compliance monitoring</strong></li>
                                    <li><strong>Wazuh cluster nodes monitoring</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div layout-padding>
                        Help us to improve this app. We would appreciate your feedback. Collaborate with us on the links below.
                    </div>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://groups.google.com/forum/#!forum/wazuh" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh mailing list">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> Mailing list
                </md-button>
                <md-button target="_blank" href="https://github.com/wazuh/wazuh-kibana-app" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh Kibana app repository">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> GitHub repository
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- End section cards -->
    <!-- End about section -->
</div>
