<div layout="column" layout-align="start stretch" ng-if="tab === 'config' && !load">
    <!-- Headline -->
    <div layout="column" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-wrench" aria-hidden="true"></i> Wazuh app configuration</span>
        <span class="md-subheader">Configuration located at /usr/share/kibana/plugins/wazuh/config.yml</span>
    </div>
    <!-- End headline -->
    <div layout="row" layout-align="start center" ng-if="!load">
        <md-card flex="60" class="wz-md-card">
            <md-card-content>
                <i class="fa fa-fw fa-file-o" aria-hidden="true"></i>
                <span class="wz-headline-title">Current configuration</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10" ng-repeat="(key,value) in configuration">
                    <span flex="25">{{key}}</span>
                    <span class="wz-text-right color-grey">{{value}}</span>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>