<div flex layout="column" layout-align="start stretch" ng-if="tab === 'welcome' && !load">

    <!-- Headline -->
    <div layout="column" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Settings</span>
        <span class="md-subheader">Customize your app: API credentials, Extensions and Index pattern</span>
    </div>
    <!-- End headline -->

    <!-- Settings sections -->
    <div layout="row" layout-align="start stretch" layout-wrap>
        <md-card flex class="wz-md-card">
            <md-card-content flex layout="column">
                <span class="wz-headline-title"><i class="fa fa-fw fa-sliders" aria-hidden="true"></i> Configure the Wazuh app</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <md-button ng-click="switchTab('api')" class="small wz-text-link">API Configuration</md-button>
                    <md-button ng-click="switchTab('extensions')" class="small wz-text-link">Extensions</md-button>
                    <md-button ng-click="switchTab('pattern')" class="small wz-text-link">Index pattern</md-button>
                    <md-button ng-click="switchTab('about')" class="small wz-text-link">About</md-button>
                </div>
                <span flex></span>
            </md-card-content>
        </md-card>
    </div>
    <!-- End settings sections -->

</div>
