<div flex ng-controller="settingsController" layout="column">

    <div class="wz-menu-nav-bar height-70" ng-init="menuNavItem = 'settings'">
        <wz-menu></wz-menu>
    </div>

    <div class="headBar" layout="row" layout-align="center start">
        <md-nav-bar flex class="padding-right-0 wz-md-navbar" md-selected-nav-item="submenuNavItem" nav-bar-aria-label="navigation submenu">
            <md-nav-item md-nav-click="submenuNavItem = 'api'" name="api">API</md-nav-item>
            <md-nav-item md-nav-click="submenuNavItem = 'extensions'" name="extensions">Extensions</md-nav-item>
            <md-nav-item md-nav-click="submenuNavItem = 'pattern'" name="pattern">Pattern</md-nav-item>
            <md-nav-item md-nav-click="submenuNavItem = 'about'" name="about">About</md-nav-item>
        </md-nav-bar>
    </div>

    <div layout="column" layout-align="start stretch">

        <md-card class="wz-md-card" layout-padding layout-align="start stretch" ng-if="submenuNavItem == 'api' && apiEntries.length == 0">

            <span class="wz-headline-title">Welcome to the Wazuh App for Kibana 6</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <div>
                <p>The Wazuh App brings together a new and useful web interface for managing and monitoring your Wazuh infrastructure.
                    You can check agent status, alert evolution, most recent events, popular alerts, top alert groups, etc.
                    You can also display configuration and logs of the manager.</p>
                <p>In addition, make use of any or all of these extensions:</p>
                <ul>
                    <li>Linux Audit system integration.
                        <li>PCI DSS Compliance.
                            <li>OpenSCAP security compliance and vulnerability assessments.
                                <li>Amazon Web Services (AWS) integration.
                                    <li>VirusTotal integration.
                </ul>
                <p>The app joins Wazuh features like:
                    <strong>Log management and analysis</strong>,
                    <strong>file integrity monitoring</strong>,
                    <strong>intrusion and anomaly detection</strong> and
                    <strong>policy and compliance monitoring.</strong>
                </p>
                <p>Help us to improve this app. We would appreciate your feedback. Collaborate with us on the
                    <a href="https://groups.google.com/forum/#!forum/wazuh">Mailing Lists</a> and/or the Wazuh App
                    <a href="https://github.com/wazuh/wazuh-kibana-app">Github repository</a>
                </p>
                <br>
                <p>Please enter your Wazuh RESTful API credentials at the form below to begin.</p>
            </div>

        </md-card>
        <md-card class="wz-md-card" layout-padding layout-align="start stretch" ng-if="apiIsDown">
            <h1 class="wazuh-h1">
                <i class="fa fa-warning ng-scope font-size-25" aria-hidden="true"></i> Wazuh RESTful API seems to be down</h1>
            <p>Please, check if Wazuh RESTful API is running with one of the commands below:</p>
            <md-list>
                <md-list-item>For Systemd:</md-list-item>
                <md-list-item>
                    <code>    $ systemctl status wazuh-api</code>
                </md-list-item>
                <md-list-item>For SysV Init:</md-list-item>
                <md-list-item>
                    <code>    $ service wazuh-api status</code>
                </md-list-item>
            </md-list>
            <p>If the API is
                <code>active (running)</code> please check its configuration below.</p>
        </md-card>

        <md-card class="wz-md-card" layout-padding layout-align="start stretch" ng-if="submenuNavItem == 'api'">

            <span class="wz-headline-title">Wazuh App: API configuration</span>
            <md-divider class="wz-margin-top-10"></md-divider>

            <div layout="row" layout-align="start start">
                <p flex="15" class="text-bold">Cluster</p>
                <p flex="20" class="text-bold">Manager</p>
                <p flex="15" class="text-bold">API URL</p>
                <p flex="15" class="text-bold">API Port</p>
                <p flex="15" class="text-bold">User</p>
                <p flex="20" class="text-bold">Actions</p>
            </div>

            <div ng-repeat="entry in apiEntries">
                <div layout="row" layout-align="space-between center">
                    <p flex="15">
                        <i ng-show="(entry._id === currentDefault)" tooltip="Set as default Manager" class="fa fa-star settings-template-1" aria-hidden="true"></i> {{entry._source.cluster_info.cluster}}</p>
                    <p flex="20">{{entry._source.cluster_info.manager}}</p>
                    <p flex="15">{{entry._source.url}}</p>
                    <p flex="15">{{entry._source.api_port}}</p>
                    <p flex="15">{{entry._source.api_user}}</p>
                    <p flex="20">
                        <i ng-click="setDefault(entry)" tooltip="Set as default Manager" class="fa fa-star font-size-18 cursor-pointer" aria-hidden="true"></i>
                        <i ng-click="removeManager(entry)" tooltip="Remove manager" class="fa fa-trash settings-template-2 cursor-pointer" aria-hidden="true"></i>
                        <i ng-click="checkManager(entry)" tooltip="Check connection" class="fa fa-refresh settings-template-2 cursor-pointer" aria-hidden="true"></i>
                        <i ng-click="toggleEditor(entry)" tooltip="Edit" class="fa fa-pencil settings-template-2 cursor-pointer" aria-hidden="true"></i>
                    </p>
                </div>
                <div layout="row" layout-align="space-between center" ng-if="showEditForm[entry._id] && isEditing">
                    <form flex ng-submit="updateSettings(entry)" layout="column" layout-align="start stretch" class="margin-top-30">
                        <md-input-container>
                            <label>Username</label>
                            <input placeholder="" ng-init="formUpdate.user=entry._source.api_user" type="text" ng-model="formUpdate.user" aria-label="username"
                                required/>
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input placeholder="" type="password" ng-model="formUpdate.password" aria-label="password" required/>
                        </md-input-container>
                        <md-input-container>
                            <label>URL</label>
                            <input placeholder="https://" ng-init="formUpdate.url=entry._source.url" ng-model="formUpdate.url" type="url" aria-label="full url"
                                required/>
                        </md-input-container>
                        <md-input-container>
                            <label>Port</label>
                            <input placeholder="" ng-init="formUpdate.port=entry._source.api_port" ng-model="formUpdate.port" type="text" aria-label="port"
                                required/>
                        </md-input-container>
                        <div layout="row" layout-align="center center" ng-if="messageError">
                            <p class="color-f9">{{messageErrorUpdate}}</p>
                        </div>
                        <div layout="row" layout-align="center center">
                            <md-button flex="15" type="submit" class="wazuh-button md-raised md-primary" aria-label="Update API button">
                                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Update API
                            </md-button>
                        </div>
                    </form>
                </div>
            </div>

            <div ng-show="!isUpdating()" layout="row" layout-align="center center">
                <md-button flex="15" ng-click="$parent.addManagerContainer = !$parent.addManagerContainer" type="submit" class="wazuh-button md-raised md-primary"
                    aria-label="Add new API button">
                    <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i> Add new API
                </md-button>
            </div>

            <form flex ng-submit="processForm()" layout="column" layout-align="start stretch" ng-if="!currentAPI || ($parent.addManagerContainer && !isEditing)"
                class="margin-top-30">
                <md-input-container>
                    <label>Username</label>
                    <input placeholder="" type="text" ng-model="formData.user" aria-label="username" required/>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input placeholder="" type="password" ng-model="formData.password" aria-label="password" required/>
                </md-input-container>
                <md-input-container>
                    <label>URL</label>
                    <input placeholder="https://" ng-model="formData.url" type="url" aria-label="full url" required/>
                </md-input-container>
                <md-input-container>
                    <label>Port</label>
                    <input placeholder="" ng-model="formData.port" type="text" aria-label="port" required/>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <p class="color-f9">{{messageError}}</p>
                </div>

                <div layout="row" layout-align="center center">
                    <md-button flex="15" type="submit" class="wazuh-button md-raised md-primary" aria-label="Save API button">
                        <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i> Save API
                    </md-button>
                </div>

            </form>

        </md-card>

        <md-card class="wz-md-card" flex layout-padding layout-align="start stretch" ng-if="submenuNavItem == 'extensions'">

            <span class="wz-headline-title">Wazuh App: Extensions</span>
            <md-divider class="wz-margin-top-10"></md-divider>

            <p flex>Enable or disable extensions according to your needs. The extension includes: Panels and Discover, for Overview
                / Agents tabs.</p>

            <div>
                <span layout="row" layout-align="space-between center" class="text-bold">
                    PCI DSS
                </span>
                <span>
                    The Payment Card Industry Data Security Standard (PCI DSS) is a proprietary information security standard for organizations
                    that handle branded credit cards from the major card schemes including Visa, MasterCard, American Express,
                    Discover, and JCB. The PCI Standard is mandated by the card brands and administered by the Payment Card
                    Industry Security Standards Council. The standard was created to increase controls around cardholder
                    data to reduce credit card fraud.
                </span>
                <span>
                    <md-switch flex ng-model="extensions.pci" aria-label="extensionsPci" ng-change="toggleExtension('pci',extensions.pci)"></md-switch>
                </span>
                <md-divider></md-divider>
            </div>

            <div>
                <span layout="row" layout-align="space-between center" class="text-bold">
                    OpenSCAP
                </span>
                <span>
                    OVAL (Open Vulnerability Assessment Language) interpreter used to check system configuration and detect vulnerable applications.
                    It is recognized as a standardized compliance and hardening checking solution for enterprise-level infrastructure.
                </span>
                <span>
                    <md-switch flex ng-model="extensions.oscap" aria-label="extensionsOscap" ng-change="toggleExtension('oscap',extensions.oscap)"></md-switch>
                </span>
                <md-divider></md-divider>
            </div>

            <div>
                <span layout="row" layout-align="space-between center" class="text-bold">
                    Audit
                </span>
                <span>
                    The Linux Audit system provides a way to track security-relevant information on your system. Based on pre-configured rules,
                    Audit generates log entries to record as much information about the events that are happening on your
                    system as possible.
                </span>
                <span layout="row" layout-align="space-between center">
                    <md-switch flex ng-model="extensions.audit" aria-label="extensionsAudit" ng-change="toggleExtension('audit',extensions.audit)"></md-switch>
                </span>
                <md-divider></md-divider>
            </div>

            <div>
                <span layout="row" layout-align="space-between center" class="text-bold">
                    Amazon Web Services (AWS)
                </span>
                <span>
                    Wazuh provides a way to collect alerts from your AWS machines and store them to an agent. Once the agent reads the message,
                    it sends it to the Wazuh manager which analyses it with decoders and rules. When a rule matches, an alert
                    is triggered if the rule severity is high enough. Wazuh can be used to alert on specific events from
                    IAM, EC2 and VPC.
                </span>
                <span layout="row" layout-align="space-between center">
                    <md-switch flex ng-model="extensions.aws" aria-label="extensionsAWS" ng-change="toggleExtension('aws',extensions.aws)"></md-switch>
                </span>
                <md-divider></md-divider>
            </div>

            <div>
                <span layout="row" layout-align="space-between center" class="text-bold">
                    VirusTotal
                </span>
                <span>
                    VirusTotal is an online service that analyzes files and URLs enabling the detection of viruses, worms, trojans and other
                    kinds of malicious content using antivirus engines and website scanners. It also can be used to detect
                    false positives.
                </span>
                <span layout="row" layout-align="space-between center">
                    <md-switch flex ng-model="extensions.virustotal" aria-label="extensionsVirusTotal" ng-change="toggleExtension('virustotal',extensions.virustotal)"></md-switch>
                </span>
            </div>

        </md-card>

        <md-card class="wz-md-card" flex layout-padding layout-align="start stretch" ng-if="submenuNavItem == 'pattern'">

            <span class="wz-headline-title">Wazuh App: Index pattern selection</span>
            <md-divider class="wz-margin-top-10"></md-divider>

            <p flex>Select the index pattern to run search and analytics against:</p>
            <p flex>
                <strong>Beware: the new index-pattern structure must be compatible with Wazuh alerts, otherwise the visualizations
                    will load erroneous data, or no data at all.</strong>
            </p>
            <p flex>
                <strong>Warning: modifying the index-pattern will change it to ALL of the users.</strong>
            </p>
            
            <div flex="20" layout="column" class="height-41 md-block md-whiteframe-z1 md-input-margin wz-margin-top-17 wz-margin-right-15 wz-select-input">
                <select flex class="kuiSelect wz-border-none cursor-pointer" ng-model="selectedIndexPattern" ng-change="changeIndexPattern(selectedIndexPattern)" aria-label="Select index pattern">
                    <option ng-repeat="indexPattern in indexPatterns" value="{{indexPattern.id}}">{{indexPattern.attributes.title}}</option>
                </select>
            </div>
        </md-card>

        <md-content layout="column" layout-align="start stretch" ng-if="submenuNavItem == 'about'">

            <md-card class="wz-md-card" layout-align="start stretch">
                <md-card-content>

                    <span class="wz-headline-title">Wazuh App: About</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <div layout="row">
                        <p>The Wazuh App brings together a new and useful web interface for managing and monitoring your Wazuh
                            infrastructure. You can check agent status, alert evolution, most recent events, popular alerts,
                            top alert groups, etc. You can also display configuration and logs of the manager.</p>
                    </div>
                    <div layout="row">
                        <p>In addition, make use of any or all of these extensions:</p>
                    </div>

                    <div layout="row">
                        <md-list>
                            <md-list-item>Linux Audit system integration.</md-list-item>
                            <md-list-item>PCI DSS Compliance.</md-list-item>
                            <md-list-item>OpenSCAP security compliance and vulnerability assessments.</md-list-item>
                            <md-list-item>Amazon Web Services (AWS) integration.</md-list-item>
                            <md-list-item>VirusTotal integration.</md-list-item>
                        </md-list>
                    </div>
                    <div layout="row">
                        <p>The app joins Wazuh features like:
                            <strong>Log management and analysis</strong>,
                            <strong>file integrity monitoring</strong>,
                            <strong>intrusion and anomaly detection</strong> and
                            <strong>policy and compliance monitoring.</strong>
                        </p>
                    </div>
                    <div layout="row">
                        <p>Help us to improve this app. We would appreciate your feedback. Collaborate with us on the
                            <a href="https://groups.google.com/forum/#!forum/wazuh">Mailing Lists</a> and/or the Wazuh App
                            <a href="https://github.com/wazuh/wazuh-kibana-app">Github repository</a>.</p>
                    </div>
                </md-card-content>
            </md-card>

            <md-card class="wz-md-card" layout-align="start stretch">
                <md-card-content class="width-500">

                    <span class="wz-headline-title">Wazuh App: Version</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <div layout="row" layout-align="space-between center">
                        <p>App version</p>
                        <p>{{appInfo["app-version"]}}</p>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <p>Install date</p>
                        <p>{{appInfo["installationDate"]}}</p>
                    </div>
                    <div layout="row" layout-align="space-between center">
                        <p>Revision</p>
                        <p>{{appInfo["revision"]}}</p>
                    </div>

                </md-card-content>
            </md-card>
        </md-content>
    </div>

</div>
