<div flex layout="column" layout-align="start stretch" ng-if="tab === 'pattern' && !load">

    <!-- About card section -->
    <div layout="row" layout-align="start start">
        <md-card flex class="wz-md-card">
            <md-card-content>
                <i class="fa fa-fw fa-filter" aria-hidden="true"></i> <span class="wz-headline-title">Pattern selection</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p class="md-body-1">Select the index pattern to run search and analytics against.</p>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <p class="md-body-1"><strong>Beware:</strong> the new index-pattern structure must be compatible with Wazuh alerts, otherwise you won't be able to select the pattern on the selector since visualizations would load erroneous data, or no data at all.<p>
                </div>
                <div flex="25" layout="column" class="wz-select-input wz-margin-top-10">
                    <select flex class="kuiSelect wz-border-none cursor-pointer" ng-model="selectedIndexPattern" ng-change="changeIndexPattern(selectedIndexPattern)" aria-label="Select index pattern">
                        <option ng-repeat="indexPattern in indexPatterns" value="{{indexPattern.id}}">{{indexPattern.title}}</option>
                    </select>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End about card section -->
</div>
