<div layout="column" layout-align="start stretch" ng-if="ctrl.tab === 'configuration2' && !ctrl.load" class="sideBarContent">
    <!-- Headline -->
    <div layout="column" layout-padding>
                <div class="euiPage">
                    <div class="euiPanel euiPanel--paddingLarge">
                        <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--directionRow euiFlexGroup--responsive">
                            <div class="euiFlexItem euiFlexItem--flexGrowZero">
                                <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--directionRow euiFlexGroup--responsive">
                                    <div class="euiFlexItem">
                                        <h2 class="euiTitle euiTitle--medium">App current settings</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="euiFlexItem euiFlexItem--flexGrowZero" style='margin-left: 0'>
                                    <a tooltip="More about configuration file" target="_blank" tooltip-placement="right"
                                    href="https://documentation.wazuh.com/current/user-manual/kibana-app/reference/config-file.html" 
                                    class="euiButtonIcon euiButtonIcon--primary" type="button" aria-label="Help" style='padding: 8px 0;'>
                                        <react-component name="EuiIcon" props="{type:'questionInCircle', color: 'primary', size: 'l'}" />
                                    </a>
                                </div>
                        </div>
                        <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--directionRow euiFlexGroup--responsive">
                            <div class="euiFlexItem">
                                <div class="euiText euiText--medium" style="padding-bottom: 15px;">
                                    <div class="euiTextColor euiTextColor--subdued">
                                        Configuration file located at /usr/share/kibana/plugins/wazuh/wazuh.yml
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="!ctrl.load">
                                <div class="euiSpacer euiSpacer--m"></div>
                                <table class="euiTable euiTable--responsive">
                                                <thead class="wz-text-bold">
                                                    <th style="width: 250px" class="euiTableHeaderCell wz-text-left">Setting</th>
                                                    <th style="width: 250px" class="euiTableHeaderCell wz-text-left">Value</th>
                                                    <th class="euiTableHeaderCell wz-text-left">Description</th>
                                                    <th style="width: 125px;text-align: right" class="euiTableHeaderCell wz-text-left">Actions</th>
                                                </thead>
                                                <tbody>
                                                    <tr class="euiTableRow customRowClass wz-word-wrap" ng-repeat="(key,value) in ctrl.configuration track by $index"
                                                        ng-style="ctrl.editingKey === key && {'background': '#e2f7ff'}">
                                                        <td class="euiTableRowCell"><div class="euiTableCellContent">{{key}}</div></td>
                                                        <td class="euiTableRowCell">
                                                            <div class="euiTableCellContent">
                                                            <input
                                                                ng-if="ctrl.editingKey === key && ctrl.configurationTypes[key] === 'string' && key !== 'logs.level' && key !== 'wazuh.monitoring.creation'"
                                                                ng-disabled="ctrl.loadingChange" type="text" class="wz-input-text"
                                                                ng-model="ctrl.editingNewValue"></input>
                                                            <input ng-if="ctrl.editingKey === key && ctrl.configurationTypes[key] === 'number'"
                                                                ng-disabled="ctrl.loadingChange" type="number" class="wz-input-text"
                                                                ng-model="ctrl.editingNewValue" min=0></input>
                                                            <select
                                                                ng-if="ctrl.editingKey === key && ctrl.configurationTypes[key] === 'boolean'"
                                                                ng-disabled="ctrl.loadingChange" class="wz-menu-select wz-input-text wz-width-100"
                                                                ng-model="ctrl.editingNewValue"
                                                                ng-options="o as o for o in [true, false]"></select>
                                                            <select ng-if="ctrl.editingKey === key && key === 'wazuh.monitoring.creation'"
                                                                ng-disabled="ctrl.loadingChange" class="wz-menu-select wz-input-text wz-width-100"
                                                                ng-model="ctrl.editingNewValue"
                                                                ng-options="key as value for (key , value) in  {'h': 'hourly', 'd': 'daily', 'w': 'weekly', 'm': 'monthly'}"></select>
                                                            <select ng-if="ctrl.editingKey === key && key === 'logs.level'"
                                                                ng-disabled="ctrl.loadingChange" class="wz-menu-select wz-input-text wz-width-100"
                                                                ng-model="ctrl.editingNewValue"
                                                                ng-options="key as value for (key , value) in  {'info': 'info', 'debug': 'debug'}"></select>
                                                            <textarea
                                                                ng-if="ctrl.editingKey === key && ctrl.configurationTypes[key] === 'object'"
                                                                ng-disabled="ctrl.loadingChange" class="wz-input-text wz-width-100"
                                                                ng-model="ctrl.editingNewValue"></textarea>
                                                            <span ng-show="!ctrl.editingKey || ctrl.editingKey !== key">{{value}}</span>
                                                        </div>
                                                        </td>
                                                        <td class="euiTableRowCell"><div class="euiTableCellContent">{{ctrl.configEquivalence(key)}}</div></td>
                                                        <td class="euiTableRowCell action-btn-td" style="text-align: right" class="euiTableCellContent">
                                                            <div ng-hide="key === 'admin' || !ctrl.configuration['admin']">
                                                                <span ng-show="!ctrl.editingKey || ctrl.editingKey !== key" tooltip="Edit"
                                                                    ng-click="ctrl.setEditingKey(key, value)" class="cursor-pointer">
                                                                    <react-component name="EuiIcon" props="{type: 'pencil'}" />
                        
                                                                </span>
                                                                <span ng-show="ctrl.editingKey === key && !ctrl.loadingChange" tooltip="Cancel"
                                                                    class="fa fa-fw fa-times cursor-pointer"
                                                                    ng-click="ctrl.cancelEditingKey()"></span>
                                                                <span
                                                                    ng-show="ctrl.editingKey === key && ctrl.editingNewValue !== '' && !ctrl.loadingChange"
                                                                    tooltip="Apply" class="fa fa-fw fa-success cursor-pointer"
                                                                    ng-click="ctrl.editKey(key, ctrl.editingNewValue)"></span>
                                                                <span ng-show="ctrl.editingKey === key && ctrl.loadingChange"><i
                                                                        class="fa fa-fw fa-spin fa-spinner"></i></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                            </div>


                    </div>
                </div>
        </div>
</div>