<div layout="column" layout-align="start stretch" ng-if="ctrl.tab === 'api' && !ctrl.load">

    <div layout="row" layout-padding ng-if="ctrl.apiEntries.length">
        <react-component name="ApiTable" props="ctrl.apiTableProps" />
    </div>

    <!-- Add API section-->
    <div layout="row" layout-padding ng-if="!ctrl.apiEntries.length">
        <react-component flex name="AddApi" props="ctrl.addApiProps" />
        <!-- End add API form -->
    </div>
    <!-- End add API section-->

</div>
<!-- End API configuration card section -->