include ./settings.head
include ./settings-first-use.html
include ./settings-api-down.html
include ./settings-welcome.html
include ./settings-api.html
include ./settings-extensions.html
include ./settings-pattern.html
include ./settings-about.html
include ../footer.foot
