<md-content ng-if="submenuNavItem == 'overview' && agentInfo" ng-controller="agentsOverviewController">

	<!-- Kibana search bar -->
	<kbn-searchbar class="wazuh-searchbar" ng-if="tabView == 'panels'"></kbn-searchbar>
	<div class='uil-ring-css' ng-if="tabView == 'panels'" ng-show='!hideRing(7)'><div></div></div>
	<div ng-show='hideRing(7) && results && !loading' ng-if="tabView == 'panels'">
		<md-content class="no-legend" layout="row">
			<md-card  flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 14pt;">{{agentInfo.name}}</div>
					<div class="ng-binding">Name</div>
				</md-card-content>
			</md-card>
			<md-card  flex="10" layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 14pt;">{{agentInfo.ip}}</div>
					<div class="ng-binding">IP Address</div>
				</md-card-content>
			</md-card>
			<md-card  flex="10" layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 14pt;">{{ agentInfo.version | limitTo: 12 }}{{agentInfo.version.length > 12 ? '...' : ''}}</div>
					<md-tooltip md-direction="bottom">{{ agentInfo.version }}</md-tooltip>
					<div class="ng-binding">Version</div>
				</md-card-content>
			</md-card>
			<md-card flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding"  class="legend-value-title ng-binding legend-value-truncate" style="font-size: 14pt;">{{ agentOs }}</div>
					<md-tooltip md-direction="bottom">{{ agentOs }}</md-tooltip>
					<div class="ng-binding">OS</div>
				</md-card-content>
			</md-card>
		</md-content>	
		<md-content layout="row">
			<md-card flex layout="column" ng-show="agentInfo.id != '000'">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 14pt;">{{agentInfo.lastKeepAlive}}</div>
					<div class="ng-binding">Last keep alive</div>
				</md-card-content>
			</md-card>
			<md-card flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 14pt;">{{agentInfo.dateAdd}}</div>
					<div class="ng-binding">Registration date</div>
				</md-card-content>
			</md-card>
			<md-card flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 14pt;">{{agentInfo.syscheck.end}}</div>
					<md-tooltip md-direction="bottom">
						Start time: {{ agentInfo.syscheck.start }} <br>
						End time: {{ agentInfo.syscheck.end }} <br>
						Duration time: {{ agentInfo.syscheck.duration }} minutes
					</md-tooltip>
					<div class="ng-binding">Last syscheck scan</div>
				</md-card-content>
			</md-card>
			<md-card flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 14pt;">{{agentInfo.rootcheck.end}}</div>
					<md-tooltip md-direction="bottom">
						Start time: {{ agentInfo.rootcheck.start }} <br>
						End time: {{ agentInfo.rootcheck.end }} <br>
						Duration time: {{ agentInfo.rootcheck.duration }} minutes
					</md-tooltip>
					<div class="ng-binding">Last rootcheck scan</div>
				</md-card-content>
			</md-card>
		</md-content>
	</div>
	
	<!-- No results message -->
	<md-content id="prueba" flex layout="row" layout-align="start start" ng-show="!results && !loading" ng-if="tabView == 'panels' && hideRing(7)">
		<md-card flex layout="column">
			<md-card-content style="text-align: center;">
				No results for selected time interval
			</md-card-content>
		</md-card>		
	</md-content> 
	
	<!-- View: Discover -->
	<md-content ng-if="agentInfo.name" style="background-color: white" flex layout="column" layout-align="start space-around" ng-show="tabView == 'discover'" >
		<kbn-disfull table-height="1000px;" dis-a="(columns:!(_source),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
		dis-filter="agent.name: {{agentInfo.name ? agentInfo.name : '*'}} AND manager.name: {{defaultManager ? defaultManager : '*'}}"
		infinite-scroll="true">
		</kbn-disfull>
	</md-content>


	<!-- View: Panels -->
	<div ng-show='hideRing(7) && results' ng-if="tabView == 'panels' && !load">
		<md-content layout="row">
				<md-card flex="33">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Top 5 alerts</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<kbn-vis vis-height="154px" vis-index-pattern="wazuh-alerts-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.description,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!t,shareYAxis:!t),title:'Top 5',type:pie))"
							vis-filter="{{agentInfo.name ? 'agent.name:'+agentInfo.name : '*'}}">
						</kbn-vis>
					</md-card-content>
				</md-card>
				<md-card flex="33">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Top 5 groups</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<kbn-vis vis-height="154px" vis-index-pattern="wazuh-alerts-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.groups,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!t,shareYAxis:!t),title:'Top groups',type:pie))"
							vis-filter="{{agentInfo.name ? 'agent.name:'+agentInfo.name : '*'}}">
						</kbn-vis>
					</md-card-content>
				</md-card>
				<md-card flex="33">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Top 5 PCI DSS Requirements</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<kbn-vis vis-height="154px" vis-index-pattern="wazuh-alerts-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.pci_dss,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!t,shareYAxis:!t),title:'Top pci',type:pie))"
							vis-filter="{{agentInfo.name ? 'agent.name:'+agentInfo.name : '*'}}">
						</kbn-vis>
					</md-card-content> 
				</md-card>

			</md-content>
		<md-content layout="row" layout-align="start stretch">
			<md-card flex class="visBox-alert-level-evolution">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Alert level evolution</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<kbn-vis vis-height="150px" vis-index-pattern="wazuh-alerts-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'3',params:(field:rule.level,order:desc,orderBy:'1',size:10),schema:group,type:terms),(enabled:!t,id:'2',params:(customInterval:'1h',extended_bounds:(),field:'@timestamp',interval:h,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:cardinal,legendPosition:right,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'Alert%20level%20evolution',type:line))"
							vis-filter="{{agentInfo.name ? 'agent.name:'+agentInfo.name : '*'}}">
						</kbn-vis>
					</md-card-content>
			</md-card>
				
			<md-card flex="60">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Alerts</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<kbn-vis vis-height="150px" vis-index-pattern="wazuh-alerts-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'1h',customLabel:'Agent alerts',extended_bounds:(),field:'@timestamp',interval:h,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'Agentbalerts last 24 days',type:histogram))"
						vis-filter="{{agentInfo.name ? 'agent.name:'+agentInfo.name : '*'}}">
					</kbn-vis>
				</md-card-content>
			</md-card>

		</md-content>
		<md-content layout="row">
			<md-card  flex="60">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Alerts summary</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<kbn-vis vis-height="460px" vis-index-pattern="wazuh-alerts-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(params:(sort:(columnIndex:!n,direction:!n)))),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customLabel:'Rule ID',field:rule.id,order:desc,orderBy:'1',size:99999),schema:bucket,type:terms),(enabled:!t,id:'3',params:(customLabel:Description,field:rule.description,order:desc,orderBy:'1',size:1),schema:bucket,type:terms),(enabled:!t,id:'4',params:(customLabel:Level,field:rule.level,order:desc,orderBy:'1',size:1),schema:bucket,type:terms)),listeners:(),params:(perPage:10,showMeticsAtAllLevels:!f,showPartialRows:!f,showTotal:!f,sort:(columnIndex:!n,direction:!n),totalFunc:sum),title:'New%20Visualization',type:table))"
						vis-filter="{{agentInfo.name ? 'agent.name:'+agentInfo.name : '*'}}">
					</kbn-vis>
				</md-card-content>
			</md-card>
			<md-card flex="40">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Groups summary</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<kbn-vis vis-height="450px" vis-index-pattern="wazuh-alerts-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(params:(sort:(columnIndex:1,direction:desc)))),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customLabel:Group,field:rule.groups,order:desc,orderBy:'1',size:99999),schema:bucket,type:terms)),listeners:(),params:(perPage:10,showMeticsAtAllLevels:!f,showPartialRows:!f,showTotal:!f,sort:(columnIndex:5,direction:desc),totalFunc:sum),title:'Groups',type:table))"
						vis-filter="{{agentInfo.name ? 'agent.name:'+agentInfo.name : '*'}}">
					</kbn-vis>
				</md-card-content>
			</md-card>
		</md-content>
	</div>
</md-content>
