<md-content ng-if="submenuNavItem == 'policy_monitoring' && tabView == 'panels'" ng-if="_agent">
<kbn-searchbar></kbn-searchbar>
    <div flex ng-controller="pmController" layout="column">
        <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="load"></md-progress-linear>
            <md-content layout="row">
                <md-card flex="40">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Rootcheck alerts evolution</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <kbn-vis vis-height="100px" vis-type="histogram" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'rule.groups:%20rootcheck')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:'@timestamp',interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'New%20Visualization',type:histogram))"
                            vis-filter="{{_agent.name ? 'AgentName:'+_agent.name : '*'}}">
                        </kbn-vis>
                    </md-card-content>
                </md-card>
                <md-card flex="30"> 
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">CIS Controls</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <kbn-vis vis-height="100px" vis-type="pie" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'rule.groups:%20rootcheck')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.CIS,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'New%20Visualization',type:pie))"
                            vis-filter="{{'AgentName:'+_agent.name}}"
							>
                        </kbn-vis>
                    </md-card-content>
                </md-card>
            </md-content>
            <div flex layout="row" layout-align="space-between stretch">
                
                    <div layout="row" layout-align="space-between stretch" ng-show="false">
                        <md-input-container layout="row" class="sideNavBox" flex="40">
                            <label for="searchBox">Search</label>
                            <input type="text" id="searchBox" ng-model="$parent._eventSearch" ng-change="eventSearchFilter($parent._eventSearch)" flex>
                        </md-input-container>
                        <div flex="60"></div>
                    </div>
                
            </div>
			<div layout="row" layout-align="space-between stretch">
					<md-card flex="100">
					<md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Last events</span>
                        </md-card-title-text>
                    </md-card-title>
					<kbn-dis table-height="600px" dis-a="(columns:!(rule.description,title,rule.CIS,rule.PCI_DSS,AlertsFile),index:'ossec-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'location:rootcheck')),sort:!('@timestamp',desc))"
					dis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-{{timerFilterValue}},mode:quick,to:now))"
					dis-filter="location: rootcheck AND {{'AgentName:'+_agent.name}}"
					infinite-scroll="true">
					</kbn-dis>
					</md-card>
				
           </div>
    </div>
</md-content>
