<md-content flex layout="column" ng-if="tab === 'general'" layout-align="start">

    <div class='uil-ring-css' ng-show="resultState === 'loading' && tabView === 'panels'"><div></div></div>

    <div ng-show="resultState === 'ready' && tabView === 'panels'">
        <div layout="row" class="agents-overview-top-metric-row">
            <md-card flex>
                <md-card-content class="agents-overview-top-metric-item">
                    <div class="metric-value ng-binding agents-overview-size-14">{{agent.name}}</div>
                    <!--<md-tooltip md-direction="bottom">{{ agent.name }}</md-tooltip>-->
                    <div class="ng-binding">Name</div>
                </md-card-content>
            </md-card>
            <md-card  flex="12">
                <md-card-content class="agents-overview-top-metric-item">
                    <div class="metric-value ng-binding agents-overview-size-14">{{agent.ip}}</div>
                    <!--<md-tooltip md-direction="bottom">{{ agent.ip }}</md-tooltip>-->
                    <div class="ng-binding">IP Address</div>
                </md-card-content>
            </md-card>
            <md-card ng-if="agent.version" flex="12">
                <md-card-content class="agents-overview-top-metric-item">
                    <div class="metric-value ng-binding agents-overview-size-14">{{ agent.version | limitTo: 12 }}{{agent.version.length > 12 ? '...' : ''}}</div>
                    <!--<md-tooltip md-direction="bottom">{{ agent.version }}</md-tooltip>-->
                    <div class="ng-binding">Version</div>
                </md-card-content>
            </md-card>
            <md-card ng-if="agent.group" flex="12">
                <md-card-content class="agents-overview-top-metric-item" ng-click="goGroups(agent)">
                    <div class="metric-value ng-binding agents-overview-size-14" >{{ agent.group }}</div>
                    <!--<md-tooltip md-direction="bottom">{{ agent.version }}</md-tooltip>-->
                    <div class="ng-binding">Group</div>
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-content class="agents-overview-top-metric-item">
                    <div class="metric-value ng-binding legend-value-truncate agents-overview-size-14">{{ agentOS }}</div>
                    <!--<md-tooltip md-direction="bottom">{{ agentOS }}</md-tooltip>-->
                    <div class="ng-binding">OS</div>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" class="agents-overview-second-row">
            <md-card flex ng-show="agent.id != '000'">
                <md-card-content class="agents-overview-top-metric-item">
                    <div class="metric-value ng-binding agents-overview-size-14">{{agent.lastKeepAlive || 'Unknown' }}</div>
                    <!--<md-tooltip md-direction="bottom">{{ agent.lastKeepAlive }}</md-tooltip>-->
                    <div class="ng-binding">Last keep alive</div>
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-content class="agents-overview-top-metric-item">
                    <div class="metric-value ng-binding agents-overview-size-14">{{agent.dateAdd}}</div>
                    <!--<md-tooltip md-direction="bottom">{{ agent.dateAdd }}</md-tooltip>-->
                    <div class="ng-binding">Registration date</div>
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-content class="agents-overview-top-metric-item">
                    <div class="metric-value ng-binding agents-overview-size-14" ng-if="agent.syscheck.inProgress">Scan in progress</div>
                    <div ng-if="!agent.syscheck.inProgress" class="metric-value ng-binding agents-overview-size-14">{{agent.syscheck.end || 'Unknown'}}</div>
                    <md-tooltip ng-if="!agent.syscheck.inProgress && agent.syscheck.start && agent.syscheck.end" md-direction="bottom">
                        Start time: {{ agent.syscheck.start || 'Unknown'}} <br>
                        End time: {{ agent.syscheck.end || 'Unknown'}} <br>
                        Duration time: {{ agent.syscheck.duration +' minutes' || 'Unknown'}}
                    </md-tooltip>
                    <div class="ng-binding">Last syscheck scan</div>
                </md-card-content>
            </md-card>
            <md-card flex>
                <md-card-content class="agents-overview-top-metric-item">
                    <div class="metric-value ng-binding agents-overview-size-14" ng-if="agent.rootcheck.inProgress">Scan in progress</div>
                    <div ng-if="!agent.rootcheck.inProgress" class="metric-value ng-binding agents-overview-size-14">{{agent.rootcheck.end || 'Unknown'}}</div>
                    <md-tooltip ng-if="!agent.rootcheck.inProgress && agent.rootcheck.start && agent.rootcheck.end" md-direction="bottom">
                        Start time: {{ agent.rootcheck.start || 'Unknown'}} <br>
                        End time: {{ agent.rootcheck.end || 'Unknown'}} <br>
                        Duration time: {{ agent.rootcheck.duration + ' minutes' || 'Unknown' }}
                    </md-tooltip>
                    <div class="ng-binding">Last rootcheck scan</div>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <!-- View: Panels -->
    <div ng-show="resultState === 'ready' && tabView === 'panels'">

        <div layout="row" class="agents-overview-top">
            <md-card flex="33">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Top 5 alerts</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Top-5-alerts'" id="Wazuh-App-Agents-Overview-Top-5-alerts"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="33">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Top 5 groups</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Top-5-groups'" id="Wazuh-App-Agents-Overview-Top-5-groups"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="33">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Top 5 PCI DSS Requirements</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Top-5-PCI-DSS-Requirements'" id="Wazuh-App-Agents-Overview-Top-5-PCI-DSS-Requirements"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="start stretch" class="agents-overview-alerts">
            <md-card flex>
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Alert level evolution</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Alert-level-evolution'" id="Wazuh-App-Agents-Overview-Alert-level-evolution"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="60">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Alerts</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Alerts'" id="Wazuh-App-Agents-Overview-Alerts"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" class="agents-overview-summary">
            <md-card  flex="60">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Alerts summary</span>
                    <kbn-vis class="kbn-chart" vis-id="'Wazuh-App-Agents-Overview-Alerts-summary'" id="Wazuh-App-Agents-Overview-Alerts-summary"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="40">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Groups summary</span>
                    <kbn-vis class="kbn-chart" vis-id="'Wazuh-App-Agents-Overview-Groups-summary'" id="Wazuh-App-Agents-Overview-Groups-summary"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
