<div flex ng-controller="agentsController" layout="column">
	<md-content class="md-padding">
		<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
			<md-nav-item md-nav-href="#/agents" name="overview">Overview</md-nav-item>
			<md-nav-item md-nav-href="#/agents/metrics" name="metrics">Metrics</md-nav-item>
		</md-nav-bar>
	</md-content>

	<div flex layout="row" layout-align="center center" ng-if="load">
		<img style="display: inline-block; width: auto;" src="/plugins/wazuh/img/loading.gif"></img>
	</div>

	<div flex layout="row" ng-if="!load">

		<div flex layout="column">
			<md-content flex layout="row">
				<div flex layout-align="center center" class="md-padding">
					<label>Filter:</label>
					<md-button class="md-raised" ng-class="{ 'md-primary': statusFilter == 'active' }"
						 ng-click="agentStatusFilter('active')">Active</md-button>
					<md-button class="md-raised" ng-class="{ 'md-primary': statusFilter == 'disconnected' }"
						 ng-click="agentStatusFilter('disconnected')">Disconnected</md-button>
					<md-button class="md-raised" ng-class="{ 'md-primary': statusFilter == 'never connected' }"
						 ng-click="agentStatusFilter('never connected')">Never connected</md-button>
				</div>
			</md-content>
			<md-content flex id="content">

			</md-content>

		</div>

		<md-sidenav md-is-locked-open="true" md-disable-backdrop class="md-sidenav-right md-whiteframe-z2">
			<md-input-container class="sideNavBox">
				<label for="searchBox">Search</label>
				<input type="text" id="searchBox" ng-model="$parent.search" ng-change="agentsGet()" md-autofocus>
			</md-input-container>
			<md-virtual-repeat-container class="vertical-repeater">
				<div md-virtual-repeat="agent in agentsObj" md-on-demand flex>
					<div layout="column" layout-align="space-around stretch">
						<md-card>
							<md-card-title>
								<md-card-title-text>
									<span class="md-title">{{agent.id}}</span>
									<span class="md-subhead">{{agent.name}} - {{agent.ip}}</span>
								</md-card-title-text>
								<div layout="column" class="status" ng-class="getAgentStatusClass(agent.status);">
								</div>
							</md-card-title>
						</md-card>
					</div>
				</div>
			</md-virtual-repeat-container>
		</md-sidenav>

	</div>

</div>