<md-content ng-if="submenuNavItem == 'audit' && _agent" id="agents-audit" ng-controller="auditController" class="app-container wazuh-column">

	<!--FUCKING RING<div class='uil-ring-css' ng-if="tabView == 'panels'"><div></div></div>-->

	<!-- Kibana search bar -->
	<!-- Local nav. -->
	<div ng-if="!loading" ng-controller="kibanaSearchbar">
		<kbn-top-nav name="agents_fim" config="topNavMenu">
			<div data-transclude-slots>
				<div ng-show="chrome.getVisible()" class="fullWidth" data-transclude-slot="bottomRow">
					<query-bar query="state.query" app-name="'wazuh'" on-submit="updateQueryAndFetch($query)"></query-bar>
				</div>
			</div>
		</kbn-top-nav>

		<filter-bar	ng-show="showFilterBar()" state="state" index-patterns="indexPattern" ng-if="state.query.language === 'lucene'"></filter-bar>
	</div>
	<!-- No results message -->
	<md-content flex layout="row" layout-align="start start" ng-show="!results && !loading" ng-if="tabView == 'panels'">
		<md-card flex layout="column">
			<md-card-content style="text-align: center;">
				No results for selected time interval
			</md-card-content>
		</md-card>
	</md-content>


	<!-- View: Discover -->
	<md-content style="background-color: white" flex layout="column" layout-align="start space-around" ng-if="tabView == 'discover' && agentInfo.name" >
		<kbn-disfull table-height="1000px;" dis-a="(columns:!(_source),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"		dis-filter="rule.groups:audit" infinite-scroll="true"></kbn-disfull>
	</md-content>

	<div flex ng-show="results && !loading" ng-if="tabView == 'panels' && !load" layout="column">
		<md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="load"></md-progress-linear>
		<div layout="row" layout-align="center stretch" class="wazuh-row" style="height: 115px;">
			<md-card class="wazuh-row">
				<md-card-content class="wazuh-row metric">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-New-files-metric'" id="Wazuh-App-Agents-Audit-New-files-metric"></kbn-vis>
				</md-card-content>
			</md-card>
			<md-card class="wazuh-row">
				<md-card-content class="wazuh-row metric">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Read-files-metric'" id="Wazuh-App-Agents-Audit-Read-files-metric"></kbn-vis>
				</md-card-content>
			</md-card>
			<md-card class="wazuh-row">
				<md-card-content class="wazuh-row metric">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Modified-files-metric'" id="Wazuh-App-Agents-Audit-Modified-files-metric"></kbn-vis>
				</md-card-content>
			</md-card>
			<md-card class="wazuh-row">
				<md-card-content class="wazuh-row metric">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Removed-files-metric'" id="Wazuh-App-Agents-Audit-Removed-files-metric"></kbn-vis>
				</md-card-content>
			</md-card>

			<md-card  class="wazuh-row">
					<md-card-content class="wazuh-row" style="text-align: center;">
						<div class="ng-binding">Latest alert</div>
						<kbn-vis class="kbn-vis-value" vis-id="'Wazuh-App-Agents-Audit-Latest-alert'" id="Wazuh-App-Agents-Audit-Latest-alert"></kbn-vis>
					</md-card-content>
				</md-card>
		</div>

		<div layout="row" layout-align="center stretch" class="wazuh-row" style="height: 200px;">

			<md-card class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Groups</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Groups'" id="Wazuh-App-Agents-Audit-Groups"></kbn-vis>
				</md-card-content>
			</md-card>
			<md-card class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Directories</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Directories'" id="Wazuh-App-Agents-Audit-Groups"></kbn-vis>
				</md-card-content>
			</md-card>

			<md-card class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Files</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Files'" id="Wazuh-App-Agents-Audit-Files"></kbn-vis>
				</md-card-content>
			</md-card>
		</div>

		<div layout="row" layout-align="center stretch" class="wazuh-row" style="height: 310px;">
			<md-card class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Alerts over time</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Alerts-over-time'" id="Wazuh-App-Agents-Audit-Alerts-over-time"></kbn-vis>
				</md-card-content>
			</md-card>
		</div>

		<div layout="row" layout-align="center stretch" class="wazuh-row" style="height: 140px;">
			<md-card class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">File read access</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-File-read-access'" id="Wazuh-App-Agents-Audit-File-read-access"></kbn-vis>
				</md-card-content>
			</md-card>

			<md-card class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">File write access</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-File-write-access'" id="Wazuh-App-Agents-Audit-File-write-access"></kbn-vis>
				</md-card-content>
			</md-card>

			<md-card class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Created files</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Created-files'" id="Wazuh-App-Agents-Audit-Created-files"></kbn-vis>
				</md-card-content>
			</md-card>

			<md-card class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Removed files</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Removed-files'" id="Wazuh-App-Agents-Audit-Removed-files"></kbn-vis>
				</md-card-content>
			</md-card>
		</div>

		<div layout="row" layout-align="center stretch" class="wazuh-row" style="height: 320px;">
			<md-card flex="40" class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Commands</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Commands'" id="Wazuh-App-Agents-Audit-Commands"></kbn-vis>
				</md-card-content>
			</md-card>

			<md-card flex="60" class="wazuh-row">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Last alerts</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content class="wazuh-row">
					<kbn-vis vis-id="'Wazuh-App-Agents-Audit-Last-alerts'" id="Wazuh-App-Agents-Audit-Last-alerts"></kbn-vis>
				</md-card-content>
			</md-card>
		</div>
	</div>
</md-content>