<md-content flex layout="column" ng-if="tab === 'pm'" layout-align="start">

    <div class='uil-ring-css' ng-show="resultState === 'loading' && tabView === 'panels'"><div></div></div>

    <!-- View: Panels -->
    <div ng-show="resultState === 'ready' && tabView === 'panels'">
        <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="load"></md-progress-linear>

        <div layout="row" class="agents-pm-top-row">
            <md-card flex="50">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Alerts over time</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-PM-Alerts-over-time'" id="Wazuh-App-Agents-PM-Alerts-over-time"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="25">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Top 5 CIS Requirements</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-PM-Top-5-CIS-Requirements'" id="Wazuh-App-Agents-PM-Top-5-CIS-Requirements"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="25">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Top 5 PCI DSS Requirements</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-PM-Top-5-PCI-DSS-Requirements'" id="Wazuh-App-Agents-PM-Top-5-PCI-DSS-Requirements"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="space-between stretch" class="agents-pm-alerts-summary">
            <md-card flex="100">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Alerts summary</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-PM-Alerts-summary'" id="Wazuh-App-Agents-PM-Alerts-summary"></kbn-vis>
                </md-card-content>
            </md-card>
       </div>
    </div>
</md-content>
