include ./agents.head
include ./agents-preview.html
include ./agents-overview.html
include ./agents-fim.html
include ./agents-pm.html
include ./agents-oscap.html
include ./tabview-discover.html
include ./tabview-dashboard.html
include ./agents.foot