<md-content ng-if="tab == 'pci' && _agent" id="agents-pci" ng-controller="PCIController">

    <div class='uil-ring-css' ng-if="tabView == 'panels'" ng-show='!hideRing(3)'><div></div></div>

    <!-- Kibana search bar -->
    <!-- Local nav. -->
    <div ng-if="hideRing(3) && !loading" ng-controller="kibanaSearchbar">
        <kbn-top-nav name="agents_fim" config="topNavMenu">
            <!-- Transcluded elements. -->
            <div data-transclude-slots>
                <!-- Title. -->

                <!-- Search. -->
                <div ng-show="chrome.getVisible()" class="fullWidth" data-transclude-slot="bottomRow">
                    <query-bar query="state.query" app-name="'wazuh'" on-submit="updateQueryAndFetch($query)">
                    </query-bar>
                </div>
            </div>
        </kbn-top-nav>

        <!-- Filters. -->
        <filter-bar ng-show="showFilterBar()" state="state" index-patterns="indexPattern" ng-if="state.query.language === 'lucene'"></filter-bar>
    </div>

    <!-- No results message -->
    <md-content flex layout="row" layout-align="start start" ng-show="!results && !loading" ng-if="tabView == 'panels' && hideRing(3)">
        <md-card flex layout="column">
            <md-card-content class="agents-pci-no-results">
                No results for selected time interval
            </md-card-content>
        </md-card>
    </md-content>

    <!-- View: Discover -->
    <md-content class="agents-pci-discover" flex layout="column" layout-align="start space-around" ng-if="tabView == 'discover' && agentInfo.name">
        <kbn-disfull table-height="1000px;" dis-a="(columns:!(_source),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
        dis-filter="_exists_:rule.pci_dss "
        infinite-scroll="true">
        </kbn-disfull>
    </md-content>

    <!-- View: Panels -->
    <div flex ng-show="hideRing(3) && results && !loading" ng-if="tabView == 'panels' && !load" class="wazuh-column">

        <div layout="row" layout-align="center stretch">
            <md-card flex>
                <md-tabs md-selected="selectedIndex" md-border-bottom md-dynamic-height id="pciReq_tab">
                    <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                        <div flex  class="md-padding agents-pci-discover">
                            <h1 class="md-display-2 wazuh-h1 agents-pci-h1">PCI DSS Requirement: {{tab.title}}</h1>
                            <div ng-bind-html="tab.content"></div>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-card>
        </div>

        <div layout="row" layout-align="center stretch" class="agents-pci-row-225">
            <md-card flex="70">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Requirements</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-PCI-Requirements'" id="Wazuh-App-Agents-PCI-Requirements"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="30">
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Groups</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-PCI-Groups'" id="Wazuh-App-Agents-PCI-Groups"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="center stretch" class="agents-pci-row-540">
            <md-card flex>
                <md-card-content class="wazuh-column">
                    <span class="md-headline">Last alerts</span>
                    <kbn-vis vis-id="'Wazuh-App-Agents-PCI-Last-alerts'" id="Wazuh-App-Agents-PCI-Last-alerts"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
