<div>
	<ul class="wazuh-submenu">
		<li class="active"><a>Overview</a></li>
		<li><a href="/app/wazuh#/agents/metrics">Metrics</a></li>
	</ul>
</div>
<div class="container" ng-controller="agentsController">
	<div ng-if="load" style="text-align: center;">
		<img style="display: inline-block; width: auto;" src="/plugins/wazuh/img/loading.gif"></img>
	</div>
	<div class="row containerAgents" ng-if="!load">
		<div id="messages" ng-show="message" class="settings-message-error" ng-bind-html="message">{{ message }}</div>
		<div class="leftCol">
			<h2 class="container_page_title">Agents overview</h2>
			<div style="width: 19%; height: 35px; border-radius: 4px; background-color: rgb(249, 249, 249); border: 1px solid rgb(204, 204, 204); float: left;">
				<div style="float: left;">
					<form class="form-inline ng-pristine ng-valid">
						<div class="form-group" style="position: relative;">
							<i class="fa fa-search input_search_icon"></i>
							<input type="text" ng-change="agentsGet()" ng-model="$parent.search" class="form-control ng-pristine ng-untouched ng-valid agentSearch"
								placeholder="Search...">
						</div>
					</form>
				</div>
			</div>
			<div style="margin-left: 10px; width: 43%; height: 35px; border-radius: 4px; background-color: rgb(249, 249, 249); border: 1px solid rgb(204, 204, 204); float: left; text-align: left;">
				<div style="font-weight: bold;border-right: 1px solid #ccc; border-radius: 0px;" class="agentSortFilter">
					Sort by
				</div>
				<div class="agentSortFilter" ng-click="sort('status')">
					<span>Status</span>
					<span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-triangle-top':reverse,'glyphicon-triangle-bottom':!reverse}"></span>
					<span class="glyphicon sort-icon glyphicon-minus" ng-show="sortKey!='status'"></span>
				</div>
				<div class="agentSortFilter" ng-click="sort('ip')">
					<span>IP</span>
					<span class="glyphicon sort-icon" ng-show="sortKey=='ip'" ng-class="{'glyphicon-triangle-top':reverse,'glyphicon-triangle-bottom':!reverse}"></span>
					<span class="glyphicon sort-icon glyphicon-minus" ng-show="sortKey!='ip'"></span>
				</div>
				<div class="agentSortFilter" ng-click="sort('name')">
					<span>Name</span>
					<span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-triangle-top':reverse,'glyphicon-triangle-bottom':!reverse}"></span>
					<span class="glyphicon sort-icon glyphicon-minus" ng-show="sortKey!='name'"></span>
				</div>
				<div class="agentSortFilter" ng-click="sort('id')">
					<span>ID</span>
					<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-triangle-top':reverse,'glyphicon-triangle-bottom':!reverse}"></span>
					<span class="glyphicon sort-icon glyphicon-minus" ng-show="sortKey!='id'"></span>
				</div>
			</div>
			<div style="margin-left: 10px; width: 35%; height: 35px; border-radius: 4px; background-color: rgb(249, 249, 249); border: 1px solid rgb(204, 204, 204); float: left; text-align: left;">
				<div ng-class="{ agent_filter_status_active: statusFilter == 'active' }" ng-click="agentStatusFilter('active')" style="font-weight: bold;border-right: 1px solid #ccc; border-radius: 0px;"
					class="agentSortFilter">Active </div>
				<div ng-class="{ agent_filter_status_active: statusFilter == 'disconnected' }" ng-click="agentStatusFilter('disconnected')"
					style="font-weight: bold; border-right: 1px solid rgb(204, 204, 204); border-radius: 0px; width: 100px;" class="agentSortFilter">Disconnected</div>
				<div ng-class="{ agent_filter_status_active: statusFilter == 'never connected' }" ng-click="agentStatusFilter('never connected')"
					style="font-weight: bold; border-right: 1px solid rgb(204, 204, 204); border-radius: 0px; width: 132px;" class="agentSortFilter">Never connected</div>
			</div>


			<div class="agent_card_list" ng-repeat="agent in agents" ng-init="agentFetchInfo[agent.id]=[];">
				<div class="agent_card" ng-class="{ agent_card_active: showDetails }" ng-click="showDetails = ! showDetails; showDetails ? fetchAgent(agent,$index) : null;">
					<div class="id"> {{agent.id}} </div>
					<div class="float_left">
						<div class="name">{{agent.name}}</div>
						<div class="ip">{{agent.ip}}</div>
					</div>
					<div class="float_right">
						<div ng-class='getAgentStatusClass(agent.status);' class="status" ng-style="{ 'border-bottom-right-radius' : (showDetails) ? '0px' : '4px' }"></div>
					</div>
				</div>
				<div style="" class="agent_card_detail" ng-show="showDetails">
					<ul id="agentsTabs">
						<li><a ng-click="setTab(1,$index)" href="" ng-class="{ active: isSetTab(1,$index) }" class="active">Global</a></li>
						<li><a ng-click="isSetTab(2,$index) ? null : fetchFim(agent); setTab(2,$index);" href="" ng-class="{ active: isSetTab(2,$index) }">File integrity</a></li>
						<li><a ng-click="isSetTab(3,$index) ? null: fetchRootcheck(agent); setTab(3,$index);" href="" ng-class="{ active: isSetTab(3,$index) }">Rootcheck</a></li>
						<li><a ng-click="setTab(4,$index)" href="" ng-class="{ active: isSetTab(4,$index) }">Discover</a></li>
						<li><a ng-click="setTab(5,$index)" href="" ng-class="{ active: isSetTab(5,$index) }">Dashboards</a></li>
					</ul>
					<div class="agentTabs-container">
						<div class="agentsTabs-info" ng-show="isSetTab(1,$index)">
							<div class="agentsTabs-box">
								<table class="table-agent-information">
									<tbody>
										<tr>
											<td class="table-agent-information-td-title">ID</td>
											<td class="table-agent-information-td-value ng-binding">{{agent.id}}</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title">Name</td>
											<td class="table-agent-information-td-value ng-binding">{{agent.name}}</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title">IP address</td>
											<td class="table-agent-information-td-value ng-binding">{{agent.ip}}</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title">Status</td>
											<td class="table-agent-information-td-value ng-binding">{{agent.status}}</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title">Operating system</td>
											<td class="table-agent-information-td-value ng-binding">{{agentFetchInfo[agent.id].os}}</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title">Client version</td>
											<td class="table-agent-information-td-value ng-binding">{{agentFetchInfo[agent.id].version}}</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title">Last keep alive</td>
											<td class="table-agent-information-td-value ng-binding">{{agentFetchInfo[agent.id].lastKeepAlive}}</td>
										</tr>
										<tr ng-class="{ hidden: (agent.id == '000') }">
											<td class="table-agent-information-td-title">Agent key</td>
											<td class="table-agent-information-td-value ng-binding"><input type="text" class="js-copytextarea" ng-model="agentFetchInfo[agent.id].key" ng-readonly="true"></input>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul class="agentsTabs-controlButtons">
								<li ng-class="{ hidden: (agent.id == '000') }">
									<a ng-click="copyAgentKey($index);">
										<span class="form-group-addon glyphicon glyphicon-copy iconControl"></span> Copy key
									</a>
								</li>
								<li ng-class="{ hidden: (agent.id == '000') }">
									<a ng-click="restart(agent)">
										<span class="form-group-addon glyphicon glyphicon-repeat iconControl"></span> Restart
									</a>
								</li>
								<li ng-class="{ hidden: (agent.id == '000') }">
									<a ng-click="delete(agent)">
										<span class="form-group-addon glyphicon glyphicon-remove iconControl"></span> Delete
									</a>
								</li>
								<li>
									<a ng-click="loadAlertsUrl(agent.name)">
										<span class="form-group-addon glyphicon glyphicon-share iconControl"></span> Discover alerts
									</a>
								</li>
								<li>
									<a ng-click="loadAgentMetrics(agent.name)">
										<span class="form-group-addon glyphicon glyphicon-share iconControl"></span> Metrics
									</a>
								</li>
							</ul>
						</div>
						<div class="agentsTabs-file-integrity" ng-show="isSetTab(2,$index)">
							<div class="agentsTabs-box">
								<table class="table-agent-information">
									<tbody>
										<tr>
											<td class="table-agent-information-td-title">Last scan started</td>
											<td class="table-agent-information-td-value ng-binding">{{agentFetchInfo[agent.id].syscheckTime}}</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title">Last scan ended</td>
											<td class="table-agent-information-td-value ng-binding">{{agentFetchInfo[agent.id].syscheckEndTime}}</td>
										</tr>
										<tr ng-if="agentFetchInfo[agent.id].syscheckEvents">
											<td class="table-agent-information-td-title" colspan="2">Last events:</td>
										</tr>
										<tr ng-repeat="event in agentFetchInfo[agent.id].syscheckEvents" ng-if="agentFetchInfo[agent.id].syscheckEvents">
											<td class="table-event-information-td-value ng-binding" style="width: 80px; overflow: hidden; padding-top: 10px;">{{event.event.charAt(0).toUpperCase() + event.event.slice(1)}}</td>
											<td class="table-event-information-td-value ng-binding" style="width: 320px; overflow: hidden; padding-top: 10px;"><b>MD5: </b>{{event.md5}}</td>
											<td class="table-event-information-td-value ng-binding" style="width: 60px; padding-top: 10px;"><span tooltips tooltip-template="{{event.permissions}}">{{event.octalMode.slice(-4)}}</span></td>
											<td class="table-event-information-td-value ng-binding" style="width: 90px; padding-bottom: 0px;"><span tooltips tooltip-template="User Id: {{event.uid}}</br>Group Id: {{event.gid}}">
                            					<span style="float: left; clear: left;"><b>U: </b>{{event.user}}</span>
												<span style="float: left; clear: left;"><b>G: </b>{{event.group}}</span></span>
											</td>
											<td class="table-event-information-td-value ng-binding" style="float: right; width: 200px; text-align: center; padding-top: 10px;">{{event.modificationDate}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul class="agentsTabs-controlButtons">
								<li>
									<a ng-click="loadFIM(agent.id);">
										<span class="form-group-addon glyphicon glyphicon-share iconControl"></span> Details
									</a>
								</li>
								<li>
									<a ng-click="runSyscheck(agent);">
										<span class="form-group-addon glyphicon glyphicon-repeat iconControl"></span> Restart scan
									</a>
								</li>
								<li>
									<a ng-click="deleteSyscheck(agent);">
										<span class="form-group-addon glyphicon glyphicon-remove iconControl"></span> Clear database
									</a>
								</li>
							</ul>
						</div>
						<div class="agentsTabs-file-rootcheck" ng-show="isSetTab(3,$index)">
							<div class="agentsTabs-box">
								<table class="table-agent-information">
									<tbody>
										<tr>
											<td class="table-agent-information-td-title">Last scan started</td>
											<td class="table-agent-information-td-value ng-binding">{{agentFetchInfo[agent.id].rootcheckTime}}</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title">Last scan ended</td>
											<td class="table-agent-information-td-value ng-binding">{{agentFetchInfo[agent.id].rootcheckEndTime}}</td>
										</tr>
										<tr ng-if="agentFetchInfo[agent.id].rootcheckEvents">
											<td class="table-agent-information-td-title" colspan="2">Last events:</td>
										</tr>
										<tr ng-repeat="event in agentFetchInfo[agent.id].rootcheckEvents" ng-if="agentFetchInfo[agent.id].rootcheckEvents">
											<td class="table-agent-information-td-value ng-binding" style="width: 565px; height: 50px; overflow: hidden; white-space: nowrap;">
												{{event.event}}
											</td>
											<td class="table-agent-information-td-value ng-binding">
												<span class="upperDate">First scan: {{event.oldDay}}</span><span class="bottomDate" style="padding-left: 2px;">Last scan: {{event.readDay}}</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul class="agentsTabs-controlButtons">
								<li>
									<a ng-click="loadRootcheck(agent.id);">
										<span class="form-group-addon glyphicon glyphicon-share iconControl"></span> Details
									</a>
								</li>
								<li>
									<a ng-click="runSyscheck(agent);">
										<span class="form-group-addon glyphicon glyphicon-repeat iconControl"></span> Restart scan
									</a>
								</li>
								<li>
									<a ng-click="deleteRootcheck(agent);">
										<span class="form-group-addon glyphicon glyphicon-remove iconControl"></span> Clear database
									</a>
								</li>
							</ul>
						</div>
						<div class="agentsTabs-file-alerts" ng-show="isSetTab(4,$index)">
							<div class="agentsTabs-box">
								<table class="table-agent-information">
									<tbody>
										<tr>
											<td class="table-agent-information-td-title"><a ng-click="loadAlertsUrl(agent.name, 'rule.AlertLevel:>10')">High risk level</a></td>
											<td class="table-agent-information-td-value ng-binding">
												<a ng-click="loadAlertsUrl(agent.name, 'rule.AlertLevel:>10')" class="glyphicon glyphicon-chevron-right"></a>
											</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title"><a ng-click="loadAlertsUrl(agent.name, 'rule.groups:attacks')">Attacks</a></td>
											<td class="table-agent-information-td-value ng-binding">
												<a ng-click="loadAlertsUrl(agent.name, 'rule.groups:attacks')" class="glyphicon glyphicon-chevron-right"></a>
											</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title"><a ng-click="loadAlertsUrl(agent.name, 'rule.groups:syscheck')">FIM</a></td>
											<td class="table-agent-information-td-value ng-binding">
												<a ng-click="loadAlertsUrl(agent.name, 'rule.groups:syscheck')" class="glyphicon glyphicon-chevron-right"></a>
											</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title"><a ng-click="loadAlertsUrl(agent.name, 'rule.groups:rootcheck')">Rootcheck</a></td>
											<td class="table-agent-information-td-value ng-binding">
												<a ng-click="loadAlertsUrl(agent.name, 'rule.groups:rootcheck')" class="glyphicon glyphicon-chevron-right"></a>
											</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title"><a ng-click="loadAlertsUrl(agent.name, 'rule.groups:sshd')">SSH</a></td>
											<td class="table-agent-information-td-value ng-binding">
												<a ng-click="loadAlertsUrl(agent.name, 'rule.groups:sshd')" class="glyphicon glyphicon-chevron-right"></a>
											</td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title"><a ng-click="loadAlertsUrl(agent.name, 'rule.groups:authentication_failures')">Auth failures</a></td>
											<td class="table-agent-information-td-value ng-binding">
												<a ng-click="loadAlertsUrl(agent.name, 'rule.groups:authentication_failures')" class="glyphicon glyphicon-chevron-right"></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul class="agentsTabs-controlButtons">
								<li>
									<a ng-click="loadAlertsUrl(agent.name)">
										<span class="form-group-addon glyphicon glyphicon-share iconControl"></span> Discover alerts
									</a>
								</li>
							</ul>
						</div>
						<div class="agentsTabs-file-dashboards" ng-show="isSetTab(5,$index)">
							<div class="agentsTabs-box">
								<table class="table-agent-information">
									<tbody>
										<tr>
											<td class="table-agent-information-td-title" ng-click="loadDashboardUrl(agent.name)">OSSEC dashboard</td>
											<td class="table-agent-information-td-value ng-binding"><span class="glyphicon glyphicon-chevron-right" ng-click="loadDashboardUrl(agent.name)"></span></td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title" ng-click="loadComplianceDashboardUrl(agent.name, 'pci');">PCI dashboard</td>
											<td class="table-agent-information-td-value ng-binding"><span class="glyphicon glyphicon-chevron-right" ng-click="loadComplianceDashboardUrl(agent.id, 'pci');"></span></td>
										</tr>
										<tr>
											<td class="table-agent-information-td-title" ng-click="loadComplianceDashboardUrl(agent.name, 'cis');">CIS dashboard</td>
											<td class="table-agent-information-td-value ng-binding"><span class="glyphicon glyphicon-chevron-right" ng-click="loadComplianceDashboardUrl(agent.id, 'cis');"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul class="agentsTabs-controlButtons">
							</ul>
						</div>

					</div>
				</div>
			</div>
			<span class="glyphicon glyphicon-chevron-left" ng-click="agentsPrev()" ng-show="agentsHasPrev()"></span><span class="glyphicon glyphicon-chevron-right"
				ng-click="agentsNext()" ng-show="agentsHasNext()"></span>
		</div>

		<div class="rightCol">
			<div class="block">
				<div class="titleCol">
					<h2>ADD AGENT</h2>
				</div>
				<form ng-submit="addAgent()">
					<div class="form-group add-agent-form">
						<input type="text" ng-model="$parent.newName" class="form-control" placeholder="Agent name">
						<input type="text" ng-model="$parent.newIp" class="form-control" placeholder="IP Address, Netmask or any">
						<button type="submit" class="btn btn-success button_addAgent">
					<span>Send</span>
					</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>