<div flex ng-controller="agentsController" layout="column">

	<md-content class="md-padding">
		<md-nav-bar md-selected-nav-item="menuNavItem" nav-bar-aria-label="navigation menu">
			<md-nav-item id="header_logo" md-nav-href="#/" name="wazuh" aria-label="img logo">
				<img aria-label="Logo image" src="/plugins/wazuh/icon.png" height="44" weight="252"></img>
			</md-nav-item>
			<md-nav-item md-nav-href="#/manager" name="manager">Manager</md-nav-item>
			<md-nav-item md-nav-href="#/agents" name="agents">Agents</md-nav-item>
			<md-nav-item md-nav-href="#/ruleset" name="ruleset">Ruleset</md-nav-item>
			<md-nav-item md-nav-href="#/fim" name="fim">File integrity</md-nav-item>
			<md-nav-item md-nav-href="#/policy_monitoring" name="policy_monitoring">Policy monitoring</md-nav-item>
			<md-nav-item md-nav-href="#/settings" name="settings">Settings</md-nav-item>
		</md-nav-bar>
	</md-content>

	<md-content layout-padding layout="column">
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete
          ng-disabled="isDisabled"
          md-no-cache="noCache"
          md-selected-item="selectedItem"
          md-search-text="search"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in agentsGet(search)"
          md-item-text="item.name"
          md-min-length="0"
          placeholder="Search for agent"
					ng-init="search=item.name"
          md-menu-class="autocomplete-custom-agents-bar">
        <md-item-template>
          <span class="item-title">
            <span> <strong> {{item.name}} </strong></span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat"> {{item.id}} </span>
            <span class="item-metastat"> {{item.ip}} </span>
						<span class="item-metastat"> {{item.status}} </span>
          </span>
        </md-item-template>
      </md-autocomplete>
    </form>
  </md-content>
	<md-content layout-padding layout="row">
	<!-- kbn vis-->
 <div flex>
	<kbn-vis vis-height="600px;" vis-type="line" vis-index-pattern="ossec-*"
	vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'AgentName:vpc-agent-centos-public')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:'@timestamp',interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'NewVisualization',type:line))"
	vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))" vis-filter="*">
	</kbn-vis>
	</div>

	<div flex>
 	<kbn-vis vis-height="600px;" vis-type="pie" vis-index-pattern="ossec-*"
 	vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'AgentName:vpc-agent-centos-public')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.groups,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'NewVisualization',type:pie))"
 	vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))" vis-filter="*">
 	</kbn-vis>
 	</div>

	<div flex>
	<kbn-vis vis-height="600px;" vis-type="pie" vis-index-pattern="ossec-*"
	vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'AgentName:vpc-agent-centos-public')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:srcuser,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'NewVisualization',type:pie))"
	vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))" vis-filter="*">
	</kbn-vis>
	</div>

	<div flex>
	<kbn-vis vis-height="600px;" vis-type="pie" vis-index-pattern="ossec-*"
	vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'AgentName:vpc-agent-centos-public')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:srcip,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'NewVisualization',type:pie))"
	vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))" vis-filter="*">
	</kbn-vis>
	</div>



</md-content>
	<!--<kbn-vis vis-height="600px;" vis-type="histogram" vis-index-pattern="ossec-*"
	vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(params:(sort:(columnIndex:!n,direction:!n)))),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.sidid,order:desc,orderBy:'1',size:5),schema:bucket,type:terms)),listeners:(),params:(perPage:10,showMeticsAtAllLevels:!f,showPartialRows:!f,showTotal:!f,sort:(columnIndex:!n,direction:!n),totalFunc:sum),title:'NewVisualization',type:table))"
	vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5y,mode:quick,to:now))" vis-filter="syscheck" vis-searchable="true">
	</kbn-vis>-->

</div>
