<md-content ng-if="submenuNavItem == 'overview'" ng-show="_agent" class="md-padding">
	<div ng-controller="agentsController">
		<md-content layout="row" class="md-padding" layout-align="end">
			<md-button class="md-raised md-primary"><i class="fa fa-external-link" aria-hidden="true"></i> Discover alerts</md-button>
			<div class="statusBox md-whiteframe-3dp" layout="row" layout-align="space-between center"><span>{{_agent.status}}</span><span ng-class="getAgentStatusClass(_agent.status)" class="round status"></span></div>
		</md-content>

		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Agent alerts last 7 days</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<kbn-vis vis-height="200px;" vis-type="histogram" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'1h',customLabel:'Agent alerts last 7 days',extended_bounds:(),field:'@timestamp',interval:h,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'Agentbalerts last 7 days',type:histogram))"
					vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="{{_agent.name ? 'AgentName:'+_agent.name : '*'}}">
				</kbn-vis>
			</md-card-content>
		</md-card>

		<md-content layout="row">
			<md-card flex="40">
				<md-card-content>
					<div layout="column" flex>
						<p><b style="margin-right: 5px;">Hostname:</b> {{_agent.name ? _agent.name : '-'}}</p>
						<p><b style="margin-right: 5px;">IP address:</b> {{_agent.ip ? _agent.ip : '-'}}</p>
						<p><b style="margin-right: 5px;">Agent version:</b> {{agentInfo.version ? agentInfo.version : '-'}}</p>
						<p><b style="margin-right: 5px;">Operating system:</b> {{agentInfo.os ? agentInfo.os : '-'}}</p>
						<p><b style="margin-right: 5px;">Last file integrity scan:</b> {{agentInfo.syscheckEndTime ? agentInfo.syscheckEndTime : '-' }}</p>
						<p><b style="margin-right: 5px;">Last rootcheck scan:</b> {{agentInfo.rootcheckEndTime ? agentInfo.rootcheckEndTime : '-'}}</p>
						<p ng-show="_agent.id != '000'"><b style="margin-right: 5px;">Last keep alive:</b> {{agentInfo.lastKeepAlive ? agentInfo.lastKeepAlive : '-'}}</p>
						<p ng-show="_agent.id != '000'" ng-click="showKey = !showKey"><b style="margin-right: 5px;">Agent key <i ng-show="!showKey" class="fa fa-caret-down" aria-hidden="true"></i><i ng-show="showKey" class="fa fa-caret-up" aria-hidden="true"></i></b></p>
						<pre ng-if="showKey">{{agentInfo.key}}</pre>
					</div>
				</md-card-content>
			</md-card>
			<md-card flex="30">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Top 10 alerts by type</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<kbn-vis vis-height="200px;" vis-type="pie" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.description,order:desc,orderBy:'1',size:10),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'Top 10 alerts by type',type:pie))"
						vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="{{_agent.name ? 'AgentName:'+_agent.name : '*'}}">
					</kbn-vis>
				</md-card-content>
			</md-card>
			<md-card flex="30">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Top 10 file changes</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<kbn-vis vis-height="200px;" vis-type="pie" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:SyscheckFile.path,order:desc,orderBy:'1',size:10),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'Top 10 file changes',type:pie))"
						vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="{{_agent.name ? 'AgentName:'+_agent.name : '*'}}">
					</kbn-vis>
				</md-card-content>
			</md-card>
		</md-content>

		<md-content layout="row">
			<md-card flex="40">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Top 10 source IP</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<kbn-vis vis-height="200px;" vis-type="histogram" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:srcip,order:desc,orderBy:'1',size:10),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'Top 10 source IP',type:pie))"
						vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="{{_agent.name ? 'AgentName:'+_agent.name : '*'}}">
					</kbn-vis>
				</md-card-content>
			</md-card>

			<md-card flex="60">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Alert level evolution</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<kbn-vis vis-height="200px;" vis-type="line" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'1h',extended_bounds:(),field:'@timestamp',interval:h,min_doc_count:1),schema:segment,type:date_histogram),(enabled:!t,id:'3',params:(field:rule.AlertLevel,order:desc,orderBy:'1',size:10),schema:group,type:terms)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'Alert level evolution',type:line))"
						vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="{{_agent.name ? 'AgentName:'+_agent.name : '*'}}">
					</kbn-vis>
				</md-card-content>
			</md-card>
		</md-content>

		<md-content layout="row">
			<md-card flex="40" style="height: 250px;">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Quick actions</span>
					</md-card-title-text>
				</md-card-title>

				<md-card-content layout="column">
					<md-button md-no-ink class="md-primary" ng-disabled="_agent.id == '000'"><i class="fa fa-repeat" aria-hidden="true"></i> Restart agent</md-button>
					<md-button md-no-ink class="md-primary"><i class="fa fa-caret-right" aria-hidden="true"></i> Run file integrity monitoring</md-button>
					<md-button md-no-ink class="md-primary"><i class="fa fa-caret-right" aria-hidden="true"></i> Run rootcheck</md-button>
				</md-card-content>

			</md-card>

			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Last alerts summary</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<kbn-vis vis-height="530px;" vis-type="table" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(params:(sort:(columnIndex:0,direction:desc)))),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'5',params:(customInterval:'1h',extended_bounds:(),field:'@timestamp',interval:auto,min_doc_count:1),schema:bucket,type:date_histogram),(enabled:!t,id:'6',params:(field:rule.description,order:desc,orderBy:'1',size:0),schema:bucket,type:terms),(enabled:!t,id:'7',params:(field:rule.AlertLevel,order:desc,orderBy:'1',size:0),schema:bucket,type:terms)),listeners:(),params:(perPage:10,showMeticsAtAllLevels:!f,showPartialRows:!f,showTotal:!f,sort:(columnIndex:!n,direction:!n),totalFunc:sum),title:'Last alerts',type:table))"
						vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="{{_agent.name ? 'AgentName:'+_agent.name : '*'}}">
					</kbn-vis>
				</md-card-content>
			</md-card>


		</md-content>
	</div>
</md-content>