				<md-content layout="row" class="md-padding" layout-align="end">
					<md-button class="md-raised md-primary"><i class="fa fa-external-link" aria-hidden="true"></i> Discover alerts</md-button>
					<div class="statusBox md-whiteframe-3dp" layout="row" layout-align="space-between center"><span>{{_agent.status}}</span><span ng-class="getAgentStatusClass(_agent.status)" class="round status"></span></div>
				</md-content>

<md-card>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Total alerts time bar</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<kbn-vis vis-height="200px;" vis-type="histogram" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:'@timestamp',interval:m,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!f,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'Total%20Alerts%20Time%20Bar',type:histogram))"
							vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="{{_agent.name ? 'AgentName:'+_agent.name : '*'}}">
						</kbn-vis>
					</md-card-content>
				</md-card>