<div style="height: 30px;">
  <ul class="wazuh-submenu" style="margin-bottom: 0px;">
    <li><a href="/app/wazuh#/compliance">Rootcheck</a></li>
    <li class="active"><a>Rootcheck dashboard</a></li>
    <li><a href="/app/wazuh#/compliance/pci">PCI</a></li>
    <li><a href="/app/wazuh#/compliance/cis">CIS</a></li>
  </ul>
</div>
<div ng-controller="kibanaIntegrationController">
  <navbar>
    <form name="queryInput" class="fill inline-form ng-pristine ng-valid" role="form" ng-submit="dashboardSearch()">
      <div class="typeahead ng-isolate-scope">
        <div class="input-group" style="height: 36px;">
          <input type="text" placeholder="Filter..." aria-label="Filter input" class="form-control ng-pristine ng-valid ng-isolate-scope ng-touched"
            ng-model="search" autocomplete="off">
          <button type="submit" class="btn btn-default" aria-label="Filter dashboards" style="height: 36px;">
            <span aria-hidden="true" class="fa fa-search"></span>
          </button>
        </div>
      </div>
    </form>
  </navbar>
  <div class="iframeContainer">
    <dinamic-iframe ng-src="{{getDashboard('Rootcheck', defDashboardFilter, 'from:now-7d,mode:quick,to:now', false)}}"></dinamic-iframe>
  </div>
</div>