<div>
  <ul class="wazuh-submenu" style="margin-bottom: 0px;">
    <li><a href="/app/wazuh#/compliance">Rootcheck</a></li>
    <li><a href="/app/wazuh#/compliance/dashboard">Rootcheck dashboard</a></li>
    <li class="active"><a>PCI</a></li>
    <li><a href="/app/wazuh#/compliance/cis">CIS</a></li>
  </ul>
</div>
<div ng-controller="kibanaIntegrationController" style="height:85vh; overflow: hidden;">
    <div class="iframeContainer">
        <iframe ng-src="{{getDashboard('PCICompliance', defDashboardFilter, 'from:now-7d,mode:quick,to:now', false)}}" height="100%" width="100%"></iframe>
    </div>
</div>