<md-content class="md-padding">
  <md-nav-bar md-selected-nav-item="menuNavItem" nav-bar-aria-label="navigation menu">
    <md-nav-item id="header_logo" md-nav-href="http://wazuh.com" name="wazuh" aria-label="img logo">
        <img aria-label="Logo image" src="/plugins/wazuh/icon.png" height="44" weight="252"></img>
    </md-nav-item>
    <md-nav-item md-nav-href="#/manager" name="manager">Manager</md-nav-item>
    <md-nav-item md-nav-href="#/agents" name="agents">Agents</md-nav-item>
    <md-nav-item md-nav-href="#/ruleset" name="ruleset">Ruleset</md-nav-item>
    <md-nav-item md-nav-href="#/fim" name="fim">File integrity</md-nav-item>
    <md-nav-item md-nav-href="#/policy_monitoring" name="policy_monitoring">Policy monitoring</md-nav-item>
    <md-nav-item md-nav-href="#/settings" name="settings">Settings</md-nav-item>
  </md-nav-bar>
</md-content>


<div layout-align="start stretch" layout="column" flex ng-controller="kibanaIntegrationController">
  <div layout="row" flex  layout-align="start stretch">

    <div flex>
      <iframe iframe-set-dimensions-onload ng-src="{{getAlerts('ossec-*', defAlertFilter, 'from:now-7d,mode:quick,to:now', false)}}"></iframe>
    </div>

  </div>
</div>
