<div flex ng-controller="managerConfigurationController" layout="column">

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="menuNavItem" nav-bar-aria-label="navigation menu">
      <md-nav-item id="header_logo" md-nav-href="http://wazuh.com" name="wazuh" aria-label="img logo">
 					<img aria-label="Logo image" src="/plugins/wazuh/icon.png" height="44" weight="252"></img>
 		</md-nav-item>
      <md-nav-item md-nav-href="#/manager" name="manager">Manager</md-nav-item>
      <md-nav-item md-nav-href="#/agents" name="agents">Agents</md-nav-item>
      <md-nav-item md-nav-href="#/ruleset" name="ruleset">Ruleset</md-nav-item>
      <md-nav-item md-nav-href="#/fim" name="fim">File integrity</md-nav-item>
			<md-nav-item md-nav-href="#/policy_monitoring" name="policy_monitoring">Policy monitoring</md-nav-item>
      <md-nav-item md-nav-href="#/settings" name="settings">Settings</md-nav-item>
    </md-nav-bar>
  </md-content>

  <md-progress-linear md-mode="indeterminate" ng-show="load"></md-progress-linear>

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="submenuNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#/manager" name="general">General</md-nav-item>
      <md-nav-item md-nav-href="#/manager/configuration" name="configuration">Configuration</md-nav-item>
      <md-nav-item md-nav-href="#/manager/osseclog" name="logs">Logs</md-nav-item>
    </md-nav-bar>
  </md-content>

  <md-content flex layout="column" ng-if="!load" layout-align="space-around">

    <md-content flex layout-padding layout="row" layout-sm="column" layout-xs="column">

      <div flex layout="column" ng-if="managerConfiguration.global" >
        <md-card>
          <md-card-content>
            <h3>Global</h3>
            <md-list>
              <md-list-item ng-if="managerConfiguration.global.white_list">
                <p>jsonout_output</p>
                <p class="right-text">{{managerConfiguration.global.jsonout_output}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.logall">
                <p>logall</p>
                <p class="right-text">{{managerConfiguration.global.logall}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.white_list">
                <p>White List</p>
                <p class="right-text"><span ng-repeat="item in managerConfiguration.global.white_list|orderBy">{{ item }} <span ng-show="!$last">, </span></span></p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.stats">
                <p>Stats</p>
                <p class="right-text">{{ managerConfiguration.global.stats }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.host_infomation">
                <p>Host information</p>
                <p class="right-text">{{ managerConfiguration.global.host_infomation }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.alerts.log_alert_level">
                <p>Log alert level</p>
                <p class="right-text">{{ managerConfiguration.alerts.log_alert_level }}</p>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column" ng-if="managerConfiguration.global.email_notification
            || managerConfiguration.global.email_alert_level || managerConfiguration.global.email_to || managerConfiguration.global.email_from
            || managerConfiguration.global.smtp_server || managerConfiguration.global.email_maxperhour || managerConfiguration.global.email_idsname
            || managerConfiguration.email_alerts">
        <md-card>
          <md-card-content>
            <h3>Mail</h3>
            <md-list>
              <md-list-item ng-if="managerConfiguration.global.email_notification">
                <p> Email notifications </p>
                <p class="right-text">{{ managerConfiguration.global.email_notification }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.email_alert_level">
                <p> Email alert level </p>
                <p class="right-text">{{ managerConfiguration.global.email_alert_level }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.email_to">
                <p> Email to </p>
                <p class="right-text">{{ managerConfiguration.global.email_to }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.email_from">
                <p> Email from </p>
                <p class="right-text">{{ managerConfiguration.global.email_from }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.smtp_server">
                <p> SMTP Server </p>
                <p class="right-text">{{ managerConfiguration.global.smtp_server }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.email_maxperhour">
                <p> Max email per hour </p>
                <p class="right-text">{{ managerConfiguration.global.email_maxperhour }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.global.email_idsname">
                <p> Email IDS name </p>
                <p class="right-text">{{ managerConfiguration.global.email_idsname }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.email_alerts.email_to">
                <p> Email to </p>
                <p class="right-text">{{ managerConfiguration.email_alerts.email_to }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.email_alerts.level">
                <p> Alert level </p>
                <p class="right-text">{{ managerConfiguration.email_alerts.level }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.email_alerts.group">
                <p> Group </p>
                <p class="right-text">{{ managerConfiguration.email_alerts.group }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.email_alerts.event_location">
                <p> Event location </p>
                <p class="right-text">{{ managerConfiguration.email_alerts.event_location }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.email_alerts.format">
                <p> Format </p>
                <p class="right-text">{{ managerConfiguration.email_alerts.format }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.email_alerts.rule_id">
                <p> Rule ID </p>
                <p class="right-text">{{ managerConfiguration.email_alerts.rule_id }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.email_alerts.do_not_delay">
                <p> Do not delay </p>
                <p class="right-text">{{ managerConfiguration.email_alerts.do_not_delay }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.email_alerts.do_not_group">
                <p> Do not group </p>
                <p class="right-text">{{ managerConfiguration.email_alerts.do_not_group }}</p>
                <md-divider></md-divider>
              </md-list-item>

            </md-list>
          </md-card-content>
        </md-card>
      </div>
  </md-content>
  <md-content flex layout-padding layout="row" layout-sm="column" layout-xs="column">
      <div flex layout="column" ng-if='managerConfiguration["active-response"] && (managerConfiguration["active-response"].disabled != "yes")'>
        <md-card>
          <md-card-content>
            <h3>Active response</h3>
            <md-list ng-repeat="item in managerConfiguration['active-response']|orderBy:'command'">
              <md-list-item  ng-if="item.command">
                <p style="font-weight: bold"> {{ item.command }} </p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item  ng-if="item.location">
                <p> Location </p>
                <p class="right-text">{{ item.location }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item  ng-if="item.agent_id">
                <p> Agent ID(s) </p>
                <p class="right-text">{{ item.agent_id }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item  ng-if="item.level">
                <p> Level </p>
                <p class="right-text">{{ item.level }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item  ng-if="item.location">
                <p> test </p>
                <p class="right-text">{{ item.location }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item  ng-if="item.timeout">
                <p> Timeout </p>
                <p class="right-text">{{ item.timeout }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item  ng-if="item.rules_group">
                <p> Rules group </p>
                <p class="right-text">{{ item.rules_group }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item  ng-if="item.rules_id">
                <p> Rules ID(s) </p>
                <p class="right-text">{{ item.rules_id }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item  ng-if="item.repeated_offenders">
                <p> Repeated offenders </p>
                <p class="right-text">{{ item.repeated_offenders }}</p>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
      <div flex layout="column" ng-if="managerConfiguration.command">
        <md-card>
          <md-card-content>
            <h3>Commands</h3>
            <md-list ng-repeat="item in managerConfiguration.command|orderBy:'name'">
              <md-list-item ng-if="item.name">
                <p style="font-weight: bold"> {{ item.name }} </p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="item.expect">
                <p> Expect </p>
                <p class="right-text">{{ item.expect }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="item.executable">
                <p> Executable </p>
                <p class="right-text">{{ item.executable }}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="item.timeout_allowed">
                <p> Timeout allowed </p>
                <p class="right-text">{{ item.timeout_allowed}}</p>
                <md-divider></md-divider>
              </md-list-item>

            </md-list>
          </md-card-content>
        </md-card>
      </div>

            <div flex layout="column" ng-if="managerConfiguration.rules">
              <md-card>
                <md-card-content>
                  <h3>Decoders</h3>
                  <md-list>
                    <md-list-item ng-if="managerConfiguration.rules.decoder_dir">
                      <p style="font-weight: bold"> Decoder directories</p>
                      <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item ng-repeat="item in managerConfiguration.rules.decoder_dir|orderBy">
                      <p> {{ item }} </p>
                      <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item ng-if="managerConfiguration.rules.decoder">
                      <p style="font-weight: bold"> Decoder files</p>
                      <md-divider></md-divider>
                    </md-list-item>

                    <md-list-item ng-repeat="item in managerConfiguration.rules.decoder|orderBy">
                      <p> {{ item }} </p>
                      <md-divider></md-divider>
                    </md-list-item>

                  </md-list>
                </md-card-content>
              </md-card>
            </div>
      </md-content>
    <md-content flex layout-padding flex layout="row" layout-sm="column" layout-xs="column">

      <div flex layout="column" ng-if="managerConfiguration.rootcheck">
        <md-card>
          <md-card-content>
            <h3>Rootcheck</h3>
            <md-list>
              <md-list-item ng-if="managerConfiguration.rootcheck.disabled">
                <p> Rootcheck disabled </p>
                <p class="right-text">{{managerConfiguration.rootcheck.disabled}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.rootcheck.rootkit_files">
                <p> Rootkit Files </p>
                <p class="right-text">{{managerConfiguration.rootcheck.rootkit_files}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.rootcheck.rootkit_trojans">
                <p> Rootkit Trojans </p>
                <p class="right-text">{{managerConfiguration.rootcheck.rootkit_trojans}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.rootcheck.base_directory">
                <p> Base directory </p>
                <p class="right-text">{{managerConfiguration.rootcheck.base_directory}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.rootcheck.scanall">
                <p> Scan all </p>
                <p class="right-text">{{managerConfiguration.rootcheck.scanall}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.rootcheck['frequency']">
                <p> Frequency </p>
                <p class="right-text">{{managerConfiguration.rootcheck['frequency']}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.rootcheck.skip_nfs">
                <p> Skip NFS </p>
                <p class="right-text">{{managerConfiguration.rootcheck.skip_nfs}}</p>
                <md-divider></md-divider>
              </md-list-item>


              <md-list-item ng-if="managerConfiguration.rootcheck.system_audit">
                <p style="font-weight: bold"> System audit files</p>
                <md-divider></md-divider>
              </md-list-item>

              <md-list-item ng-repeat="item in managerConfiguration.rootcheck.system_audit|orderBy">
                <p> {{ item }} </p>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>


      <div flex layout="column" ng-if="managerConfiguration.syscheck">
        <md-card>
          <md-card-content>
            <h3>Syscheck</h3>
            <md-list>
              <md-list-item ng-if="managerConfiguration.syscheck.disabled">
                <p> Syscheck disabled </p>
                <p class="right-text">{{managerConfiguration.syscheck.disabled}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.syscheck['frequency']">
                <p> Frequency </p>
                <p class="right-text">{{managerConfiguration.syscheck['frequency']}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.syscheck.scan_time">
                <p> Scan time </p>
                <p class="right-text">{{managerConfiguration.syscheck.scan_time}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.syscheck.scan_day">
                <p> Scan day </p>
                <p class="right-text">{{managerConfiguration.syscheck.scan_day}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.syscheck.auto_ignore">
                <p> Auto ignore </p>
                <p class="right-text">{{managerConfiguration.syscheck.auto_ignore}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.syscheck.alert_new_files">
                <p> Alert new files </p>
                <p class="right-text">{{managerConfiguration.syscheck.alert_new_files}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.syscheck.scan_on_start">
                <p> Scan on start </p>
                <p class="right-text">{{managerConfiguration.syscheck.scan_on_start}}</p>
                <md-divider></md-divider>
              </md-list-item>
              <md-list-item ng-if="managerConfiguration.syscheck.skip_nfs">
                <p> Skip NFS </p>
                <p class="right-text">{{managerConfiguration.syscheck.skip_nfs}}</p>
                <md-divider></md-divider>
              </md-list-item>

              <md-list-item ng-if="managerConfiguration.syscheck.directories">
                <p style="font-weight: bold">Monitoring directories</p>
                <md-divider></md-divider>
              </md-list-item>

              <md-list-item ng-repeat="item in managerConfiguration.syscheck.directories|orderBy">
                <p> {{ item }} </p>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column" ng-if='managerConfiguration["localfile"]'>
        <md-card>
          <md-card-content>
            <h3>Logcollector</h3>
            <md-list>

              <md-list-item ng-repeat='item in managerConfiguration["localfile"]|orderBy:["location", "command"]' ng-if="item.location">
                <p> {{ item.location }} </p>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>


    </md-content>

  </md-content>


</div>
