    <div flex layout="row" ng-if="!load && submenuNavItem =='logs'" ng-controller="osseclogController">
        <md-content flex id="content" layout-padding>
            <md-virtual-repeat-container class="vertical-repeater">
                <table class="logTable" flex>
                    <tbody>
                        <tr md-virtual-repeat="line in textObj" md-on-demand flex>
                            <td class="logTableNumber">{{$index}}</td>
                            <td class="logTableCode" ng-class="{ logTableCodeOdd : ($index % 2) != 0}" ng-bind-html="colorLine(line)">{{colorLine(line)}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-virtual-repeat-container>
        </md-content>

        <md-sidenav md-is-open="isOpenSidenav" md-component-id="sideNav" md-is-locked-open="$mdMedia('gt-sm')" md-disable-backdrop
            layout="column" class="md-sidenav-right md-whiteframe-z2" flex="30">
            <md-icon md-font-icon="fa fa-times" aria-label="close lateral menu" ng-click="isOpenSidenav = !isOpenSidenav" hide-gt-sm style="margin-top: 5px; margin-bottom: 5px;"></md-icon>
            <div layout="row" layout-align="center center" style="margin: 5px;">
                <b style="margin-right: 5px;">Realtime:</b>
                <i class="fa fa-play" aria-hidden="true" ng-show="!realtime" ng-click="playRealtime()"></i>
                <i class="fa fa-stop" aria-hidden="true" ng-show="realtime" ng-click="playRealtime()"></i>
            </div>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-repeat="(key, value) in summary" label="{{key}}">
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-repeat="(subk, subv) in value" ng-click="filter(key, subk)">
                            <div class="md-list-item-text">
                                <h3>{{subk}}</h3>
                                <p>{{subv}}</p>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-tab>
            </md-tabs>
            <md-chips readonly="true">
                <md-chip>
                    {{$parent.filterString}}
                </md-chip>
            </md-chips>
        </md-sidenav>
        <md-button ng-show="!isOpenSidenav" class="md-icon-button md-primary" ng-click="isOpenSidenav = !isOpenSidenav" aria-label="Agents"
            hide-gt-sm>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </md-button>
    </div>

</div>