include ./manager.head
include ./manager-status.html
include ./manager-configuration.html
include ./manager-osseclog.html
include ./ruleset.head
include ./ruleset-rules.html
include ./ruleset-decoders.html
include ./ruleset-update.html
include ./footer.foot
include ./manager.foot