<div flex ng-controller="managerController" layout="column">

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="menuNavItem" nav-bar-aria-label="navigation menu">
      <md-nav-item id="header_logo" md-nav-href="#/" name="wazuh" aria-label="img logo">
 					<img aria-label="Logo image" src="/plugins/wazuh/icon.png" height="44" weight="252"></img>
 		  </md-nav-item>
      <md-nav-item md-nav-href="#/manager" name="manager">Manager</md-nav-item>
      <md-nav-item md-nav-href="#/agents" name="agents">Agents</md-nav-item>
      <md-nav-item md-nav-href="#/ruleset" name="ruleset">Ruleset</md-nav-item>
      <md-nav-item md-nav-href="#/fim" name="fim">File integrity</md-nav-item>
			<md-nav-item md-nav-href="#/policy_monitoring" name="policy_monitoring">Policy monitoring</md-nav-item>
      <md-nav-item md-nav-href="#/settings" name="settings">Settings</md-nav-item>
    </md-nav-bar>
  </md-content>

  <md-progress-linear md-mode="indeterminate" ng-show="load"></md-progress-linear>

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="submenuNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#/manager" name="general">General</md-nav-item>
      <md-nav-item md-nav-href="#/manager/configuration" name="configuration">Configuration</md-nav-item>
      <md-nav-item md-nav-href="#/manager/osseclog" name="logs">Logs</md-nav-item>
    </md-nav-bar>
  </md-content>

  <md-content flex layout="column" ng-if="!load" layout-align="space-around">

    <md-content layout="row" layout-padding layout-sm="column" layout-xs="column">
        <span ng-repeat="daemon in daemons" layout="row" flex layout-align="space-around center">{{daemon.daemon}} <div ng-class="getDaemonStatusClass(daemon.status)" class="round"></div><md-divider></md-divider></span>
    </md-content>

    <md-content layout-padding flex layout="row" layout-sm="column" layout-xs="column">

      <div flex layout="column">
        <md-card>
          <md-card-content>
            <h3>Agents overview</h3>
            <md-list>
              <md-list-item>
                <p>Total agents</p>
                <p class="right-text">{{agentsCountTotal}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Active</p>
                <p class="right-text">{{agentsCountActive}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Disconnected</p>
                <p class="right-text">{{agentsCountDisconnected}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Never connected</p>
                <p class="right-text">{{agentsCountNeverConnected}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Last agent connected</p>
                <p class="right-text">vpc-agent-ubuntu</p>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column">
        <md-card>
          <md-card-content>
            <h3>Alerts overview</h3>
            <md-list>
              <md-list-item>
                <p>Today alerts</p>
                <p class="right-text">127,345</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Top source ip</p>
                <p class="right-text">256.56.122.14</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Top alert group</p>
                <p class="right-text">ssh_intrusion</p>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column">
        <md-card>
          <md-card-content>
            <h3>FIM overview</h3>
            <md-list>
              <md-list-item>
                <p>Today FIM alerts</p>
                <p class="right-text">786</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Last file change</p>
                <p class="right-text">/etc/password</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Most agent FIM changes</p>
                <p class="right-text">vpc-manager-newjersey</p>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
    </md-content>

  </md-content>


</div>
