<md-content flex layout="column" ng-if="!load && submenuNavItem == 'general'" ng-controller="managerController" layout-align="space-around">
  <div layout="row" layout-align="center stretch">
    <md-card flex="50">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Events</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <kbn-vis vis-height="300px;" vis-type="histogram" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!f)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:'@timestamp',interval:auto,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'New%20Visualization',type:histogram))"
          vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="*">
        </kbn-vis>
      </md-card-content>
    </md-card>

    <md-card flex layout="column">
      <md-card-content>
        <span class="md-headline">Top 5 Groups</span>
        <kbn-vis vis-height="200px;" vis-type="pie" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.groups,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'Alerts:%20Top%205%20Groups',type:pie))"
          vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="*">
        </kbn-vis>
      </md-card-content>
    </md-card>



        <md-card flex layout="column">
          <md-card-content>
            <span layout="row" layout-align="space-between center">
                  <h3>Manager status</h3>
                  <h3 class="right-text"><i class="fa fa-repeat" aria-hidden="true" ng-click="restart($event)"></i></h3>
                </span>
            <span layout="column" ng-repeat="daemon in daemons">
                    <span layout="row" layout-align="space-between center">
                      <p>{{daemon.daemon}}</p>
                      <p class="right-text"><span ng-class="getDaemonStatusClass(daemon.status)" class="round" style="float: right"></span></p>
            </span>
            <md-divider></md-divider>
            </span>
          </md-card-content>
        </md-card>

  </div>

  <div layout="row" layout-align="center stretch">

    <md-card flex="50">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Signatures</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <kbn-vis vis-height="200px;" vis-type="histogram" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'3',params:(field:rule.description,order:desc,orderBy:'1',size:10),schema:group,type:terms),(enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:'@timestamp',interval:h,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,interpolate:linear,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,smoothLines:!f,times:!(),yAxis:()),title:'Signature:%20Area%20Chart',type:area))"
          vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="*">
        </kbn-vis>
      </md-card-content>
    </md-card>


    <md-card flex layout="column">

      <md-card-content>
        <span class="md-headline">Top 5 Agents</span>
        <kbn-vis vis-height="200px;" vis-type="pie" vis-index-pattern="ossec-*" vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:AgentName,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!t,shareYAxis:!t),title:'Agents%20total%20alerts',type:pie))"
          vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d,mode:quick,to:now))" vis-filter="*">
        </kbn-vis>
      </md-card-content>
    </md-card>

    <md-card flex layout="column">
      <md-card-content>
        <h3>Agents overview</h3>
        <md-list>
          <md-list-item>
            <p>Total agents</p>
            <p class="right-text">{{agentsCountTotal}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <p>Active</p>
            <p class="right-text">{{agentsCountActive}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <p>Disconnected</p>
            <p class="right-text">{{agentsCountDisconnected}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-list-item>
            <p>Never connected</p>
            <p class="right-text">{{agentsCountNeverConnected}}</p>
          </md-list-item>
          <md-divider></md-divider>
          <md-divider></md-divider>
        </md-list>
      </md-card-content>
    </md-card>



  </div>

  <div flex></div>

</md-content>
