<md-content flex layout="row" ng-if="!load && submenuNavItem == 'status'" ng-controller="managerController" layout-align="start stretch">
	<div flex="80" layout="column" layout-align="start stretch">
		<div layout="row" layout-align="center stretch">
			<md-card flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 19pt;">{{agentsCountTotal}}</div>
					<div class="ng-binding">Total agents</div>
				</md-card-content>
			</md-card>
			<md-card flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 19pt;">{{agentsCountActive}}</div>
					<div class="ng-binding">Active</div>
				</md-card-content>
			</md-card>
			<md-card flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 19pt;">{{agentsCountDisconnected}}</div>
					<div class="ng-binding">Disconnected</div>
				</md-card-content>
			</md-card>
			<md-card flex layout="column">
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 19pt;">{{agentsCountNeverConnected}}</div>
					<div class="ng-binding">Never connected</div>
				</md-card-content>
			</md-card>
			
			<md-card flex layout="column" >
				<md-card-content style="text-align: center;">
					<div class="metric-value ng-binding" style="font-size: 19pt;text-align: center;">{{(agentsCoverity | number:2)}}%</div>
					<div class="ng-binding">Agents coverity</div>
				</md-card-content>
			</md-card>
		</div>
		
	  <div layout="row" layout-align="start start">
		<md-card layout="column" flex="50">
			<md-card-content>
				<h3>Manager information</h3>
				<div layout="column" flex>
				<p><b style="margin-right: 5px;">Version:</b> {{managerInfo.version ? managerInfo.version : '-'}}</p>
					<p><b style="margin-right: 5px;">Installation date:</b> {{managerInfo.installation_date ? managerInfo.installation_date : '-'}}</p>
					<p><b style="margin-right: 5px;">Installation path:</b> {{managerInfo.path ? managerInfo.path : '-'}}</p>
					<p><b style="margin-right: 5px;">Installation type:</b> {{managerInfo.type ? managerInfo.type : '-'}}</p>
					<p><b style="margin-right: 5px;">Max agents:</b> {{managerInfo.max_agents ? managerInfo.max_agents : '-'}}</p>
					<p><b style="margin-right: 5px;">OpenSSL Support:</b> {{managerInfo.openssl_support ? managerInfo.openssl_support : '-'}}</p>
					<p><b style="margin-right: 5px;">Total rules:</b> {{totalRules ? totalRules : '-'}}</p>
					<p><b style="margin-right: 5px;">Total decoders:</b> {{totalDecoders ? totalDecoders : '-'}}</p>
				</div>
			</md-card-content>
		</md-card>
		
		<md-card layout="column" flex="50">
			<md-card-content>
				<h3>Last registered agent</h3>
				<div layout="column" flex>
					<p><b style="margin-right: 5px;">Name:</b> {{agentInfo.name ? agentInfo.name : '-'}}</p>
					<p><b style="margin-right: 5px;">ID:</b> {{agentInfo.id ? agentInfo.id : '-'}}</p>
					<p><b style="margin-right: 5px;">Status:</b> {{agentInfo.status ? agentInfo.status : '-'}}</p>
					<p><b style="margin-right: 5px;">IP Address:</b> {{agentInfo.ip ? agentInfo.ip : '-'}}</p>
					<p><b style="margin-right: 5px;">Date add:</b> {{agentInfo.dateAdd ? agentInfo.dateAdd : '-'}}</p>
					<p ng-show="agentInfo.version"><b style="margin-right: 5px;">Version:</b> {{agentInfo.version ? agentInfo.version : '-'}}</p>
					<p ng-show="agentInfo.lastKeepAlive"><b style="margin-right: 5px;">Last keep alive:</b> {{agentInfo.lastKeepAlive ? agentInfo.lastKeepAlive : '-'}}</p>
					<p ng-show="agentInfo.os" ><b style="margin-right: 5px;">Operative system:</b> {{agentInfo.os ? agentInfo.os : '-'}}</p>
					
				</div>
			</md-card-content>
		</md-card>
	  </div>
	  
	</div>
	
	<div flex="20" layout="column" layout-align="start stretch">
		<md-card layout="column">
			<md-card-content>
			  <span layout="row" layout-align="space-between center">
						  <h3>Daemon status</h3>
						</span>
			  <span layout="column" ng-repeat="(k,v) in daemons">
							<span layout="row" layout-align="space-between center">
							  <p>{{k}}</p>
							  <p class="right-text"><span ng-class="getDaemonStatusClass(v)" class="round" style="float: right"></span></p>
			  </span>
			  <md-divider></md-divider>
			  </span>
			</md-card-content>
		</md-card>
	</div>

</md-content>