<div flex ng-controller="managerController" layout="column">

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="menuNavItem" nav-bar-aria-label="navigation menu">
      <md-nav-item id="header_logo" md-nav-href="#/" name="wazuh" aria-label="img logo">
        <img aria-label="Logo image" src="/plugins/wazuh/icon.png" height="44" weight="252"></img>
      </md-nav-item>
      <md-nav-item md-nav-href="#/manager" name="manager">Manager</md-nav-item>
      <md-nav-item md-nav-href="#/agents" name="agents">Agents</md-nav-item>
      <md-nav-item md-nav-href="#/ruleset" name="ruleset">Ruleset</md-nav-item>
      <md-nav-item md-nav-href="#/fim" name="fim">File integrity</md-nav-item>
      <md-nav-item md-nav-href="#/policy_monitoring" name="policy_monitoring">Policy monitoring</md-nav-item>
      <md-nav-item md-nav-href="#/settings" name="settings">Settings</md-nav-item>
    </md-nav-bar>
  </md-content>

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="submenuNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#/manager" name="general">General</md-nav-item>
      <md-nav-item md-nav-href="#/manager/configuration" name="configuration">Configuration</md-nav-item>
      <md-nav-item md-nav-href="#/manager/osseclog" name="logs">Logs</md-nav-item>
    </md-nav-bar>
  </md-content>

  <md-progress-linear md-mode="indeterminate" ng-show="load"></md-progress-linear>

  <md-content flex layout="column" ng-if="!load" layout-align="space-around">

    <md-content layout-padding flex layout="row" layout-sm="column" layout-xs="column">

      <div flex layout="column">
        <md-card>
          <md-card-content>
            <span layout="row" layout-align="space-between center">
              <h3>Manager status</h3>
              <h3 class="right-text"><md-icon md-font-icon="fa fa-cog" ng-click="showDialog()" /></h3>
            </span>
            <span layout="column" ng-repeat="daemon in daemons">
                <span layout="row" layout-align="space-between center">
                  <p>{{daemon.daemon}}</p>
                  <p class="right-text"><span ng-class="getDaemonStatusClass(daemon.status)" class="round" style="float: right"></span></p>
            </span>
            <md-divider></md-divider>
            </span>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column">
        <md-card>
          <md-card-content>
            <h3>Agents overview</h3>
            <md-list>
              <md-list-item>
                <p>Total agents</p>
                <p class="right-text">{{agentsCountTotal}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Active</p>
                <p class="right-text">{{agentsCountActive}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Disconnected</p>
                <p class="right-text">{{agentsCountDisconnected}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Never connected</p>
                <p class="right-text">{{agentsCountNeverConnected}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Top reporting agent
                  <h6>(Last 24 hours)</h6>
                </p>
                <p class="right-text">{{stats['/top/agent']}}</p>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column">
        <md-card>
          <md-card-content>
            <h3>Alerts overview</h3>
            <h6>(Last 24h hours)</h6>
            <md-list>
              <md-list-item>
                <p>Alerts</p>
                <p class="right-text">{{stats['/overview/alerts'].alerts}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Top source ip</p>
                <p class="right-text">{{stats['/overview/alerts'].ip}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Top alert group</p>
                <p class="right-text">{{stats['/overview/alerts'].group}}</p>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column">
        <md-card>
          <md-card-content>
            <h3>FIM overview</h3>
            <h6>(Last 24h hours)</h6>
            <md-list>
              <md-list-item>
                <p>FIM alerts</p>
                <p class="right-text">{{stats['/overview/fim'].alerts}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Most agent FIM changes</p>
                <p class="right-text">{{stats['/overview/fim'].agent}}</p>
              </md-list-item>
              <md-divider></md-divider>
              <md-list-item>
                <p>Most file change</p>
                <p class="right-text">{{stats['/overview/fim'].file}}</p>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
    </md-content>

    <!-- kbn vis-->
   <div flex>
    <kbn-vis vis-height="600px;" vis-type="histogram" vis-index-pattern="ossec-*" 
    vis-a="(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(legendOpen:!t)),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:rule.AlertLevel,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,mode:stacked,scale:linear,setYExtents:!f,shareYAxis:!t,times:!(),yAxis:()),title:'New%20Visualization',type:histogram))" 
    vis-g="(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5y,mode:quick,to:now))" vis-filter="syscheck" vis-searchable="true">
    </kbn-vis>
    </div>

  </md-content>

  <div style="display: none">
    <div class="md-dialog-container" id="actionsDialog">
      <md-dialog layout-padding layout="column" layout-align="space-around center">
        <md-button class="md-raised md-primary" ng-click="start()">Start</md-button>
        <md-button class="md-raised md-primary" ng-click="stop()">Stop</md-button>
        <md-button class="md-raised md-primary" ng-click="restart()">Restart</md-button>
      </md-dialog>
    </div>
  </div>


</div>
