<div flex ng-controller="managerConfigurationController" layout="column">

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="menuNavItem" nav-bar-aria-label="navigation menu">
      <md-nav-item id="header_logo" md-nav-href="#/" name="wazuh" aria-label="img logo">
        <img aria-label="Logo image" src="/plugins/wazuh/icon.png" height="44" weight="252"></img>
      </md-nav-item>
      <md-nav-item md-nav-href="#/manager" name="manager">Manager</md-nav-item>
      <md-nav-item md-nav-href="#/agents" name="agents">Agents</md-nav-item>
      <md-nav-item md-nav-href="#/ruleset" name="ruleset">Ruleset</md-nav-item>
      <md-nav-item md-nav-href="#/fim" name="fim">File integrity</md-nav-item>
      <md-nav-item md-nav-href="#/policy_monitoring" name="policy_monitoring">Policy monitoring</md-nav-item>
      <md-nav-item md-nav-href="#/settings" name="settings">Settings</md-nav-item>
    </md-nav-bar>
  </md-content>

  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="submenuNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="#/manager" name="general">General</md-nav-item>
      <md-nav-item md-nav-href="#/manager/configuration" name="configuration">Configuration</md-nav-item>
      <md-nav-item md-nav-href="#/manager/osseclog" name="logs">Logs</md-nav-item>
    </md-nav-bar>
  </md-content>

  <md-progress-linear md-mode="indeterminate" ng-show="load"></md-progress-linear>

  <md-content flex layout="column" ng-if="!load" layout-align="space-around">

    <md-content flex layout-padding layout="row" layout-sm="column" layout-xs="column">
      <div flex layout="column" ng-if="managerConfiguration.global">
        <md-card>
          <md-card-content>
            <h3>Global</h3>
            <span ng-if="managerConfiguration.global.white_list">
                <span layout="row" layout-align="space-between center">
                  <p>jsonout_output</p>
                  <p>{{managerConfiguration.global.jsonout_output}}</p>
                </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.logall">
                <span layout="row" layout-align="space-between center">
                <p>logall</p>
                <p class="right-text">{{managerConfiguration.global.logall}}</p>
                </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.white_list">
                <span layout="row" layout-align="space-between center">
                <p>White List</p>
                <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
                </span>
            <p ng-show="show" class="right-text">
              <span ng-repeat="item in managerConfiguration.global.white_list|orderBy">{{ item }} <span ng-show="!$last">, </span></span>
            </p>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.stats">
                <span layout="row" layout-align="space-between center">
                <p>Stats</p>
                <p class="right-text">{{ managerConfiguration.global.stats }}</p>
                </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.host_infomation">
                <span layout="row" layout-align="space-between center">
                <p>Host information</p>
                <p class="right-text">{{ managerConfiguration.global.host_infomation }}</p>
                </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.alerts.log_alert_level">
                <span layout="row" layout-align="space-between center">
                <p>Log alert level</p>
                <p class="right-text">{{ managerConfiguration.alerts.log_alert_level }}</p>
                </span>
            <md-divider></md-divider>
            </span>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column" ng-if="managerConfiguration.global.email_notification
            || managerConfiguration.global.email_alert_level || managerConfiguration.global.email_to || managerConfiguration.global.email_from
            || managerConfiguration.global.smtp_server || managerConfiguration.global.email_maxperhour || managerConfiguration.global.email_idsname
            || managerConfiguration.email_alerts">
        <md-card>
          <md-card-content>
            <h3>Mail</h3>
            <span ng-if="managerConfiguration.global.email_notification">
              <span layout="row" layout-align="space-between center">
              <p> Email notifications </p>
              <p class="right-text">{{ managerConfiguration.global.email_notification }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.email_alert_level">
              <span layout="row" layout-align="space-between center">
              <p> Email alert level </p>
              <p class="right-text">{{ managerConfiguration.global.email_alert_level }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.email_to">
              <span layout="row" layout-align="space-between center">
              <p> Email to </p>
              <p class="right-text">{{ managerConfiguration.global.email_to }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.email_from">
              <span layout="row" layout-align="space-between center">
              <p> Email from </p>
              <p class="right-text">{{ managerConfiguration.global.email_from }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.smtp_server">
              <span layout="row" layout-align="space-between center">
              <p> SMTP Server </p>
              <p class="right-text">{{ managerConfiguration.global.smtp_server }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.email_maxperhour">
              <p> Max email per hour </p>
              <p class="right-text">{{ managerConfiguration.global.email_maxperhour }}</p>
              <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.global.email_idsname">
              <span layout="row" layout-align="space-between center">
              <p> Email IDS name </p>
              <p class="right-text">{{ managerConfiguration.global.email_idsname }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.email_alerts.email_to">
              <span layout="row" layout-align="space-between center">
              <p> Email to </p>
              <p class="right-text">{{ managerConfiguration.email_alerts.email_to }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.email_alerts.level">
              <span layout="row" layout-align="space-between center">
              <p> Alert level </p>
              <p class="right-text">{{ managerConfiguration.email_alerts.level }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.email_alerts.group">
              <span layout="row" layout-align="space-between center">
              <p> Group </p>
              <p class="right-text">{{ managerConfiguration.email_alerts.group }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.email_alerts.event_location">
              <span layout="row" layout-align="space-between center">
              <p> Event location </p>
              <p class="right-text">{{ managerConfiguration.email_alerts.event_location }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.email_alerts.format">
              <span layout="row" layout-align="space-between center">
              <p> Format </p>
              <p class="right-text">{{ managerConfiguration.email_alerts.format }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.email_alerts.rule_id">
              <span layout="row" layout-align="space-between center">
              <p> Rule ID </p>
              <p class="right-text">{{ managerConfiguration.email_alerts.rule_id }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.email_alerts.do_not_delay">
              <span layout="row" layout-align="space-between center">
              <p> Do not delay </p>
              <p class="right-text">{{ managerConfiguration.email_alerts.do_not_delay }}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.email_alerts.do_not_group">
              <span layout="row" layout-align="space-between center">
              <p> Do not group </p>
              <p class="right-text">{{ managerConfiguration.email_alerts.do_not_group }}</p>
              </span>
            <md-divider></md-divider>
            </span>
          </md-card-content>
        </md-card>
      </div>
    </md-content>

    <md-content flex layout-padding layout="row" layout-sm="column" layout-xs="column">
      <div flex layout="column" ng-if='managerConfiguration["active-response"] && (managerConfiguration["active-response"].disabled != "yes")'>
        <md-card>
          <md-card-content>
            <h3>Active response</h3>
            <span ng-repeat="item in managerConfiguration['active-response']|orderBy:'command'">
              <span ng-if="item.command">
                <span layout="row" layout-align="space-between center">
                <p style="font-weight: bold"> {{ item.command }} </p>
                <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
                </span>
            <span ng-show="show" ng-if="item.location">
                <span layout="row" layout-align="space-between center">
                <p> Location </p>
                <p class="right-text">{{ item.location }}</p>
                </span>
            </span>
            <span ng-show="show" ng-if="item.agent_id">
                <span layout="row" layout-align="space-between center">
                <p> Agent ID(s) </p>
                <p class="right-text">{{ item.agent_id }}</p>
                </span>
            </span>
            <span ng-show="show" ng-if="item.level">
                <span layout="row" layout-align="space-between center">
                <p> Level </p>
                <p class="right-text">{{ item.level }}</p>
                </span>
            </span>
            <span ng-show="show" ng-if="item.timeout">
                <span layout="row" layout-align="space-between center">
                <p> Timeout </p>
                <p class="right-text">{{ item.timeout }}</p>
                </span>
            </span>
            <span ng-show="show" ng-if="item.rules_group">
                <span layout="row" layout-align="space-between center">
                <p> Rules group </p>
                <p class="right-text" style="word-wrap: break-word; word-break: break-all;">{{ item.rules_group }}</p>
                </span>
            </span>
            <span ng-show="show" ng-if="item.rules_id">
                <span layout="row" layout-align="space-between center">
                <p> Rules ID(s) </p>
                <p class="right-text">{{ item.rules_id }}</p>
                </span>
            </span>
            <span ng-show="show" ng-if="item.repeated_offenders">
                <span layout="row" layout-align="space-between center">
                <p> Repeated offenders </p>
                <p class="right-text">{{ item.repeated_offenders }}</p>
                </span>
            </span>
            <md-divider></md-divider>
            </span>
            </span>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column" ng-if="managerConfiguration.command">
        <md-card>
          <md-card-content>
            <h3>Commands</h3>
            <span ng-repeat="item in managerConfiguration.command|orderBy:'name'">
              <span ng-if="item.name">
                <span layout="row" layout-align="space-between center">
                <p style="font-weight: bold"> {{ item.name }} </p>
                <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
                </span>
            <span ng-show="show" ng-if="item.expect">
                <span layout="row" layout-align="space-between center">
                <p> Expect </p>
                <p class="right-text">{{ item.expect }}</p>
                </span>
            </span>
            <span ng-show="show" ng-if="item.executable">
                <span layout="row" layout-align="space-between center">
                <p> Executable </p>
                <p class="right-text">{{ item.executable }}</p>
                </span>
            </span>
            <span ng-show="show" ng-if="item.timeout_allowed">
                <span layout="row" layout-align="space-between center">
                <p> Timeout allowed </p>
                <p class="right-text">{{ item.timeout_allowed}}</p>
                </span>
            </span>
            </span>
            <md-divider></md-divider>
            </span>
          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column" ng-if="managerConfiguration.rules">
        <md-card>
          <md-card-content>
            <h3>Decoders</h3>
            <span ng-if="managerConfiguration.rules.decoder_dir">
              <span layout="row" layout-align="space-between center">
              <p style="font-weight: bold"> Decoder directories</p>
              <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
              </span>
            <span ng-show="show" ng-repeat="item in managerConfiguration.rules.decoder_dir|orderBy">
              <p> {{ item }} </p>
            </span>
            <md-divider></md-divider>
            </span>

            <span ng-if="managerConfiguration.rules.decoder">
              <span layout="row" layout-align="space-between center">
              <p style="font-weight: bold"> Decoder files</p>
              <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
              </span>
            <span ng-show="show" ng-repeat="item in managerConfiguration.rules.decoder|orderBy">
              <p> {{ item }} </p>
            </span>
            <md-divider></md-divider>
            </span>

          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column" ng-if="managerConfiguration.rules">
        <md-card>
          <md-card-content>
            <h3>Rules</h3>
            <span ng-if="managerConfiguration.rules.rule_dir">
              <span layout="row" layout-align="space-between center">
              <p style="font-weight: bold"> Rules directories</p>
              <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
              </span>
            <span ng-show="show" ng-repeat="item in managerConfiguration.rules.rule_dir|orderBy">
              <p> {{ item }} </p>
            </span>
            <md-divider></md-divider>
            </span>

            <span ng-if="managerConfiguration.rules.include">
              <span layout="row" layout-align="space-between center">
              <p style="font-weight: bold"> Rules files</p>
              <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
              </span>
            <md-virtual-repeat-container id="vertical-container" ng-show="show" style="height: 250px;">
              <div md-virtual-repeat="item in managerConfiguration.rules.include" class="repeated-item" flex>
                <p> {{ item }} </p>
              </div>
            </md-virtual-repeat-container>
            <md-divider></md-divider>
            </span>

            <span ng-if="managerConfiguration.rules.list">
              <span layout="row" layout-align="space-between center">
              <p style="font-weight: bold">CDB lists</p>
              <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
              </span>
            <span ng-show="show" ng-repeat="item in managerConfiguration.rules.list|orderBy">
              <p> {{ item }} </p>
            </span>
            <md-divider></md-divider>
            </span>

          </md-card-content>
        </md-card>
      </div>


    </md-content>
    <md-content flex layout-padding flex layout="row" layout-sm="column" layout-xs="column">
      <div flex layout="column" ng-if="managerConfiguration.rootcheck">
        <md-card>
          <md-card-content>
            <h3>Rootcheck</h3>
            <span ng-if="managerConfiguration.rootcheck.disabled">
              <span layout="row" layout-align="space-between center">
              <p> Rootcheck disabled </p>
              <p class="right-text">{{managerConfiguration.rootcheck.disabled}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.rootcheck.rootkit_files">
              <span layout="row" layout-align="space-between center">
              <p> Rootkit Files </p>
              <p class="right-text">{{managerConfiguration.rootcheck.rootkit_files}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.rootcheck.rootkit_trojans">
              <span layout="row" layout-align="space-between center">
              <p> Rootkit Trojans </p>
              <p class="right-text">{{managerConfiguration.rootcheck.rootkit_trojans}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.rootcheck.base_directory">
              <span layout="row" layout-align="space-between center">
              <p> Base directory </p>
              <p class="right-text">{{managerConfiguration.rootcheck.base_directory}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.rootcheck.scanall">
              <span layout="row" layout-align="space-between center">
              <p> Scan all </p>
              <p class="right-text">{{managerConfiguration.rootcheck.scanall}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.rootcheck['frequency']">
              <span layout="row" layout-align="space-between center">
              <p> Frequency </p>
              <p class="right-text">{{managerConfiguration.rootcheck['frequency']}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.rootcheck.skip_nfs">
              <span layout="row" layout-align="space-between center">
              <p> Skip NFS </p>
              <p class="right-text">{{managerConfiguration.rootcheck.skip_nfs}}</p>
              </span>
            <md-divider></md-divider>
            </span>


            <span ng-if="managerConfiguration.rootcheck.system_audit">
              <span layout="row" layout-align="space-between center">
              <p style="font-weight: bold"> System audit files</p>
              <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
              </span>
            <span ng-show="show" ng-repeat="item in managerConfiguration.rootcheck.system_audit|orderBy">
              <p> {{ item }} </p>
            </span>
            <md-divider></md-divider>
            </span>
          </md-card-content>
        </md-card>
      </div>


      <div flex layout="column" ng-if="managerConfiguration.syscheck">
        <md-card>
          <md-card-content>
            <h3>Syscheck</h3>
            <span ng-if="managerConfiguration.syscheck.disabled">
              <span layout="row" layout-align="space-between center">
              <p> Syscheck disabled </p>
              <p class="right-text">{{managerConfiguration.syscheck.disabled}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.syscheck['frequency']">
              <span layout="row" layout-align="space-between center">
              <p> Frequency </p>
              <p class="right-text">{{managerConfiguration.syscheck['frequency']}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.syscheck.scan_time">
              <span layout="row" layout-align="space-between center">
              <p> Scan time </p>
              <p class="right-text">{{managerConfiguration.syscheck.scan_time}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.syscheck.scan_day">
              <span layout="row" layout-align="space-between center">
              <p> Scan day </p>
              <p class="right-text">{{managerConfiguration.syscheck.scan_day}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.syscheck.auto_ignore">
              <span layout="row" layout-align="space-between center">
              <p> Auto ignore </p>
              <p class="right-text">{{managerConfiguration.syscheck.auto_ignore}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.syscheck.alert_new_files">
              <span layout="row" layout-align="space-between center">
              <p> Alert new files </p>
              <p class="right-text">{{managerConfiguration.syscheck.alert_new_files}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.syscheck.scan_on_start">
              <span layout="row" layout-align="space-between center">
              <p> Scan on start </p>
              <p class="right-text">{{managerConfiguration.syscheck.scan_on_start}}</p>
              </span>
            <md-divider></md-divider>
            </span>
            <span ng-if="managerConfiguration.syscheck.skip_nfs">
              <span layout="row" layout-align="space-between center">
              <p> Skip NFS </p>
              <p class="right-text">{{managerConfiguration.syscheck.skip_nfs}}</p>
              </span>
            <md-divider></md-divider>
            </span>

            <span ng-if="managerConfiguration.syscheck.directories">
              <span layout="row" layout-align="space-between center">
              <p style="font-weight: bold">Monitoring directories</p>
              <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
              </span>
            <span ng-show="show" ng-repeat="item in managerConfiguration.syscheck.directories|orderBy">
              <p> {{ item }} </p>
            </span>
            <md-divider></md-divider>
            </span>


          </md-card-content>
        </md-card>
      </div>

      <div flex layout="column" ng-if='managerConfiguration["localfile"]'>
        <md-card>
          <md-card-content>
            <h3>Logcollector</h3>

            <span ng-repeat='item in managerConfiguration["localfile"]|orderBy:["location", "command"]'>
              <span layout="row" layout-align="space-between center">
              <p ng-if="item.location"> {{ item.location }} </p>
              <p ng-if="item.command" style="overflow: hidden;"> {{ item.command }} </p>
              <p class="right-text">
                  <i class="fa fa-caret-down" aria-hidden="true" ng-show="!show" ng-click="show = true"></i>
                  <i class="fa fa-caret-up" aria-hidden="true" ng-show="show" ng-click="show = false"></i>
                </p>
              </span>
            <span ng-show="show" ng-if="item.log_format">
                            <span layout="row" layout-align="space-between center">
                            <p>Log format</p>
              <p> {{ item.log_format }} </p>
                            </span>
            </span>
            <span ng-show="show" ng-if="item.alias">
              <span layout="row" layout-align="space-between center">
              <p>Alias</p>
              <p> {{ item.alias }} </p>
              </span>
            </span>
            <span ng-show="show" ng-if="item['frequency']">
              <span layout="row" layout-align="space-between center">
              <p>Frequency</p>
              <p> {{ item['frequency'] }} </p>
              </span>
            </span>
            <span ng-show="show" ng-if="item.check_diff">
              <span layout="row" layout-align="space-between center">
              <p>Check diff</p>
              <p> {{ item.check_diff }} </p>
              </span>
            </span>

            <md-divider></md-divider>
            </span>
          </md-card-content>
        </md-card>
      </div>


    </md-content>

  </md-content>


</div>