<md-content flex ng-controller="settingsController" layout="column">

  <md-content ng-init="menuNavItem = 'settings'" style="height: 75px;">
    <md-nav-bar class="wazuhMenuNav" md-selected-nav-item="menuNavItem" nav-bar-aria-label="navigation menu">
      <md-nav-item id="header_logo" md-nav-href="#/" name="logo" aria-hidden="true">
        <img aria-hidden="true" src="/plugins/wazuh/img/logo_white.png" height="44" weight="252"></img>
      </md-nav-item>
      <md-nav-item md-nav-href="#/manager" name="overview">Overview</md-nav-item>
      <md-nav-item md-nav-href="#/manager" name="manager">Manager</md-nav-item>
      <md-nav-item md-nav-href="#/agents" name="agents">Agents</md-nav-item>
      <md-nav-item md-nav-href="#/dashboards" name="dashboards">Dashboards</md-nav-item>
      <md-nav-item md-nav-href="#/settings" name="settings">Settings</md-nav-item>
    </md-nav-bar>
  </md-content>

  <div layout="column" layout-align="center center" ng-if="editConfiguration">
    <h1 flex><span class="glyphicon glyphicon-floppy-save"></span> Set Wazuh RESTful API settings</h1>
    <form ng-submit="processForm()" layout="column" layout-align="center center">
      <md-input-container>
        <label>Username</label>
        <input type="text" ng-model="$parent.formData.user" aria-label="username" required></input>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="$parent.formData.password" aria-label="password" required></input>
      </md-input-container>
      <md-input-container>
        <label>Full url</label>
        <input ng-model="$parent.formData.url" type="url" aria-label="full url" required></input>
      </md-input-container>
      <md-switch ng-model="$parent.formData.insecure" aria-label="Accept selfsigned SSL" required>Accept selfsigned SSL</md-switch>
      <md-button type="submit" class="md-raised md-primary"><span class="glyphicon glyphicon-flash"></span> Connect!</md-button>
    </form>
  </div>

  <div layout="column" layout-align="center center" ng-if="!editConfiguration">
    <h1 flex><span class="glyphicon glyphicon-floppy-save"></span> Wazuh RESTful API settings</h1>
    <p flex style="color: green;">Wazuh RESTful API settings are configured and working. The application is ready to be used.</p>
    <md-button class="md-raised md-warn" ng-click="$parent.editConfiguration = !$parent.editConfiguration"><span class="glyphicon glyphicon-pencil"></span> Edit settings</md-button>
  </div>

  <div flex></div>

</md-content>