<md-content style="background-color: white" flex layout="column" layout-align="start space-around" ng-if="menuNavItem == 'overview' && submenuNavItem == 'general' && tabView == 'discover'">
	<kbn-disfull  table-height="1000px;" dis-a="(columns:!(AgentName,AgentIP,rule.AlertLevel,rule.description,rule.groups,rule.PCI_DSS,full_log),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
	dis-filter="*"
	infinite-scroll="true">
	</kbn-disfull>
</md-content>

<md-content style="background-color: white" flex layout="column" layout-align="start space-around" ng-if="menuNavItem == 'overview' && submenuNavItem == 'fim' && tabView == 'discover'">
	<kbn-disfull  table-height="1000px;" dis-a="(columns:!(AgentName,AgentIP,SyscheckFile.event,SyscheckFile.path,SyscheckFile.owner_after,SyscheckFile.gowner_after,SyscheckFile.perm_after),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
	dis-filter="rule.groups:syscheck"
	infinite-scroll="true">
	</kbn-disfull>
</md-content>


<md-content style="background-color: white" flex layout="column" layout-align="start space-around" ng-if="menuNavItem == 'overview' && submenuNavItem == 'pm' && tabView == 'discover'">
	<kbn-disfull  table-height="1000px;" dis-a="(columns:!(AgentName,AgentIP,rule.description,title,rule.AlertLevel,file),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
	dis-filter="rule.groups:rootcheck"
	infinite-scroll="true">
	</kbn-disfull>
</md-content>



<md-content style="background-color: white" flex layout="column" layout-align="start space-around" ng-if="menuNavItem == 'agents' && submenuNavItem == 'overview' && tabView == 'discover'">
	<kbn-disfull  table-height="1000px;" dis-a="(columns:!(AgentName,AgentIP,rule.AlertLevel,rule.description,rule.groups,rule.PCI_DSS,full_log),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
	dis-filter="{{'AgentName:'+_agent.name}}"
	infinite-scroll="true">
	</kbn-disfull>
</md-content>

<md-content style="background-color: white" flex layout="column" layout-align="start space-around" ng-if="menuNavItem == 'agents' && submenuNavItem == 'fim' && tabView == 'discover'">
	<kbn-disfull  table-height="1000px;" dis-a="(columns:!(AgentName,AgentIP,SyscheckFile.event,SyscheckFile.path,SyscheckFile.owner_after,SyscheckFile.gowner_after,SyscheckFile.perm_after),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
	dis-filter="rule.groups:syscheck AND {{'AgentName:'+_agent.name}}"
	infinite-scroll="true">
	</kbn-disfull>
</md-content>


<md-content style="background-color: white" flex layout="column" layout-align="start space-around" ng-if="menuNavItem == 'agents' && submenuNavItem == 'policy_monitoring' && tabView == 'discover'">
	<kbn-disfull  table-height="1000px;" dis-a="(columns:!(AgentName,AgentIP,rule.description,title,rule.AlertLevel,file),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
	dis-filter="rule.groups:rootcheck AND {{'AgentName:'+_agent.name}}"
	infinite-scroll="true">
	</kbn-disfull>
</md-content>