<div ng-controller="testController">
<kbn-searchbar></kbn-searchbar>


<md-content style="background-color: white" flex layout="column" layout-align="start space-around">
	<kbn-disfull  table-height="1000px;" dis-a="(columns:!(agent.name,agent.ip,rule.level,rule.description,rule.groups,rule.pci_dss,full_log),filters:!(),index:'wazuh-alerts-*',interval:auto,query:(query_string:(analyze_wildcard:!t,query:'*')),sort:!('@timestamp',desc))"
	dis-filter="*"
	infinite-scroll="true">
	</kbn-disfull>
</md-content>
</div>
