<div ng-controller="VisEditorW">
<div ng-if="_loadVisAsync" class="app-container vis-editor vis-type-{{ vis.type.name }}" style="height: {{visHeight}}">

  <kbn-top-nav name="visualize" config="topNavMenu" ng-if="visSearchable">
    <div class="vis-editor-info">
      <span ng-show="savedVis.id" class="vis-editor-info-title">
        <span ng-bind="::savedVis.title"></span>
      </span>
    </div>
  </kbn-top-nav>
  <navbar ng-if="chrome.getVisible() && visSearchable" name="visualize-search">
    <div class="fill bitty-modal-container">

      <form ng-if="vis.type.requiresSearch && $state.linked" class="inline-form fill" name="queryInput">
        <div class="typeahead">
          <div class="input-group">
            <input disabled type="text" class="form-control">

            <button class="btn btn-default" type="submit" ng-disabled="true" aria-label="Search">
              <span aria-hidden="true" class="fa fa-search"></span>
            </button>
          </div>
        </div>
      </form>

      <form ng-if="vis.type.requiresSearch && !$state.linked" ng-submit="fetch()" class="inline-form fill" name="queryInput">
        <div class="typeahead" kbn-typeahead="visualize">
          <div class="input-group" ng-class="queryInput.$invalid ? 'has-error' : ''">
            <input ng-model="visFilter" parse-query input-focus kbn-typeahead-input placeholder="Search..." type="text" class="form-control">

            <button class="btn btn-default" type="submit" ng-disabled="queryInput.$invalid" aria-label="Search">
              <span aria-hidden="true" class="fa fa-search"></span>
            </button>
          </div>
          <kbn-typeahead-items></kbn-typeahead-items>
        </div>
      </form>
    </div>
    <div class="button-group"></div>
  </navbar>

  <filter-bar state="state" ng-if="visSearchable"></filter-bar>

  <div class="vis-editor-content">

    <div class="vis-editor-canvas" ng-class="{ embedded: !chrome.getVisible() }">
      <visualize vis="vis" ui-state="uiState" show-spy-panel="chrome.getVisible()" editable-vis="editableVis" search-source="savedVis.searchSource">
      </visualize>
    </div>
  </div>

</div>
</div>