
<div flex ng-controller="devToolsController" layout="column">

    <wz-menu ng-init="menuNavItem = 'wazuh-dev'"></wz-menu>
    <md-content flex layout="column" class="md-padding" layout-align="start">
        <div layout="row" flex>
            <div flex layout="column">  

                <span style="padding-bottom: 10px" class="wz-headline-title">Console <i ng-click="send()" class="fa fa-play wz-theader-sort-icon pull-right fa-fw" aria-hidden="true"></i></span>                
                <textarea flex id="api_input"></textarea>

            </div>
            <div flex layout="column">
                <span style="padding-bottom: 10px" class="wz-headline-title"><i ng-click="help()" class="fa fa-question wz-theader-sort-icon pull-right fa-fw" aria-hidden="true"></i></span>
                <textarea flex id="api_output"></textarea>
            </div>
        </div>
    </md-content>
    
</div>