<div class="euiFlexItem" style="min-height: 64px;">
    <div class="synopsis">
        <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive" ng-click="callSwitchTab()">
            <div class="euiFlexItem euiFlexItem--flexGrowZero">
                <img class="synopsisIcon" wz-src="/plugins/wazuh/img/{{logo || wzLogo}}">
            </div>
            <div class="euiFlexItem synopsisContent">
                <h4 class="euiTitle euiTitle--small synopsisTitle wz-text-link">{{ cardTitle }}</h4>
                <div class="euiText synopsisBody cursor-pointer" ng-if="description">
                    <p>
                        <span class="euiTextColor euiTextColor--subdued">{{ description }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>