<div class="euiFlexItem" style="min-height: 64px;">
    <div flex class="synopsis">
        <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
            <div class="euiFlexItem euiFlexItem--flexGrowZero">
                <img ng-if="logo" class="synopsisIcon" ng-src="/plugins/kibana/assets/{{logo}}" alt="">
                <img ng-if="wzLogo" class="synopsisIcon" ng-src="/plugins/wazuh/img/{{wzLogo}}" alt="">
            </div>
            <div class="euiFlexItem synopsisContent " ng-click="callSwitchTab()">
                <h4 class="euiTitle euiTitle--small synopsisTitle wz-text-link">{{ title }}</h4>
                <div class="euiText synopsisBody cursor-pointer" ng-if="description">
                    <p>
                        <span class="euiTextColor euiTextColor--subdued">{{ description }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>