<!-- The main card will all the settings -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'pm-general'">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">All settings</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">General settings for the rootcheck daemon</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON(currentConfig['syscheck-rootcheck'].rootcheck)">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML(currentConfig['syscheck-rootcheck'].rootcheck)">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <wz-config-item
                label="Policy monitoring service status"
                value="currentConfig['syscheck-rootcheck'].rootcheck.disabled === 'no' ? 'enabled' : 'disabled'">
            </wz-config-item>
            <wz-config-item
                label="Base directory"
                value="currentConfig['syscheck-rootcheck'].rootcheck.base_directory">
            </wz-config-item>
            <wz-config-item
                label="Scan the entire system"
                value="currentConfig['syscheck-rootcheck'].rootcheck.scanall">
            </wz-config-item>
            <wz-config-item
                label="Frequency (in seconds) to run the scan"
                value="currentConfig['syscheck-rootcheck'].rootcheck.frequency">
            </wz-config-item>
            <wz-config-item
                label="Check /dev path"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_dev">
            </wz-config-item>
            <wz-config-item
                label="Check files"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_files">
            </wz-config-item>
            <wz-config-item
                label="Check network interfaces"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_if">
            </wz-config-item>
            <wz-config-item
                label="Check processes IDs"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_pids">
            </wz-config-item>
            <wz-config-item
                label="Check network ports"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_ports">
            </wz-config-item>
            <wz-config-item
                label="Check anomalous system objects"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_sys">
            </wz-config-item>
            <wz-config-item
                label="Check trojans"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_trojans">
            </wz-config-item>
            <wz-config-item
                label="Check UNIX audit"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_unixaudit">
            </wz-config-item>
            <wz-config-item
                label="Check Windows apps"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_winapps">
            </wz-config-item>
            <wz-config-item
                label="Check Windows audit"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_winaudit">
            </wz-config-item>
            <wz-config-item
                label="Check Windows malware"
                value="currentConfig['syscheck-rootcheck'].rootcheck.check_winmalware">
            </wz-config-item>
            <wz-config-item
                label="Skip scan on CIFS/NFS mounts"
                value="currentConfig['syscheck-rootcheck'].rootcheck.skip_nfs">
            </wz-config-item>
            <wz-config-item
                label="Rootkit files database path"
                value="currentConfig['syscheck-rootcheck'].rootcheck.rootkit_files">
            </wz-config-item>
            <wz-config-item
                label="Rootkit trojans database path"
                value="currentConfig['syscheck-rootcheck'].rootcheck.rootkit_trojans">
            </wz-config-item>
            <wz-config-item
                label="Rootkit trojans database path"
                value="currentConfig['syscheck-rootcheck'].rootcheck.windows_audit">
            </wz-config-item>
            <wz-config-item
                label="Rootkit trojans database path"
                value="currentConfig['syscheck-rootcheck'].rootcheck.windows_apps">
            </wz-config-item>
            <wz-config-item
                label="Rootkit trojans database path"
                value="currentConfig['syscheck-rootcheck'].rootcheck.windows_malware">
            </wz-config-item>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End main card with all the settings -->
