include ./agent-configuration.head
include ./welcome.html
include ./global-configuration/global-configuration.pug
include ./client/client.html
include ./client-buffer/client-buffer.html

include ./alerts/alerts.pug

include ./policy-monitoring/policy-monitoring.pug
include ./open-scap/open-scap.pug
include ./cis-cat/cis-cat.pug
include ./osquery/osquery.html
include ./inventory/inventory.html
include ./active-response/agents-active-response.pug
include ./wazuh-commands/wazuh-commands.html
include ./integrity-monitoring/integrity-monitoring.pug
include ./log-collection/log-collection.pug
include ./docker-listener/docker-listener.html

include ../../footer.foot