include ./agent-configuration.head

include ./welcome.html

include ./global-configuration/global-configuration.jade
//- include ./cluster/cluster.html
//- include ./registration-service/registration-service.html
//- include ./ruleset/ruleset.jade
include ./client/client.html
include ./client-buffer/client-buffer.html

include ./alerts/alerts.jade
//- include ./integrations/integrations.html
//- include ./database-output/database-output.html

include ./policy-monitoring/policy-monitoring.jade
include ./open-scap/open-scap.jade
include ./cis-cat/cis-cat.jade

//- include ./vulnerabilities/vulnerabilities.jade
include ./osquery/osquery.html
include ./inventory/inventory.html
include ./active-response/agents-active-response.jade
include ./wazuh-commands/wazuh-commands.html

include ./integrity-monitoring/integrity-monitoring.jade
include ./log-collection/log-collection.jade
//- include ./agentless/agentless.html

//- include ./amazon-s3/amazon-s3.jade

include ../../footer.foot
