include ./configuration.head
include ./welcome.html
include ./global-configuration/global-configuration.pug
include ./cluster/cluster.html
include ./config-edition/config-edition.html
include ./registration-service/registration-service.html
include ./alerts/alerts.pug
include ./integrations/integrations.html
include ./policy-monitoring/policy-monitoring.pug
include ./open-scap/open-scap.pug
include ./cis-cat/cis-cat.pug
include ./vulnerabilities/vulnerabilities.pug
include ./osquery/osquery.html
include ./inventory/inventory.html
include ./active-response/active-response.pug
include ./wazuh-commands/wazuh-commands.html
include ./log-collection/log-collection.pug
include ./integrity-monitoring/integrity-monitoring.pug
include ./agentless/agentless.html
include ./amazon-s3/amazon-s3.pug
include ./docker-listener/docker-listener.html
include ../../footer.foot