<div flex="auto" layout="column" ng-if="configurationTab === 'welcome' && !editionTab" class="" ng-class="agent && agent.id !== '000'?'wz-margin-top-8':''">
    <!-- Headline -->
    <div layout="column" layout-padding ng-show="agent && agent.id !== '000'">
        <div>
            <span class="font-size-18"> <i class="fa fa-fw fa-cog" aria-hidden="true"></i> Configuration</span>
            <span ng-if="isSynchronized" class="wz-agent-status-indicator small teal">SYNCHRONIZED</span>
            <span ng-if="!isSynchronized" class="wz-agent-status-indicator small red">NOT SYNCHRONIZED</span>
        </div>
    </div>
    <div layout="row" ng-show="!agent || agent.id === '000'" class="wz-padding-left-8">
        <md-button class="wz-button" ng-click="mctrl.setConfigTab('editconfiguration', true)"><i class="fa fa-fw fa-pencil"></i>
            Edit configuration</md-button>
    </div>
    <!-- End headline -->

    <!-- Configuration section cards and right sidenav -->
    <div flex="auto" layout="row">

        <!-- This section has the configuration cards -->
        <div flex layout="column" class="md-margin-h">

            <!-- Main configurations card -->
            <md-card class="wz-md-card md-margin-h-0">
                <md-card-content>
                    <span class="font-size-16">Main configurations</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <md-list layout="row" layout-wrap>
                        <!-- Manager sections -->
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="!agent || agent.id === '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('global-configuration', [{component:'analysis',configuration:'global'},{component:'request',configuration:'remote'},{component:'com',configuration:'logging'}])">Global
                                    configuration</h3>
                                <p>Global and remote settings</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="!agent || agent.id === '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('cluster', [{component:'com',configuration:'cluster'}])">Cluster</h3>
                                <p>Master node configuration</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="!agent || agent.id === '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('registration-service', [{component:'auth',configuration:'auth'}])">Registration
                                    service</h3>
                                <p>Automatic agent registration service</p>
                            </div>
                        </md-list-item>
                        <!-- <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                                <div class="md-list-item-text">
                                    <h3 class="wz-text-link" ng-click="switchConfigTab('ruleset')">Ruleset</h3>
                                    <p>Current rules, decoders and CDB lists loaded in the cluster</p>
                                </div>
                            </md-list-item> -->
                        <!-- End manager sections -->
                        <!-- Agent sections -->
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="agent && agent.id !== '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('global-configuration', [{component:'com',configuration:'logging'}])">Global
                                    configuration</h3>
                                <p>Logging settings that apply to the agent</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="agent && agent.id !== '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('client', [{component:'agent',configuration:'client'}])">Communication</h3>
                                <p>Settings related to the connection with the manager</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="agent && agent.id !== '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('client-buffer', [{component:'agent',configuration:'buffer'}])">Anti-flooding
                                    settings</h3>
                                <p>Agent bucket parameters to avoid event flooding</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="agent && agent.id !== '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('alerts',[{component:'agent',configuration:'labels'}])">Labels</h3>
                                <p>User-defined information about the agent included in alerts</p>
                            </div>
                        </md-list-item>
                        <!-- End agent sections -->
                    </md-list>

                </md-card-content>
            </md-card>
            <!-- End main configurations card -->

            <!-- Alerts and output management card -->
            <md-card class="wz-md-card md-margin-h-0" ng-if="!agent || agent.id === '000'">
                <md-card-content>
                    <span class="font-size-16" ng-if="!agent || agent.id === '000'">Alerts and output management</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <md-list layout="row" layout-wrap>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="!agent || agent.id === '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('alerts',[{component:'analysis',configuration:'alerts'},{component:'analysis',configuration:'labels'},{component:'mail',configuration:'alerts'},{component:'monitor',configuration:'reports'}, {component:'csyslog',configuration:'csyslog'}])">Alerts</h3>
                                <p>Settings related to the alerts and their format</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="!agent || agent.id === '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('integrations',[{component:'integrator',configuration:'integration'}])">Integrations</h3>
                                <p>Slack, VirusTotal and PagerDuty integrations with external APIs</p>
                            </div>
                        </md-list-item>
                        <!-- <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                                <div class="md-list-item-text">
                                    <h3 class="wz-text-link" ng-click="switchConfigTab('database-output')">Database output</h3>
                                    <p>MySQL and PostgreSQL database output configuration</p>
                                </div>
                            </md-list-item> -->
                    </md-list>

                </md-card-content>
            </md-card>
            <!-- End alerts and output management card -->

            <!-- Auditing and policy monitoring card -->
            <md-card class="wz-md-card md-margin-h-0">
                <md-card-content>
                    <span class="font-size-16">Auditing and policy monitoring</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <md-list layout="row" layout-wrap>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('policy-monitoring', [{component:'syscheck',configuration:'rootcheck'}, {component:'wmodules',configuration:'wmodules'}])">Policy
                                    monitoring</h3>
                                <p>Configuration to ensure compliance with security policies, standards and hardening
                                    guides</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchWodle('open-scap')">OpenSCAP</h3>
                                <p>Configuration assessment and automation of compliance monitoring using SCAP checks</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchWodle('cis-cat')">CIS-CAT</h3>
                                <p>Configuration assessment using CIS scanner and SCAP checks</p>
                            </div>
                        </md-list-item>
                    </md-list>

                </md-card-content>
            </md-card>
            <!-- End auditing and policy monitoring card -->

            <!-- System, threats and incident response card -->
            <md-card class="wz-md-card md-margin-h-0">
                <md-card-content>
                    <span class="font-size-16">System threats and incident response</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <md-list layout="row" layout-wrap>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="!agent || agent.id === '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchWodle('vulnerability-detector')">Vulnerabilities</h3>
                                <p>Discover what applications are affected by well-known vulnerabilities</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchWodle('osquery')">Osquery</h3>
                                <p>Expose an operating system as a high-performance relational database</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchWodle('syscollector')">Inventory data</h3>
                                <p>Gather relevant information about system OS, hardware, networking and packages</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="!agent || agent.id === '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('active-response',[{component:'analysis',configuration:'command'},{component:'analysis',configuration:'active_response'}])">Active
                                    response</h3>
                                <p>Active threat addressing by inmmediate response</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="agent && agent.id !== '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('active-response',[{component:'com',configuration:'active-response'}])">Active
                                    response</h3>
                                <p>Active threat addressing by inmmediate response</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchWodle('command')">Commands</h3>
                                <p>Configuration options of the Command wodle</p>
                            </div>
                        </md-list-item>
                    </md-list>

                </md-card-content>
            </md-card>
            <!-- End system, threats and incident response card -->

            <!-- Log data analysis card -->
            <md-card class="wz-md-card md-margin-h-0">
                <md-card-content>
                    <span class="font-size-16">Log data analysis</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <md-list layout="row" layout-wrap>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('log-collection',[{component:'logcollector',configuration:'localfile'},{component:'logcollector',configuration:'socket'}])">Log
                                    collection</h3>
                                <p>Log analysis from text files, Windows events or syslog outputs</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('integrity-monitoring',[{component:'syscheck',configuration:'syscheck'}])">Integrity
                                    monitoring</h3>
                                <p>Identify changes in content, permissions, ownership, and attributes of files</p>
                            </div>
                        </md-list-item>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line" ng-if="!agent || agent.id === '000'">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchConfigTab('agentless',[{component:'agentless',configuration:'agentless'}])">Agentless</h3>
                                <p>Run integrity checks on devices such as routers, firewalls and switches</p>
                            </div>
                        </md-list-item>
                    </md-list>

                </md-card-content>
            </md-card>
            <!-- End log data analysis card -->

            <!-- Cloud security monitoring card -->
            <md-card class="wz-md-card md-margin-h-0" ng-if="!agent || agent.id === '000'">
                <md-card-content>
                    <span class="font-size-16">Cloud security monitoring</span>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <md-list layout="row" layout-wrap>
                        <md-list-item flex="100" flex-gt-md="50" flex-gt-lg="33" class="md-2-line">
                            <div class="md-list-item-text">
                                <h3 class="wz-text-link" ng-click="switchWodle('aws-s3')">Amazon S3</h3>
                                <p>Security events related to Amazon AWS services, collected directly via AWS API</p>
                            </div>
                        </md-list-item>
                    </md-list>

                </md-card-content>
            </md-card>
            <!-- End cloud security monitoring card -->

        </div>
        <!-- End configuration cards section -->

        <!-- This section is the right sidenav content -->
        <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
            <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp"><i
                    class="fa fa-fw fa-question-circle-o"></i></span>
            <md-list ng-if="showHelp">
                <md-subheader>More info about this section</md-subheader>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/manager/index.html">Wazuh
                    administration documentation</md-list-item>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/index.html">Wazuh
                    capabilities documentation</md-list-item>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/index.html">Local
                    configuration reference</md-list-item>
            </md-list>
        </md-sidenav>
        <!-- End right sidenav section -->

    </div>
    <!-- End configuration section cards and right sidenav -->

</div>