<div flex="auto" layout="column" ng-if="editionTab === 'editconfiguration'">

    <div flex="auto" layout="column" ng-controller="editionController" ng-show="editingFile && !load ">

        <!-- Loading ring -->
        <div class='uil-ring-css' ng-show="load">
            <div></div>
        </div>
        <!-- Headline (cluster) -->
        <div layout="column" layout-padding ng-show="clusterStatus.data.data.enabled === 'yes' && clusterStatus.data.data.running === 'yes' ">
            <div layout="row">
                <span class="font-size-18">
                    <i class="fa fa-fw fa-edit" aria-hidden="true"></i> Cluster configuration</span>
            </div>
        </div>

        <!-- Headline (manager) -->
        <div layout="column" layout-padding ng-show="clusterStatus.data.data.enabled !== 'yes' || clusterStatus.data.data.running !== 'yes' ">
            <div layout="row">
                <span class="font-size-18">
                    <i class="fa fa-fw fa-edit" aria-hidden="true"></i> Manager configuration</span>
            </div>
        </div>
        <!-- End headline -->

        <div flex="auto" class="wz-padding-top-50" layout="row" style="overflow-y: hidden;">
            <!-- XML editor for node configuration -->
            <div flex layout="column">
                <div layout="row" class="md-padding-h">
                    <!-- List of nodes if cluster is enabled -->
                    <div ng-show="selectedNode && clusterStatus.data.data.enabled === 'yes' && clusterStatus.data.data.running === 'yes' "
                        layout="row" layout-padding style="padding: 0;height: 32px;">
                        <div layout="column" layout-align="center" class="height-35 wz-select-input wz-margin-right-8">
                            <select class="kuiSelect wz-border-none cursor-pointer max-height-35" id="categoryBox"
                                ng-model="selectedNode" ng-change="changeNode()" aria-label="Select node">
                                <option ng-repeat="node in nodes" value="{{node.name}}">{{node.name}} ({{node.type}})</option>
                            </select>
                        </div>
                    </div>
                    <button ng-disabled='xmlHasErrors' ng-click="switchConfigurationTab('welcome', false)" class='btn btn-info'>
                        <span>Cancel</span>
                    </button>
                    <button ng-disabled='xmlHasErrors || doingSaving ||isRestarting' ng-click='saveConfiguration()'
                        class='btn wz-button wz-margin-left-8'>
                        <span ng-show='!xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save' ng-class="doingSaving ? 'fa-spin fa-spinner' : ''"></i>Save</span>
                        <span ng-show='xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                            XML format error</span>
                    </button>
                    <span flex ng-if="!restartMsg"></span>
                    <div ng-show="restartMsg" class="confirmEmbedBubble confirmEmbedBubbleInline">
                        <span class="wz-padding-top-10 wz-padding-left-8">Configuration is not applied yet. Do you want
                            to restart <b>{{selectedNode}}</b> to apply it?</span>
                        <button class="btn cancelBtn btn-info md-padding-h" type="button" ng-click="restartMsg = false">I
                            will do it later</button>
                        <button class="btn wz-button" type="button" ng-disabled="doingSaving" ng-click="restartNode(selectedNode); restartMsg = false">Restart
                            <b>{{selectedNode}}</b> now</button>
                    </div>
                    <button ng-show="!showConfirmRestartNode && !restartMsg" class="btn wz-button" ng-disabled="isRestarting || doingSaving"
                        ng-click="showConfirmRestartNode = true"><i class="fa fa-refresh" ng-class="isRestarting ? 'fa-spin fa-spinner' : ''"></i>
                        Restart {{selectedNode}}
                    </button>
                    <div ng-show="showConfirmRestartNode" class="confirmEmbedBubble confirmEmbedBubbleInline">
                        <div layout="row no-wrap">
                            <span class="wz-padding-top-10 wz-padding-left-8"><strong>{{selectedNode}}</strong> will be
                                restarted
                            </span>
                        </div>
                        <div layout="row">
                            <md-button class="cancelBtn btn-info" type="button" ng-click="showConfirmRestartNode = false">Cancel</md-button>
                            <md-button class="btn wz-button" type="button" ng-click="restartNode(selectedNode);showConfirmRestartNode = false"><i
                                    aria-hidden='true' class='fa fa-fw fa-check'></i>
                                Confirm</md-button>
                        </div>
                    </div>
                </div>
                <div class="md-padding md-padding-top-10" style="height: calc(100vh - 215px);" ng-if="fetchedXML">
                    <wz-xml-file-editor file-name='ossec.conf' data="fetchedXML" target-name="selectedNode" valid-fn='xmlIsValid(valid)'
                        saving-param='toggleSaveConfig()' close-fn='closeEditingFile(reload)'>
                    </wz-xml-file-editor>
                </div>
            </div>
        </div>
    </div>
</div>