<div flex="auto" layout="column" ng-if="mctrl.editionTab === 'editconfiguration'">
    <div flex="auto" layout="column" ng-controller="editionController as editctrl"
        ng-show="editctrl.editingFile && !editctrl.load ">

        <!-- Headline (cluster) -->
        <div layout="column" layout-padding
            ng-show="editctrl.clusterStatus.data.data.enabled === 'yes' && editctrl.clusterStatus.data.data.running === 'yes' ">
            <div layout="row">
                <span class="font-size-18">
                    <react-component name="EuiIcon" props="{type:'gear', size:'l'}" /> Cluster configuration
                </span>
            </div>
        </div>

        <!-- Headline (manager) -->
        <div layout="column" layout-padding
            ng-show="editctrl.clusterStatus.data.data.enabled !== 'yes' || editctrl.clusterStatus.data.data.running !== 'yes' ">
            <div layout="row">
                <span class="font-size-18">
                    <react-component name="EuiIcon" props="{type:'gear', size:'l'}" /> Manager configuration
                </span>
            </div>
        </div>
        <!-- End headline -->

        <div flex="auto" class="wz-padding-top-50" layout="row" style="overflow-y: hidden;">
            <!-- XML editor for node configuration -->
            <div flex layout="column">
                <div layout="row" class="md-padding-h" ng-if="editctrl.fetchedXML && !editctrl.failedNode">
                    <!-- List of nodes if cluster is enabled -->
                    <div ng-show="editctrl.selectedNode && editctrl.clusterStatus.data.data.enabled === 'yes' && editctrl.clusterStatus.data.data.running === 'yes'"
                        layout="row" layout-padding style="padding: 0;height: 32px;">
                        <div layout="column" layout-align="center" class="height-35 wz-select-input wz-margin-right-8">
                            <select class="kuiSelect wz-border-none cursor-pointer max-height-35" id="categoryBox"
                                ng-model="editctrl.selectedNode" ng-change="editctrl.changeNode()"
                                ng-disabled="editctrl.xmlHasErrors || editctrl.doingSaving || editctrl.isRestarting || wazuhNotReadyYet"
                                aria-label="Select node">
                                <option ng-repeat="node in editctrl.nodes" value="{{node.name}}">{{node.name}}
                                    ({{node.type}})
                                </option>
                            </select>
                        </div>
                    </div>
                    <button
                        ng-disabled="editctrl.xmlHasErrors || editctrl.doingSaving || editctrl.isRestarting || wazuhNotReadyYet"
                        ng-click="mconfigctrl.switchConfigurationTab('welcome', false)"
                        class='kuiButton kuiButton--hollow height-35'>
                        <span>Cancel</span>
                    </button>

                    <div layout="row" class="fullWidth">
                        <button
                            ng-disabled="editctrl.xmlHasErrors || editctrl.doingSaving || editctrl.isRestarting || wazuhNotReadyYet"
                            ng-click="editctrl.saveConfiguration()"
                            class="kuiButton kuiButton--secondary height-35 wz-margin-left-8">
                            <span ng-show="!editctrl.xmlHasErrors">
                                <react-component name="EuiIcon" ng-if="!editctrl.doingSaving" props="{type:'save'}" />
                                <react-component name="EuiLoadingSpinner" ng-if="editctrl.doingSaving"
                                    props="{size: 's'}" />
                                Save
                            </span>
                            <span ng-show="editctrl.xmlHasErrors" class='btn-danger'><i aria-hidden='true'
                                    class='fa fa-fw fa-exclamation-triangle'></i>
                                XML format error</span>
                        </button>
                        <span flex ng-if="!restartBtn"></span>
                        <button ng-show="!showConfirmRestartNode && !restartBtn" class="btn wz-button"
                            ng-disabled="editctrl.isRestarting || editctrl.doingSaving || wazuhNotReadyYet"
                            ng-click="showConfirmRestartNode = true">
                            <react-component name="EuiIcon" ng-if="!editctrl.isRestarting" props="{type:'refresh'}" />
                            <react-component name="EuiLoadingSpinner" ng-if="editctrl.isRestarting"
                                props="{size: 's'}" />
                            Restart {{editctrl.selectedNode}}
                        </button>
                        <div ng-show="showConfirmRestartNode" class="confirmEmbedBubble confirmEmbedBubbleInline">
                            <div layout="row no-wrap">
                                <span
                                    class="wz-padding-top-10 wz-padding-left-8"><strong>{{editctrl.selectedNode}}</strong>
                                    will be
                                    restarted
                                </span>
                            </div>
                            <div layout="row">
                                <md-button class="kuiButton kuiButton--hollow height-35" type="button"
                                    ng-click="showConfirmRestartNode = false">Cancel</md-button>
                                <md-button class="btn wz-button" type="button"
                                    ng-click="editctrl.restartNode(editctrl.selectedNode);showConfirmRestartNode = false">
                                    <react-component name="EuiIcon" props="{type:'check'}" />
                                    Confirm</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-padding md-padding-top-10"
                    ng-if="!editctrl.fetchedXML && !editctrl.failedNode">
                    <react-component name="EuiProgress" props="{size: 'xs', color: 'primary'}" />
                </div>

                <div class="md-padding md-padding-top-10"
                    ng-if="!editctrl.fetchedXML && editctrl.failedNode">
                    <div flex layout="row" layout-align="center center">
                        <md-card flex="50" class="wz-md-card" flex>
                            <md-card-content class="wz-text-center">
                                <span class="wz-headline-title">
                                    <react-component name="EuiIcon" props="{type: 'alert'}" /> Wazuh manager not
                                    reachable.
                                </span>
                                <md-divider class="wz-margin-top-10"></md-divider>
                                <div layout="row" class="wz-margin-top-10 layout-align-center-center">
                                    <button class="kuiButton kuiButton--secondary height-35"
                                        ng-click="editctrl.changeNode(true)">
                                        <react-component name="EuiIcon" props="{type: 'refresh'}" /> Refresh
                                    </button>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>

                <div class="md-padding md-padding-top-10"
                    ng-if="editctrl.fetchedXML">
                    <wz-xml-file-editor file-name="ossec.conf" data="editctrl.fetchedXML"
                        target-name="editctrl.selectedNode" valid-fn="editctrl.xmlIsValid(valid)"
                        saving-param="editctrl.toggleSaveConfig()" close-fn="editctrl.closeEditingFile(reload)">
                    </wz-xml-file-editor>
                </div>
            </div>
        </div>
    </div>
</div>