nav.euiBreadcrumbs.wz-global-breadcrumb span.euiBreadcrumb[title=""]:first-child{
    display: none;
}

.wz-global-breadcrumb {
    font-size: 14px;
    // font-family: "Inter UI";
    padding: 0px;
}

.wz-global-breadcrumb-btn{
    max-width: unset!important;
    // height: 20px;
}

.wz-global-breadcrumb-btn{
    // height: 20px;
    // font-family: "Inter UI";
}


@media screen and (-webkit-min-device-pixel-ratio: 0) { 
    _::-webkit-full-page-media, _:future, :root , .wz-global-breadcrumb {
        line-height: 1.5;
    }
}

@-moz-document url-prefix() {
    .wz-global-breadcrumb #breadcrumbNoTitle {
        height: auto!important;
    }
}