.dmc-forwarder-setup-button-section {
	padding-bottom: 30px;
}

.forwarder-monitoring-settings {
  padding: 15px 0;
}

.rebuild-forwarder-section {
	padding-top: 30px;

	.rebuild-dmc-forwarder-assets-explanation {
	  padding-top: 5px;
	}
}

.section-header {
	padding-bottom: 0;
}
