.shared-basemanager-grid {
    td.cell-category {
        min-width: 150px;
        max-width: 200px;
        word-break: break-word;
    }

	td.cell-applicable_to_groups {
        min-width: 100px;
        max-width: 250px;
        word-break: break-word;
    }

    td.cell-status {
        min-width: 75px;
        max-width: 100px;
    }
}
