@import "brand.pcss";

/* Brand colors */
$brandColorL50: $splunkLiteColorL50;
$brandColorL40: $splunkLiteColorL40;
$brandColorL30: $splunkLiteColorL30;
$brandColorL20: $splunkLiteColorL20;
$brandColorL10: $splunkLiteColorL10;
$brandColor:    $splunkLiteColor;
$brandColorD10: $splunkLiteColorD10;
$brandColorD20: $splunkLiteColorD20;
$brandColorD30: $splunkLiteColorD30;
$brandColorD40: $splunkLiteColorD40;
$brandColorD50: $splunkLiteColorD50;
