/*************************************************************************************************/
/*  FONTS                                                                                        */
/*************************************************************************************************/
@mixin define-font 'Splunk Platform Sans', proxima-bold-webfont.woff, woff, bold;                        /*  Bold */
@mixin define-font 'Splunk Platform Sans', proxima-regular-webfont.woff;                                 /*  Regular */
@mixin define-font 'Splunk Platform Sans', proxima-semibold-webfont.woff, woff, $fontWeightSemiBold;     /*  Semi-bold */
@mixin define-font 'Splunk Platform Mono', inconsolata-regular.woff, woff;                               /*  Monospace */
@mixin define-font 'Splunk Icons', splunkicons-regular-webfont.woff, woff;                      /*  Splunk Icons :  unicode-range: U+00-FF; */
