<div ng-show='editingFile'>
    <div class='wzXmlEditorBack'></div>
    <div class='wzXmlEditor'>
        <div class='wzXmlEditorHeader'>
            <span>Edit <b>{{fileName}}</b> of <b>{{targetName}}</b></span>
            <i aria-hidden='true' class='fa fa-fw fa-times cursor-pointer' ng-click='editingFile = false'></i>
        </div>
        <div class='wzXmlEditorBody'>
            <div class='uil-ring-css' ng-show="loadingFile">
                <div></div>
            </div>
            <div ng-show='!loadingFile'>
                <textarea id='xml_box'></textarea>
            </div>
        </div>
        <div class='wzXmlEditorFooter'>
            <span ng-click='editingFile = false' class='btn btn-info'>Cancel</span>
            <span ng-disabled='xmlHasErrors' ng-click='saveFile()' class='btn btn-primary pull-right'>
                <span ng-show='!xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save'></i>Save file</span>
                <span ng-show='xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                    XML format error</span>
            </span>
        </div>
    </div>
</div>