<div class='wzXmlEditor'>
    <div layout="row" ng-if="configError" class="extraHeader">
        <md-list>
            <md-list-item class="error-enum-configuration" ng-repeat="error in configError | unique: error">
                <span class="wz-agent-status-indicator small red-text padding-left-0">{{error}}</span>
            </md-list-item>
        </md-list>
    </div>
    <div class='wzXmlEditorHeader'>
        <span>Edit <b>{{fileName}}</b> of <b>{{targetName}}</b> <span tooltip='{{xmlError}}' class="wz-agent-status-indicator small red-text"
                ng-if="xmlError">{{xmlError}}</span></span>
    </div>
    <div layout="row" ng-if="restartBtn" class="extraHeaderInfo">
        <span><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
            Changes will not take effect until a restart is performed.</span>
        <span flex></span>
        <span class="cursor-pointer" ng-if="fileName !== 'ossec.conf'" ng-click="doRestart()">Restart now</span>
    </div>
    <div class='wzXmlEditorBody' ng-show='!loadingFile'>
        <textarea id='xml_box'></textarea>
    </div>
</div>