body.md-default-theme,
body,
html.md-default-theme,
html {
  color: #dfe5ef !important;
}

.euiHeaderSectionItem__button,
.euiListGroupItem__icon {
  color: #dfe5ef;
}

.euiToolTipAnchor {
  color: white;
}

.app-wrapper-panel {
  background-color: #1a1b20;
}

.wz-md-card:not(.wz-metric-color) {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3), 0 1px 5px -2px rgba(0, 0, 0, 0.3);
  background-color: #1D1E24;
  border: 1px solid #343741;
}

.wz-card-actions-vis {
  color: white;
  border-bottom: 1px solid #343741;
}

.wz-card-actions.wz-card-actions-top {
  border-bottom: 1px solid #343741;
  background: #16171c;
  color: #dfe5ef;
}

.kuiButton--secondary:enabled:hover {
  color: #45b9f6!important;
  border-color: #1BA9F5;
  background: transparent;
}

md-content.md-default-theme,
md-content {
  background-color: #1a1b20;
  color: #c8dad9;
}

.wz-metric-color {
  background-color: #343741 !important;
  border: 1px solid #131417;
  color: white;
}

.visLegend__toggle {
  color: white!important;
}

discover-app-w .container-fluid {
  background-color: #1D1E24;
}

.euiBreadcrumbs--truncate
  .euiBreadcrumb:not(.euiBreadcrumb--collapsed).euiBreadcrumb--last,
.euiNavDrawerGroup__item .euiListGroupItem__label,
.euiNavDrawer .euiNavDrawer__expandButton .euiListGroupItem__button {
  color: #dfe5ef;
}

.percentage {
  color: #fff;
  background-color: transparent !important;
}

.wz-nav-item button.md-primary {
  color: #0079a5 !important;
  background-color: #232635!important;
  border-bottom: 2px solid #006BB4;
}

md-nav-bar.md-default-theme .md-nav-bar, md-nav-bar .md-nav-bar {
  border-color: rgb(52, 55, 65);
}

.wz-nav-item button.md-unselected {
  color: #fff !important;
}

.sidebar-container .index-pattern {
  background-color: #1ba9f5!important;
  color: white!important;
}

.wz-menu-content {
  background-color: #1a1b20;
  border-bottom: 1px solid #343741;
  color: white;
}

.wz-menu-button.wz-menu-active {
  background-color: #16171c !important;
}

.wz-menu-button:not([disabled]):hover {
  background: #16171c;
}

.wzXmlEditor {
  background: #1d1e24;
  border: 1px solid #343741;
  color: #c8dad9;
}

.CodeMirror {
  border-top: 1px solid #5c606f;
}

.wz-select-input {
  border: none !important;
}

.euiCard {
  color: #dfe5ef;
}

.md-subheader.md-default-theme, .md-subheader {
  color: #dfe5ef;
}

.euiCard__top.wz-card-actions-top {
  background: #272931;
}

.table {
  color: #dfe5ef !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #1a1b21;
  color: #dfe5ef !important;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(27, 169, 245, 0.05) !important;
}

#wz-search-filter-bar {
  background: #16171c;
  color: #dfe5ef;
}

#wz-search-filter-bar-input{
  box-shadow: none;
}

.kuiLocalSearchInput, .kuiLocalSearchInput:focus {
  border: 1px solid #343741 !important;
}

.btn-info {
  border: 1px solid #343741 !important;
}

.table-resizable > thead th:not(:first-child) {
  border-left: 1px dashed #343741;
}

md-dialog.md-default-theme.md-content-overflow .md-actions, 
md-dialog.md-content-overflow .md-actions, 
md-dialog.md-default-theme.md-content-overflow md-dialog-actions, 
md-dialog.md-content-overflow md-dialog-actions, 
md-divider.md-default-theme, md-divider {
  border-top-color: rgb(52, 55, 65);
}

.wz-item-detail {
  border: 1px solid #343741;
}

.wz-item-list {
  background-color: #16171c;
  border: 1px solid #343741;
}

.euiFlexGroup .euiFlexGroup:hover {
  background: #1D1E24;
}