<div ng-if="!loading && !viewingDetail" layout="column" class="md-padding">
    <div id="content" layout="row">

        <input flex placeholder="Filter rules..." ng-model="custom_search" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid wz-margin-top-4 height-36"
            aria-invalid="false" wz-enter="search(custom_search)">
        <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-36 wz-margin-top-4" ng-click="search(custom_search)">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>

        <md-button ng-class="(globalRulesetTab == 'rules') ? 'active' : ''"
            ng-click="setRulesTab('rules')" class="wz-button md-raised md-primary manager-ruleset-btn" aria-label="Ruleset rules button">
            <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i> Rules
        </md-button>
        <md-button ng-class="(globalRulesetTab == 'decoders') ? 'active' : ''"
            ng-click="setRulesTab('decoders')" class="wz-button md-raised md-primary manager-ruleset-btn" aria-label="Ruleset decoders button">
            <i class="fa fa-fw fa-search" aria-hidden="true"></i> Decoders
        </md-button>
    </div>

    <md-chips class="wz-chips" readonly="true" ng-show="appliedFilters.length">
        <md-chip class="wz-chip" ng-show="includesFilter('file')">
            <span>File: {{getFilter('file')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('file')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('path')">
            <span>Path: {{getFilter('path')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('path')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('level')">
            <span>Level: {{getFilter('level')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('level')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('group')">
            <span>Group: {{getFilter('group')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('group')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('pci')">
            <span>PCI control: {{getFilter('pci')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('pci')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('gdpr')">
            <span>GDPR: {{getFilter('gdpr')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('gdpr')"></i>
            </span>
        </md-chip>
    </md-chips>

    <div layout="row">
        <wz-table
            implicit-filter="appliedFilters"
            flex
            path="'/rules'"
            keys="['id',{value:'file',size:2},{value:'description',size:2},{value:'groups',nosortable:true,size:2},{value:'pci',nosortable:true,size:2},{value:'gdpr',nosortable:true},'level']"
            allow-click="true"
            row-sizes="[15,13,11]">
        </wz-table>
    </div>

    <div layout="row" class="wz-margin-top-10">
        <span flex></span>
        <a class="small" id="btnDownload" ng-click="downloadCsv()">Formatted <i aria-hidden="true" class="fa fa-download"></i></a>
    </div>
</div>
