<div ng-if="!loading && !viewingDetail" layout="column">
    <div layout="row" ng-if="!editingFile" class="wz-margin-top-16">
        <div flex class="euiPanel euiPanel--paddingLarge md-margin-h">
            <div layout="row" layout-align="end center">
                    <h1 class="euiTitle euiTitle--medium">Rules</h1>
                    <wz-kbn-switch class="md-primary wz-no-top-bottom-margin md-padding-h wz-margin-top-3" switch-model="mctrl.showingLocalRules"
                    switch-text="Custom rules" switch-change="switchLocalRules()"></wz-kbn-switch>        
                    <span flex></span>
                    <button ng-if="adminMode" type="button" ng-click="mctrl.switchFilesSubTab('rules')" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                            <span class="euiButtonEmpty__content">
                                <react-component name="EuiIcon" props="{type:'folderOpen'}" ></react-component>
                                <span class="euiButtonEmpty__text">Manage rules files</span>
                            </span>
                        </button>
                        <button ng-if="adminMode" type="button" ng-click="mctrl.newFile()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                                <span class="euiButtonEmpty__content">
                                    <react-component name="EuiIcon" props="{type:'plusInCircle'}" ></react-component>
                                    <span class="euiButtonEmpty__text">Add new rule</span>
                                </span>
                            </button>
                <button type="button" ng-click="downloadCsv()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                        <span class="euiButtonEmpty__content">
                            <react-component name="EuiIcon" props="{type:'exportAction'}" ></react-component>
                            <span class="euiButtonEmpty__text">Export formatted</span>
                        </span>
                    </button>
                    <!-- 
                    <button type="button" ng-click="mctrl.openLogtest()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                        <span class="euiButtonEmpty__content">
                            <react-component name="EuiIcon" props="{type:'play'}" ></react-component>
                            <span class="euiButtonEmpty__text">Test your logs</span>
                        </span>
                    </button>
                    -->
                   </div>
            <div class="wz-padding-bottom-0">
                    <div layout="row" style="margin-left: -16px;margin-bottom: 20px;padding-right:0" class="euiFlexGroup euiFlexGroup--alignItemsCenter euiFormControlLayout__childrenWrapper md-padding-h ng-scope wz-margin-top-16"
        ng-if="!mctrl.filesSubTab">
        <input placeholder="Filter rules..." ng-model="custom_search" type="text" class="euiFieldSearch euiFieldSearch--fullWidth euiFlexItem"
            aria-invalid="false" wz-enter="search(custom_search)" id="search-input-rules">
        <wz-add-filter-chip id-input="search-input-rules"
            options="[{label: 'File', value: 'file'}, {label: 'Path', value: 'path', hide: mctrl.showingLocalRules}, {label: 'Level', value: 'level'}, 
        {label: 'Group', value: 'group'}, {label: 'PCI control', value: 'pci'}, {label: 'GDPR', value: 'gdpr'}, {label: 'HIPAA', value: 'hipaa'}, {label: 'NIST-800-53', value: 'nist-800-53'}]" />
        <div class="euiFormControlLayoutIcons wz-margin-left-16">
            <span class="euiFormControlLayoutCustomIcon">
                <react-component name="EuiIcon"
                    props="{type:'search', className:'euiFormControlLayoutCustomIcon__icon'}" />
            </span>
        </div>
        <button type="submit" aria-label="Search" class="euiButton euiButton--primary euiButton--fill wz-margin-left-8"
            ng-click="search(custom_search)">
            <react-component name="EuiIcon" props="{type:'search'}"></react-component> Search
        </button>
        </div>

    <md-chips readonly="true" ng-hide="!appliedFilters.length || 
    (appliedFilters.length === 1 && includesFilter('path') && mctrl.showingLocalRules)"
        ng-if="!editingFile && !mctrl.filesSubTab">
        <md-chip class="wz-chip" ng-show="includesFilter('file')">
            <span>File: {{getFilter('file')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('file')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('path') && !mctrl.showingLocalRules">
            <span>Path: {{getFilter('path')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('path')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('level')">
            <span>Level: {{getFilter('level')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('level')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('group')">
            <span>Group: {{getFilter('group')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('group')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('pci')">
            <span>PCI control: {{getFilter('pci')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('pci')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('gdpr')">
            <span>GDPR: {{getFilter('gdpr')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('gdpr')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('hipaa')">
            <span>HIPAA: {{getFilter('hipaa')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('hipaa')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('nist-800-53')">
            <span>NIST-800-53: {{getFilter('nist-800-53')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true"
                    ng-click="removeFilter('nist-800-53')"></i>
            </span>
        </md-chip>
    </md-chips>
    <div class="wz-margin-top-16">
                <wz-table lens="mctrl.showingLocalRules" custom-columns="true" flex ng-if="mctrl.showingLocalRules" path="'/rules'" keys="[{value: 'id', width: '85px'},{value:'description', width: 'auto'},{value:'groups',nosortable:true, width: '250px'},{value:'pci',nosortable:true, width: '170px'},{value:'gdpr',nosortable:true,width: '170px'}, {value:'hipaa',nosortable:true,width: '170px'}, {value:'nist-800-53',nosortable:true,width: '170px'}, {value: 'level', width: '100px'}, {value:'file',width: '200px'}, {value:'path', width: 'auto'}]"
                    implicit-filter="appliedFilters" allow-click="true" row-sizes="[16,14,12]" implicit-sort="'id'">
                </wz-table>
                <wz-table lens="mctrl.showingLocalRules" custom-columns="true" ng-if="!mctrl.showingLocalRules" implicit-filter="appliedFilters" flex
                    path="'/rules'" keys="[{value: 'id', width: '85px'},{value:'description', width: 'auto'},{value:'groups',nosortable:true, width: '250px'},{value:'pci',nosortable:true, width: '170px'},{value:'gdpr',nosortable:true,width: '170px'}, {value:'hipaa',nosortable:true,width: '170px'}, {value:'nist-800-53',nosortable:true,width: '170px'}, {value: 'level', width: '100px'}, {value:'file',width: '200px'}, {value:'path', width: 'auto'}]"
                    allow-click="true" row-sizes="[16,14,12]" implicit-sort="'id'">
                </wz-table>
            </div>
        </div>
        </div>
    </div>
</div>