<!-- No configuration section -->
<wz-no-config flex error="'not-present'"
    ng-if="configurationSubTab === 'amazon-services' && currentConfig && currentConfig['aws-s3'] && !currentConfig['aws-s3'].services" />
<wz-no-config flex error="'Wazuh not ready yet'"
    ng-if="wazuhNotReadyYet && (!currentConfig || !currentConfig['aws-s3']) && configurationSubTab === 'amazon-services'" />
<!-- End no configuration section -->

<!-- Buckets card -->
<md-card flex="auto" class="wz-md-card height-full"
    ng-if="!JSONContent && !XMLContent && configurationSubTab === 'amazon-services' && currentConfig && currentConfig['aws-s3'] && currentConfig['aws-s3'].services">
    <md-card-content flex layout="column" class="height-full">
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Services</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">Amazon services from where logs are read</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small"
                ng-click="getJSON()">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small"
                ng-click="getXML()">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- The container for both list and detail -->
        <div flex="auto" layout="row" class="wz-margin-top-10 min-height-300 height-full">

            <!-- List container -->
            <div flex="30" layout="column">

                <md-list flex="auto" class="wz-item-list">
                    <md-list-item class="wz-text-link" ng-click="updateSelectedItem($index)"
                        ng-repeat="item in currentConfig['aws-s3'].services">{{item.type}}</span>
                    </md-list-item>
                </md-list>

            </div>
            <!-- End list container -->

            <!-- Detail container -->
            <div flex layout="column" ng-if="currentConfig['aws-s3'].services.length">
                <div flex="auto" class="wz-item-detail">
                    <wz-config-item label="Service type"
                        value="currentConfig['aws-s3'].services[selectedItem].type">
                    </wz-config-item>
                    <wz-config-item label="Profile name with read permissions"
                        value="currentConfig['aws-s3'].services[selectedItem].aws_profile">
                    </wz-config-item>
                    <wz-config-item label="AWS account alias"
                        value="currentConfig['aws-s3'].services[selectedItem].account_alias">
                    </wz-config-item>
                    <wz-config-item label="IAM ARN role to read bucket logs"
                        value="currentConfig['aws-s3'].services[selectedItem].iam_role_arn">
                    </wz-config-item>
                    <wz-config-item label="Parse only logs from this date onwards"
                        value="currentConfig['aws-s3'].services[selectedItem].only_logs_after">
                    </wz-config-item>
                    <wz-config-item label="Limit log parsing to these regions"
                        value="currentConfig['aws-s3'].services[selectedItem].regions">
                    </wz-config-item>
                </div>

            </div>
            <!-- End detail container -->
        </div>
        <!-- End container for both list and detail -->
    </md-card-content>
</md-card>
<!-- End buckets card -->