<!-- Monitored card -->
<md-card flex="auto" class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'fim-monitored'">
    <md-card-content flex layout="column">
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Monitored directories</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">These directories are included on the integrity scan</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('syscheck')">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('syscheck')">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- The container for both list and detail -->
        <div flex="auto" layout="row" class="wz-margin-top-10">

            <!-- List container -->
            <div flex="30" layout="column">

                <md-list flex="auto" class="wz-item-list">
                    <md-list-item>Test</md-list-item>
                </md-list>

            </div>
            <!-- End list container -->

            <!-- Detail container -->
            <div flex layout="column">

                <div flex="auto" class="wz-item-detail">
                    <wz-config-item
                        label="Enable realtime monitoring"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Enable auditing (who-data)"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Report file changes"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Perform all checksums"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check sums (MD5 & SHA1)"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check MD5 sum"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check SHA1 sum"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check SHA256 sum"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files size"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files owner"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files groups"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files permissions"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files modification time"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files inodes"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Restrict to files containing this string"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Custom tags for alerts"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Recursion level"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                </div>

            </div>
            <!-- End detail container -->
        </div>
        <!-- End container for both list and detail -->
    </md-card-content>
</md-card>
<!-- End monitored card -->
