include ./integrity-monitoring.head
include ./fim-general.html
include ./fim-ignored.html
include ./fim-monitored.html
include ./fim-nodiff.html
include ./fim-windows.html
include ../../../footer.foot
