<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="configurationSubTab === 'amazon-s3'" ng-init="switchConfigurationSection('amazon-s3-general')">

    <!-- This section appears when there's no configuration -->
    <wz-no-config flex ng-if="false"></wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column">

        <!-- Switch configuration sections buttons -->
        <div layout="row" layout-align="center center" class="wz-margin-top-10">
            <md-button ng-class="configurationSection === 'amazon-s3-general' ? 'active' : ''" class="wz-button wz-button-group md-raised small left" ng-click="switchConfigurationSection('amazon-s3-general')">General</md-button>
            <md-button ng-class="configurationSection === 'amazon-s3-buckets' ? 'active' : ''" class="wz-button wz-button-group md-raised small right" ng-click="switchConfigurationSection('amazon-s3-buckets')">Buckets</md-button>
        </div>
        <!-- End switch configuration sections buttons -->

        <!-- General card -->
        <md-card class="wz-md-card" ng-if="configurationSection === 'amazon-s3-general' && !JSONContent && !XMLContent">
            <md-card-content>
                <span class="font-size-16">Main settings</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item
                        label="Amazon S3 integration status"
                        value="enabled">
                    </wz-config-item>
                    <wz-config-item
                        label="Frequency for reading from S3 buckets"
                        value="1800">
                    </wz-config-item>
                    <wz-config-item
                        label="Run on start"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Remove bucket logs after being read"
                        value="1d">
                    </wz-config-item>
                    <wz-config-item
                        label="Skip logs that can't be processed"
                        value="enabled">
                    </wz-config-item>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End general card -->

        <!-- Buckets card -->
        <md-card flex="auto" class="wz-md-card" ng-if="configurationSection === 'amazon-s3-buckets' && !JSONContent && !XMLContent">
            <md-card-content flex layout="column">
                <span class="font-size-16">Buckets</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">Amazon buckets from where logs are read</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The container for both list and detail -->
                <div flex="auto" layout="row" class="wz-margin-top-10">

                    <!-- List container -->
                    <div flex="30" layout="column">

                        <md-list flex="auto" class="wz-item-list">
                            <md-list-item>Test</md-list-item>
                        </md-list>

                    </div>
                    <!-- End list container -->

                    <!-- Detail container -->
                    <div flex layout="column">

                        <div flex="auto" class="wz-item-detail">
                            <wz-config-item
                                label="Bucket type"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Bucket name"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="AWS account IDs"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="AWS account alias"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="IAM user access key"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="IAM user secret key"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Profile name with read permissions"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="IAM ARN role to read bucket logs"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Bucket path"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Parse only logs from this date onwards"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Limit log parsing to these regions"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                        </div>

                    </div>
                    <!-- End detail container -->
                </div>
                <!-- End container for both list and detail -->
            </md-card-content>
        </md-card>
        <!-- End buckets card -->

        <!-- JSON card -->
        <md-card flex="auto" class="wz-md-card" ng-if="JSONContent">
            <md-card-content flex layout="column">
                <span class="font-size-16">JSON viewer</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The JSON viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre><code wz-dynamic="JSONContent"></code></pre>
                </div>
                <!-- End JSON viewer -->
            </md-card-content>
        </md-card>
        <!-- End JSON card -->

        <!-- XML card -->
        <md-card flex="auto" class="wz-md-card" ng-if="XMLContent">
            <md-card-content flex layout="column">
                <span class="font-size-16">XML viewer</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The XML viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre>{{ XMLContent }}</pre>
                </div>
                <!-- End XML viewer -->
            </md-card-content>
        </md-card>
        <!-- End XML card -->

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav
        class="md-sidenav-right"
        md-is-locked-open="true">
        <md-list>
            <md-subheader>Any questions?</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/amazon/index.html">Using Wazuh to monitor AWS</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/wodle-s3.html">Amazon S3 module reference</md-list-item>

            <md-divider></md-divider>

            <md-subheader>Having trouble?</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://groups.google.com/forum/#!forum/wazuh">Ask on the mailing list</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://github.com/wazuh/wazuh/issues">Ask on GitHub</md-list-item>

            <md-divider></md-divider>

            <md-subheader>More options</md-subheader>
            <md-list-item layout-wrap>
                <md-button ng-class="JSONContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getJSON('amazon-s3')">{{ JSONContent ? "Close JSON viewer" : "Open JSON viewer" }}</md-button>
                <md-button ng-class="XMLContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getXML('amazon-s3')">{{ XMLContent ? "Close XML viewer" : "Open XML viewer" }}</md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->
