<!-- No cluster -->
include ./monitoring/no-cluster.html

<!-- Header -->
include ./monitoring/header.head

<!-- Main -->
include ./monitoring/main.html

<!-- Main timelions -->
include ./monitoring/main-timelions.html

<!-- Config -->
include ./monitoring/config.html

<!-- Node list -->
include ./monitoring/node-list.html

<!-- Node detail -->
include ./monitoring/node-detail.html

<!-- Footer -->
include ./monitoring/footer.foot
