include ./manager.head
include ./manager-status.html
include ./manager-configuration.html
include ./manager-osseclog.html
include ./groups/groups.jade
include ./ruleset/ruleset.jade
include ../footer.foot