<div flex ng-cloak ng-if="!loading && submenuNavItem == 'logs'" layout="column" ng-controller="managerLogController" class="manager-background">

    <div layout="row" layout-align="start start" class="manager-log-top-row">
        <md-input-container class="md-whiteframe-z1 manager-log-input-1" flex="20">
            <md-select ng-disabled="realtime" id="categoryBox" ng-model="category" ng-change="category == 'all' ? logs.removeFilter('category', true) : logs.addFilter('category', category)"
                aria-label="Logs category">
                <md-option selected value="all">Choose daemon</md-option>
                <md-option ng-repeat="(key, value) in summary" value="{{key}}">{{key}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-whiteframe-z1 manager-log-input-2" flex="20">
            <md-select ng-disabled="realtime" id="levelBox" ng-model="type_log" ng-change="type_log == 'all' ? logs.removeFilter('type_log', true) : logs.addFilter('type_log', type_log)"
                aria-label="Logs level">
                <md-option selected value="all">Choose log level</md-option>
                <md-option value="info">Info</md-option>
                <md-option value="error">Error</md-option>
                <md-option value="warning">Warning</md-option>
            </md-select>
        </md-input-container>
        <span flex></span>
        <md-button ng-if="!realtime" class="wazuh-button md-raised md-primary manager-log-buttonplay" ng-click="playRealtime()" aria-label="Play realtime button">
            <i class="fa fa-play fa-fw" aria-hidden="true"></i>
            Play realtime
        </md-button>
        <md-button ng-if="realtime" class="wazuh-button md-raised md-primary manager-log-buttonplay" ng-click="stopRealtime()" aria-label="Stop realtime button">
            <i class="fa fa-stop fa-fw" aria-hidden="true"></i>
            Stop realtime
        </md-button>
    </div>

    <wz-search-bar class="lateral-padding-8" data="logs" term="searchTerm" placetext="'Filter logs...'"></wz-search-bar>

    <div flex layout="column" class="md-padding">

        <!-- Standard -->
        <wz-table-header
            layout="row"
            data="logs"
            keys="[
            {name:'Timestamp',sortValue:'timestamp',size:15},
            {name:'Tag',sortValue:'tag',size:25},
            {name:'Level',sortValue:'level',size:10},
            {name:'Description'}
            ]"
            ng-if="!realtime">
        </wz-table-header>

        <!-- Realtime -->
        <wz-table-header
            layout="row"
            data="realLogs"
            keys="[
            {name:'Timestamp',size:15},
            {name:'Tag',size:25},
            {name:'Level',size:10},
            {name:'Description'}
            ]"
            ng-if="realtime">
        </wz-table-header>

        <!-- Standard -->
        <wz-table
            layout="column"
            flex
            data="logs"
            keys="[{col:'timestamp',size:15},{col:'tag',size:25},{col:'level',size:10},{col:'description'}]"
            ng-if="!realtime"
            class="no-lateral-padding"
            nopointer="true"
            noheight="true">
        </wz-table>

        <!-- Realtime -->
        <wz-table
            layout="column"
            flex
            data="realLogs"
            keys="[{col:'timestamp',size:15},{col:'tag',size:25},{col:'level',size:10},{col:'description'}]"
            ng-if="realtime"
            class="no-lateral-padding",
            noscroll="true"
            nopointer="true"
            noheight="true">
        </wz-table>
    </div>
</div>
