<div flex layout="column" layout-align="start stretch" ng-if="tab === 'welcome'">

    <!-- Headline -->
    <div layout="column" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-server" aria-hidden="true"></i> Management</span>
        <span class="md-subheader">Administer and review your Wazuh installation</span>
    </div>
    <!-- End headline -->

    <!-- Wazuh management card -->
    <div layout="row" layout-align="start stretch" layout-wrap>
        <md-card flex class="wz-md-card">
            <md-card-content flex layout="column">
                <span class="wz-headline-title"><i class="fa fa-fw fa-wrench" aria-hidden="true"></i> Wazuh management</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <md-button ng-click="reloadRuleset()" class="small wz-text-link">Ruleset</md-button>
                    <md-button ng-click="reloadGroups()" class="small wz-text-link">Groups</md-button>
                    <md-button ng-click="switchTab('configuration')" class="small wz-text-link">Configuration</md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End Wazuh management card -->

    <!-- Status and reports card -->
    <div layout="row" layout-align="start stretch" layout-wrap>
        <md-card flex class="wz-md-card">
            <md-card-content flex layout="column">
                <span class="wz-headline-title"><i class="fa fa-fw fa-area-chart" aria-hidden="true"></i> Status and reports</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <md-button ng-click="switchTab('status')" class="small wz-text-link">Status</md-button>
                    <md-button ng-click="switchTab('logs')" class="small wz-text-link">Logs</md-button>
                    <md-button ng-click="switchTab('monitoring')" class="small wz-text-link">Monitoring</md-button>
                    <md-button ng-click="switchTab('reporting')" class="small wz-text-link">Reporting</md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End Status and reports card -->

</div>
