<md-content flex layout="column" ng-controller="managerConfigurationController" ng-if="!load && tab == 'configuration'">

    <!-- Loading ring -->
    <div class='uil-ring-css' ng-show="load">
        <div></div>
    </div>

    <!-- The section container -->
    <div flex layout="row" layout-align="start stretch" class="md-padding" ng-show="!load"  ng-init="selectedItem='global'">

        <!-- Left column - Configuration summary and section links -->
        <div flex="25">

            <!-- GLOBAL -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.global">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('global')" tooltip="Click to see more details" tooltip-placement="right">Global</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Summary -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.jsonout_output">
                        <span flex>JSON output</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.global.jsonout_output}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.alerts.log_alert_level">
                        <span flex>Log alert level</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.alerts.log_alert_level}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END GLOBAL -->

            <!-- CLUSTER -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.cluster">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('cluster')" tooltip="Click to see more details" tooltip-placement="right">Cluster</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Summary -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.name">
                        <span flex>Name</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.cluster.name}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.node_type">
                        <span flex>Node type</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.cluster.node_type}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END CLUSTER -->

            <!-- SYSCHECK -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.syscheck">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('syscheck')" tooltip="Click to see more details" tooltip-placement="right">Syscheck</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Summary -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.frequency">
                        <span flex>Frequency</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.syscheck.frequency}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.alert_new_files">
                        <span flex>Alert new files</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.syscheck.alert_new_files}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END SYSCHECK -->

            <!-- ROOTCHECK -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.rootcheck">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('rootcheck')" tooltip="Click to see more details" tooltip-placement="right">Rootcheck</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Summary -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.frequency">
                        <span flex>Frequency</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.rootcheck.frequency}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.skip_nfs">
                        <span flex>Skip NFS</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.rootcheck.skip_nfs}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END ROOTCHECK -->

            <!-- SYSCOLLECTOR -->
            <md-card flex class="no-margin-left wz-md-card" ng-show="managerConfiguration.syscollector">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('syscollector')" tooltip="Click to see more details" tooltip-placement="right">Syscollector</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscollector.disabled">
                        <span flex>Disabled</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.syscollector.disabled}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscollector.scan_on_start">
                        <span flex>Scan on start</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.syscollector.scan_on_start}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END SYSCOLLECTOR -->

            <!-- LOGCOLLECTOR -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.logcollector">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('logcollector')" tooltip="Click to see more details" tooltip-placement="right">Logcollector</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="row" class="wz-padding-top-10">
                        <span flex>Logcollector settings</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END LOGCOLLECTOR -->

            <!-- E-MAIL ALERTS -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.email_alerts">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('email_alerts')" tooltip="Click to see more details" tooltip-placement="right">E-mail alerts</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Summary -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.email_to">
                        <span flex>Email to</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.email_alerts.email_to}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.alert_level">
                        <span flex>Alert level</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.email_alerts.alert_level}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END E-MAIL ALERTS -->

            <!-- AUTH -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.auth">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('auth')" tooltip="Click to see more details" tooltip-placement="right">Auth</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Summary -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.purge">
                        <span flex>Purge</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.auth.purge}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.force_insert">
                        <span flex>Force insert</span>
                        <span flex class="wz-text-right color-grey">{{managerConfiguration.auth.force_insert}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END AUTH -->

            <!-- RULESET -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.ruleset">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('ruleset')" tooltip="Click to see more details" tooltip-placement="right">Ruleset</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="row" class="wz-padding-top-10">
                        <span flex>Ruleset settings</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END RULESET -->

            <!-- COMMAND -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.command">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('command')" tooltip="Click to see more details" tooltip-placement="right">Command</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="row" class="wz-padding-top-10">
                        <span flex>Command settings</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END COMMAND -->

            <!-- ACTIVE RESPONSE -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration['active-response'].length > 0">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('active-response')" tooltip="Click to see more details" tooltip-placement="right">Active response</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="row" class="wz-padding-top-10">
                        <span flex>Active response settings</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END ACTIVE RESPONSE -->

            <!-- REMOTE -->
            <md-card flex class="no-margin-left wz-md-card" ng-if="managerConfiguration.remote">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title wz-text-link" ng-click="switchItem('remote')" tooltip="Click to see more details" tooltip-placement="right">Remote</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <div layout="row" class="wz-padding-top-10">
                        <span flex>Agents events listening settings</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END REMOTE -->

        </div>
        <!-- End left column -->

        <!-- Right column - Full configuration details -->
        <div flex="75" layout="row" layout-align="start stretch">

            <!-- GLOBAL -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'global'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-dashboard"></i> Global</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.jsonout_output">
                        <span flex="25">JSON output</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.jsonout_output}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.logall">
                        <span flex="25">Log all</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.logall}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.logall">
                        <span flex="25">Log all in JSON</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.logall_json}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.white_list">
                        <span flex="25">White list</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.white_list.length
                            <= 5 ? managerConfiguration.global.white_list : managerConfiguration.global.white_list.length}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.stats">
                        <span flex="25">Stats</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.stats}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.host_infomation">
                        <span flex="25">Host information</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.host_infomation}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.alerts.log_alert_level">
                        <span flex="25">Log alert level</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.alerts.log_alert_level}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.email_notification">
                        <span flex="25">E-mail notifications</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.email_notification}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.alerts.email_alert_level">
                        <span flex="25">E-mail alert level</span>
                        <span class="wz-text-right color-grey">{{ managerConfiguration.alerts.email_alert_level }}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.email_to">
                        <span flex="25">E-mail to</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.email_to}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.email_from">
                        <span flex="25">E-mail from</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.email_from}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.smtp_server">
                        <span flex="25">SMTP server</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.smtp_server}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.email_maxperhour">
                        <span flex="25">Max email per hour</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.email_maxperhour}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.global.email_idsname">
                        <span flex="25">E-mail IDS name</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.global.email_idsname}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END GLOBAL -->

            <!-- CLUSTER -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'cluster'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-server"></i> Cluster</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.disabled">
                        <span flex="25">Disabled</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.disabled}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.hidden">
                        <span flex="25">Hidden</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.hidden}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.name">
                        <span flex="25">Name</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.name}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.interval">
                        <span flex="25">Interval</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.interval}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.node_name">
                        <span flex="25">Node name</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.node_name}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.node_type">
                        <span flex="25">Node type</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.node_type}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.port">
                        <span flex="25">Port</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.port}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.bind_addr">
                        <span flex="25">Bind address</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.bind_addr}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.cluster.nodes">
                        <span flex="25">Nodes</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.cluster.nodes}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END CLUSTER -->

            <!-- SYSCHECK -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'syscheck'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-shield"></i> Syscheck</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.disabled">
                        <span flex="25">Disabled</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.disabled}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.frequency">
                        <span flex="25">Frequency</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.frequency}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.scan_time">
                        <span flex="25">Scan time</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.scan_time}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.scan_day">
                        <span flex="25">Scan day</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.scan_day}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.auto_ignore">
                        <span flex="25">Auto ignore</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.auto_ignore}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.alert_new_files">
                        <span flex="25">Alert new files</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.alert_new_files}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.scan_on_start">
                        <span flex="25">Scan on start</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.scan_on_start}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.nodiff">
                        <span flex="25">No diff</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.nodiff}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscheck.skip_nfs">
                        <span flex="25">Skip NFS</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscheck.skip_nfs}}</span>
                    </div>

                    <!-- Section title -->
                    <div layout="row" class="wz-padding-top-10">
                        <span class="wz-headline-title"><i class="fa fa-fw fa-folder-o"></i> Monitoring directories</span>
                    </div>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration.syscheck.directories">
                        <div layout="row" class="wz-padding-top-10" ng-if="item.path">
                            <span flex="25">Path</span>
                            <span class="wz-text-right color-grey">{{item.path}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.realtime">
                            <span flex="25">Realtime</span>
                            <span class="wz-text-right color-grey">{{item.realtime}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.report_changes">
                            <span flex="25">Report changes</span>
                            <span class="wz-text-right color-grey">{{item.report_changes}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_all">
                            <span flex="25">Check all</span>
                            <span class="wz-text-right color-grey">{{item.check_all}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_sum">
                            <span flex="25">Check sum</span>
                            <span class="wz-text-right color-grey">{{item.check_sum}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_sha1sum">
                            <span flex="25">Check SHA1sum</span>
                            <span class="wz-text-right color-grey">{{item.check_sha1sum}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_md5sum">
                            <span flex="25">Check MD5sum</span>
                            <span class="wz-text-right color-grey">{{item.check_md5sum}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_size">
                            <span flex="25">Check size</span>
                            <span class="wz-text-right color-grey">{{item.check_size}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_owner">
                            <span flex="25">Check owner</span>
                            <span class="wz-text-right color-grey">{{item.check_owner}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_group">
                            <span flex="25">Check group</span>
                            <span class="wz-text-right color-grey">{{item.check_group}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_perm">
                            <span flex="25">Check permissions</span>
                            <span class="wz-text-right color-grey">{{item.check_perm}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_mtime">
                            <span flex="25">Check modification time</span>
                            <span class="wz-text-right color-grey">{{item.check_mtime}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_inode">
                            <span flex="25">Check inode</span>
                            <span class="wz-text-right color-grey">{{item.check_inode}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.restrict">
                            <span flex="25">Restrict</span>
                            <span class="wz-text-right color-grey">{{item.restrict}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END SYSCHECK -->

            <!-- ROOTCHECK -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'rootcheck'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-check"></i> Rootcheck</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.disabled">
                        <span flex="25">Disabled</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.rootcheck.disabled}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.rootkit_files">
                        <span flex="25">Rootkit files</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.rootcheck.rootkit_files}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.rootkit_trojans">
                        <span flex="25">Rootkit trojans</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.rootcheck.rootkit_trojans}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.base_directory">
                        <span flex="25">Base directory</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.rootcheck.base_directory}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.scanall">
                        <span flex="25">Scan all</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.rootcheck.scanall}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.frequency">
                        <span flex="25">Frequency</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.rootcheck.frequency}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.rootcheck.skip_nfs">
                        <span flex="25">Skip NFS</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.rootcheck.skip_nfs}}</span>
                    </div>

                    <!-- Section title -->
                    <div layout="row" class="wz-padding-top-10">
                        <span class="wz-headline-title"><i class="fa fa-fw fa-file-o"></i> System audit files</span>
                    </div>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration.rootcheck.system_audit">
                        <div layout="row" class="wz-padding-top-10" ng-if="item">
                            <span flex="25">File</span>
                            <span class="wz-text-right color-grey">{{item}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END ROOTCHECK -->

            <!-- RULESET -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'ruleset'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-dot-circle-o"></i> Ruleset</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Decoder directories -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.ruleset.decoder_dir">
                        <span class="wz-headline-title">Decoder directories</span>
                    </div>
                    <div ng-repeat="item in managerConfiguration.ruleset.decoder_dir|orderBy">
                        <div layout="row" class="wz-padding-top-10">
                            <span flex="25">Path</span>
                            <span class="wz-text-right color-grey">{{item}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>

                    <!-- Decoder excludes -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.ruleset.decoder_exclude">
                        <span class="wz-headline-title">Decoder excludes</span>
                    </div>
                    <div ng-repeat="item in managerConfiguration.ruleset.decoder_exclude|orderBy">
                        <div layout="row" class="wz-padding-top-10">
                            <span flex="25">Path</span>
                            <span class="wz-text-right color-grey">{{item}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>

                    <!-- Decoder files -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.ruleset.decoder">
                        <span class="wz-headline-title">Decoder files</span>
                    </div>
                    <div ng-repeat="item in managerConfiguration.ruleset.decoder|orderBy">
                        <div layout="row" class="wz-padding-top-10">
                            <span flex="25">Path</span>
                            <span class="wz-text-right color-grey">{{item}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>

                    <!-- Rules directories -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.ruleset.rule_dir">
                        <span class="wz-headline-title">Rules directories</span>
                    </div>
                    <div ng-repeat="item in managerConfiguration.ruleset.rule_dir|orderBy">
                        <div layout="row" class="wz-padding-top-10">
                            <span flex="25">Path</span>
                            <span class="wz-text-right color-grey">{{item}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>

                    <!-- Rules files -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.ruleset.include">
                        <span class="wz-headline-title">Rules files</span>
                    </div>
                    <div ng-repeat="item in managerConfiguration.ruleset.include|orderBy">
                        <div layout="row" class="wz-padding-top-10">
                            <span flex="25">Path</span>
                            <span class="wz-text-right color-grey">{{item}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>

                    <!-- Rule excludes -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.ruleset.rule_exclude">
                        <span class="wz-headline-title">Rule excludes</span>
                    </div>
                    <div ng-if="isArray(managerConfiguration.ruleset.rule_exclude)" ng-repeat="item in managerConfiguration.ruleset['rule_exclude'] track by $index">
                        <div layout="row" class="wz-padding-top-10">
                            <span flex="25">Path</span>
                            <span class="wz-text-right color-grey">{{item}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="!isArray(managerConfiguration.ruleset.rule_exclude)">
                        <span flex="25">Path</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.ruleset.rule_exclude}}</span>
                    </div>

                    <!-- CDB Lists -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.ruleset.list">
                        <span class="wz-headline-title">CDB Lists</span>
                    </div>
                    <div ng-if="isArray(managerConfiguration.ruleset.list)" ng-repeat="item in managerConfiguration.ruleset.list|orderBy">
                        <div layout="row" class="wz-padding-top-10">
                            <span flex="25">Path</span>
                            <span class="wz-text-right color-grey">{{item}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="!isArray(managerConfiguration.ruleset.list)">
                        <span flex="25">Path</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.ruleset.list}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END RULESET -->

            <!-- SYSCOLLECTOR -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'syscollector'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-laptop"></i> Syscollector</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Main settings -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscollector.disabled">
                        <span flex="25">Disabled</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscollector.disabled}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscollector.interval">
                        <span flex="25">Interval</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscollector.interval}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscollector.scan_on_start">
                        <span flex="25">Scan on start</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscollector.scan_on_start}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscollector.hardware">
                        <span flex="25">Hardware</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscollector.hardware}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscollector.os">
                        <span flex="25">OS</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscollector.os}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.syscollector.packages">
                        <span flex="25">Packages</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.syscollector.packages}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END SYSCOLLECTOR -->

            <!-- LOGCOLLECTOR -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'logcollector'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-reorder"></i> Logcollector</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration['localfile'] | orderBy:['location', 'command']">
                        <div layout="row" class="wz-padding-top-10" ng-if="item.location">
                            <span flex="25">Location</span>
                            <span class="wz-text-right color-grey">{{item.location}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.command">
                            <span flex="25">Command</span>
                            <span class="wz-text-right color-grey">{{item.command}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.log_format">
                            <span flex="25">Log format</span>
                            <span class="wz-text-right color-grey">{{item.log_format}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.frequency">
                            <span flex="25">Frequency</span>
                            <span class="wz-text-right color-grey">{{item.frequency}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.alias">
                            <span flex="25">Alias</span>
                            <span class="wz-text-right color-grey">{{item.alias}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.check_diff">
                            <span flex="25">Check diff</span>
                            <span class="wz-text-right color-grey">{{item.check_diff}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END LOGCOLLECTOR -->

            <!-- EMAIL ALERTS -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'email_alerts'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-envelope-o"></i> E-mail alerts</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.email_to">
                        <span flex="25">Email to</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.email_alerts.email_to}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.alert_level">
                        <span flex="25">Alert level</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.email_alerts.alert_level}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.group">
                        <span flex="25">Group</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.email_alerts.group}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.event_location">
                        <span flex="25">Event location</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.email_alerts.event_location}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.format">
                        <span flex="25">Format</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.email_alerts.format}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.rule_id">
                        <span flex="25">Rule ID</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.email_alerts.rule_id}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.do_not_delay">
                        <span flex="25">Do not delay</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.email_alerts.do_not_delay}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.email_alerts.do_not_group">
                        <span flex="25">Do not group</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.email_alerts.do_not_group}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END EMAIL ALERTS -->

            <!-- AUTH -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'auth'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-server"></i> Auth</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.disabled">
                        <span flex="25">Disabled</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.disabled}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.purge">
                        <span flex="25">Purge</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.purge}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.force_insert">
                        <span flex="25">Force insert</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.force_insert}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.ssl_verify_host">
                        <span flex="25">SSL verify host</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.ssl_verify_host}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.limit_maxagents">
                        <span flex="25">Limit max agents</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.limit_maxagents}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.force_time">
                        <span flex="25">Force time</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.force_time}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.ssl_manager_key">
                        <span flex="25">SSL manager key</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.ssl_manager_key}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.ssl_manager_cert">
                        <span flex="25">SSL manager cert</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.ssl_manager_cert}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.use_source_ip">
                        <span flex="25">Use source IP</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.use_source_ip}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.use_password">
                        <span flex="25">Use password</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.use_password}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.port">
                        <span flex="25">Port</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.port}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.ssl_auto_negotiate">
                        <span flex="25">SSL auto negotiate</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.ssl_auto_negotiate}}</span>
                    </div>
                    <div layout="row" class="wz-padding-top-10" ng-if="managerConfiguration.auth.ciphers">
                        <span flex="25">Ciphers</span>
                        <span class="wz-text-right color-grey">{{managerConfiguration.auth.ciphers}}</span>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END AUTH -->

            <!-- COMMAND -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'command'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-terminal"></i> Command</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration.command|orderBy:'name'">
                        <div layout="row" class="wz-padding-top-10" ng-if="item.name">
                            <span flex="25">Name</span>
                            <span class="wz-text-right color-grey">{{item.name}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.expect">
                            <span flex="25">Expect</span>
                            <span class="wz-text-right color-grey">{{item.expect}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.executable">
                            <span flex="25">Executable</span>
                            <span class="wz-text-right color-grey">{{item.executable}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.timeout_allowed">
                            <span flex="25">Timeout allowed</span>
                            <span class="wz-text-right color-grey">{{item.timeout_allowed}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END COMMAND -->

            <!-- ACTIVE RESPONSE -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'active-response'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-random"></i> Active response</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration['active-response']|orderBy:'command'">
                        <div layout="row" class="wz-padding-top-10" ng-if="item.command">
                            <span flex="25">Command</span>
                            <span class="wz-text-right color-grey">{{item.command}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.location">
                            <span flex="25">Location</span>
                            <span class="wz-text-right color-grey">{{item.location}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.agent_id">
                            <span flex="25">Agent ID(s)</span>
                            <span class="wz-text-right color-grey">{{item.agent_id}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.level">
                            <span flex="25">Level</span>
                            <span class="wz-text-right color-grey">{{item.level}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.timeout">
                            <span flex="25">Timeout</span>
                            <span class="wz-text-right color-grey">{{item.timeout}}</span>
                        </div>

                        <!-- Only one rule -->
                        <div layout="row" class="wz-padding-top-10" ng-if="item.rules_id && item.rule">
                            <span flex="25">Rule ID</span>
                            <span class="wz-text-right color-grey">{{item.rules_id}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.rules_id && item.rule">
                            <span flex="25">{{item.rule.file}}</span>
                            <span class="wz-text-right color-grey">{{item.rule.description}}</span>
                        </div>
                        <!-- End only one rule -->

                        <!-- More than one rule -->
                        <div layout="row" class="wz-padding-top-10" ng-if="item.rules_id && item.rules">
                            <span flex="25">Rules IDs</span>
                            <span class="wz-text-right color-grey">{{item.rules_id}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.rules_id && item.rules"  ng-repeat="rule in item.rules">
                            <span flex="25">{{rule.file}}</span>
                            <span class="wz-text-right color-grey">{{rule.description}}</span>
                        </div>
                        <!-- End More than one rule -->

                        <div layout="row" class="wz-padding-top-10" ng-if="item.rules_group">
                            <span flex="25">Rules group</span>
                            <span class="wz-text-right color-grey">{{item.rules_group}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.repeated_offenders">
                            <span flex="25">Repeated offenders</span>
                            <span class="wz-text-right color-grey">{{item.repeated_offenders}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END ACTIVE RESPONSE -->

            <!-- REMOTE -->
            <md-card flex class="no-margin-right wz-md-card" ng-show="selectedItem === 'remote'">
                <md-card-content>
                    <!-- Section title -->
                    <span class="wz-headline-title"><i class="fa fa-fw fa-feed"></i> Remote</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration.remote">
                        <div layout="row" class="wz-padding-top-10" ng-if="item.connection">
                            <span flex="25">Connection</span>
                            <span class="wz-text-right color-grey">{{item.connection}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.port">
                            <span flex="25">Port</span>
                            <span class="wz-text-right color-grey">{{item.port}}</span>
                        </div>
                        <div layout="row" class="wz-padding-top-10" ng-if="item.protocol">
                            <span flex="25">Protocol</span>
                            <span class="wz-text-right color-grey">{{item.protocol}}</span>
                        </div>
                        <md-divider class="wz-margin-top-10" ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END REMOTE -->

        </div>
        <!-- End right column -->

    </div>

</md-content>
