<md-content flex layout="column" ng-controller="managerConfigurationController" ng-if="!load && submenuNavItem == 'configuration'">

    <!-- Loading ring -->
    <div class='uil-ring-css' ng-show="load">
        <div></div>
    </div>

    <!-- The section container -->
    <div flex layout="row" layout-align="start stretch" class="md-padding" ng-show="!load"  ng-init="selectedItem='global'">

        <!-- Left column - Configuration summary and section links -->
        <div flex="25">

            <!-- GLOBAL -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.global">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('global')">
                        Global <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <!-- Summary -->
                    <div layout="row" ng-if="managerConfiguration.global.jsonout_output">
                        <p class="manager-status-subtitle">JSON output</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.jsonout_output}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.alerts.log_alert_level">
                        <p class="manager-status-subtitle">Log alert level</p>
                        <p class="text-right color-grey">{{managerConfiguration.alerts.log_alert_level}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END GLOBAL -->

            <!-- CLUSTER -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.cluster">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('cluster')">
                        Cluster <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <!-- Summary -->
                    <div layout="row" ng-if="managerConfiguration.cluster.name">
                        <p class="manager-status-subtitle">Name</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.name}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.node_type">
                        <p class="manager-status-subtitle">Node type</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.node_type}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END CLUSTER -->

            <!-- SYSCHECK -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.syscheck">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('syscheck')">
                        Syscheck <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <!-- Summary -->
                    <div layout="row" ng-if="managerConfiguration.syscheck.frequency">
                        <p class="manager-status-subtitle">Frequency</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.frequency}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.alert_new_files">
                        <p class="manager-status-subtitle">Alert new files</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.alert_new_files}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END SYSCHECK -->

            <!-- ROOTCHECK -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.rootcheck">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('rootcheck')">
                        Rootcheck <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <!-- Summary -->
                    <div layout="row" ng-if="managerConfiguration.rootcheck.scanall">
                        <p class="manager-status-subtitle">Scan all</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.scanall}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.rootcheck.frequency">
                        <p class="manager-status-subtitle">Frequency</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.frequency}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END ROOTCHECK -->

            <!-- RULESET -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.ruleset">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('ruleset')">
                        Ruleset <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <p class="manager-status-subtitle">Ruleset settings</p>
                </md-card-content>
            </md-card>
            <!-- END RULESET -->

            <!-- LOGCOLLECTOR -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.logcollector">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('logcollector')">
                        Logcollector <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <p class="manager-status-subtitle">Logcollector settings</p>
                </md-card-content>
            </md-card>
            <!-- END LOGCOLLECTOR -->

            <!-- E-MAIL ALERTS -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.email_alerts">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('email_alerts')">
                        E-mail alerts <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <!-- Summary -->
                    <div layout="row" ng-if="managerConfiguration.email_alerts.email_to">
                        <p class="manager-status-subtitle">Email to</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.email_to}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.email_alerts.alert_level">
                        <p class="manager-status-subtitle">Alert level</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.alert_level}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END E-MAIL ALERTS -->

            <!-- AUTH -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.auth">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('auth')">
                        Auth <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <!-- Summary -->
                    <div layout="row" ng-if="managerConfiguration.auth.purge">
                        <p class="manager-status-subtitle">Purge</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.purge}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.force_insert">
                        <p class="manager-status-subtitle">Force insert</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.force_insert}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END AUTH -->

            <!-- COMMAND -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.command">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('command')">
                        Command <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <p class="manager-status-subtitle">Command settings</p>
                </md-card-content>
            </md-card>
            <!-- END COMMAND -->

            <!-- ACTIVE RESPONSE -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration['active-response'].length > 0">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('active-response')">
                        Active response <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <p class="manager-status-subtitle">Active response settings</p>
                </md-card-content>
            </md-card>
            <!-- END ACTIVE RESPONSE -->

            <!-- REMOTE -->
            <md-card flex class="no-margin-left" ng-if="managerConfiguration.remote">
                <md-card-content>
                    <!-- Section title -->
                    <span class="md-headline cursor-pointer" ng-click="switchItem('remote')">
                        Remote <i class="fa fa-eye"></i>
                        <md-tooltip md-direction="right">Click to see more details</md-tooltip>
                    </span>
                    <md-divider></md-divider>
                    <p class="manager-status-subtitle">Agents events listening settings</p>
                </md-card-content>
            </md-card>
            <!-- END REMOTE -->

        </div>
        <!-- End left column -->

        <!-- Right column - Full configuration details -->
        <div flex="75" layout="row" layout-align="start stretch">

            <!-- GLOBAL -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'global'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-dashboard"></i> Global</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div layout="row" ng-if="managerConfiguration.global.jsonout_output">
                        <p class="manager-status-subtitle">JSON output</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.jsonout_output}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.logall">
                        <p class="manager-status-subtitle">Log all</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.logall}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.logall">
                        <p class="manager-status-subtitle">Log all in JSON</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.logall_json}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.white_list">
                        <p class="manager-status-subtitle">White list</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.white_list.length
                            <= 5 ? managerConfiguration.global.white_list : managerConfiguration.global.white_list.length}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.stats">
                        <p class="manager-status-subtitle">Stats</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.stats}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.host_infomation">
                        <p class="manager-status-subtitle">Host information</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.host_infomation}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.alerts.log_alert_level">
                        <p class="manager-status-subtitle">Log alert level</p>
                        <p class="text-right color-grey">{{managerConfiguration.alerts.log_alert_level}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.email_notification">
                        <p class="manager-status-subtitle">E-mail notifications</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.email_notification}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.alerts.email_alert_level">
                        <p class="manager-status-subtitle">E-mail alert level</p>
                        <p class="text-right color-grey">{{ managerConfiguration.alerts.email_alert_level }}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.email_to">
                        <p class="manager-status-subtitle">E-mail to</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.email_to}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.email_from">
                        <p class="manager-status-subtitle">E-mail from</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.email_from}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.smtp_server">
                        <p class="manager-status-subtitle">SMTP server</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.smtp_server}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.email_maxperhour">
                        <p class="manager-status-subtitle">Max email per hour</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.email_maxperhour}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.global.email_idsname">
                        <p class="manager-status-subtitle">E-mail IDS name</p>
                        <p class="text-right color-grey">{{managerConfiguration.global.email_idsname}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END GLOBAL -->

            <!-- CLUSTER -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'cluster'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-server"></i> Cluster</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div layout="row" ng-if="managerConfiguration.cluster.disabled">
                        <p class="manager-status-subtitle">Disabled</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.disabled}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.hidden">
                        <p class="manager-status-subtitle">Hidden</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.hidden}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.name">
                        <p class="manager-status-subtitle">Name</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.name}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.interval">
                        <p class="manager-status-subtitle">Interval</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.interval}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.node_name">
                        <p class="manager-status-subtitle">Node name</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.node_name}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.node_type">
                        <p class="manager-status-subtitle">Node type</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.node_type}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.port">
                        <p class="manager-status-subtitle">Port</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.port}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.bind_addr">
                        <p class="manager-status-subtitle">Bind address</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.bind_addr}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.cluster.nodes">
                        <p class="manager-status-subtitle">Nodes</p>
                        <p class="text-right color-grey">{{managerConfiguration.cluster.nodes}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END CLUSTER -->

            <!-- SYSCHECK -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'syscheck'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-shield"></i> Syscheck</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div layout="row" ng-if="managerConfiguration.syscheck.disabled">
                        <p class="manager-status-subtitle">Disabled</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.disabled}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.frequency">
                        <p class="manager-status-subtitle">Frequency</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.frequency}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.scan_time">
                        <p class="manager-status-subtitle">Scan time</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.scan_time}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.scan_day">
                        <p class="manager-status-subtitle">Scan day</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.scan_day}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.auto_ignore">
                        <p class="manager-status-subtitle">Auto ignore</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.auto_ignore}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.alert_new_files">
                        <p class="manager-status-subtitle">Alert new files</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.alert_new_files}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.scan_on_start">
                        <p class="manager-status-subtitle">Scan on start</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.scan_on_start}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.nodiff">
                        <p class="manager-status-subtitle">No diff</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.nodiff}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.syscheck.skip_nfs">
                        <p class="manager-status-subtitle">Skip NFS</p>
                        <p class="text-right color-grey">{{managerConfiguration.syscheck.skip_nfs}}</p>
                    </div>

                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-folder-o"></i> Monitoring directories</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration.syscheck.directories">
                        <div layout="row" ng-if="item.path">
                            <p class="manager-status-subtitle">Path</p>
                            <p class="text-right color-grey">{{item.path}}</p>
                        </div>
                        <div layout="row" ng-if="item.check_all">
                            <p class="manager-status-subtitle">Check all</p>
                            <p class="text-right color-grey">{{item.check_all}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END SYSCHECK -->

            <!-- ROOTCHECK -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'rootcheck'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-check"></i> Rootcheck</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div layout="row" ng-if="managerConfiguration.rootcheck.disabled">
                        <p class="manager-status-subtitle">Disabled</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.disabled}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.rootcheck.rootkit_files">
                        <p class="manager-status-subtitle">Rootkit files</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.rootkit_files}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.rootcheck.rootkit_trojans">
                        <p class="manager-status-subtitle">Rootkit trojans</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.rootkit_trojans}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.rootcheck.base_directory">
                        <p class="manager-status-subtitle">Base directory</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.base_directory}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.rootcheck.scanall">
                        <p class="manager-status-subtitle">Scan all</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.scanall}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.rootcheck.frequency">
                        <p class="manager-status-subtitle">Frequency</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.frequency}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.rootcheck.skip_nfs">
                        <p class="manager-status-subtitle">Skip NFS</p>
                        <p class="text-right color-grey">{{managerConfiguration.rootcheck.skip_nfs}}</p>
                    </div>

                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-file-o"></i> System audit files</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration.rootcheck.system_audit">
                        <div layout="row" ng-if="item">
                            <p class="manager-status-subtitle">File</p>
                            <p class="text-right color-grey">{{item}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END ROOTCHECK -->

            <!-- RULESET -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'ruleset'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-dot-circle-o"></i> Ruleset</h4>
                    <md-divider></md-divider>
                    <!-- Decoder directories -->
                    <h4 ng-if="managerConfiguration.ruleset.decoder_dir">Decoder directories</h4>
                    <div ng-repeat="item in managerConfiguration.ruleset.decoder_dir|orderBy">
                        <div layout="row">
                            <p class="manager-status-subtitle">Path</p>
                            <p class="text-right color-grey">{{item}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>

                    <!-- Decoder excludes -->
                    <h4 ng-if="managerConfiguration.ruleset.decoder_exclude">Decoder excludes</h4>
                    <div ng-repeat="item in managerConfiguration.ruleset.decoder_exclude|orderBy">
                        <div layout="row">
                            <p class="manager-status-subtitle">Path</p>
                            <p class="text-right color-grey">{{item}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>

                    <!-- Decoder files -->
                    <h4 ng-if="managerConfiguration.ruleset.decoder">Decoder files</h4>
                    <div ng-repeat="item in managerConfiguration.ruleset.decoder|orderBy">
                        <div layout="row">
                            <p class="manager-status-subtitle">Path</p>
                            <p class="text-right color-grey">{{item}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>

                    <!-- Rules directories -->
                    <h4 ng-if="managerConfiguration.ruleset.rule_dir">Rules directories</h4>
                    <div ng-repeat="item in managerConfiguration.ruleset.rule_dir|orderBy">
                        <div layout="row">
                            <p class="manager-status-subtitle">Path</p>
                            <p class="text-right color-grey">{{item}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>

                    <!-- Rules files -->
                    <h4 ng-if="managerConfiguration.ruleset.include">Rules files</h4>
                    <div ng-repeat="item in managerConfiguration.ruleset.include|orderBy">
                        <div layout="row">
                            <p class="manager-status-subtitle">Path</p>
                            <p class="text-right color-grey">{{item}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>

                    <!-- Rule excludes -->
                    <h4 ng-if="managerConfiguration.ruleset.rule_exclude">Rule excludes</h4>
                    <div ng-if="isArray(managerConfiguration.ruleset.rule_exclude)" ng-repeat="item in managerConfiguration.ruleset['rule_exclude'] track by $index">
                        <div layout="row">
                            <p class="manager-status-subtitle">Path</p>
                            <p class="text-right color-grey">{{item}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                    <div layout="row" ng-if="!isArray(managerConfiguration.ruleset.rule_exclude)">
                        <p class="manager-status-subtitle">Path</p>
                        <p class="text-right color-grey">{{managerConfiguration.ruleset.rule_exclude}}</p>
                    </div>

                    <!-- CDB Lists -->
                    <h4 ng-if="managerConfiguration.ruleset.list">CDB Lists</h4>
                    <div ng-if="isArray(managerConfiguration.ruleset.list)" ng-repeat="item in managerConfiguration.ruleset.list|orderBy">
                        <div layout="row">
                            <p class="manager-status-subtitle">Path</p>
                            <p class="text-right color-grey">{{item}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                    <div layout="row" ng-if="!isArray(managerConfiguration.ruleset.list)">
                        <p class="manager-status-subtitle">Path</p>
                        <p class="text-right color-grey">{{managerConfiguration.ruleset.list}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END RULESET -->

            <!-- LOGCOLLECTOR -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'logcollector'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-reorder"></i> Logcollector</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration['localfile'] | orderBy:['location', 'command']">
                        <div layout="row" ng-if="item.location">
                            <p class="manager-status-subtitle">Location</p>
                            <p class="text-right color-grey">{{item.location}}</p>
                        </div>
                        <div layout="row" ng-if="item.command">
                            <p class="manager-status-subtitle">Command</p>
                            <p class="text-right color-grey">{{item.command}}</p>
                        </div>
                        <div layout="row" ng-if="item.log_format">
                            <p class="manager-status-subtitle">Log format</p>
                            <p class="text-right color-grey">{{item.log_format}}</p>
                        </div>
                        <div layout="row" ng-if="item.frequency">
                            <p class="manager-status-subtitle">Frequency</p>
                            <p class="text-right color-grey">{{item.frequency}}</p>
                        </div>
                        <div layout="row" ng-if="item.alias">
                            <p class="manager-status-subtitle">Alias</p>
                            <p class="text-right color-grey">{{item.alias}}</p>
                        </div>
                        <div layout="row" ng-if="item.check_diff">
                            <p class="manager-status-subtitle">Check diff</p>
                            <p class="text-right color-grey">{{item.check_diff}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END LOGCOLLECTOR -->

            <!-- EMAIL ALERTS -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'email_alerts'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-envelope-o"></i> E-mail alerts</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div layout="row" ng-if="managerConfiguration.email_alerts.email_to">
                        <p class="manager-status-subtitle">Email to</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.email_to}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.email_alerts.alert_level">
                        <p class="manager-status-subtitle">Alert level</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.alert_level}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.email_alerts.group">
                        <p class="manager-status-subtitle">Group</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.group}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.email_alerts.event_location">
                        <p class="manager-status-subtitle">Event location</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.event_location}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.email_alerts.format">
                        <p class="manager-status-subtitle">Format</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.format}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.email_alerts.rule_id">
                        <p class="manager-status-subtitle">Rule ID</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.rule_id}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.email_alerts.do_not_delay">
                        <p class="manager-status-subtitle">Do not delay</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.do_not_delay}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.email_alerts.do_not_group">
                        <p class="manager-status-subtitle">Do not group</p>
                        <p class="text-right color-grey">{{managerConfiguration.email_alerts.do_not_group}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END EMAIL ALERTS -->

            <!-- AUTH -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'auth'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-server"></i> Auth</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div layout="row" ng-if="managerConfiguration.auth.disabled">
                        <p class="manager-status-subtitle">Disabled</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.disabled}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.purge">
                        <p class="manager-status-subtitle">Purge</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.purge}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.force_insert">
                        <p class="manager-status-subtitle">Force insert</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.force_insert}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.ssl_verify_host">
                        <p class="manager-status-subtitle">SSL verify host</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.ssl_verify_host}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.limit_maxagents">
                        <p class="manager-status-subtitle">Limit max agents</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.limit_maxagents}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.force_time">
                        <p class="manager-status-subtitle">Force time</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.force_time}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.ssl_manager_key">
                        <p class="manager-status-subtitle">SSL manager key</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.ssl_manager_key}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.ssl_manager_cert">
                        <p class="manager-status-subtitle">SSL manager cert</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.ssl_manager_cert}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.use_source_ip">
                        <p class="manager-status-subtitle">Use source IP</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.use_source_ip}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.use_password">
                        <p class="manager-status-subtitle">Use password</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.use_password}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.port">
                        <p class="manager-status-subtitle">Port</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.port}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.ssl_auto_negotiate">
                        <p class="manager-status-subtitle">SSL auto negotiate</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.ssl_auto_negotiate}}</p>
                    </div>
                    <div layout="row" ng-if="managerConfiguration.auth.ciphers">
                        <p class="manager-status-subtitle">Ciphers</p>
                        <p class="text-right color-grey">{{managerConfiguration.auth.ciphers}}</p>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END AUTH -->

            <!-- COMMAND -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'command'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-terminal"></i> Command</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration.command|orderBy:'name'">
                        <div layout="row" ng-if="item.name">
                            <p class="manager-status-subtitle">Name</p>
                            <p class="text-right color-grey">{{item.name}}</p>
                        </div>
                        <div layout="row" ng-if="item.expect">
                            <p class="manager-status-subtitle">Expect</p>
                            <p class="text-right color-grey">{{item.expect}}</p>
                        </div>
                        <div layout="row" ng-if="item.executable">
                            <p class="manager-status-subtitle">Executable</p>
                            <p class="text-right color-grey">{{item.executable}}</p>
                        </div>
                        <div layout="row" ng-if="item.timeout_allowed">
                            <p class="manager-status-subtitle">Timeout allowed</p>
                            <p class="text-right color-grey">{{item.timeout_allowed}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END COMMAND -->

            <!-- ACTIVE RESPONSE -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'active-response'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-random"></i> Active response</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration['active-response']|orderBy:'command'">
                        <div layout="row" ng-if="item.command">
                            <p class="manager-status-subtitle">Command</p>
                            <p class="text-right color-grey">{{item.command}}</p>
                        </div>
                        <div layout="row" ng-if="item.location">
                            <p class="manager-status-subtitle">Location</p>
                            <p class="text-right color-grey">{{item.location}}</p>
                        </div>
                        <div layout="row" ng-if="item.agent_id">
                            <p class="manager-status-subtitle">Agent ID(s)</p>
                            <p class="text-right color-grey">{{item.agent_id}}</p>
                        </div>
                        <div layout="row" ng-if="item.level">
                            <p class="manager-status-subtitle">Level</p>
                            <p class="text-right color-grey">{{item.level}}</p>
                        </div>
                        <div layout="row" ng-if="item.timeout">
                            <p class="manager-status-subtitle">Timeout</p>
                            <p class="text-right color-grey">{{item.timeout}}</p>
                        </div>
                        <div layout="row" ng-if="item.rules_id">
                            <p class="manager-status-subtitle">Rules ID(s)</p>
                            <p class="text-right color-grey">{{item.rules_id}}</p>
                        </div>
                        <div layout="row" ng-if="item.repeated_offenders">
                            <p class="manager-status-subtitle">Repeated offenders</p>
                            <p class="text-right color-grey">{{item.repeated_offenders}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END ACTIVE RESPONSE -->

            <!-- REMOTE -->
            <md-card flex class="no-margin-left" ng-show="selectedItem === 'remote'">
                <md-card-content>
                    <!-- Section title -->
                    <h4><i class="fa fa-fw fa-feed"></i> Remote</h4>
                    <md-divider></md-divider>
                    <!-- Full details -->
                    <div ng-repeat="item in managerConfiguration.remote">
                        <div layout="row" ng-if="item.connection">
                            <p class="manager-status-subtitle">Connection</p>
                            <p class="text-right color-grey">{{item.connection}}</p>
                        </div>
                        <div layout="row" ng-if="item.port">
                            <p class="manager-status-subtitle">Port</p>
                            <p class="text-right color-grey">{{item.port}}</p>
                        </div>
                        <div layout="row" ng-if="item.protocol">
                            <p class="manager-status-subtitle">Protocol</p>
                            <p class="text-right color-grey">{{item.protocol}}</p>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </div>
                </md-card-content>
            </md-card>
            <!-- END REMOTE -->

        </div>
        <!-- End right column -->

    </div>

</md-content>
