<div flex ng-cloak ng-if="!loading && submenuNavItem == 'logs'" layout="column" ng-controller="managerLogController" class="manager-background">

    <div layout="row" layout-align="start start" class="manager-log-top-row">
        <md-input-container class="md-whiteframe-z1 manager-log-input-1" flex="20">
            <md-select id="categoryBox" ng-model="category" ng-change="category == 'all' ? logs.removeFilter('category', true) : logs.addFilter('category', category)"
                aria-label="Logs category">
                <md-option selected value="all">Choose daemon</md-option>
                <md-option ng-repeat="(key, value) in summary" value="{{key}}">{{key}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container class="md-whiteframe-z1 manager-log-input-2" flex="20">
            <md-select id="levelBox" ng-model="type_log" ng-change="type_log == 'all' ? logs.removeFilter('type_log', true) : logs.addFilter('type_log', type_log)"
                aria-label="Logs level">
                <md-option selected value="all">Choose log level</md-option>
                <md-option value="info">Info</md-option>
                <md-option value="error">Error</md-option>
                <md-option value="warning">Warning</md-option>
            </md-select>
        </md-input-container>
        <span flex></span>
        <md-button ng-if="!realtime" class="buttonPlayRealTime md-primary md-whiteframe-z1 buttonMenu manager-log-buttonplay" ng-click="playRealtime()">
            <i class="fa fa-play manager-log-buttonplay-i" aria-hidden="true"></i>
            Play realtime
        </md-button>
        <md-button ng-if="realtime" class="buttonPlayRealTime md-primary md-whiteframe-z1 buttonMenu manager-log-buttonplay" ng-click="stopRealtime()">
            <i class="fa fa-stop manager-log-buttonplay-i" aria-hidden="true"></i>
            Stop realtime
        </md-button>
    </div>

    <div layout="row">
        <input flex placeholder="Filter" type="text" ng-model="searchTerm" ng-change="logs.addFilter('search', searchTerm)" class="input-filter-box manager-log-filter-box">
    </div>

    <div flex layout="column" class="md-padding">

        <!-- Standard -->
        <md-toolbar ng-if="!realtime" layout="row" class="wazuh-toolbar md-toolbar-tools">
            <span flex="15" ng-click="logs.sort('timestamp')">Timestamp
                <i class="fa" ng-class="logs.sortValue === 'timestamp' ? (logs.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i>
            </span>
            <span flex="25" ng-click="logs.sort('tag')" >Tag
                <i class="fa" ng-class="logs.sortValue === 'tag' ? (logs.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i>
            </span>
            <span flex="10" ng-click="logs.sort('level')">Level
                <i class="fa" ng-class="logs.sortValue === 'level' ? (logs.sortDir ? 'fa-sort-asc' : 'fa-sort-desc') : 'fa-sort'" aria-hidden="true"></i>
            </span>
            <span flex>Description</span>
        </md-toolbar>

        <!-- Realtime -->
        <md-toolbar ng-if="realtime" layout="row" class="wazuh-toolbar md-toolbar-tools">
            <span flex="15">Timestamp</span>
            <span flex="25">Tag</span>
            <span flex="10">Level</span>
            <span flex>Description</span>
        </md-toolbar>

        <!-- Standard -->
        <md-content ng-if="!realtime" flex layout="column" class="height-300" id="groups-id" when-scrolled="logs.nextPage('')">
            <md-list class="wazuh-list" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="log in logs.items | filter : searchTerm | orderBy : logs.sortValue : logs.sortDir">
                <md-list-item class="wazuh-list-item no-height-limit" layout="row">
                    <span flex="15">{{log.timestamp}}</span>
                    <span flex="25">{{log.tag}}</span>
                    <span flex="10">{{log.level}}</span>
                    <span flex>{{log.description}}</span>
                    <div flex layout="row" layout-align="end center"></div>
                </md-list-item>
            </md-list>
        </md-content>

        <!-- Realtime -->
        <md-content flex ng-if="realtime" layout="column" class="height-300" id="groups-id">
            <md-list class="wazuh-list" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="log in realLogs | filter : searchTerm">
                <md-list-item class="wazuh-list-item no-height-limit" layout="row">
                    <span flex="15">{{log.timestamp}}</span>
                    <span flex="25">{{log.tag}}</span>
                    <span flex="10">{{log.level}}</span>
                    <span flex>{{log.description}}</span>
                    <div flex layout="row" layout-align="end center"></div>
                </md-list-item>
            </md-list>
        </md-content>
        <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="logs.busy"></md-progress-linear>
    </div>
</div>
