<div flex layout="column" layout-align="start stretch" ng-if="tab === 'welcome'">

    <!-- Wazuh management section -->
    <!-- Headline -->
    <div layout="row" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-wrench" aria-hidden="true"></i> Wazuh management</span>
    </div>
    <!-- End headline -->

    <!-- Section cards -->
    <div layout="row" layout-align="start stretch" layout-wrap>

        <!-- Ruleset -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content flex layout="column">
                <span><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i> <span ng-click="reloadRuleset()" class="wz-headline-title wz-text-link cursor-pointer">Ruleset</span></span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>Review all your current rules and decoders</p>
                </div>
                <span flex></span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/user-manual/ruleset/index.html" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh ruleset documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>

        <!-- Groups -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content flex layout="column">
                <span><i class="fa fa-fw fa-object-group" aria-hidden="true"></i> <span ng-click="reloadGroups()" class="wz-headline-title wz-text-link cursor-pointer">Groups</span></span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>List and check your groups, its agents and files</p>
                </div>
                <span flex></span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/user-manual/reference/centralized-configuration.html" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh groups documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>

        <!-- Configuration -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content flex layout="column">
                <span><i class="fa fa-fw fa-cog" aria-hidden="true"></i> <span ng-click="switchTab('configuration')" class="wz-headline-title wz-text-link cursor-pointer">Configuration</span></span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>List the current Wazuh manager configuration</p>
                </div>
                <span flex></span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/index.html" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh local configuration documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- End section cards -->
    <!-- End Wazuh management section -->

    <!-- Status and reports section -->
    <!-- Headline -->
    <div layout="row" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-area-chart" aria-hidden="true"></i> Status and reports</span>
    </div>
    <!-- End headline -->

    <!-- Section cards -->
    <div layout="row" layout-align="start stretch" layout-wrap>

        <!-- Status -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content flex layout="column">
                <span><i class="fa fa-fw fa-heartbeat" aria-hidden="true"></i> <span ng-click="switchTab('status')" class="wz-headline-title wz-text-link cursor-pointer">Status</span></span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>Check the status of all Wazuh manager daemons</p>
                </div>
                <span flex></span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/user-manual/reference/daemons/index.html" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh daemons documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>

        <!-- Logs -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content flex layout="column">
                <span><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> <span ng-click="switchTab('logs')" class="wz-headline-title wz-text-link cursor-pointer">Logs</span></span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>Review the logs of all Wazuh manager daemons</p>
                </div>
                <span flex></span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/index.html" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh local configuration documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>

        <!-- Monitoring -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content flex layout="column">
                <span><i class="fa fa-fw fa-search" aria-hidden="true"></i> <span ng-click="switchTab('monitoring')" class="wz-headline-title wz-text-link cursor-pointer">Monitoring</span></span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>Visualize your Wazuh cluster nodes and its agents</p>
                </div>
                <span flex></span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/user-manual/manager/wazuh-cluster.html" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh cluster documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- End section cards -->

    <!-- Section cards -->
    <div layout="row" layout-align="start stretch" layout-wrap>

        <!-- Reporting -->
        <md-card flex="25" class="wz-md-card">
            <md-card-content flex layout="column">
                <span><i class="fa fa-fw fa-file-text" aria-hidden="true"></i> <span ng-click="switchTab('reporting')" class="wz-headline-title wz-text-link cursor-pointer">Reporting</span></span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <p>List and download all the Wazuh app reports</p>
                </div>
                <span flex></span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions">
                <md-button target="_blank" href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/index.html" class="wz-text-link cursor-pointer small" aria-label="Open Wazuh local configuration documentation">
                    <i class="fa fa-fw fa-info" aria-hidden="true"></i> More info
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <!-- End section cards -->
    <!-- End status and reports section -->
</div>
