include ./wazuh-modules.head
include ./open-scap/open-scap.html
include ./cis-cat/cis-cat.html
include ./vulnerabilities/vulnerabilities.html
include ./syscollector/syscollector.html
include ./osquery/osquery.html
include ../../../footer.foot
