<!-- Buckets card -->
<md-card flex="auto" class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'amazon-buckets'">
    <md-card-content flex layout="column">
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Buckets</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">Amazon buckets from where logs are read</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('amazon-s3')">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('amazon-s3')">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- The container for both list and detail -->
        <div flex="auto" layout="row" class="wz-margin-top-10">

            <!-- List container -->
            <div flex="30" layout="column">

                <md-list flex="auto" class="wz-item-list">
                    <md-list-item>Test</md-list-item>
                </md-list>

            </div>
            <!-- End list container -->

            <!-- Detail container -->
            <div flex layout="column">

                <div flex="auto" class="wz-item-detail">
                    <wz-config-item
                        label="Bucket type"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Bucket name"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="AWS account IDs"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="AWS account alias"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="IAM user access key"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="IAM user secret key"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Profile name with read permissions"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="IAM ARN role to read bucket logs"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Bucket path"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Parse only logs from this date onwards"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Limit log parsing to these regions"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                </div>

            </div>
            <!-- End detail container -->
        </div>
        <!-- End container for both list and detail -->
    </md-card-content>
</md-card>
<!-- End buckets card -->
