<!-- General card -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'amazon-general'">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Main settings</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">Common settings applied to all Amazon S3 buckets</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('amazon-s3')">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('amazon-s3')">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <wz-config-item
                label="Amazon S3 integration status"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Frequency for reading from S3 buckets"
                value="1800">
            </wz-config-item>
            <wz-config-item
                label="Run on start"
                value="enabled"
                notResponsive="true">
            </wz-config-item>
            <wz-config-item
                label="Remove bucket logs after being read"
                value="1d">
            </wz-config-item>
            <wz-config-item
                label="Skip logs that can't be processed"
                value="enabled">
            </wz-config-item>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End general card -->
