<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="!load && configurationSubTab === 'active-response'" class="d-height">

    <!-- No configuration section -->
    <wz-no-config flex error="currentConfig['com-active-response']" ng-if="currentConfig['com-active-response'] && isString(currentConfig['com-active-response'])"></wz-no-config>
    <wz-no-config flex error="'not-present'" ng-if="currentConfig['com-active-response'] && !isString(currentConfig['com-active-response']) && !currentConfig['com-active-response']['active-response']"></wz-no-config>
    <wz-no-config flex error="'Wazuh not ready yet'"
    ng-if="wazuhNotReadyYet && (!currentConfig || !currentConfig['com-active-response'])" />
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column" ng-if="currentConfig['com-active-response'] && !isString(currentConfig['com-active-response']) && currentConfig['com-active-response']['active-response']">

        <!-- The main card will all the settings -->
        <md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Active response settings</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">Find here all the Active response settings for this agent</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON()">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML()">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item label="Active response status" value="currentConfig['com-active-response']['active-response'] === 'yes' ? 'disabled' : 'enabled'">
                    </wz-config-item>
                    <wz-config-item label="List of timeouts (in minutes) for repeated offenders" value="currentConfig['com-active-response']['active-response'].repeated_offenders">
                    </wz-config-item>
                    <wz-config-item is-array="true" label="Use the following list of root CA certificates" value="currentConfig['com-active-response']['active-response'].ca_store">
                    </wz-config-item>
                    <wz-config-item label="Validate WPKs using root CA certificate" value="currentConfig['com-active-response']['active-response'].ca_verification">
                    </wz-config-item>

                </div>
                <!-- End configuration block -->

            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent" xmlcontent="XMLContent" />

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
        <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
            <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
        </span>
        <md-list ng-if="showHelp">
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/active-response/index.html">Active
                response documentation</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/active-response.html">Active
                response reference</md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->