<%!
app_name = cherrypy.request.path_info.split('/')[3]

%>\
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        Splunk RapidDiag App
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
	<style>
        dd, dt {
            cursor: inherit !important;
        }
    </style>
</head>

<body>
    <script src="${make_url('/config?autoload=1')}" crossorigin="use-credentials"></script>
    <script src="${make_url('/static/js/i18n.js')}"></script>
    <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
    <script>
        __splunkd_partials__ = ${json_decode(splunkd)};
    </script>

    <%
    page_path = "/static/app/" + app_name + "/pages/" + page + ".js"
    %>
    <%
    vendor_path = "/static/app/" + app_name + "/pages/vendor.0.js"
    %>

    <script src="${make_url(page_path)}"></script>
    <script src="${make_url(vendor_path)}"></script>
</body>

</html>
