<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="!load && configurationSubTab === 'alerts'">
    <!-- No configuration section -->
    <wz-no-config flex error="currentConfig['analysis-logging']"
        ng-if="currentConfig['analysis-logging'] && isString(currentConfig['analysis-logging'])"></wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column"
        ng-if="(currentConfig['analysis-logging'] && currentConfig['analysis-logging'].logging) || (currentConfig['com-logging'] && currentConfig['com-logging'].logging)">

        <!-- The main card will all the settings -->
        <md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && !editingFile">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Alerts settings</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">Basic alerts log settings</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getJSON()">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getXML()">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">
                    <wz-config-item label="Plain format"
                        ng-if="currentConfig['analysis-logging'].logging.alerts.plain_format"
                        value="currentConfig['analysis-logging'].logging.alerts.plain_format">
                    </wz-config-item>
                    <wz-config-item label="JSON format"
                        ng-if="currentConfig['analysis-logging'].logging.alerts.json_format"
                        value="currentConfig['analysis-logging'].logging.alerts.json_format">
                    </wz-config-item>
                    <wz-config-item label="Compress rotation"
                        ng-if="currentConfig['analysis-logging'].logging.alerts.compress_rotation"
                        value="currentConfig['analysis-logging'].logging.alerts.compress_rotation">
                    </wz-config-item>
                    <wz-config-item label="Saved rotations"
                        ng-if="currentConfig['analysis-logging'].logging.alerts.saved_rotations"
                        value="currentConfig['analysis-logging'].logging.alerts.saved_rotations">
                    </wz-config-item>
                    <wz-config-item label="Schedule" ng-if="currentConfig['analysis-logging'].logging.alerts.schedule"
                        value="currentConfig['analysis-logging'].logging.alerts.schedule">
                    </wz-config-item>
                    <wz-config-item label="Maximum log size"
                        ng-if="currentConfig['analysis-logging'].logging.alerts.maxsize"
                        value="currentConfig['analysis-logging'].logging.alerts.maxsize">
                    </wz-config-item>
                    <wz-config-item label="Minimum log size"
                        ng-if="currentConfig['analysis-logging'].logging.alerts.minsize"
                        value="currentConfig['analysis-logging'].logging.alerts.minsize">
                    </wz-config-item>
                    <wz-config-item label="Maximum log age"
                        ng-if="currentConfig['analysis-logging'].logging.alerts.maxage"
                        value="currentConfig['analysis-logging'].logging.alerts.maxage">
                    </wz-config-item>
                </div>
                <!-- End configuration block -->

            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->
        <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent"
            xmlcontent="XMLContent" />
    </div>
    <!-- End main content section -->
</div>
<!-- End main content and right sidenav section -->