<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="configurationSubTab === 'file-monitoring'" ng-init="switchConfigurationSection('fim-general')">

    <!-- This section appears when there's no configuration -->
    <wz-no-config flex ng-if="false"></wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column">

        <!-- Switch configuration sections buttons -->
        <div layout="row" layout-align="center center" class="wz-margin-top-10">
            <md-button ng-class="configurationSection === 'fim-general' ? 'active' : ''" class="wz-button wz-button-group md-raised small left" ng-click="switchConfigurationSection('fim-general')">General</md-button>
            <md-button ng-class="configurationSection === 'fim-monitored' ? 'active' : ''" class="wz-button wz-button-group md-raised small middle" ng-click="switchConfigurationSection('fim-monitored')">Monitored</md-button>
            <md-button ng-class="configurationSection === 'fim-ignored' ? 'active' : ''" class="wz-button wz-button-group md-raised small middle" ng-click="switchConfigurationSection('fim-ignored')">Ignored</md-button>
            <md-button ng-class="configurationSection === 'fim-nodiff' ? 'active' : ''" class="wz-button wz-button-group md-raised small middle" ng-click="switchConfigurationSection('fim-nodiff')">No diff</md-button>
            <md-button ng-class="configurationSection === 'fim-windows' ? 'active' : ''" class="wz-button wz-button-group md-raised small right" ng-click="switchConfigurationSection('fim-windows')">Windows registry</md-button>
        </div>
        <!-- End switch configuration sections buttons -->

        <!-- General card -->
        <md-card class="wz-md-card" ng-if="configurationSection === 'fim-general' && !JSONContent && !XMLContent">
            <md-card-content>
                <span class="font-size-16">Main settings</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item
                        label="Integrity monitoring status"
                        value="enabled">
                    </wz-config-item>
                    <wz-config-item
                        label="Interval (in seconds) to run the integrity scan"
                        value="1800">
                    </wz-config-item>
                    <wz-config-item
                        label="Time of day to run integrity scans"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Day of the week to run integrity scans"
                        value="1d">
                    </wz-config-item>
                    <wz-config-item
                        label="Ignore files that change too many times"
                        value="enabled">
                    </wz-config-item>
                    <wz-config-item
                        label="Alert when new files are created"
                        value="enabled">
                    </wz-config-item>
                    <wz-config-item
                        label="Scan on start"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Skip scan on CIFS/NFS mounts"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Remove old local snapshots"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Restart the Audit daemon"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Interval (in seconds) to check directories' SACLs"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>
                    <wz-config-item
                        label="Command to prevent prelinking"
                        value="enabled"
                        notResponsive="true">
                    </wz-config-item>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End general card -->

        <!-- Monitored card -->
        <md-card flex="auto" class="wz-md-card" ng-if="configurationSection === 'fim-monitored' && !JSONContent && !XMLContent">
            <md-card-content flex layout="column">
                <span class="font-size-16">Monitored directories</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">These directories are included on the integrity scan</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The container for both list and detail -->
                <div flex="auto" layout="row" class="wz-margin-top-10">

                    <!-- List container -->
                    <div flex="30" layout="column">

                        <md-list flex="auto" class="wz-item-list">
                            <md-list-item>Test</md-list-item>
                        </md-list>

                    </div>
                    <!-- End list container -->

                    <!-- Detail container -->
                    <div flex layout="column">

                        <div flex="auto" class="wz-item-detail">
                            <wz-config-item
                                label="Enable realtime monitoring"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Enable auditing (who-data)"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Report file changes"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Perform all checksums"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check sums (MD5 & SHA1)"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check MD5 sum"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check SHA1 sum"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check SHA256 sum"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check files size"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check files owner"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check files groups"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check files permissions"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check files modification time"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Check files inodes"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Restrict to files containing this string"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Custom tags for alerts"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                            <wz-config-item
                                label="Recursion level"
                                value="enabled"
                                notResponsive="true">
                            </wz-config-item>
                        </div>

                    </div>
                    <!-- End detail container -->
                </div>
                <!-- End container for both list and detail -->
            </md-card-content>
        </md-card>
        <!-- End monitored card -->

        <!-- Ignored card -->
        <md-card class="wz-md-card" ng-if="configurationSection === 'fim-ignored' && !JSONContent && !XMLContent">
            <md-card-content>
                <span class="font-size-16">Ignored files and directories</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">These files and directories are ignored from the integrity scan</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <table class="table table-striped table-condensed" style="table-layout: fixed !important; margin: 0 !important;">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left">Test</th>
                            <th class="wz-text-left">Test</th>
                        </thead>
                        <tbody class="wz-word-wrap">
                            <tr>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End ignored card -->

        <!-- No diff card -->
        <md-card class="wz-md-card" ng-if="configurationSection === 'fim-nodiff' && !JSONContent && !XMLContent">
            <md-card-content>
                <span class="font-size-16">No diff directories</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">This files won't have their diff calculated</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <table class="table table-striped table-condensed" style="table-layout: fixed !important; margin: 0 !important;">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left">Test</th>
                            <th class="wz-text-left">Test</th>
                        </thead>
                        <tbody class="wz-word-wrap">
                            <tr>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End no diff card -->

        <!-- Windows card -->
        <md-card class="wz-md-card" ng-if="configurationSection === 'fim-windows' && !JSONContent && !XMLContent">
            <md-card-content>
                <span class="font-size-16">Monitored registry entries</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <table class="table table-striped table-condensed" style="table-layout: fixed !important; margin: 0 !important;">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left">Test</th>
                            <th class="wz-text-left">Test</th>
                        </thead>
                        <tbody class="wz-word-wrap">
                            <tr>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End configuration block -->

                <div class="wz-margin-top-10"><span class="font-size-16">Ignored registry entries</span></div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <table class="table table-striped table-condensed" style="table-layout: fixed !important; margin: 0 !important;">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left">Test</th>
                            <th class="wz-text-left">Test</th>
                        </thead>
                        <tbody class="wz-word-wrap">
                            <tr>
                                <td>test</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End Windows card -->

        <!-- JSON card -->
        <md-card flex="auto" class="wz-md-card" ng-if="JSONContent">
            <md-card-content flex layout="column">
                <span class="font-size-16">JSON viewer</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The JSON viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre><code wz-dynamic="JSONContent"></code></pre>
                </div>
                <!-- End JSON viewer -->
            </md-card-content>
        </md-card>
        <!-- End JSON card -->

        <!-- XML card -->
        <md-card flex="auto" class="wz-md-card" ng-if="XMLContent">
            <md-card-content flex layout="column">
                <span class="font-size-16">XML viewer</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The XML viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre>{{ XMLContent }}</pre>
                </div>
                <!-- End XML viewer -->
            </md-card-content>
        </md-card>
        <!-- End XML card -->

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav
        class="md-sidenav-right"
        md-is-locked-open="true">
        <md-list>
            <md-subheader>Any questions?</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/file-integrity/index.html">Integrity monitoring documentation</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/syscheck.html">Syscheck reference</md-list-item>

            <md-divider></md-divider>

            <md-subheader>Having trouble?</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://groups.google.com/forum/#!forum/wazuh">Ask on the mailing list</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://github.com/wazuh/wazuh/issues">Ask on GitHub</md-list-item>

            <md-divider></md-divider>

            <md-subheader>More options</md-subheader>
            <md-list-item layout-wrap>
                <md-button ng-class="JSONContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getJSON()">{{ JSONContent ? "Close JSON viewer" : "Open JSON viewer" }}</md-button>
                <md-button ng-class="XMLContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getXML()">{{ XMLContent ? "Close XML viewer" : "Open XML viewer" }}</md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->
