<div class="euiSwitch">
    <input class="euiSwitch__input" ng-model="switchModel" ng-change="switchChange()" type="checkbox">
    <span class="euiSwitch__body">
        <span class="euiSwitch__thumb"></span>
        <span class="euiSwitch__track">
            <react-component ng-if="switchModel" name="EuiSwitch" props="{readOnly: true, checked: true}" />
            <react-component ng-if="!switchModel" name="EuiSwitch" props="{readOnly: true, checked: false}" />
        </span>
    </span>
    <label class="euiSwitch__label">{{switchText}}</label>
</div>