.checkbox-group-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
}

.checkbox-item {
  // width: 50%;
  // padding-left: 8px;

  width: 50%;
  // padding-right: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.checkbox-group-container.single-architecture {
  margin-top: 44px;
  display: flex;
  justify-content: center;
}

// .euiRadio .euiRadio__input ~ .euiRadio__label {
//   padding-left: 8px;
// }

.architecture-label {
  margin-left: 8px; /* Ajusta el valor según tus necesidades */
}
