<!-- No configuration section -->
<wz-no-config
  flex
  error="'not-present'"
  ng-if="((agent || {}).os || {}).platform !== 'windows' && configurationSubTab === 'fim-ignored' && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && currentConfig['syscheck-syscheck'].syscheck.ignore && !currentConfig['syscheck-syscheck'].syscheck.ignore.length"></wz-no-config>
<!-- End no configuration section -->

<!-- Ignored card -->
<md-card class="wz-md-card" ng-if="((agent || {}).os || {}).platform !== 'windows' && !JSONContent && !XMLContent && configurationSubTab === 'fim-ignored' && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && currentConfig['syscheck-syscheck'].syscheck.ignore && currentConfig['syscheck-syscheck'].syscheck.ignore.length">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Ignored files and directories</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">These files and directories are ignored from the integrity scan</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON()">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML()">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;" ng-if="currentConfig['syscheck-syscheck'].syscheck.ignore">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Path</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="path in currentConfig['syscheck-syscheck'].syscheck.ignore">
                        <td>{{path}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;" ng-if="currentConfig['syscheck-syscheck'].syscheck.ignore_sregex">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Sregex</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="sreg in currentConfig['syscheck-syscheck'].syscheck.ignore_sregex">
                        <td>{{sreg}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End ignored card -->

<wz-no-config
  flex
  error="'not-present'"
  ng-if="((agent || {}).os || {}).platform === 'windows' && configurationSubTab === 'fim-ignored' && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && !currentConfig['syscheck-syscheck'].syscheck.registry && !currentConfig['syscheck-syscheck'].syscheck.registry_ignore"></wz-no-config>
<!-- End no configuration section -->


<md-card class="wz-md-card" ng-if="((agent || {}).os || {}).platform === 'windows' && configurationSubTab === 'fim-ignored' && !JSONContent && !XMLContent && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && (currentConfig['syscheck-syscheck'].syscheck.registry || currentConfig['syscheck-syscheck'].syscheck.registry_ignore)">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Ignored</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">A list of registry entries that will be ignored</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON()">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML()">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;" ng-if="currentConfig['syscheck-syscheck'].syscheck.registry_ignore">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Entry</th>
                    <th class="wz-text-left">Arch</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="registry in currentConfig['syscheck-syscheck'].syscheck.registry_ignore">
                        <td>{{registry.entry}}</td>
                        <td>{{registry.arch}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- Configuration block -->
        <div class="wz-padding-top-10" ng-if="currentConfig['syscheck-syscheck'].syscheck.registry_ignore_sregex">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Entry Sregex</th>
                    <th class="wz-text-left">Arch</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="registry in currentConfig['syscheck-syscheck'].syscheck.registry_ignore_sregex">
                        <td>{{registry.entry}}</td>
                        <td>{{registry.arch}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- Configuration block -->
        <div class="wz-padding-top-10" ng-if="currentConfig['syscheck-syscheck'].syscheck.ignore">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Path</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="registry in currentConfig['syscheck-syscheck'].syscheck.ignore">
                        <td>{{registry}}
                    </tr>
                </tbody>
            </table>

        </div>

        <!-- Configuration block -->
        <div class="wz-padding-top-10" ng-if="currentConfig['syscheck-syscheck'].syscheck.ignore_sregex">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Sregex</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="registry in currentConfig['syscheck-syscheck'].syscheck.ignore_sregex">
                        <td>{{registry}}
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>