<!-- General card -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'fim-general'">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">General</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">These settings are global to the whole section</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON(currentConfig['syscheck-syscheck'].syscheck)">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML(currentConfig['syscheck-syscheck'].syscheck)">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <wz-config-item
                label="Integrity monitoring status"
                value="currentConfig['syscheck-syscheck'].syscheck.disabled === 'no' ? 'enabled' : 'disabled'">
            </wz-config-item>
            <wz-config-item
                label="Interval (in seconds) to run the integrity scan"
                value="currentConfig['syscheck-syscheck'].syscheck.frequency">
            </wz-config-item>
            <wz-config-item
                label="Time of day to run integrity scans"
                value="currentConfig['syscheck-syscheck'].syscheck.scan_time || 'n/a'"
                notResponsive="true">
            </wz-config-item>
            <wz-config-item
                label="Day of the week to run integrity scans"
                value="currentConfig['syscheck-syscheck'].syscheck.scan_day || 'n/a'">
            </wz-config-item>
            <wz-config-item
                ng-if="!agent || agent.id === '000'"
                label="Ignore files that change too many times"
                value="'FOOFOOFOO'">
            </wz-config-item>
            <wz-config-item
                label="Alert when new files are created"
                value="currentConfig['syscheck-syscheck'].syscheck.alert_new_files || 'no'">
            </wz-config-item>
            <wz-config-item
                label="Scan on start"
                value="currentConfig['syscheck-syscheck'].syscheck.scan_on_start"
                notResponsive="true">
            </wz-config-item>
            <wz-config-item
                label="Skip scan on CIFS/NFS mounts"
                value="currentConfig['syscheck-syscheck'].syscheck.skip_nfs"
                notResponsive="true">
            </wz-config-item>
            <wz-config-item
                label="Remove old local snapshots"
                value="currentConfig['syscheck-syscheck'].syscheck.remove_old_diff || 'yes'"
                notResponsive="true">
            </wz-config-item>
            <wz-config-item
                label="Restart the Audit daemon"
                value="currentConfig['syscheck-syscheck'].syscheck.restart_audit"
                notResponsive="true">
            </wz-config-item>
            <wz-config-item
                label="Interval (in seconds) to check directories' SACLs"
                value="currentConfig['syscheck-syscheck'].syscheck.windows_audit_interval || '300'"
                notResponsive="true">
            </wz-config-item>
            <wz-config-item
                label="Command to prevent prelinking"
                value="currentConfig['syscheck-syscheck'].syscheck.prefilter_cmd || 'n/a'"
                notResponsive="true">
            </wz-config-item>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End general card -->
