<!-- Ignored card -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'fim-ignored'">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Ignored files and directories</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">These files and directories are ignored from the integrity scan</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON(currentConfig['syscheck-syscheck'].syscheck.ignore)">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML(currentConfig['syscheck-syscheck'].syscheck.ignore)">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Path</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="path in currentConfig['syscheck-syscheck'].syscheck.ignore">
                        <td>{{path}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End ignored card -->
