<!-- No configuration section -->
<wz-no-config
  flex
  error="'not-present'"
  ng-if="configurationSubTab === 'fim-monitored' && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && currentConfig['syscheck-syscheck'].syscheck.directories && !currentConfig['syscheck-syscheck'].syscheck.directories.length"></wz-no-config>
<!-- End no configuration section -->

<!-- Monitored card -->
<md-card class="wz-md-card height-full" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'fim-monitored' && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && currentConfig['syscheck-syscheck'].syscheck.directories && currentConfig['syscheck-syscheck'].syscheck.directories.length">
    <md-card-content class="height-full">
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Monitored directories</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">These directories are included on the integrity scan</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON()">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML()">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- The container for both list and detail -->
        <div layout="row" class="wz-margin-top-10 min-height-300 height-full">

            <!-- List container -->
            <div flex="30" layout="column">

                <md-list flex="auto" class="wz-item-list">
                    <md-list-item class="wz-text-link" ng-click="updateSelectedItem($index)" ng-repeat="item in currentConfig['syscheck-syscheck'].syscheck.directories">{{item.dir}}</md-list-item>
                </md-list>

            </div>
            <!-- End list container -->

            <!-- Detail container -->
            <div flex layout="column" ng-if="currentConfig['syscheck-syscheck'].syscheck.directories.length">

                <div flex="auto" class="wz-item-detail">
                    <wz-config-item
                        label="Selected item"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].dir">
                    </wz-config-item>
                    <wz-config-item
                        label="Enable realtime monitoring"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('realtime') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Enable auditing (who-data)"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_whodata') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Report file changes"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('report_changes') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Perform all checksums"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_all') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check sums (MD5 & SHA1)"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_sum') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check MD5 sum"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_md5sum') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check SHA1 sum"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_sha1sum') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check SHA256 sum"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_sha256sum') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files size"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_size') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files owner"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_owner') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files groups"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_group') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files permissions"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_perm') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files modification time"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_mtime') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Check files inodes"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('check_inode') ? 'yes' : 'no'">
                    </wz-config-item>
                    <wz-config-item
                        label="Restrict to files containing this string"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].restrict">
                    </wz-config-item>
                    <wz-config-item
                        label="Custom tags for alerts"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].tags">
                    </wz-config-item>
                    <wz-config-item
                        label="Recursion level"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].recursion_level">
                    </wz-config-item>
                    <wz-config-item
                        label="Follow symbolic link"
                        value="currentConfig['syscheck-syscheck'].syscheck.directories[selectedItem].opts.includes('follow_symbolic_link') ? 'yes' : 'no'">
                    </wz-config-item>
                </div>

            </div>
            <!-- End detail container -->
        </div>
        <!-- End container for both list and detail -->
    </md-card-content>
</md-card>
<!-- End monitored card -->


<!-- No configuration section -->
<wz-no-config
  flex
  error="'not-present'"
  ng-if="((agent || {}).os || {}).platform === 'windows' && configurationSubTab === 'fim-monitored' && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && !currentConfig['syscheck-syscheck'].syscheck.registry && !currentConfig['syscheck-syscheck'].syscheck.registry_ignore"></wz-no-config>
<!-- End no configuration section -->

<!-- Windows card -->
<md-card class="wz-md-card" ng-if="((agent || {}).os || {}).platform === 'windows' && configurationSubTab === 'fim-monitored' && !JSONContent && !XMLContent && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && (currentConfig['syscheck-syscheck'].syscheck.registry || currentConfig['syscheck-syscheck'].syscheck.registry_ignore)">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Monitored</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">A list of registry entries that will be monitored</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON()">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML()">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Entry</th>
                    <th class="wz-text-left">Arch</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="registry in currentConfig['syscheck-syscheck'].syscheck.registry">
                        <td>{{registry.entry}}</td>
                        <td>{{registry.arch}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End Windows card -->
