<!-- No configuration section -->
<wz-no-config flex error="'not-present'" ng-if="configurationSubTab === 'fim-whodata' && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && !currentConfig['syscheck-syscheck'].syscheck.ignore"></wz-no-config>
<!-- End no configuration section -->

<!-- Who-data card -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'fim-whodata' && currentConfig && currentConfig['syscheck-syscheck'] && currentConfig['syscheck-syscheck'].syscheck && currentConfig['syscheck-syscheck'].syscheck.ignore">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Who-data audit keys</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">Wazuh will include in its FIM baseline those events being
                        monitored by Audit using audit_key.</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON()">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML()">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10" ng-show="currentConfig['syscheck-syscheck'].syscheck.whodata">
            <!-- content -->
            <wz-config-item label="Restart audit" value="currentConfig['syscheck-syscheck'].syscheck.whodata.restart_audit">
            </wz-config-item>
            <wz-config-item label="Startup healthcheck" value="currentConfig['syscheck-syscheck'].syscheck.whodata.startup_healthcheck">
            </wz-config-item>
            <!-- end content -->
        </div>
        <!-- End configuration block -->

        <!-- Configuration block -->
        <div class="wz-padding-top-10" ng-show="currentConfig['syscheck-syscheck'].syscheck.whodata.audit_key">
            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Keys</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="auditkey in currentConfig['syscheck-syscheck'].syscheck.whodata.audit_key">
                        <td>{{auditkey}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="wz-padding-top-10" ng-show="!currentConfig['syscheck-syscheck'].syscheck.whodata">
            <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> No audit keys were found. Visit the
            documentation on <a href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/syscheck.html#whodata">this
                link</a> to enable it.
        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End auditkeys card -->
