<div id='wz-search-filter-bar' class='kuiLocalSearchInput'>
    <span class='fa fa-search' aria-hidden='true'></span>
    <div class='wz-tags' ng-class='{focused: hasFocus}'>
        <ul class='tag-list'>
            <li ng-repeat='group in groupedTagList track by $index'>
                <div ng-class='{grouped: group.length > 1}'>
                    <div ng-repeat='tag in group track by $index'>
                        <div class='wz-tag-item'>
                            <span class='wz-tag-remove-button fa' ng-class='(tag.type === "filter") ? "fa-filter" : "fa-search"'></span>
                            <span class=''>{{tag.value.name}} <span ng-show='tag.type === "filter"'>:
                                    {{tag.value.value}}</span></span>
                            <a class='wz-tag-remove-button' ng-click='removeTag(tag.id, false, $parent.$index, $index)'>×</a>
                        </div>
                        <button ng-click="changeConnector($parent.$index, $index)" class="pointer" ng-show='$index != group.length - 1'><span
                                class='wz-tag-item-connector'>{{connectors[$parent.$index].subgroup[$index].value ===
                                ';' ? 'AND' : 'OR' }}</span></button>
                    </div>
                    <a ng-show='group.length > 1' class='wz-tag-remove-button-group' ng-click='removeTag(group[0].key, true, $index - 1)'>×</a>
                </div>
                <button ng-click="changeConnector($index)" class="pointer" ng-show='$index != groupedTagList.length - 1'><span
                        class='wz-tag-item-connector'>
                        {{connectors[$index].value === ';' ? 'AND' : 'OR'}}
                    </span></button>
            </li>
        </ul>
        <input id='wz-search-filter-bar-input' class='wz-search-filter-bar-input input' type='text' ng-model='newTag'
            ng-focus='showAutocomplete(true)' ng-blur='showAutocomplete(false)' placeholder='Add filter or search'
            ng-keyup='!autocompleteEnter && $event.keyCode == 13 ? addTag(true) : addSearchKey($event)' />
        <a class='wz-tag-remove-button wz-padding-top-5' ng-show="groupedTagList.length" ng-click='removeAll()'><i class="fa fa-times" aria-hidden="true"></i></a>
        <div id='wz-search-filter-bar-autocomplete' class='wz-search-filter-bar-autocomplete' ng-show='isAutocomplete && autocompleteContent.list.length > 0'>
            <p><b>{{autocompleteContent.title}}</b></p>
            <ul id='wz-search-filter-bar-autocomplete-list'>
                <li ng-repeat='element in autocompleteContent.list track by $index' ng-mousedown='autocompleteContent.isKey ? addTagKey(element) : addTagValue(element)'>
                    <span ng-if='element'>{{element}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>