<div class="health-check-filter health-check-filter-all" tabindex="0" aria-describedby="health-check-filter-all_tpl">
    <h2 class="health-check-filter-count">
        <%= all %>
    </h2>
    <%= _("ALL").t() %>
</div>
<div class="health-check-filter health-check-filter-error" tabindex="0" aria-describedby="health-check-filter-error_tpl">
    <h2 class="health-check-filter-count">
        <%= error %>
    </h2>
    <%= _("ERROR").t() %>
</div>
<div class="health-check-filter health-check-filter-warning" tabindex="0" aria-describedby="health-check-filter-warning_tpl">
    <h2 class="health-check-filter-count">
        <%= warning %>
    </h2>
    <%= _("WARNING").t() %>
</div>
<div class="health-check-filter health-check-filter-info" tabindex="0" aria-describedby="health-check-filter-info_tpl">
    <h2 class="health-check-filter-count">
        <%= info %>
    </h2>
    <%= _("INFO").t() %>
</div>
<div class="health-check-filter health-check-filter-success" tabindex="0" aria-describedby="health-check-filter-success_tpl">
    <h2 class="health-check-filter-count">
        <%= success %>
    </h2>
    <%= _("SUCCESS").t() %>
</div>
<div class="health-check-filter health-check-filter-unavailable" tabindex="0" aria-describedby="health-check-filter-unavailable_tpl">
    <h2 class="health-check-filter-count">
        <%= unavailable %>
    </h2>
    <%= _("N/A").t() %>
</div>
