.info-dialog-modal {
	.form-horizontal {
		width: 100%;
		padding-right: 30px;
	}
	.check-result {
		width: 100%;
	}
	.check-result-table {
		width: 100%;
		max-height: none;
	}
}

.modal-extra-wide {
    width: calc(100vw - 100px);
    margin-left: calc(-50vw + 50px);
}