.sidebar {
    min-height: 450px;

	.close {
		padding-right: 10px;
		padding-left: 10px;
		margin-top: 10px;
	}

	.task-title {
		padding-left: 10px;
		padding-top: 15px;
		padding-bottom: 10px;
		margin-top: 0px;
	}
}