<div class="open-chips">
    <i class="btn-as-i cursor-pointer fa" ng-class="!showDropdown ? 'fa-filter' : 'fa-times'" ng-click="showDropdown = !showDropdown"
        aria-hidden="true"></i>
</div>
<div ng-show="showDropdown" class="chips-dropdown">
    <ul class="uiSelectChoices--autoWidth ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu">
        <li class="ui-select-choices-group" ng-repeat="chip in options track by $index" ng-hide="chip.hide">
            <div class="ui-select-choices-row" role="option" ng-click="select(chip)">
                <span class="ui-select-choices-row-inner">
                    {{chip.label}}
                </span>
            </div>
        </li>
    </ul>
</div>