<md-dialog class="modalTheme euiToast euiToast--success euiGlobalToastListItem">
    <md-dialog-content>
        <div class="euiToastHeader">
            <i class="fa fa-check"></i>
            <span class="euiToastHeader__title">
                {{msg}}. Do you want to restart the {{target}} now?
            </span>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button class="md-primary md-cancel-button md-button ng-scope md-default-theme md-ink-ripple" type="button"
            ng-click="closeDialog()">I will do it later</button>
        <button class="md-primary md-confirm-button md-button md-ink-ripple md-default-theme" type="button" ng-click="confirmDialog()">Restart
            {{target}}</button>
    </md-dialog-actions>
</md-dialog>