<div flex="auto" layout="column" ng-if="configurationTab === 'command'">

    <!-- Headline -->
    <div layout="column" layout-padding>
        <div>
            <span class="font-size-18">Commands</span>
        </div>
        <span class="md-subheader">Configuration options of the Command wodle</span>
    </div>
    <!-- End headline -->

    <div class="md-padding md-padding-top-16" ng-if="load">
        <react-component name="EuiProgress" props="{size: 'xs', color: 'primary'}" />
    </div>

    <!-- This section contains the main content and the right sidenav -->
    <div flex="auto" layout="row" ng-if="!load" class="d-height">

        <!-- No configuration section -->
        <wz-no-config flex error="currentConfig['wmodules-wmodules']"
            ng-if="currentConfig['wmodules-wmodules'] && isString(currentConfig['wmodules-wmodules'])"></wz-no-config>
        <wz-no-config flex error="'not-present'"
            ng-if="currentConfig && !currentConfig.commands && !isString(currentConfig['wmodules-wmodules'])">
        </wz-no-config>
        <!-- End no configuration section -->

        <!-- This section is the main content -->
        <div flex layout="column"
            ng-if="currentConfig && currentConfig.commands && !isString(currentConfig['wmodules-wmodules']) && currentConfig.commands.length">

            <!-- The main card will all the settings -->
            <md-card flex="auto" class="wz-md-card height-full" ng-if="!JSONContent && !XMLContent">
                <md-card-content flex layout="column" class="height-full">
                    <div layout="row" layout-align="start center">
                        <div>
                            <span class="font-size-16">Command definitions</span>
                            <div class="wz-margin-top-10">
                                <span class="md-subheader small">Find here all the currently defined commands</span>
                            </div>
                        </div>
                        <span flex></span>
                        <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small"
                            ng-click="getJSON()">JSON</span>
                        <span class="small">&nbsp;&centerdot;&nbsp;</span>
                        <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small"
                            ng-click="getXML()">XML</span>
                    </div>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <!-- The container for both list and detail -->
                    <div flex="auto" layout="row" class="wz-margin-top-10 min-height-300 height-full">

                        <!-- List container -->
                        <div flex="30" layout="column">

                            <md-list flex="auto" class="wz-item-list">
                                <md-list-item class="wz-text-link" ng-click="updateSelectedItem($index)"
                                    ng-repeat="item in currentConfig.commands">{{item.tag}}</md-list-item>
                            </md-list>

                        </div>
                        <!-- End list container -->

                        <!-- Detail container -->
                        <div flex layout="column">

                            <div flex="auto" class="wz-item-detail">
                                <wz-config-item label="Command status"
                                    value="currentConfig.commands[selectedItem].disabled === 'no' ? 'enabled' : 'disabled'">
                                </wz-config-item>
                                <wz-config-item label="Command name" value="currentConfig.commands[selectedItem].tag">
                                </wz-config-item>
                                <wz-config-item label="Command to execute"
                                    value="currentConfig.commands[selectedItem].command">
                                </wz-config-item>
                                <wz-config-item label="Interval between executions"
                                    value="currentConfig.commands[selectedItem].interval">
                                </wz-config-item>
                                <wz-config-item label="Run on start"
                                    value="currentConfig.commands[selectedItem].run_on_start">
                                </wz-config-item>
                                <wz-config-item label="Ignore command output"
                                    value="currentConfig.commands[selectedItem].ignore_output">
                                </wz-config-item>
                                <wz-config-item label="Timeout (in seconds) to wait for execution"
                                    value="currentConfig.commands[selectedItem].timeout">
                                </wz-config-item>
                                <wz-config-item label="Verify MD5 sum"
                                    value="currentConfig.commands[selectedItem].verify_md5">
                                </wz-config-item>
                                <wz-config-item label="Verify SHA1 sum"
                                    value="currentConfig.commands[selectedItem].verify_sha1">
                                </wz-config-item>
                                <wz-config-item label="Verify SHA256 sum"
                                    value="currentConfig.commands[selectedItem].verify_sha256">
                                </wz-config-item>
                                <wz-config-item label="Ignore checksum verification"
                                    value="currentConfig.commands[selectedItem].skip_verification">
                                </wz-config-item>
                            </div>

                        </div>
                        <!-- End detail container -->
                    </div>
                    <!-- End container for both list and detail -->
                </md-card-content>
            </md-card>
            <!-- End main card with all the settings -->

            <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent"
                xmlcontent="XMLContent" />

        </div>
        <!-- End main content section -->

        <!-- This section is the right sidenav content -->
        <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
            <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
                <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
            </span>
            <md-list ng-if="showHelp">
                <md-subheader>More info about this section</md-subheader>
                <md-list-item target="_blank" class="wz-text-link"
                    ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/wodle-command.html">
                    Command
                    module reference</md-list-item>
            </md-list>
        </md-sidenav>
        <!-- End right sidenav section -->

    </div>
    <!-- End main content and right sidenav section -->

</div>