.health-check-filters-container {
  border-top-style: ridge;

  .health-check-filter {
    display: inline-block;
    height: 60px;
    width: 80px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
}
