.metric-modal {
    &.metric-modal {
        width: 60%;
    }
}

.metric-modal-content {
    wordBreak:  break-word;
}

.metricsAvailable {
    float: right;
    width: 47%;
}

.metricsDisplayed {
    float: left;
    width: 47%;
}