    <kbn-top-nav name="overview_general" config="topNavMenu">
      <!-- Transcluded elements. -->
      <div data-transclude-slots>
        <!-- Title. -->

        <!-- Search. -->
        <div ng-show="chrome.getVisible()" class="fullWidth" data-transclude-slot="bottomRow">
          <query-bar
            query="state.query"
            app-name="'wazuh'"
            on-submit="updateQueryAndFetch($query)"
          >
          </query-bar>
        </div>
      </div>
    </kbn-top-nav>

    <!-- Filters. -->
    <filter-bar
      ng-show="showFilterBar()"
      state="state"
      index-patterns="indexPattern"
      ng-if="state.query.language === 'lucene'"
    ></filter-bar>
