<!-- The main card will all the settings -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'pm-general'">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">All settings</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">General settings for the rootcheck daemon</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('rootcheck')">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('rootcheck')">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <wz-config-item
                label="Policy monitoring service status"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Base directory"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Scan the entire system"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Frequency (in seconds) to run the scan"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check /dev path"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check files"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check network interfaces"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check processes IDs"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check network ports"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check anomalous system objects"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check trojans"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check UNIX audit"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check Windows apps"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check Windows audit"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Check Windows malware"
                value="enabled">
            </wz-config-item>
            <wz-config-item
                label="Skip scan on CIFS/NFS mounts"
                value="enabled">
            </wz-config-item>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End main card with all the settings -->
