<!-- The main card will all the settings -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'rules'">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Rules directories</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">Folders with rules to load</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON('ruleset')">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML('ruleset')">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left col-lg-9">Path</th>
                    <th class="wz-text-left col-lg-3">Pattern</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->

        <div class="wz-margin-top-10"><span class="font-size-16">Included rules files</span></div>
        <div class="wz-margin-top-10">
            <span class="md-subheader small">Specific rules files to include in load</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Path</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->

        <div class="wz-margin-top-10"><span class="font-size-16">Excluded rules files</span></div>
        <div class="wz-margin-top-10">
            <span class="md-subheader small">Specific rules files to exclude from load</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Path</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End main card with all the settings -->
