.titleStepOne {
  //   position: absolute;
  // width: 498px;
  // height: 24px;
  // left: 545px;
  // top: 237px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: #343741;
}
