<div ng-show="!loading && !viewingDetail" flex layout="column">
    <div id="content" layout="row" layout-align="start start">
        <span layout="row" flex layout-align="space-between center">
            <md-autocomplete flex class="wz-autocomplete wz-select-input wz-margin-right-8"
            id="Auto"
            md-input-id="autocomplete"
            md-select-on-match="true"
            md-no-cache="noCache"
            md-selected-item="filter"
            md-selected-item-change="rules.addFilter('search', filter.description)"
            md-search-text="searchTerm"
            md-items="rule in analyzeRules(searchTerm)"
            md-item-text="rule.file + ' - ' + rule.description"
            md-min-length="0"
            md-no-asterisk="false"
            md-menu-class="autocomplete-custom-agents-bar"
            md-search-text-change="analyzeRules(searchTerm)"
            placeholder="Search rules..."
            lazy-load-data="rulesAutoComplete.nextPage()"
            md-autofocus=""
            wz-enter="checkEnter(searchTerm)">
                <md-item-template>
                    <span>
                        <strong md-highlight-text="search" md-highlight-flags="i"> {{rule.file}} - {{rule.description}} </strong>
                    </span>
                    <span>
                        <span ng-if="rule.type != 'pci'"> {{rule.type}} </span>
                        <span ng-if="rule.type == 'pci'">PCI control</span>
                    </span>
                </md-item-template>
                <md-not-found>
                    No results matching "{{searchTerm}}" were found.
                </md-not-found>
            </md-autocomplete>
        </span>

        <md-button ng-class="(globalsubmenuNavItem2 == 'rules') ? 'wz-ruleset-active' : ''"
            ng-click="setRulesTab('rules')" class="wazuh-button md-raised md-primary manager-ruleset-btn" aria-label="Ruleset rules button">
            <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i> Rules
        </md-button>
        <md-button ng-class="(globalsubmenuNavItem2 == 'decoders') ? 'wz-ruleset-active' : ''"
            ng-click="setRulesTab('decoders')" class="wazuh-button md-raised md-primary manager-ruleset-btn" aria-label="Ruleset decoders button">
            <i class="fa fa-fw fa-search" aria-hidden="true"></i> Decoders
        </md-button>
    </div>

    <md-chips readonly="true" ng-show="rules.hasFilter('level') || rules.hasFilter('search') || rules.hasFilter('file') || rules.hasFilter('path') || rules.hasFilter('group') || rules.hasFilter('pci')">
        <md-chip class="wz-chip" ng-if="rules.hasFilter('search') && rules.getFilter('search')">
            <span>Search: {{rules.getFilter('search')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="rules.removeFilter('search', true)"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-if="rules.hasFilter('file')">
            <span>File: {{rules.getFilter('file')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="rules.removeFilter('file', true)"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-if="rules.hasFilter('path')">
            <span>File: {{rules.getFilter('path')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="rules.removeFilter('path', true)"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-if="rules.hasFilter('level')">
            <span>Level: {{rules.getFilter('level')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="rules.removeFilter('level', true)"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-if="rules.hasFilter('group')">
            <span>Group: {{rules.getFilter('group')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="rules.removeFilter('group', true)"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-if="rules.hasFilter('pci')">
            <span>PCI control: {{rules.getFilter('pci')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="rules.removeFilter('pci', true)"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-if="rules.hasFilter('gdpr')">
            <span>GDPR: {{rules.getFilter('gdpr')}}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="rules.removeFilter('gdpr', true)"></i>
            </span>
        </md-chip>
    </md-chips>

    <wz-table-header
        layout="row"
        data="rules"
        keys="[
            {name:'ID',sortValue:'id',size:5},
            {name:'File',sortValue:'file',size:15},
            {name:'Description',sortValue:'description',size:30},
            {name:'Groups',size:25},
            {name:'PCI',size:10},
            {name:'GDPR',size:10},
            {name:'Level',sortValue:'level',size:5}
        ]">
    </wz-table-header>
    <wz-table
        layout="column"
        flex
        func="openDetailView(rule)"
        data="rules"
        full="'rule'"
        keys="[
            {col:'id',size:5},
            {col:'file',size:15},
            {col:'description',size:30},
            {col:'groups',size:25},
            {col:'pci',size:10},
            {col:'gdpr',size:10},
            {col:'level',size:5}
        ]"
        isruleset="true"
        isdecoders="false"
        class="no-lateral-padding">
    </wz-table>

    <div layout="row" class="wz-margin-top-10">
        <span flex></span>
        <a class="small" id="btnDownload" ng-click="downloadCsv()">Formatted <i aria-hidden="true" class="fa fa-download"></i></a>
    </div>
</div>
