<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="!load && configurationSubTab === 'email-alerts'" class="d-height">

    <!-- No configuration section -->
    <wz-no-config flex error="currentConfig['mail-alerts']"
        ng-if="currentConfig['mail-alerts'] && isString(currentConfig['mail-alerts'])"></wz-no-config>
    <wz-no-config flex error="'not-present'"
        ng-if="currentConfig['mail-alerts'] && !isString(currentConfig['mail-alerts']) && (!currentConfig['mail-alerts'].email_alerts || !currentConfig['mail-alerts'].email_alerts.length)">
    </wz-no-config>
    <wz-no-config flex error="'Wazuh not ready yet'"
        ng-if="wazuhNotReadyYet && (!currentConfig || !currentConfig['mail-alerts'])" />
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column"
        ng-if="currentConfig['mail-alerts'] && !isString(currentConfig['mail-alerts']) && currentConfig['mail-alerts'].email_alerts && currentConfig['mail-alerts'].email_alerts.length">

        <!-- The main card will all the settings -->
        <md-card flex="auto" class="wz-md-card height-full" ng-if="!JSONContent && !XMLContent">
            <md-card-content flex layout="column" class="height-full">
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Main settings</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">Granular email alert options</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getJSON()">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getXML()">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <div flex="auto" layout="row" class="wz-margin-top-10 min-height-300 height-full">

                    <!-- List container -->
                    <div flex="30" layout="column">

                        <md-list flex="auto" class="wz-item-list">
                            <md-list-item class="wz-text-link" ng-click="updateSelectedItem($index)"
                                ng-repeat="item in currentConfig['mail-alerts'].email_alerts">{{item.email_to}}
                            </md-list-item>
                        </md-list>

                    </div>
                    <!-- End list container -->

                    <!-- Detail container -->
                    <div flex layout="column" ng-if="currentConfig['mail-alerts'].email_alerts.length">

                        <div flex="auto" class="wz-item-detail">
                            <wz-config-item label="Send alerts to this email address"
                                value="currentConfig['mail-alerts'].email_alerts[selectedItem].email_to">
                            </wz-config-item>
                            <wz-config-item label="Minimum severity level to send the alert by email"
                                value="currentConfig['mail-alerts'].email_alerts[selectedItem].level">
                            </wz-config-item>
                            <wz-config-item label="Send only alerts that belong to one of these groups"
                                value="currentConfig['mail-alerts'].email_alerts[selectedItem].group">
                            </wz-config-item>
                            <wz-config-item label="Send alerts when they match this event location"
                                value="currentConfig['mail-alerts'].email_alerts[selectedItem].event_location">
                            </wz-config-item>
                            <wz-config-item label="Format for email alerts"
                                value="currentConfig['mail-alerts'].email_alerts[selectedItem].format">
                            </wz-config-item>
                            <wz-config-item label="Send only alerts that belong to one of these rule IDs"
                                value="currentConfig['mail-alerts'].email_alerts[selectedItem].rule_id">
                            </wz-config-item>
                            <wz-config-item label="Disable delayed email delivery"
                                value="currentConfig['mail-alerts'].email_alerts[selectedItem].do_not_delay">
                            </wz-config-item>
                            <wz-config-item label="Disable alerts grouping into the same email"
                                value="currentConfig['mail-alerts'].email_alerts[selectedItem].do_not_group">
                            </wz-config-item>
                        </div>

                    </div>
                    <!-- End detail container -->
                </div>

            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent"
            xmlcontent="XMLContent" />

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
        <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
            <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
        </span>
        <md-list ng-if="showHelp">
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/manager/manual-email-report/index.html">How
                to configure email alerts</md-list-item>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/manager/manual-email-report/smtp_authentication.html">
                How
                to configure authenticated SMTP server</md-list-item>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/email_alerts.html">
                Email
                alerts reference</md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->