<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="!load && configurationSubTab === 'reports'" class="d-height">

    <!-- No configuration section -->
    <wz-no-config flex error="currentConfig['monitor-reports']"
        ng-if="currentConfig['monitor-reports'] && isString(currentConfig['monitor-reports'])"></wz-no-config>
    <wz-no-config flex error="'not-present'"
        ng-if="currentConfig['monitor-reports'] && !isString(currentConfig['monitor-reports']) && (!currentConfig['monitor-reports'].reports || !currentConfig['monitor-reports'].reports.length)">
    </wz-no-config>
    <wz-no-config flex error="'Wazuh not ready yet'"
        ng-if="wazuhNotReadyYet && (!currentConfig || !currentConfig['monitor-reports'])" />
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column"
        ng-if="currentConfig['monitor-reports'] && !isString(currentConfig['monitor-reports']) && currentConfig['monitor-reports'].reports && currentConfig['monitor-reports'].reports.length">

        <!-- The main card will all the settings -->
        <md-card flex="auto" class="wz-md-card height-full" ng-if="!JSONContent && !XMLContent">
            <md-card-content flex layout="column" class="height-full">
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Main settings</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">Daily reports about alerts</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getJSON()">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getXML()">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The container for both list and detail -->
                <div flex="auto" layout="row" class="wz-margin-top-10 min-height-300 height-full">

                    <!-- List container -->
                    <div flex="30" layout="column">

                        <md-list flex="auto" class="wz-item-list">
                            <md-list-item class="wz-text-link" ng-click="updateSelectedItem($index)"
                                ng-repeat="item in currentConfig['monitor-reports'].reports">{{
                                item.title }}</md-list-item>
                        </md-list>

                    </div>
                    <!-- End list container -->

                    <!-- Detail container -->
                    <div flex layout="column" ng-if="currentConfig['monitor-reports'].reports.length">
                        <div flex="auto" class="wz-item-detail">

                            <wz-config-item label="Report name"
                                value="currentConfig['monitor-reports'].reports[selectedItem].title">
                            </wz-config-item>
                            <wz-config-item is-array="true" label="Send report to this email addresses"
                                value="currentConfig['monitor-reports'].reports[selectedItem].mail_to">
                            </wz-config-item>
                            <wz-config-item label="Include logs when creating a report"
                                value="currentConfig['monitor-reports'].reports[selectedItem].showlogs">
                            </wz-config-item>
                            <wz-config-item label="Filter by this group"
                                value="currentConfig['monitor-reports'].reports[selectedItem].group">
                            </wz-config-item>
                            <wz-config-item label="Filter by this category"
                                value="currentConfig['monitor-reports'].reports[selectedItem].category">
                            </wz-config-item>
                            <wz-config-item label="Filter by this rule ID"
                                value="currentConfig['monitor-reports'].reports[selectedItem].rule">
                            </wz-config-item>
                            <wz-config-item label="Filter by this alert level and above"
                                value="currentConfig['monitor-reports'].reports[selectedItem].level">
                            </wz-config-item>
                            <wz-config-item label="Filter by this log location"
                                value="currentConfig['monitor-reports'].reports[selectedItem].location">
                            </wz-config-item>
                            <wz-config-item label="Filter by this source IP address"
                                value="currentConfig['monitor-reports'].reports[selectedItem].srcip">
                            </wz-config-item>
                            <wz-config-item label="Filter by this user name"
                                value="currentConfig['monitor-reports'].reports[selectedItem].user">
                            </wz-config-item>

                        </div>

                    </div>
                    <!-- End detail container -->
                </div>
                <!-- End container for both list and detail -->
            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent"
            xmlcontent="XMLContent" />

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
        <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
            <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
        </span>
        <md-list ng-if="showHelp">
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/manager/automatic-reports.html">How
                to generate automatic reports</md-list-item>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/reports.html">Reports
                reference</md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->