<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="!load && configurationSubTab === 'syslog'" class="d-height">

    <!-- No configuration section -->
    <wz-no-config flex error="currentConfig['csyslog-csyslog']"
        ng-if="currentConfig['csyslog-csyslog'] && isString(currentConfig['csyslog-csyslog'])"></wz-no-config>
    <wz-no-config flex error="'not-present'"
        ng-if="currentConfig['csyslog-csyslog'] && !isString(currentConfig['csyslog-csyslog']) && (!currentConfig['csyslog-csyslog'].syslog_output || !currentConfig['csyslog-csyslog'].syslog_output.length)">
    </wz-no-config>
    <wz-no-config flex error="'Wazuh not ready yet'"
        ng-if="wazuhNotReadyYet && (!currentConfig || !currentConfig['csyslog-csyslog'])" />
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column"
        ng-if="currentConfig['csyslog-csyslog'] && !isString(currentConfig['csyslog-csyslog']) && currentConfig['csyslog-csyslog'].syslog_output && currentConfig['csyslog-csyslog'].syslog_output.length">

        <!-- The main card will all the settings -->
        <md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent">
            <md-card-content>
                <div layout="row" layout-align="start center">
                    <div>
                        <span class="font-size-16">Main settings</span>
                        <div class="wz-margin-top-10">
                            <span class="md-subheader small">Output alerts to a syslog server</span>
                        </div>
                    </div>
                    <span flex></span>
                    <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getJSON()">JSON</span>
                    <span class="small">&nbsp;&centerdot;&nbsp;</span>
                    <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small"
                        ng-click="getXML()">XML</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left col-lg-2">Server</th>
                            <th class="wz-text-left col-lg-1">Port</th>
                            <th class="wz-text-left col-lg-1">Level</th>
                            <th class="wz-text-left col-lg-1">Format</th>
                            <th class="wz-text-left col-lg-1">FQDN</th>
                            <th class="wz-text-left col-lg-2">Rule ID</th>
                            <th class="wz-text-left col-lg-2">Group</th>
                            <th class="wz-text-left col-lg-2">Location</th>
                        </thead>
                        <tbody class="wz-word-wrap">
                            <tr ng-repeat="item in currentConfig['csyslog-csyslog'].syslog_output">
                                <td>{{ item.server }}</td>
                                <td>{{ item.port }}</td>
                                <td>{{ item.level }}</td>
                                <td>{{ item.format || 'default' }}</td>
                                <td>{{ item.use_fqdn || 'no' }}</td>
                                <td>{{ item.rule_id || 'all' }}</td>
                                <td>{{ item.group || 'all' }}</td>
                                <td>{{ item.location || 'all' }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent"
            xmlcontent="XMLContent" />

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
        <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
            <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
        </span>
        <md-list ng-if="showHelp">
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/manager/manual-syslog-output.html">How
                to configure the syslog output</md-list-item>
            <md-list-item target="_blank" class="wz-text-link"
                ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/syslog-output.html">
                Syslog
                output reference</md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->