.agentsPreview {
    margin: 10px;
}

.agentsPreview .md-whiteframe-z1 {
    box-shadow: none;
}

md-list.agents-preview-table.even.ruleset_rules_row_active,
md-list.agents-preview-table.odd.ruleset_rules_row_active,
md-list.agents-preview-table.ruleset_rules_row_active:hover,
.md-button.agents-preview-table.buttonBlueLight.md-default-theme:not([disabled]):hover,
.md-button.agents-preview-table.buttonMenu.md-default-theme:not([disabled]):hover, {
    background-color: #c2e4ef;
}

md-list.agents-preview-table:hover {
    background-color: #c2e4ef;
}

md-list.agents-preview-table:focus {
    border: none;
    outline: none;
}

.agents-groups-preview .md-button:not([disabled]):hover {
    background-color: transparent !important;
}

.agentsPreview md-input-container {
    height: 41px;
    margin-top: 17px;
    padding: 2px;
}

md-tooltip.md-default-theme,
md-tooltip {
    color: white;
    height: auto;
}

md-tooltip.md-default-theme .md-content,
md-tooltip .md-content {
    background-color: black;
    height: auto;
}

.sideNavBox {
    margin-bottom: 0px;
}

/* ------------------------------------------------------------------------ */
/* --------------------------- Agent Tab Styles --------------------------- */
/* ------------------------------------------------------------------------ */

.agents-preview-metrics,
.agents-overview-no-results,
.agents-overview-top-metric-item,
.agents-fim-no-results,
.agents-pm-no-results,
.agents-oscap-no-results,
.agents-oscap-item-center,
.agents-audit-no-results,
.agents-audit-center,
.agents-pci-no-results,
.agents-pci-center {
    text-align: center;
}

.agents-fim-discover,
.agents-overview-discover,
.agents-pm-discover,
.agents-oscap-discover,
.agents-audit-discover,
.agents-pci-discover {
    background-color: white;
}

.agents-pci-h1 {
    line-height: 40px;
    margin: 0;
}

.agents-preview-search-box {
    width: 100%;
}

.agents-overview-size-14 {
    font-size: 14pt;
}

.agents-preview-metrics-item {
    font-size: 16pt;
}

.agents-preview-metrics-right {
    margin-right: 0px;
}

.agents-preview-metrics-left {
    margin-left: 0px;
}

.agents-overview-top-metric-row,
.agents-overview-second-row,
.agents-oscap-row-100,
.agents-audit-row-100 {
    height: 150px;
}

.agents-pci-row-225 {
    height: 225px;
}

.agents-fim-row,
.agents-overview-top,
.agents-overview-alerts,
.agents-oscap-row-230,
.agents-audit-row-230 {
    height: 230px;
}

.agents-pm-top-row {
    height: 240px;
}

.agents-oscap-row-250 {
    height: 250px;
}

.agents-preview-agents-list {
    height:300px;
}

.agents-audit-row-448 {
    height: 448px;
}

.agents-audit-row-530 {
    height: 530px;
}

.agents-fim-summary-row,
.agents-overview-summary,
.agents-pm-alerts-summary,
.agents-oscap-row-540,
.agents-pci-row-540 {
    height: 540px;
}

.agents-prev-height-70 {
    height: 70px;
}

.agents-prev-height-50 {
    height: 50px;
}

.agents-prev-color-grey {
    background-color: #e4e4e4;
}

.agents-prev-color-grey-f7 {
    background-color: #f7f7f7;
}

.agents-head-no-results {
    text-align: center;
}

.agents-head-1 {
    text-transform: none;
    font-size: 20px;
}

.agents-head-2 {
    float: left;
    margin-top: 3px;
    margin-right: 11px;
}

.agents-head-3 {
    margin-right: 5px;
}

.agents-head-4 {
    float: left;
    margin-right: 11px;
}

.agents-head-5 {
    width: 100%;
    padding: 4px;
    color: white;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.agents-head-6 {
    padding-left: 0px;
}

.agents-head-7 {
    padding-right: 0px;
}

.agents-head-8 {
    font-size: 13px;
    margin-right: 6px;
}

.agents-head-9 {
    width: 16px;
    margin-right: 6px;
}
