.wz-margin-10 {
    margin: 10px;
}

.wz-margin-10 .md-whiteframe-z1 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px, rgba(0, 0, 0, 0.137255) 0px 0px 0px 0px, rgba(0, 0, 0, 0.117647) 0px 0px 0px 0px;
}


.wz-margin-top-17 {
    margin-top: 17px;
}
.wz-margin-10 md-input-container {
    height: 41px;
    padding: 2px;
}


.agents-pci-h1 {
    line-height: 40px;
    margin: 0;
}

.wz-width-100 {
    width: 100%;
}

.agents-head-1 {
    text-transform: none;
    font-size: 20px;
}

.agents-head-2 {
    float: left;
    margin-top: 3px;
    margin-right: 11px;
}

.wz-margin-right-5 {
    margin-right: 5px;
}

.agents-head-4 {
    float: left;
    margin-right: 11px;
}

.agents-head-5 {
    width: 100%;
    padding: 4px;
    color: white;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.wz-font-size-13 {
    font-size: 13px;
}

.wz-width-16 {
    width: 16px;
}

.wz-margin-right-6 {
    margin-right: 6px;
}

.wz-font-weight-bold {
    font-weight: bold;
}
