/* -------------------------------------------------------------------------- */
/* ---------------------- Wazuh stylesheet for buttons ---------------------- */
/* -------------------------------------------------------------------------- */

.wazuh-button {
    background-color: rgb(0,85,113) !important;
    color: white !important;
}

.wazuh-button.active,
.wazuh-button:not([disabled]):hover {
    background-color: rgb(0,121,165) !important;
}

/* Custom styles for Panels and Discover sub-tabs from Overview and Agents */
.tabView button._md-nav-button.md-accent.md-button.md-ink-ripple.md-active.md-primary,
.tabView button._md-nav-button.md-accent.md-button.md-ink-ripple.md-unselected:hover {
    background-color: rgb(228, 228, 228);
    color: black;
    border-radius: 0px;
}

/* Custom Manager/Ruleset styles */
.manager-ruleset-rules-rulbtn {
    top: -3px;
}

/* Custom Manager/Ruleset styles */
.manager-ruleset-rules-decbtn {
    padding: 2px;
    top: -3px;
    margin-right: 0;
}

/* Custom Manager/Logs styles */
.manager-log-buttonplay {
    margin: 20px 7px !important;
    margin-top: 20px;
    width: 180px;
}

.md-button:not([disabled]).md-raised:active, .md-button:not([disabled]).md-fab:active,
.md-button.md-raised:not([disabled]) {
    box-shadow: none !important;
}
.tabView button._md-nav-button.md-accent.md-button.md-ink-ripple.md-active.md-primary {
    background-color:white !important;
}
