// wazuh-navbar.less
.wz-color-white,
.wz-color-white button {
    color: white !important;
}
.wz-nav-item-change-color button{
    background-color: #0079a5 !important;
}

.wz-menu-nav div md-nav-ink-bar {
    left: 0px !important;
    width: 0px !important;
}

.wz-menu-nav div nav {
    padding-top: 12px;
    height: 70px;
    background-color: #00445a !important;
    color: rgb(0,121,165);
    font-size: 14px;
}

.wz-menu-nav div nav ul li a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #ffffff !important;
    font-size: 14px !important;
    padding-bottom: 0px;
    height: 96%;
}

.wz-menu-nav div nav ul li a:hover {
    background-color: #005571 !important;
}

.wz-menu-nav div nav ul li .md-active,
.wz-menu-nav .md-button:not([disabled]):hover{
    background-color: #0079a5 !important;
}

.wz-menu-nav-logo .md-button:not([disabled]):hover{
    background-color: #00445a !important;
}

.wz-menu-nav-bar {
    min-width: 1015px;
    background-color: #005571 !important;
}

.wz-menu-nav-gear {
    float: right;
    position: absolute;
    right: 10px;
}

.wz-menu-nav-gear i.fa.fa-cog {
    font-size: 18px;
    color:#ffffff;
}

.wz-menu-nav-bar-api {
    float: right;
    position: absolute;
    right: 130px;
    color:#ffffff;
    top: 25px;
    bottom: 0px;
    margin-right: -25px;
}


// RULESET

.manager-ruleset-decoders-top-span {
    padding-left: 0px;
    margin-right: 5px;
}

.manager-ruleset-decoders-top-24 {
    margin: 0;
    height: 220px;
}

.manager-ruleset-decoders-no-padding {
    padding: 0px;
}

.manager-ruleset-decoders-btn {
    padding: 2px;
    top: -3px;
}

.manager-ruleset-decoders-selector {
    margin-top: -1px;
    margin-bottom: 0;
    border-radius: 3px;
    margin-left: 10px;
}

.manager-ruleset-decoders-top-content {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 53px;
    height: 53px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.manager-ruleset-rules-top-row {
    padding: 0px !important;
    height: 200px;
}

.manager-ruleset-rules-top-row > md-card {
    margin: 4px !important;
}

.manager-ruleset-rules-button-bar {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 53px;
    height: 53px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.ruleset-card-info {
    background-color: rgb(0,121,165);
    height: 100%;
    padding: 0px;
}


// SETTINGS

.settings-template-1 {
    color: #f39c12;
    font-size: 18px;
}

.settings-template-2 {
    margin-left: 7px;
    font-size: 18px;
}

// OVERVIEW

.overview-pci-tabs-item {
    line-height: 40px;
    margin: 0;
}

.overview-head-1 {
    font-size: 13px;
    margin-right: 6px;
}

.overview-head-2 {
    width: 16px;
    margin-right: 6px;
}
