.euiCollapsibleNav .euiCollapsibleNavGroup .euiListGroupItem__button .euiImage {
  max-width: 24px;
}

.euiCollapsibleNav .euiCollapsibleNavGroup .euiListGroupItem__button .euiImage img{
  height: 24px;
  width: 24px;
  filter: brightness(0) saturate(100%) invert(24%) sepia(97%) saturate(1757%) hue-rotate(186deg) brightness(94%) contrast(101%);
}

.euiCollapsibleNav .euiCollapsibleNavGroup .euiListGroupItem__button .euiImage {
  margin: 0px 8px 0px 0px
}