.euiNavDrawerGroup__item .euiListGroupItem__button .euiImage {
  left: -2px;
  max-width: 18px;
}

.euiNavDrawerGroup__item .euiListGroupItem__button .euiImage img{
  height: 18px;
  width: 18px;
}

.euiNavDrawer:not(.euiNavDrawer-isExpanded) .euiNavDrawerGroup__item .euiListGroupItem__button .euiListGroupItem__label {
  display: none;
}

.euiNavDrawer:not(.euiNavDrawer-isExpanded) .euiNavDrawerGroup__item .euiListGroupItem__button .euiImage {
  margin-right: 0!important;
}

.euiNavDrawer .euiNavDrawerGroup__item .euiListGroupItem__button .euiImage {
  margin-right: 10px;
}