@import (reference) "~ui/styles/mixins.less";

kbn-vis, visualize, visualization {
  display: flex;
  flex: 1 1 100%;
}

.wazuh-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.wazuh-row {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}

.mymain {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}