/* Removing lens from value visualizations */

/* Adjusting the height of the visualization when its type is kbn-vis-value */
.kbn-vis-value .vis-container {
  margin-top: -12px;
  overflow: hidden;
}

/* This changes the background and display in the kbn-vis-value in the lens */
.kbn-vis-value .table-cell-filter {
  background-color: white !important;
  display: inherit !important;
}

.kbn-vis-value .h4,
.kbn-vis-value .h5,
.kbn-vis-value .h6,
.kbn-vis-value h4,
.kbn-vis-value h5,
.kbn-vis-value h6 {
  margin: 0px;
}

.kbn-vis-value .fa-search-minus {
  display: none !important;
}

.kbn-vis-value .fa-search-plus {
  width: 100% !important;
}

.kbn-vis-value .table-cell-filter {
  width: 100% !important;
  opacity: 0 !important;
}

kbn-vis, visualize, visualization {
  display: flex;
  flex: 1 1 100%;
}

.kbn-vis-value td {
  border: none !important;
  padding: 0px;
}

.kbn-vis-value thead,
.kbn-vis-value .numeric-value,
.kbn-vis-value .pagination-container,
.kbn-vis-value h2,
.kbn-vis-value .table .table-condensed td:nth-child(2) {
  display: none;
}

.kbn-vis-value .table {
  margin-bottom: 0px;
}

.kbn-vis-value .cell-hover {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16pt;
  border: none;
}

.kbn-vis-value .agg-table-paginated .cell-hover:hover {
  background-color: white;
}



















.wazuh-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.wazuhNavDiscover .euiTab {
  font-size: 14px !important;
}

.wazuhNavDiscover .euiText {
  font-size: 14px !important;
}