/* MATERIAL */
.md-headline{
	font-size: 22px !important;
}
.vertical-repeater {
    height: 100%;
    min-height: 400px;
    width: 100%;
}
.status {
    width: 3%;
}
.status.green{
	background-color: rgb(49, 196, 113);
}
.status.red{
	background-color: red;
}
.status.orange {
    background-color: orange;
}
.status.grey {
    background-color: grey;
}
.status.round{
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.status.rectangle{
    width: 8px;
    height: 20px;
    float: right;
}
.sideNavBox {
    margin-bottom: 0px;
}
.right-text {
    text-align: right;
}

#header_logo > a {
  padding-top: 0;
}

.glyphicon-chevron-right{

    background-color: #3caed2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 13px;
    padding-left: 13px;
    color: white;
}

.glyphicon-chevron-left{

    background-color: #3caed2;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 13px;
    padding-left: 13px;
    color: white;
}
.md-button.active {
  background-color: rgba(158,158,158,0.2);
}
md-list-item.active._md-button-wrap.ng-scope._md.md-clickable{
  background-color: rgba(158,158,158,0.2);
}

.logTable {
    font-family: Consolas, Helvetica;
    font-size: 12px;
    line-height: 1.4;
    color: #333;
    word-wrap: break-word;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
.logTable tbody tr {
    min-height: 18px;
}
.logTable tbody tr td {
    padding: 0;
}
.logTableNumber {
    width: 30px;
    padding-right: 10px;
    padding-left: 10px;
    color: rgba(0,0,0,0.3);
    text-align: center;
    border: solid #eee;
    border-width: 1px;
}
.logTableCode {
    overflow: visible;
    position: relative;
    padding-right: 5px !important;
    padding-left: 10px !important;
    vertical-align: top;
    border: solid #eee;
    border-width: 1px;
}
.logTableCodeOdd {
    background-color: #f7f7f7;
}
.autocomplete-custom-agents-bar li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal; }
.autocomplete-custom-agents-bar li:last-child {
    border-bottom-width: 0; }
.autocomplete-custom-agents-bar .item-title,
.autocomplete-custom-agents-bar .item-metadata {
    display: block;
    line-height: 2;
    height: 18px;
}
.statusBox {
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: white;
    white-space: nowrap;
    min-width: 75px;
    text-align: center;
    font-size: 14px;
}
.statusBox.large {
    min-width: 120px !important;
}
.statusBox.extraLarge {
    min-width: 150px !important;
}
.pagination-other-pages-list > li a {
    text-decoration: none;
    background-color: #f6f6f6;
    margin-left: 2px;
    padding: 8px 11px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-other-pages-list {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

body._md-toast-animating { overflow-y: scroll !important; }

._md-bottom {
    position: fixed;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 120px;
}

.wazuhMenuNav div md-nav-ink-bar {
    left: 0px !important;
    width: 0px !important;
}

.wazuhMenuNav div nav {
    padding-top: 9px;
    height: 70px;
    background-color: #3caed2;
    color: white;
    font-size: 14px;
}

.wazuhMenuNav div nav ul li a {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white !important;
    font-size: 14px !important;
    padding-bottom: 0px;
    height: 96%;
}

.wazuhMenuNav div nav ul li a:hover {
    background-color: #2f99c1 !important;
}

.wazuhMenuNav div nav ul li .md-active {
    background-color: #2f99c1 !important;
}

p {
 margin-top: 4px !important;
}

.subNavLine {
    border-style: solid;
    border-width: 0 0 1px;
    border-bottom-color: rgba(0, 0, 0, 0.117647);
    padding-bottom: 5px !important;
    padding-left: 0px !important;
}

.subNavLine a {
    margin-bottom: 0px;
}

.subNavLine div {
    margin-bottom: 0px;
}

._md-select-value {
	border: none !important;
}
.md-toolbar-tools {
	font-size: 18px !important;
}
md-list.agents-preview-table:hover {
	background-color: #f2f2f2;
}
