body {
  overflow-y: scroll;
}
h2, .h2 {
  font-size: 20px;
}
.container {
  margin-top: 30px;
}
.bold {
  font-weight: bold;
}
.search-form {
  margin-bottom: 30px;
}

.panel {
  font-size: 12pt;
}

mark {
  background-color: yellow;
}

.top-panel {
  float: left;
  margin-right: 13px;
  text-align: center;
}

.table-agents {
  border: none;
  width: 100%;
}
.table-agents:last-child{
    border: none;
}
.table-agents-list-tr {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #7b8a8b;
    cursor: pointer;
}
.table-agents-list-tr-active{
    background-color: #444;
    color: #fff;
}
.table-agents-list-tr:hover{
    background-color: #f5f5f5;
    
}
.table-agent-list-color1 {
    background-color: #f5f5f5;
}
.table-agent-list-color2 {
    background-color: #fff;
}
.table-agents-list-td {
    padding: 10px 15px;
}
.table-agents-list-td-status{
    float: right;
}
.icon_agent_status {
    border-radius: 50%;
    float: right;
    margin-left: 16px;
    margin-top: 2px;
}
.icon_agent_status_red {
    background: red none repeat scroll 0 0;
    height: 15px;
    width: 15px;
}
.icon_agent_status_green {
    background: #31c471 none repeat scroll 0 0;
    height: 15px;
    width: 15px;
}

.agent_stats_panel_top_table {
    width: 10%;
    margin-bottom: 10px;
    float: left;
    margin-right: 40px;
    border: 1px solid #ddd;
}
.agent_stats_panel_top_table-name {
    background: #f5f5f5
}

.table-agent-information{
    width: 100%;
    display: table;
    float: left;
}
.table-agent-information-td-title{
    padding-bottom: 10px;
    font-weight: bold;
    width: 17%;
}

.table-agent-information-td-value{
   padding-left: 0px;padding-bottom: 10px; font-weight: normal;
}

.table-agent-information-full{
    width: 30%;
    display: table;
    float: left;
}
.table-agent-information-full-td-title{
    padding-bottom: 10px;
    font-weight: bold;
    width: 45%;
}
.table-agent-information tbody tr td a{
  font-weight: bold;    
  color: #444;
  text-decoration: none;
}
.table-agent-information tbody tr td a:hover {
  font-weight: bold;
  color: #444;
  text-decoration: none;
}
.table-agent-information tbody tr td a.active {
  font-weight: bold;
  color: #444;
  text-decoration: none;
}
.settings-message{
    
    text-align: center;
    font-size: 16px;
}
.settings-message-error{
  color: red;
}
.settings-message-ok{
  color: #279b59;
}

.table-manager {
  background-color: #f2f2f2;
  border-color: #ccc;
  border-image: none;
  border-width: 1px;
  width: 100%;
}
.table-manager:last-child{
    border-bottom: none;
}
.table-manager-list-tr {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
}
.table-manager-list-tr-active{
    background-color: #fff;
    color: #fff;
}
.table-manager-list-tr:hover{
    background-color: #f2f2f2;
}
.table-manager-list-color1 {
    background-color: #fff;
}
.table-manager-list-color2 {
    background-color: #fff;
}
.table-manager-list-td {
    padding: 10px 15px;
}
.table-manager-list-td.headerRow {
    background-color: #f2f2f2;
}
.table-manager-list-td.headerRow.active {
    background-color: #f8f8f8;
}
.table-manager-list-td-status{
    float: right;
}
.table-manager-list-td-search{
    background: transparent;
    border: none;
    outline: none;
}
.containerManager {
    width: 100%;
}
.containerManager .rightCol {
  float: left;
  width: 20%;
}
.containerManager .leftCol {
  float: left;
  padding-right: 34px;
  width: 80%;
}

.containerAgents {
    width: 100%;
}
.containerAgents .rightCol {
  float: left;
  width: 20%;
}
.containerAgents .leftCol {
  float: left;
  padding-right: 34px;
  width: 80%;
}

.btn-manager-restart{
    width: 47%;
}
.rightCol > .btn-manager-control {
  margin-bottom: 0px;
  margin-left: 13px;
}
.btn {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 6px;
  padding: 5px 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.rightCol > .titleCol {
  margin-left: 13px;
}
.rightCol >  h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 13px;
  margin-top: 0;
}
.titleCol.secondTitleCol {

}

ul#managerConfiguration {
    padding: 0;
    margin-top: 28px;
    margin-bottom: 8px; 
}

ul#managerConfiguration li {
    display: inline;
}

ul#managerConfiguration li a {
  background-color: #fff;
  border-radius: 4px 4px 0px 0px;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  outline: 0;
}
ul#managerConfiguration li a.active {
    background-color: #f2f2f2;
    font-weight: bold;
}
ul#managerConfiguration li a:hover {
    background-color: #f2f2f2;
}
.table-manager.table-manager-configuration{
    background-color: #f2f2f2;
}
.table-manager.table-manager-configuration.white-row{
    background-color: #fff;
}
.table-manager.table-manager-configuration.table-manager-list-tr:hover{
    background-color: #f2f2f2;
}
.table-manager-configuration-show{
    
}
.table-manager-configuration-hide{
    display: none;
}
.table-manager-list-td-left{
    float: left;
}
.pagination > li > a, .pagination > li > span {
    color: #333 !important;
}
.pagination > .active > a {
    color: #000;
    font-weight: bolder;
    background-color: #f2f2f2;
}

.tr-expandable{
    background-color: #f6f6f6;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #333;
    font-weight: 500;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333;
   opacity:  1;
   font-weight: 500;   
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333;
   opacity:  1;
   font-weight: 500;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #333;
   font-weight: 500;   
}
.table-agents thead {
  background-color: #555;
  color: #fff;
  height: 34px;
  padding: 5px;
}
.table-agents th {
  padding-left: 15px;
}
.table-agents .alignright {
  text-align: right;
  padding-right: 26px;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.agent_card{
	width: 100%; border: 1px solid #ccc; height: 70px; margin: 10px; border-radius: 5px;
	margin-left: 0px; 
	clear: both; 
	display: table;
}
.agent_card .id{
	float: left; padding: 20px; font-size: 20px; border-right: 1px solid #ccc 
}
.agent_card .name{
	padding-top: 5px;  margin-top: 8px; padding-left: 20px; font-weight: bold; 
}
.agent_card .ip{
	padding: 5px; padding-left: 20px; 
}
.agent_card .status{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: bold;
	height: 69px;
	margin-top: 0;
	padding-left: 20px;
	width: 20px;
}
.agent_card .status.green{
	background-color: rgb(49, 196, 113);
}
.agent_card .status.red{
	background-color: red;
}
.agent_card .status.agent_card_status_active{
	border-bottom-right-radius: 0;
}
.agent_card_active{
	background-color: #f2f2f2;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}
.agentSearch {
	background-color: #f9f9f9;
	background-image: none;
	border: medium none;
	border-radius: 4px;
	box-shadow: none;
	color: #333;
	display: block;
	font-size: 13px;
	height: 30px;
	line-height: 1.42857;
	padding: 5px 15px;
	width: 100% !important;
}
.agentSearch::-moz-placeholder {
  color: #333;
  opacity: 1;
}

.agentSearch::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #333;
  opacity: 1;
}
.agentSearch:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #333;
  opacity: 1; 
}
.agentSearch:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333;
  opacity: 1;
}
.agentSortFilter {
	background-color: #f9f9f9;
	border-radius: 4px;
	float: left;
	margin-left: 0;
	padding: 7px;
	text-align: center;
	width: 73px;
}
.agentStatusFilter {
	background-color: #ccc; border-radius: 4px; padding: 5px; margin: 10px; text-align: center 
}


ul#agentsTabs {
	background-color: #ccc;
	height: 30px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 6px 0 0;
}
ul#agentsTabs li {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  padding: 2px 0 0;
}
ul#agentsTabs li a {
  background-color: #ccc;
  color: #333;
  margin-right: 0;
  margin-top: 0;
  outline: 0;
  padding: 8px 20px;
  text-decoration: none;
}
ul#agentsTabs li a:hover {
  background-color: #555;
  color: #fff;
}
ul#agentsTabs li a.active {
  background-color: #555;
  font-weight: bold;
  color: #fff;
}


.agentsTabs-info{
	background-color: #f2f2f2;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	clear: both;
	display: table;
	width: 100%;
}
.agent_card_detail{
	height: 100%; border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; width: 100%;
	display: table-row;
}
.add-agent-form > input {
    margin: 11px 5px 5px 0;
}
.add-agent-form {
    text-align: center;
}
.agentsTabs-file-integrity {
    display: table;
    clear: both;
    width: 100%;
    background-color: #f2f2f2;
}
.agentsTabs-file-rootcheck {
    display: table;
    clear: both;
    width: 100%;
    background-color: #f2f2f2;
}
.agentsTabs-file-alerts {
    display: table;
    clear: both;
    width: 100%;
    background-color: #f2f2f2;
}
.agentsTabs-file-actions {
    display: table;
    clear: both;
    width: 100%;
    background-color: #f2f2f2;
}
.js-copytextarea {
    background: #f2f2f2;
    border: 1px solid #ccc;
}
.agent_card_list {
  display: table;
  width: 100%;
}
.agent_card:hover {
  background-color: #f2f2f2;
}

ul.agentsTabs-controlButtons {
	background-color: #f9f9f9;
	height: 34px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 9px 0 0;
	clear: both;
	text-align: right;
}
ul.agentsTabs-controlButtons li {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  padding: 2px 0 0;
}
ul.agentsTabs-controlButtons li a {
  background-color: #f9f9f9;
  color: #333;
  margin-right: 0;
  margin-top: 0;
  padding: 6px 20px;
  text-decoration: none;
}
.agentsTabs-controlButtons a:hover {
  background-color: #f2f2f2;
}

.agentsTabs-controlButtons .iconControl{
	margin-right: 10px; 
}
.agentsTabs-box {
	border-bottom: 1px solid #ccc;
	display: table;
	padding: 10px 10px 10px 20px;
	width: 100%;
}
.agentTabs-container {
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input_search_icon{
	position: absolute; right: 0px; margin-right: 11px; bottom: 8px;
}
.agent_filter_status_active{
	background-color: #ccc;
}
.btn-manager-control {
  background-color: #f2f2f2;
}
.block {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	margin-bottom: 17px;
	margin-top: 30px;
	padding: 12px;
	border-radius: 4px; 
}
.rightCol h2 {
  font-size: 15px;
  font-weight: bold; 
  text-transform: uppercase;
}
.form-group {
  margin-bottom: 0px; 
}
.form-control {
	background-color: #fff;
	background-image: none;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #444444;
	display: block;
	font-size: 13px;
	height: 30px;
	line-height: 1.42857;
	padding: 5px 15px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}
.form-control, input {
  border-width: 1px;
  box-shadow: none;
}
.btn.btn-success {
  margin-top: 10px;
  width: 100%;
}
.add-agent-form .btn {
	text-align: center;
}
.container_page_title{
	border-bottom: 1px solid rgb(204, 204, 204); text-transform: uppercase; font-size: 24px; padding-bottom: 8px;
}
.btn-manager-control .btn.btn-success {
  width: 54px;
  margin-top: 0px; 
}
.block .table-manager-list-td {
  padding: 10px 1px;
}

/*Ruleset*/

.containerRuleset {
    width: 100%;
}
.containerRuleset .rightCol {
  float: left;
  width: 20%;
}
.containerRuleset .leftCol {
  float: left;
  padding-right: 34px;
  width: 80%;
}
.rulesetSearch {
	background-color: #f9f9f9;
	background-image: none;
	border: medium none;
	border-radius: 4px;
	box-shadow: none;
	color: #333;
	display: block;
	font-size: 13px;
	height: 30px;
	line-height: 1.42857;
	padding: 5px 15px;
	width: 100% !important;
}
.rulesetSearch::-moz-placeholder {
  color: #333;
  opacity: 1;
}

.rulesetSearch::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #333;
  opacity: 1;
}
.rulesetSearch:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #333;
  opacity: 1; 
}
.rulesetSearch:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #333;
  opacity: 1;
}
.rulesetFilter {
	background-color: #f9f9f9;
	border-radius: 4px;
	float: left;
	margin-left: 0;
	padding: 7px;
	text-align: center;
	width: 73px;
}
.rule_card .status.enabled{
	background-color: rgb(49, 196, 113);
}
.rule_card .status.disabled{
	background-color: red;
}
.rule_card .status.warning{
	background-color: orange;
}
.rule_card .status.overwritten{
    background-color: #02012F;
}
.ruleset_button_active {
	background-color: #ccc;
}

ul#rulesetTabs {
    width: 400px;
    padding: 0;
    margin-top: 28px;
    margin-bottom: 8px;
}
ul#rulesetTabs li {
    display: inline;
}
ul#rulesetTabs li a {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  outline: 0;
  border: 2px solid #f2f2f2;
}
ul#rulesetTabs li a.active {
    background-color: #f2f2f2;
    font-weight: bold;
    border: 2px solid #f2f2f2;
}
ul#rulesetTabs li a:hover {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;    
}
.rules_card_list {
  display: table;
  width: 100%;
}
.rule_card{
	width: 100%; border: 1px solid #ccc; height: 35px; margin: 10px; border-radius: 5px;
	margin-left: 0px; 
	clear: both; 
	display: table;
}
.rule_card_active{
	background-color: #f2f2f2;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}
.rule_card .id{
	float: left; padding: 20px; font-size: 20px; border-right: 1px solid #ccc;
    padding-top: 11px;
    padding-bottom: 6px; 
    width: 97px;
}
.rule_card .level{
    padding: 20px; font-size: 20px; border-left: 1px solid #ccc;
    padding-top: 10px; 
    padding-bottom: 2.5px;
    text-align: center;
    width: 64px;
}
.rule_card .levelName{
    padding: 20px; border-left: 1px solid #ccc;
    padding-bottom: 1px; 
    padding-top: 2.5px;
    text-align: center;
}
.rule_card .text{
    padding: 26px; font-weight: bold; 
    padding-top: 15px;
    padding-bottom: 9px;
    overflow:hidden;
}
.rule_card .status{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	font-weight: bold;
    height: 45px;
	margin-top: 0;
	padding-left: 20px;
	width: 20px;
}
.table-rule-information{
    width: 100%;
    display: table;
    float: left;
}
.table-rule-information-td-title{
    padding-bottom: 10px;
    font-weight: bold;
    width: 17%;
}

.table-rule-information-td-value{
   padding-left: 0px;padding-bottom: 10px; font-weight: normal;
}

.table-rule-information-full{
    width: 30%;
    display: table;
    float: left;
}
.table-rule-information-full-td-title{
    padding-bottom: 10px;
    font-weight: bold;
    width: 45%;
}
.table-rule-information tbody tr td a{
  font-weight: bold;    
  color: #444;
  text-decoration: none;
}
.table-rule-information tbody tr td a:hover {
  font-weight: bold;
  color: #444;
  text-decoration: none;
}
.table-rule-information tbody tr td a.active {
  font-weight: bold;
  color: #444;
  text-decoration: none;
}
.rule_card:hover {
  background-color: #f2f2f2;
}
.rule_card_detail{
	height: 100%; 
    border-width: medium 1px 1px;
    border-style: none solid solid solid;
    width: 100%;
	display: table-row;

    background-color: #f2f2f2;
	border-radius: 4px;
    padding: 10px 10px 10px 20px;
}
.ruleTabs-container {
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ruleTabs-box {
	border-bottom: 1px solid #ccc;
	display: table;
	padding: 10px 10px 10px 20px;
	width: 100%;
}
.table-files {
  background-color: #f2f2f2;
  border-color: #ccc;
  border-image: none;
  border-width: 1px;
  width: 100%;
}
.table-files:last-child{
    border-bottom: none;
}
.table-files-list-tr {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
}
.table-files-list-tr-active{
    background-color: #fff;
    color: #fff;
}
.table-files-list-tr:hover{
    background-color: #f2f2f2;
}
.table-files-list-color1 {
    background-color: #fff;
}
.table-files-list-color2 {
    background-color: #fff;
}
.table-files-list-td {
    padding: 10px 15px;
}
.table-files-list-td.headerRow {
    background-color: #f2f2f2;
}
.table-files-list-td.headerRow.active {
    background-color: #f8f8f8;
}
.table-files-list-td-status{
    float: right;
}
.table-files-list-td-search{
    background: transparent;
    border: none;
    outline: none;
}
.table-files-list-tr .pagination > li > a, .table-files-list-tr .pagination > li > span {
    padding: 7px;
}
ul#rulesetTabsFilters {
    width: 250px;
    text-align: center;
    padding: 0;
    margin-top: 70px;
    margin-bottom: 8px;
}
ul#rulesetTabsFilters li {
    display: inline;
}
ul#rulesetTabsFilters li a {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  outline: 0;
  border: 2px solid #f2f2f2;
}
ul#rulesetTabsFilters li a.active {
    background-color: #ccc;
    font-weight: bold;
    border: 2px solid #ccc;
}
ul#rulesetTabsFilters li a:hover {
    background-color: #ccc;
    border: 2px solid #ccc;    
}
.textFilterActive {
    font-weight: bolder !important;
    background-color: #ccc !important;
}

.table-files-list-td a {
    color: #1f6b7a;
    text-decoration: none;
}
table-files-list-td a.active {
    color: #1f6b7a;
    text-decoration: none;
}
table-files-list-td a:hover {
    color: #1f6b7a;
    text-decoration: none;
}

.ruleLevel_div {
    float: right; display:inline-block; margin-left: 10px; text-align: right; width: 350px; height: 35px;
}

.ruleLevel_label {
    display: inline-block;  height: 35px;
}

.ruleLevel_input {
    display: inline-block; width: 70px !important; height: 35px; border-radius: 4px; border: 1px solid rgb(204, 204, 204);
}

.ruleLevel_button {
    width: 75px; height: 35px; margin-bottom: 0px; text-align: center; 
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}
.tabBlock {
	margin-top: 30px;
	padding: 12px;
	border-radius: 4px; 
}
.filesBlock {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	margin-bottom: 17px;
	margin-top: 0px;
	padding: 12px;
	border-radius: 4px; 
}
.ng-clickable:hover {
    font-weight: bolder !important;
    text-decoration: underline;
}
.filterActive_div {
    margin-top: 28px;
    margin-bottom: 8px;
    float: right; 
    width: 350px;
    text-align: right;
}
.textFilterActive_header {
    font-size: small;
}
.textFilterActive_glyphicon {
    font-size: medium;
}
.updateGuideTable {
    margin-top: 30px;
    margin-bottom: 15px;
}
.updateGuideTable > tbody > tr > td {
    padding-bottom: 5px;
}
/*Button "insecure" in settings*/
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}