/* MATERIAL */
.vertical-repeater {
    height: 100%; 
    width: 100%;
}
.status {
    width: 3%;
}
.status.green{
	background-color: rgb(49, 196, 113);
}
.status.red{
	background-color: red;
}
.sideNavBox {
    margin-bottom: 0px;
}
#header_logo > a {
    padding-top: 0;
}