.horizontal-menu-right .buttonMenu{
	background-color: #3caed2;
	color: white;
}

.horizontal-menu-right {
	background-color: #f7f7f7
}

.managerConfigurationArrow {
    float: right;
    margin-top: 6px;
}

.joinCardsRow {
    margin: 8px;
    margin-bottom: 5px;
    margin-top: 10px;
}