.horizontal-menu-right .buttonMenu{
	background-color: #3caed2;
	color: white;
}

.horizontal-menu-right {
	background-color: #f7f7f7
}

.managerConfigurationArrow {
    float: right;
    margin-top: 6px;
}

.joinCardsRow {
    margin-top: 5px;
}

.manager-background {
	background-color: #e4e4e4;
}

.wazuh-chip {
	background-color: #3caed2 !important;
	color: #ffffff !important;
}
