.ruleset_card_info {
    background-color: #dbf0f7
}

.ruleset_rules_row_active {
    background-color: #c2e4ef;
}

.rules-item-list button.md-no-style.md-button.md-ink-ripple {
    opacity: 0;
}

md-list-item.ruleset_rules_row_active {
    background-color: #c2e4ef;
}

.listHover:hover {
    font-weight: bold;
}

/* ------------------------------------------------------------------------ */
/* ------------------------ Ruleset Sub-Tab Styles ------------------------ */
/* ------------------------------------------------------------------------ */

.manager-ruleset-decoders-top-span {
    padding-left: 0px;
    margin-right: 5px;
}

.manager-ruleset-decoders-top-24 {
    margin: 0;
    height: 220px;
}

.manager-ruleset-decoders-no-padding {
    padding: 0px;
}

.manager-ruleset-decoders-btn {
    padding: 2px;
    top: -3px;
}

.manager-ruleset-decoders-mdtoolbar {
    margin-top: 13px;
    min-height: 38px;
    height: 38px;
    padding: 8px;
    padding-top: 10px;
}

.manager-ruleset-decoders-selector {
    margin-top: -1px;
    margin-bottom: 0;
    border-radius: 3px;
    margin-left: 10px;
}

.manager-ruleset-decoders-top-content {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 53px;
    height: 53px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.manager-ruleset-decoders-md-chips {
    background-color: #f7f7f7;
    margin-top: 16px;
}

.manager-ruleset-rules-top-row {
    padding: 0px;
    height:200px
}

.manager-ruleset-rules-button-bar {
    padding-left: 0px;
    padding-right: 0px;
    min-height: 53px;
    height: 53px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.manager-ruleset-rules-rulbtn {
    top: -3px;
}

.manager-ruleset-rules-decbtn {
    padding: 2px;
    top: -3px;
    margin-right: 0;
}

.manager-ruleset-rules-mdtoolbar {
    margin-top: 13px;
    min-height: 38px;
    height: 38px;
    padding: 8px;
    padding-top: 10px;
}

.manager-ruleset-rules-card-info {
    margin-top: 19px;
    height: 100%;
    padding: 0px;
    padding-top: 3px;
    margin-top: 15px;
}

.manager-ruleset-rules-card-info-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
