<!-- This section contains the main content and the right sidenav -->
<div flex="auto" layout="row" ng-if="configurationSubTab === 'vulnerabilities-general'">

    <!-- This section appears when there's no configuration -->
    <wz-no-config flex ng-if="false"></wz-no-config>
    <!-- End no configuration section -->

    <!-- This section is the main content -->
    <div flex layout="column">

        <!-- The main card will all the settings -->
        <md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent">
            <md-card-content>
                <span class="font-size-16">Main settings</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">General settings applied to the vulnerability detector and its feeds</span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- Configuration block -->
                <div class="wz-padding-top-10">

                    <wz-config-item
                        label="Vulnerability detector status"
                        value="enabled">
                    </wz-config-item>
                    <wz-config-item
                        label="Interval between scan executions"
                        value="1d">
                    </wz-config-item>
                    <wz-config-item
                        label="Scan on start"
                        value="enabled">
                    </wz-config-item>
                    <wz-config-item
                        label="Time to ignore already detected vulerabilities"
                        value="enabled">
                    </wz-config-item>

                </div>
                <!-- End configuration block -->
            </md-card-content>
        </md-card>
        <!-- End main card with all the settings -->

        <!-- JSON card -->
        <md-card flex="auto" class="wz-md-card" ng-if="JSONContent">
            <md-card-content flex layout="column">
                <span class="font-size-16">JSON viewer</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The JSON viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre><code wz-dynamic="JSONContent"></code></pre>
                </div>
                <!-- End JSON viewer -->
            </md-card-content>
        </md-card>
        <!-- End JSON card -->

        <!-- XML card -->
        <md-card flex="auto" class="wz-md-card" ng-if="XMLContent">
            <md-card-content flex layout="column">
                <span class="font-size-16">XML viewer</span>
                <md-divider class="wz-margin-top-10"></md-divider>

                <!-- The XML viewer -->
                <div flex="auto" class="wz-margin-top-10 wz-code-viewer">
                    <pre>{{ XMLContent }}</pre>
                </div>
                <!-- End XML viewer -->
            </md-card-content>
        </md-card>
        <!-- End XML card -->

    </div>
    <!-- End main content section -->

    <!-- This section is the right sidenav content -->
    <md-sidenav
        class="md-sidenav-right"
        md-is-locked-open="true">
        <md-list>
            <md-subheader>More info about this section</md-subheader>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/vulnerability-detection.html">Vulnerability detector documentation</md-list-item>
            <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/wodle-vuln-detector.html">Vulnerability detector reference</md-list-item>

            <md-divider></md-divider>

            <md-subheader>More options</md-subheader>
            <md-list-item layout-wrap>
                <md-button ng-class="JSONContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getJSON('vulnerability-detector')">{{ JSONContent ? "Close JSON viewer" : "Open JSON viewer" }}</md-button>
                <md-button ng-class="XMLContent ? 'active' : ''" class="wz-button md-raised md-primary small" ng-click="getXML('vulnerability-detector')">{{ XMLContent ? "Close XML viewer" : "Open XML viewer" }}</md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <!-- End right sidenav section -->

</div>
<!-- End main content and right sidenav section -->
