<div ng-if="!loading && !viewingDetail" flex layout="column" class="md-padding">
    <div id="content" layout="row" layout-align="start start">

        <input flex placeholder="Filter decoders..." ng-model="custom_search" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid wz-margin-top-4 height-36"
            aria-invalid="false" wz-enter="search(custom_search)">
        <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-36 wz-margin-top-4 wz-margin-right-16" ng-click="search(custom_search)">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>

        <div layout="column" class="height-40 wz-select-input wz-margin-right-8">
            <select flex class="kuiSelect wz-border-none cursor-pointer" ng-model="typeFilter" ng-change="onlyParents(typeFilter)" aria-label="Filter by type" ng-init="'All decoders'">
                <option value="all">All decoders</option>
                <option value="parents">Parent decoders</option>
            </select>
        </div>

        <md-button ng-class="(globalRulesetTab == 'rules') ? 'active' : ''" ng-click="setRulesTab('rules')"
            class="wz-button md-raised md-primary manager-ruleset-btn" aria-label="Ruleset rules button">
            <i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i> Rules
        </md-button>
        <md-button ng-class="(globalRulesetTab == 'decoders') ? 'active' : ''" ng-click="setRulesTab('decoders')"
            class="wz-button md-raised md-primary manager-ruleset-btn" aria-label="Ruleset decoders button">
            <i class="fa fa-fw fa-search" aria-hidden="true"></i> Decoders
        </md-button>
    </div>

    <md-chips class="wz-chips" readonly="true" ng-show="appliedFilters.length">
        <md-chip class="wz-chip" ng-show="includesFilter('file')">
            <span>File: {{ getFilter('file') }}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('file')"></i>
            </span>
        </md-chip>
        <md-chip class="wz-chip" ng-show="includesFilter('path')">
            <span>Path: {{ getFilter('path') }}
                <i class="fa fa-fw fa-times cursor-pointer" aria-hidden="true" ng-click="removeFilter('path')"></i>
            </span>
        </md-chip>
    </md-chips>

    <div layout="row">
        <wz-table
            implicit-filter="appliedFilters"
            flex
            path="'/decoders'"
            keys="['name',{value:'details.program_name',size:2,nosortable:true},{value:'details.order',size:2,nosortable:true},'file']"
            allow-click="true"
            row-sizes="[15,13,11]">
        </wz-table>
    </div>

    <div layout="row" class="wz-margin-top-10">
        <span flex></span>
        <a class="small" id="btnDownload" ng-click="downloadCsv()">Formatted <i aria-hidden="true" class="fa fa-download"></i></a>
    </div>
</div>
