<div flex="auto" layout="column" ng-if="editionTab === 'groups'" ng-controller="configurationGroupsController">
    <div layout="column" layout-padding>
        <div layout="row">
            <span class="font-size-18"> <i class="fa fa-fw fa-object-group" aria-hidden="true"></i> Edit the groups</span>
            <span ng-if='adminMode' class="font-size-18 wz-text-link" tooltip="Add new group" ng-click="switchAddingGroup()">
                <i class="fa fa-fw" ng-class="!addingGroup ? 'fa-plus-circle' : 'fa-minus-circle'"></i></span>
        </div>
        <span ng-if="!addingGroup" class="md-subheader">Edit your groups configuration</span>

        <div layout="row" ng-if="addingGroup" ng-if='adminMode' class="wz-padding-bottom-0">
            <input placeholder="Group name..." ng-model="groupToBeAdded" type="text" class="kuiLocalSearchInput addGroupInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
                aria-invalid="false">
            <button type="submit" aria-label="Search" class="kuiLocalSearchButton addGroupBtn" ng-click="createGroup(groupToBeAdded)">
                <span class="fa fa-save fa-fw" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <div class="md-padding" ng-show="!editingFile">
        <!-- Search bar -->
        <div layout="row" ng-if="!addingAgents && !file" class="wz-padding-bottom-14">
            <input placeholder="Filter groups..." ng-model="custom_search" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
                aria-invalid="false" wz-enter="search(custom_search)">
            <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-40" ng-click="search(custom_search)">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
        </div>
        <!-- End search bar -->
        <md-card flex class="wz-md-card _md flex wz-no-margin">
            <md-card-content>
                <wz-table flex path="'/agents/groups'" keys="['name']" allow-click="true" row-sizes="[17,15,13]">
            </md-card-content>
        </md-card>
        </wz-table>
    </div>

    <!-- XML editor for node configuration -->
    <div class="md-padding" ng-show="editingFile">
        <div flex layout="column">
            <div layout="row" class="wz-padding-bottom-14">
                <span ng-click='closeEditingFile()' class='btn btn-info'>Cancel</span>
                <button ng-disabled='xmlHasErrors' ng-click='doSaveConfig()' class='btn btn-primary pull-right wz-margin-left-8'>
                    <span ng-show='!xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save'></i>Save file</span>
                    <span ng-show='xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                        XML format error</span>
                </button>
            </div>
            <div ng-if="fetchedXML" style="height: calc(100vh - 299px);">
                <wz-xml-file-editor file-name='agent.conf' data="fetchedXML" target-name="selectedItem.name + ' group'"
                    valid-fn='xmlIsValid(valid)'>
                </wz-xml-file-editor>
            </div>
        </div>
    </div>
</div>