<div flex layout="column" ng-controller="blankScreenController" layout-align="center center">
    <div class="present-logo">
        <img class="loading-logo-fail" aria-hidden="true" kbn-src="/plugins/wazuh/img/icon_fail.png"></img>
    </div>

    <div class="checks-fail">
        <div class="health-check-error">
            <div class="error-notify">Ups, something went wrong...</div><hr>
            <div id="result"></div><hr>            
            <a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/index.html">https://www.elastic.co/guide/en/elasticsearch/reference/current/index.html</a><hr>            
            <a href="https://documentation.wazuh.com/current/installation-guide/">https://documentation.wazuh.com/current/installation-guide/</a>


        </div>
    </div>
</div>
