<!-- Cards for overview monitoring section -->
<div layout="row" layout-align="start stretch" class="wz-timelions" ng-show="showConfig">

    <!-- Overview visualization card -->
    <md-card class="wz-md-card" ng-class="{'no-opacity-overview-monitoring': resultState !== 'ready' || !rendered,'flex-30': resultState === 'ready' && rendered}">
        <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 nodes</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <kbn-vis ng-show="rendered" vis-id="'Wazuh-App-Cluster-Overview-Node-Pie'" id="Wazuh-App-Cluster-Overview-Node-Pie"></kbn-vis>
            <span class="wz-padding-top-10 wz-text-center" ng-show="!rendered">There are no results for selected time range. Try another one.</span>
        </md-card-content>
    </md-card>

    <!-- Cluster configuration card -->
    <md-card flex class="wz-md-card">
        <md-card-content>
            <i class="fa fa-fw fa-server" aria-hidden="true"></i> <span class="wz-headline-title">Cluster configuration</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <!-- Configuration options -->
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Disabled</span>
                <span class="color-grey">{{configuration.disabled}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Hidden</span>
                <span class="color-grey">{{configuration.hidden}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Name</span>
                <span class="color-grey">{{configuration.name}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Node name</span>
                <span class="color-grey">{{configuration.node_name}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Node type</span>
                <span class="color-grey">{{configuration.node_type}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Bind address</span>
                <span class="color-grey">{{configuration.bind_addr}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">IP</span>
                <span class="color-grey">{{configuration.nodes[0] || 'Unknown'}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Port</span>
                <span class="color-grey">{{configuration.port}}</span>
            </div>
        </md-card-content>
    </md-card>
</div>
<!-- End cards for overview monitoring section -->
