.no-anomalies-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anomaly-description {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

.status-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.successIcon {
    color: rgb(83, 160, 81);
}

.errorIcon {
    color: rgb(220, 78, 65);
}

.warningIcon {
    color: rgb(248, 190, 52);
}

.infoIcon {
    color: rgb(0, 109, 156);
}