<md-content flex layout="column" ng-if="tab === 'virustotal' && tabView === 'panels'"
    ng-class="{'no-opacity': resultState !== 'ready' || !rendered}" layout-align="start">

    <!-- View: Panels -->

    <!-- <div layout="row">
        <div class="euiPanel euiFlexItem wz-margin-10" flex class="wz-md-card wz-metric-color">
            <md-card-content layout="row" class="wz-padding-metric">
                <div flex>Total malicious: <span class="wz-text-bold" ng-bind="virusMalicious()"></span></div>
                <div flex>Total positives: <span class="wz-text-bold" ng-bind="virusPositives()"></span></div>
                <div flex>Total: <span class="wz-text-bold" ng-bind="virusTotal()"></span></div>
            </md-card-content>
        </div>
    </div>

    <div class="wz-no-display">
        <kbn-vis vis-id="'Wazuh-App-Agents-Virustotal-Total-Malicious'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-Virustotal-Total-Positives'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-Virustotal-Total'"></kbn-vis>
    </div> -->

</md-content>