<md-content flex layout="column" ng-if="tab === 'general'" layout-align="start">

    <div ng-if="resultState === 'ready' && tabView === 'panels'">

        <div layout="row">
            <md-card flex class="wz-metric-color wz-md-card">
                <md-card-content layout="row" class="wz-padding-metric">
                    <div flex="25">Name: <span class="wz-font-weight-bold">{{agent.name}}</span></div>
                    <div flex="25">IP: <span class="wz-font-weight-bold">{{agent.ip}}</span></div>
                    <div flex ng-if="agent.version">Version:<span class="wz-font-weight-bold"> {{ agent.version | limitTo: 12 }}{{agent.version.length > 12 ? '...' : ''}}</span></div>
                    <div flex="25" ng-if="agent.group">Group:<span class="wz-font-weight-bold"> {{ agent.group }}</span></div>
                    <div flex>OS:<span class="wz-font-weight-bold"> {{ agentOS }}</span></div>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row">
            <md-card flex class="wz-metric-color wz-md-card">
                <md-card-content layout="row" class="wz-padding-metric">
                    <div flex="25">Last keep alive:<span class="wz-font-weight-bold"> {{agent.lastKeepAlive || 'Unknown' }}</span></div>
                    <div flex="25">Registration date:<span class="wz-font-weight-bold"> {{agent.dateAdd}}</span></div>
                    <div flex="25" ng-if="agent.syscheck.inProgress">Last syscheck scan:<span class="wz-font-weight-bold"> Scan in progress</span></div>
                    <div flex="25" ng-if="!agent.syscheck.inProgress">Last syscheck scan:<span class="wz-font-weight-bold"> {{agent.syscheck.end || 'Unknown'}}</span>
                        <md-tooltip ng-if="!agent.syscheck.inProgress && agent.syscheck.start && agent.syscheck.end" md-direction="bottom" class="wz-tooltip">
                            Start time: {{ agent.syscheck.start || 'Unknown'}} <br>
                            End time: {{ agent.syscheck.end || 'Unknown'}} <br>
                            Duration time: {{ agent.syscheck.duration +' minutes' || 'Unknown'}}
                        </md-tooltip>
                    </div>
                    <div flex ng-if="agent.rootcheck.inProgress">Last rootcheck scan:<span class="wz-font-weight-bold"> Scan in progress</span></div>
                    <div flex ng-if="!agent.rootcheck.inProgress">Last rootcheck scan:<span class="wz-font-weight-bold"> {{agent.rootcheck.end || 'Unknown'}}</span>
                        <md-tooltip ng-if="!agent.rootcheck.inProgress && agent.rootcheck.start && agent.rootcheck.end" md-direction="bottom" class="wz-tooltip">
                            Start time: {{ agent.rootcheck.start || 'Unknown'}} <br>
                            End time: {{ agent.rootcheck.end || 'Unknown'}} <br>
                            Duration time: {{ agent.rootcheck.duration +' minutes' || 'Unknown'}}
                        </md-tooltip>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </div>

    <!-- View: Panels -->
    <div ng-if="resultState === 'ready' && tabView === 'panels'">

        <div layout="row" class="height-230">
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Top 5 alerts</span>
                    <md-divider></md-divider>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Top-5-alerts'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Top 5 groups</span>
                    <md-divider></md-divider>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Top-5-groups'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Top 5 PCI DSS Requirements</span>
                    <md-divider></md-divider>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Top-5-PCI-DSS-Requirements'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="start stretch" class="height-230">
            <md-card flex class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Alert level evolution</span>
                    <md-divider></md-divider>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Alert-level-evolution'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="60" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Alerts</span>
                    <md-divider></md-divider>
                    <kbn-vis vis-id="'Wazuh-App-Agents-Overview-Alerts'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" class="height-570">
            <md-card  flex="60" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Alerts summary</span>
                    <md-divider></md-divider>
                    <kbn-vis class="kbn-chart wz-vis-no-scroll" vis-id="'Wazuh-App-Agents-Overview-Alerts-summary'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="40" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Groups summary</span>
                    <md-divider></md-divider>
                    <kbn-vis class="kbn-chart wz-vis-no-scroll" vis-id="'Wazuh-App-Agents-Overview-Groups-summary'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

    </div>

</md-content>
