<md-content flex layout="column" ng-if="tab === 'virustotal' && tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}"
    layout-align="start">

    <!-- View: Panels -->


    <div layout="row">
        <div class="euiPanel euiFlexItem wz-margin-10" flex class="wz-md-card wz-metric-color">
            <md-card-content layout="row" class="wz-padding-metric">
                <div flex>Total malicious: <span class="wz-text-bold" ng-bind="virusMalicious()"></span></div>
                <div flex>Total positives: <span class="wz-text-bold" ng-bind="virusPositives()"></span></div>
                <div flex>Total: <span class="wz-text-bold" ng-bind="virusTotal()"></span></div>
            </md-card-content>
        </div>
    </div>

    <div class="wz-no-display">
        <kbn-vis vis-id="'Wazuh-App-Agents-Virustotal-Total-Malicious'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-Virustotal-Total-Positives'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-Virustotal-Total'"></kbn-vis>
    </div>

    <div layout="row" class="height-250">
        <div class="euiPanel euiFlexItem wz-margin-10" flex="33" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
            <md-card-actions layout="row" layout-align="end center" class=""
                ng-dblclick="expand(0)">
                <span class="embPanel__header embPanel__title embPanel__dragger layout-row wz-headline-title">Last scanned files</span>
                <span flex></span>
                <span class="cursor-pointer wz-margin-8-no-left" ng-click="expand(0)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Virustotal-Last-Files-Pie" vis-id="'Wazuh-App-Agents-Virustotal-Last-Files-Pie'"></kbn-vis>
            </md-card-content>
        </div>
        <div class="euiPanel euiFlexItem wz-margin-10" flex class="wz-md-card">
            <md-card-content class="wazuh-column" ng-class="{'fullscreen': expandArray[1]}">
                <md-card-actions layout="row" layout-align="end center" class=""
                    ng-dblclick="expand(1)">
                    <span class="embPanel__header embPanel__title embPanel__dragger layout-row wz-headline-title">Malicious files alerts Evolution</span>
                    <span flex></span>
                    <span class="cursor-pointer wz-margin-8-no-left" ng-click="expand(1)">
                        <react-component name="EuiIcon" props="{type:'expand'}" />
                    </span>
                </md-card-actions>
                <kbn-vis id="Wazuh-App-Agents-Virustotal-Malicious-Evolution" vis-id="'Wazuh-App-Agents-Virustotal-Malicious-Evolution'"></kbn-vis>
            </md-card-content>
        </div>
    </div>
    <div layout="row" class="height-570">
        <div class="euiPanel euiFlexItem wz-margin-10" flex class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
            <md-card-actions layout="row" layout-align="end center" class=""
                ng-dblclick="expand(2)">
                <span class="embPanel__header embPanel__title embPanel__dragger layout-row wz-headline-title">Last files</span>
                <span flex></span>
                <span class="cursor-pointer wz-margin-8-no-left" ng-click="expand(2)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Virustotal-Files-Table" vis-id="'Wazuh-App-Agents-Virustotal-Files-Table'"></kbn-vis>
            </md-card-content>
        </div>
    </div>
</md-content>