<md-content flex layout="column" ng-if="tab === 'oscap' && tabView === 'panels'"
    ng-class="{'no-opacity': resultState !== 'ready' || !rendered}" layout-align="start">

    <!-- View: Panels -->

    <!-- <div layout="row">
        <div class="euiPanel euiFlexItem wz-margin-10" flex class="wz-md-card wz-metric-color">
            <md-card-content layout="row" class="wz-padding-metric">
                <div flex>Last score: <span class="wz-text-bold" ng-bind="scapLastScore()"></span></div>
                <div flex>Highest score: <span class="wz-text-bold" ng-bind="scapHighestScore()"></span></div>
                <div flex>Lowest score: <span class="wz-text-bold" ng-bind="scapLowestScore()"></span></div>
            </md-card-content>
        </div>
    </div>

    <div class="wz-no-display">
        <kbn-vis vis-id="'Wazuh-App-Agents-OSCAP-Last-score'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-OSCAP-Higher-score-metric'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-OSCAP-Lower-score-metric'"></kbn-vis>
    </div> -->
</md-content>