<md-content flex layout="column" ng-if="tab === 'pm' && tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}"
    layout-align="start">
    <div layout="row" layout-padding class="wz-padding-top-0">
        <span flex></span>
        <md-button ng-click="launchRootcheckScan()" class="discoverSectionSwitchBtn pull-right"><i class="fa fa-fw fa-play"></i>
            Run scan</md-button>
    </div>
    <div layout="row" class="height-290">
        <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(0)">
                <span class="wz-headline-title">Alerts over time</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(0)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-PM-Events-over-time" vis-id="'Wazuh-App-Agents-PM-Events-over-time'">
                </kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(1)">
                <span class="wz-headline-title">Rule distribution</span>
                <span flex></span>
                </span>
                <span class="cursor-pointer" ng-click="expand(1)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-PM-Top-5-rules" vis-id="'Wazuh-App-Agents-PM-Top-5-rules'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="center stretch" class="height-240">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
            <md-card-content class="wazuh-column">
                <div layout="row" ng-dblclick="expand(3)">
                    <span class="wz-headline-title">Events per control type evolution</span>
                    <span flex></span>
                    <span class="cursor-pointer" ng-click="expand(3)">
                        <react-component name="EuiIcon" props="{type:'expand'}" />
                    </span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>
                <kbn-vis id="Wazuh-App-Agents-PM-Events-per-agent-evolution" vis-id="'Wazuh-App-Agents-PM-Events-per-agent-evolution'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="space-between stretch" class="height-570">
        <md-card flex="100" class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(4)">
                <span class="wz-headline-title">Alerts summary</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(4)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis vis-id="'Wazuh-App-Agents-PM-Alerts-summary'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

</md-content>