<md-content flex layout="column" ng-if="tab === 'ciscat' && tabView === 'panels'" ng-show="resultState === 'ready' && rendered" layout-align="start">

    <!-- Metric bar section -->
    <div layout="row" layout-align="start center">
        <md-card flex class="wz-metric-color wz-md-card">
            <md-card-content layout="row" class="wz-padding-metric">
                <div class="wz-text-truncatable" flex>Last not checked: <span class="wz-text-bold" ng-bind="ciscatScanNotChecked()"></span></div>
                <div class="wz-text-truncatable" flex>Last pass: <span class="wz-text-bold" ng-bind="ciscatScanPass()"></span></div>
                <div class="wz-text-truncatable" flex>Last scan score: <span class="wz-text-bold" ng-bind="ciscatScanScore()"></span></div>
                <div class="wz-text-truncatable">Last scan date: <span class="wz-text-bold" ng-bind="ciscatScanTimestamp()"></span></div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End metric bar section -->

    <!-- Metric bar section -->
    <div layout="row" layout-align="start center">
        <md-card flex class="wz-metric-color wz-md-card">
            <md-card-content layout="row" class="wz-padding-metric">
                <div class="wz-text-truncatable" flex>Last errors: <span class="wz-text-bold" ng-bind="ciscatScanError()"></span></div>
                <div class="wz-text-truncatable" flex>Last fails: <span class="wz-text-bold" ng-bind="ciscatScanFail()"></span></div>
                <div class="wz-text-truncatable" flex>Last unknown: <span class="wz-text-bold" ng-bind="ciscatScanUnknown()"></span></div>
                <div class="wz-text-truncatable">Last scan benchmark: <span class="wz-text-bold" ng-bind="ciscatScanBenchmark()"></span></div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End metric bar section -->

    <!-- Hidden metric visualizations section -->
    <div class="wz-no-display">
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-error'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-fail'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-not-checked'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-pass'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-score'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-timestamp'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-benchmark'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-unknown'"></kbn-vis>
    </div>
    <!-- End hidden metric visualizations section -->

    <!-- Top groups and result evolution section -->
    <div layout="row" layout-align="start stretch" class="height-320">
        <md-card flex="60" class="wz-md-card">
            <md-card-content class="wazuh-column">
                <span class="wz-headline-title">Top 5 CIS-CAT groups</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-top-5-groups'" id="Wazuh-app-Agents-CISCAT-top-5-groups"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card">
            <md-card-content class="wazuh-column">
                <span class="wz-headline-title">Scan result evolution</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-scan-result-evolution'" id="Wazuh-app-Agents-CISCAT-scan-result-evolution"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>
    <!-- End top groups and result evolution section -->

    <!-- Alerts summary table section -->
    <div layout="row" layout-align="start stretch" class="height-570">
        <md-card flex class="wz-md-card">
            <md-card-content class="wazuh-column">
                <span class="wz-headline-title">Alerts summary</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-alerts-summary'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>
    <!-- End alerts summary table section -->

</md-content>
