<md-content flex layout="column" ng-if="tab === 'vuls' && tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}"
    layout-align="start">

    <div layout="row" layout-padding>
        <react-component flex name="AlertsStats" props="{
            items: [
                { description: 'Critical severity alerts', value: vulnCritical(), color: 'danger' },                
                { description: 'High severity alerts', value: vulnHigh(), color: 'primary' },
                { description: 'Medium severity alerts', value: vulnMedium(), color: 'secondary' },
                { description: 'Low severity alerts', value: vulnLow(), color: 'subdued' }
            ]            
        }" />
    </div>

    <div class="wz-no-display">
        <kbn-vis vis-id="'Wazuh-App-Agents-vuls-Metric-Critical-severity'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-vuls-Metric-High-severity'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-vuls-Metric-Medium-severity'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-vuls-Metric-Low-severity'"></kbn-vis>
    </div>

    <div layout="row" layout-align="center stretch" class="height-300">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(0)">
                <span class="wz-headline-title">Alerts severity over time</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(0)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-vuls-Alerts-severity-over-time" vis-id="'Wazuh-App-Agents-vuls-Alerts-severity-over-time'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(1)">
                <span class="wz-headline-title">Most common rules</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(1)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis vis-id="'Wazuh-App-Agents-vuls-Most-common-rules'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row" layout-align="center stretch" class="height-270">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(2)">
                <span class="wz-headline-title">Most common CVEs</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(2)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-vuls-Vulnerability-Most-common-CVEs" vis-id="'Wazuh-App-Agents-vuls-Vulnerability-Most-common-CVEs'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(3)">
                <span class="wz-headline-title">Severity distribution</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(3)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-vuls-Vulnerability-severity-distribution" vis-id="'Wazuh-App-Agents-vuls-Vulnerability-severity-distribution'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(4)">
                <span class="wz-headline-title">Commonly affected packages</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(4)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-vuls-Commonly-affected-packages" vis-id="'Wazuh-App-Agents-vuls-Commonly-affected-packages'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" class="height-570">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[5]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(5)">
                <span class="wz-headline-title">Alert summary</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(5)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis vis-id="'Wazuh-App-Agents-vuls-Alert-summary'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>
</md-content>