<md-content flex layout="column" ng-if="tab === 'fim' && tabView === 'panels'" ng-show="resultState === 'ready' && rendered" layout-align="start">

    <!-- View: Panels -->


        <div layout="row" class="height-230">
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Users</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-FIM-Users" vis-id="'Wazuh-App-Agents-FIM-Users'">
                </md-card-content>
            </md-card>
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Groups</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-FIM-Groups" vis-id="'Wazuh-App-Agents-FIM-Groups'">
                </md-card-content>
            </md-card>
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Permissions</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-FIM-Permissions" vis-id="'Wazuh-App-Agents-FIM-Permissions'">
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" class="height-230">
            <md-card flex class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Events</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-FIM-Events" vis-id="'Wazuh-App-Agents-FIM-Events'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" class="height-230">
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Files added</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-FIM-Files-added" vis-id="'Wazuh-App-Agents-FIM-Files-added'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Files modified</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-FIM-Files-modified" vis-id="'Wazuh-App-Agents-FIM-Files-modified'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="33" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Files deleted</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-FIM-Files-deleted" vis-id="'Wazuh-App-Agents-FIM-Files-deleted'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="space-between stretch" class="height-570">
            <md-card flex class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Alerts summary</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis vis-id="'Wazuh-App-Agents-FIM-Alerts-summary'"></kbn-vis>
                </md-card-content>
            </md-card>
       </div>



</md-content>
