<md-content flex layout="column" ng-if="tab === 'sca' && tabView === 'panels'" layout-align="start">
    <div layout="row" class="wz-margin-top-16 wz-margin-right-8 wz-margin-left-8"
        ng-if="!loadSca && !load && (((agent || {}).status === 'Never connected') || !agent || !agent.os)">
        <div flex class="euiCallOut euiCallOut--warning">
            <div class="euiCallOutHeader">
                <react-component name="EuiIcon" props="{type:'help',className:'euiCallOutHeader__title'}" />
                <span class="euiCallOutHeader__title">This agent has never connected.</span>
            </div>
        </div>
    </div>
    <div ng-if="load || loadSca" class="md-padding wz-margin-top-16">
        <react-component name="EuiProgress" props="{size: 'xs', color: 'primary'}" />
    </div>

    <div layout="row" class="wz-margin-top-16"
        ng-if="!loadSca && !load && (!policies || !policies.length) && ((agent || {}).status !== 'Never connected')">
        <span flex></span>
        <md-card flex="50" class="wz-md-card" flex>
            <md-card-content class="wz-text-center">
                <span class="wz-headline-title">
                    <react-component name="EuiIcon" props="{type: 'alert'}" /> No scans available.
                </span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-margin-top-10 layout-align-center-center">
                    <button class="kuiButton kuiButton--secondary height-35" ng-click="switchTab('sca')">
                        <react-component name="EuiIcon" props="{type: 'refresh'}" /> Refresh
                    </button>
                </div>
            </md-card-content>
        </md-card>
        <span flex></span>
    </div>

    <div class="md-padding euiFlexGroup--wrap layout-row" ng-if="agent && agent.os && !lookingSca && !load && !loadSca">
        <div class="layout-column md-padding" ng-repeat="policy in policies">
            <span class="wz-headline-title">{{policy.name}}</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <canvas id="bar" class="wz-margin-top-10 chart chart-doughnut"
                chart-data="[policy.pass, policy.fail, policy.invalid]" chart-labels="['pass','fail', 'not applicable']"
                chart-colors="['#57C17B', '#BC52BC', '#6F86D7']"
                chart-options="{cutoutPercentage: 75, legend: {display: true,position: 'right',},responsive: false, maintainAspectRatio: false}" />
        </div>
    </div>

    <div layout="row" class="md-padding" ng-if="agent && agent.os && !lookingSca && !load && !loadSca">
        <table class="table table-striped table-condensed table-hover" ng-if="policies && policies.length">
            <thead>
                <tr>
                    <th class="euiTableHeaderCell padding-left-0">
                        <div class="euiTableCellContent"><span class="euiTableCellContent__text">Policy</span></div>
                    </th>
                    <th class="euiTableHeaderCell padding-left-0">
                        <div class="euiTableCellContent"><span class="euiTableCellContent__text">Description</span>
                        </div>
                    </th>
                    <th class="euiTableHeaderCell padding-left-0">
                        <div class="euiTableCellContent"><span class="euiTableCellContent__text">Last scan</span></div>
                    </th>
                    <th class="euiTableHeaderCell padding-left-0">
                        <div class="euiTableCellContent"><span class="euiTableCellContent__text">Pass</span></div>
                    </th>
                    <th class="euiTableHeaderCell padding-left-0">
                        <div class="euiTableCellContent"><span class="euiTableCellContent__text">Fail</span></div>
                    </th>
                    <th class="euiTableHeaderCell padding-left-0">
                        <div class="euiTableCellContent"><span class="euiTableCellContent__text">Not applicable</span>
                        </div>
                    </th>
                    <th class="euiTableHeaderCell padding-left-0">
                        <div class="euiTableCellContent"><span class="euiTableCellContent__text">Score</span></div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr class="euiTableRow" ng-repeat="policy in policies">
                    <td class="euiTableRowCell">
                        <div class="euiTableCellContent euiTableCellContent--overflowingContent">
                            <button ng-click="loadScaChecks(policy)" class="euiLink euiLink--primary"
                                type="button">{{policy.name}}</button>
                        </div>
                    </td>
                    <td class="euiTableRowCell">
                        <div class="euiTableCellContent euiTableCellContent--overflowingContent">
                            <span>{{policy.description
                                }}</span>
                        </div>
                    </td>
                    <td class="euiTableRowCell">
                        <div class="euiTableCellContent euiTableCellContent--overflowingContent no-wrap">
                            <span ng-bind="policy.end_scan ? offsetTimestamp('', policy.end_scan) : '-'"></span>
                        </div>
                    </td>
                    <td class="euiTableRowCell">
                        <div class="euiTableCellContent euiTableCellContent--overflowingContent no-wrap">
                            <span>{{policy.pass}}</span>
                        </div>
                    </td>
                    <td class="euiTableRowCell">
                        <div class="euiTableCellContent euiTableCellContent--overflowingContent no-wrap">
                            <span>{{policy.fail}}</span>
                        </div>
                    </td>
                    <td class="euiTableRowCell">
                        <div class="euiTableCellContent euiTableCellContent--overflowingContent no-wrap">
                            <span>{{policy.invalid}}</span>
                        </div>
                    </td>
                    <td class="euiTableRowCell">
                        <div class="euiTableCellContent euiTableCellContent--overflowingContent no-wrap">
                            <span>{{policy.score}}%</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div layout="row" class="wz-margin-top-10" ng-if="agent && agent.os && lookingSca">
        <md-card flex class="wz-md-card">
            <md-card-actions style="padding-top: 14px !important;" class="wz-card-actions-vis">
                <div layout="row">
                    <span><i class="fa fa-fw fa-arrow-left cursor-pointer" ng-click="closeScaChecks()"></i>
                        {{lookingSca.name}}
                    </span>
                    <span class="wz-margin-left-16">Pass: <span class="wz-text-bold">{{lookingSca.pass}}</span></span>
                    <span class="wz-margin-left-16">Fail: <span class="wz-text-bold">{{lookingSca.fail}}</span></span>
                    <span class="wz-margin-left-16">Not applicable: <span
                            class="wz-text-bold">{{lookingSca.invalid}}</span></span>
                    <span class="wz-margin-left-16">Score: <span
                            class="wz-text-bold">{{lookingSca.score}}%</span></span>
                    <span flex></span>
                    <span class="wz-text-gray">{{lookingSca.end_scan}}</span>
                </div>
            </md-card-actions>
            <md-card-content class="wz-padding-bottom-30">
                <div layout="row" ng-show="lookingSca.hash_file" class="sca-checksum">
                    <span>Policy checksum: {{lookingSca.hash_file}}
                    </span>
                </div>
                <div layout="row" class="wz-margin-bottom-25">
                    <input placeholder="Filter checks..." ng-model="custom_search" type="text"
                        class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
                        aria-invalid="false" wz-enter="search(custom_search)">
                    <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-40"
                        ng-click="search(custom_search)">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                </div>
                <div layout="row" class="wz-margin-top-16 wz-margin-bottom-40-inv">
                    <wz-table custom-columns="true" flex path="'/sca/' + agent.id + '/checks/' + lookingSca.id"
                        row-sizes="[16,14,12]"
                        keys="[{value: 'id', width: '75px'},'title', 'file', {value: 'result', width: '200px'}]">
                    </wz-table>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button type="button"
                    ng-click="downloadCsv('/sca/' + agent.id + '/checks/' + lookingSca.id, lookingSca.id + '.csv')"
                    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small">
                    <span class="euiButtonEmpty__content">
                        <react-component name="EuiIcon" props="{type:'importAction'}" />
                        <span class="euiButtonEmpty__text">Formatted</span>
                    </span>
                </button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>