<md-content flex layout="column" ng-if="tab === 'gdpr' && tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}" layout-align="start">

    <!-- View: Panels -->

        <div layout="row" layout-align="center stretch">
            <md-card flex class="wz-md-card">
                <md-tabs md-selected="selectedGdprIndex" class="wz-md-tab" md-border-bottom md-dynamic-height id="gdprReq_tab">
                    <md-tab ng-repeat="tab in gdprTabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                        <div class="md-padding">
                            <span class="wz-headline-title">GDPR Requirement: {{tab.title}}</span>
                            <md-divider class="wz-margin-top-10"></md-divider>
                            <div layout="row" class="wz-padding-top-10 wz-line-height">
                                <div ng-bind-html="tab.content"></div>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-card>
        </div>

        <div layout="row" layout-align="center stretch" class="height-225">
            <md-card flex="30" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Groups</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-GDPR-Groups" vis-id="'Wazuh-App-Agents-GDPR-Groups'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="70" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">GDPR Requirements</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-GDPR-Requirements" vis-id="'Wazuh-App-Agents-GDPR-Requirements'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="center stretch" class="height-570">
            <md-card class="wz-md-card" flex>
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Alerts summary</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis vis-id="'Wazuh-App-Agents-GDPR-Last-alerts'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

</md-content>
