<md-content flex layout="column" ng-if="tab === 'hipaa' && tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}"
    layout-align="start">

    <!-- View: Panels -->
    <div ng-if="hipaaReqs" class="wz-margin-10">
        <react-component name='RequirementCard' props="hipaaReqs"/>
    </div>

    <div layout="row" layout-align="center stretch" class="height-300">
        <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(3)">
                <span class="wz-headline-title">Requirements over time</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(3)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-HIPAA-Requirements-Stacked-Overtime" vis-id="'Wazuh-App-Agents-HIPAA-Requirements-Stacked-Overtime'">
                </kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex="50" class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(4)">
                <span class="wz-headline-title">Top 10 requirements</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(4)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-HIPAA-top-10" vis-id="'Wazuh-App-Agents-HIPAA-top-10'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>
    
    <div layout="row" layout-align="center stretch" class="height-300">
        <md-card flex="45" class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(0)">
                <span class="wz-headline-title">HIPAA requirements</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(0)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-HIPAA-Burbles" vis-id="'Wazuh-App-Agents-HIPAA-Burbles'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex="30" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(1)">
                <span class="wz-headline-title">Requirements distribution by level</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(1)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-HIPAA-Distributed-By-Level" vis-id="'Wazuh-App-Agents-HIPAA-Distributed-By-Level'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex="25" class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(2)">
                <span class="wz-headline-title">Most common alerts</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(2)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-HIPAA-Most-Common" vis-id="'Wazuh-App-Agents-HIPAA-Most-Common'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="center stretch" class="height-570">
        <md-card class="wz-md-card" flex ng-class="{'fullscreen': expandArray[5]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(5)">
                <span class="wz-headline-title">Alerts summary</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(5)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis vis-id="'Wazuh-App-Agents-HIPAA-Last-alerts'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

</md-content>