<md-content flex layout="column" ng-if="tab === 'osquery' && tabView === 'panels'"
    ng-class="{'no-opacity': resultState !== 'ready' || !rendered}" layout-align="start">
    <div layout="row" class="height-300">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(0)">
                <span class="wz-headline-title">Most common Osquery actions</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(0)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Osquery-most-common-osquery-actions"
                    vis-id="'Wazuh-App-Agents-Osquery-most-common-osquery-actions'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex="70" class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
            <md-card-content class="wazuh-column">
                <div layout="row" ng-dblclick="expand(1)">
                    <span class="wz-headline-title">Evolution of Osquery events per pack over time</span>
                    <span flex></span>
                    <span class="cursor-pointer" ng-click="expand(1)">
                        <react-component name="EuiIcon" props="{type:'expand'}" />
                    </span>
                </div>
                <md-divider class="wz-margin-top-10"></md-divider>
                <kbn-vis id="Wazuh-App-Agents-Osquery-Evolution" vis-id="'Wazuh-App-Agents-Osquery-Evolution'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" class="height-300">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(2)">
                <span class="wz-headline-title">Most common Osquery packs being used</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(2)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Osquery-top-5-packs-being-used"
                    vis-id="'Wazuh-App-Agents-Osquery-top-5-packs-being-used'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex="70" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(3)">
                <span class="wz-headline-title">Most common rules</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(3)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Osquery-monst-common-rules-being-fired"
                    vis-id="'Wazuh-App-Agents-Osquery-monst-common-rules-being-fired'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" class="height-570">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(4)">
                <span class="wz-headline-title">Alerts summary</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(4)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis vis-id="'Wazuh-App-Overview-Osquery-Alerts-summary'">
            </md-card-content>
        </md-card>
    </div>
</md-content>