<md-content flex layout="column" ng-if="tab === 'syscollector'" ng-show="!load">
    <div layout="row" layout-align="layout-padding" ng-if="!syscollector">
        <md-card flex class="wz-md-card" flex>
            <md-card-content class="wz-text-center">
                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> <span class="wz-headline-title">Inventory disabled</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="column" class="wz-padding-top-10">
                    <p>Inventory (syscollector) is disabled for this agent. Visit the documentation on <a target="_blank" href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/wodle-syscollector.html">this link</a> to learn about how to enable it.
                    </p>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row" class="layout-padding" ng-if="syscollector">
        <md-card flex class="wz-md-card">
            <md-card-content>
                <span class="wz-headline-title">OS information</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <span>Scan date</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.os.scan.time }}</span>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <span>Sysname</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.os.sysname }}</span>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <span>Version</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.os.version }}</span>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <span>Architecture</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.os.architecture }}</span>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <span>Release</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.os.release }}</span>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <span>Distribution</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.os.os.name }} {{ syscollector.os.os.version }}</span>
                </div>

            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-if="syscollector">
            <md-card-content>
                <span class="wz-headline-title">Hardware information</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" class="wz-padding-top-10">
                    <span>Scan date</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.hardware.scan.time }}</span>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <span>Board</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.hardware.board_serial }}</span>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <span>RAM</span>
                    <span flex class="wz-text-right color-grey">{{ (syscollector.hardware.ram.total / 1024) | number: 2 }} MB</span>
                </div>
                <div layout="row" class="wz-padding-top-10">
                    <span>CPU</span>
                    <span flex class="wz-text-right color-grey">{{ syscollector.hardware.cpu.name }} ({{ syscollector.hardware.cpu.cores }} cores)</span>
                </div>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" class="md-padding">
        <input placeholder="Filter packages..." ng-model="packageSearch" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
            aria-invalid="false" wz-enter="search(packageSearch,'packages')">
        <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-40" ng-click="search(packageSearch,'packages')">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </div>

    <div layout="row" ng-if="agent && syscollector && !load" class="md-padding">
        <wz-table
            flex
            path="'/syscollector/' + agent.id + '/packages'"
            row-sizes="[8,6,4,4]"
            extra-limit="true"
            keys="[{value:'name',size:3},'architecture','version',{value:'vendor',size:2},{value:'description',size:3}]">
        </wz-table>
    </div>

    <!-- Temporary removed -->
    <!-- <div layout="row" class="md-padding">
        <input placeholder="Filter network interfaces..." ng-model="netifaceSearch" type="text" class="kuiLocalSearchInput ng-empty ng-pristine ng-scope ng-touched ng-valid"
            aria-invalid="false" wz-enter="search(netifaceSearch,'netiface')">
        <button type="submit" aria-label="Search" class="kuiLocalSearchButton height-40" ng-click="search(netifaceSearch,'netiface')">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </div>
    <div layout="row" ng-if="agent" class="md-padding">
        <wz-table
            flex
            path="'/syscollector/' + agent.id + '/netiface'"
            rows-per-page="8"
            keys="['name','mac','state','type']">
        </wz-table>
    </div> -->
    <!-- Temporary removed -->
    <!--<div layout="row" class="md-padding" ng-if="agent">
        <span flex></span>
        <a class="small" id="btnDownload" ng-click="downloadCsv('/syscollector/' + agent.id + '/packages')">Formatted
            <i aria-hidden="true" class="fa fa-fw fa-download"></i>
        </a>
    </div>-->
</md-content>
