<div flex layout="column" layout-align="start stretch" ng-if="tab === 'welcome'" ng-show="!load">

    <!-- Headline -->
    <div layout="column" layout-padding>
        <span class="font-size-18"><i class="fa fa-fw fa-tv" aria-hidden="true"></i> Agent overview</span>
    </div>
    <!-- End headline -->

    <!-- Agent information section -->
    <div layout="row" layout-padding class="wz-padding-top-0 wz-padding-bottom-0">
        <md-card flex class="wz-metric-color wz-md-card wz-no-padding">
            <md-card-content layout="row" class="wz-padding-metric">
                <div class="wz-text-truncatable" flex>
                    Name: <span class="wz-text-bold">{{ agent.name }}</span>
                    <md-tooltip ng-if="agent.name.length > 25" md-direction="bottom" class="wz-tooltip">
                        Full name: {{ agent.name }}
                    </md-tooltip>
                </div>
                <div class="wz-text-truncatable" flex>
                    IP: <span class="wz-text-bold">{{ agent.ip }}</span>
                </div>
                <div class="wz-text-truncatable" flex ng-if="agent.group">
                    Group: <span class="wz-text-bold wz-text-link" ng-click="goGroups(agent)">{{ agent.group }}</span>
                </div>
                <div class="wz-text-truncatable" flex ng-if="agent.version">
                    Version: <span class="wz-text-bold">{{ agent.version }}</span>
                </div>
                <div class="wz-text-truncatable" flex>
                    OS: <span class="wz-text-bold">{{ agentOS }}</span>
                    <md-tooltip ng-if="agentOS.length > 25" md-direction="bottom" class="wz-tooltip">
                        Full OS name: {{ agentOS }}
                    </md-tooltip>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div layout="row" layout-padding class="wz-padding-top-0 wz-padding-bottom-0">
        <md-card flex class="wz-metric-color wz-md-card wz-no-padding">
            <md-card-content layout="row" class="wz-padding-metric">
                <div class="wz-text-truncatable" flex>Last keep alive:<span class="wz-text-bold"> {{agent.lastKeepAlive || 'Unknown' }}</span></div>
                <div class="wz-text-truncatable" flex>Registration date:<span class="wz-text-bold"> {{agent.dateAdd}}</span></div>
                <div class="wz-text-truncatable" flex ng-if="agent.syscheck.inProgress">Last syscheck scan:<span class="wz-text-bold"> Scan in progress</span></div>
                <div class="wz-text-truncatable" flex ng-if="!agent.syscheck.inProgress">Last syscheck scan:<span class="wz-text-bold"> {{agent.syscheck.end || 'Unknown'}}</span>
                    <md-tooltip ng-if="!agent.syscheck.inProgress && agent.syscheck.start && agent.syscheck.end" md-direction="bottom" class="wz-tooltip">
                        Start time: {{ agent.syscheck.start || 'Unknown'}} <br>
                        End time: {{ agent.syscheck.end || 'Unknown'}} <br>
                        Duration time: {{ agent.syscheck.duration +' minutes' || 'Unknown'}}
                    </md-tooltip>
                </div>
                <div class="wz-text-truncatable" flex ng-if="agent.rootcheck.inProgress">Last rootcheck scan:<span class="wz-text-bold"> Scan in progress</span></div>
                <div class="wz-text-truncatable" flex ng-if="!agent.rootcheck.inProgress">Last rootcheck scan:<span class="wz-text-bold"> {{agent.rootcheck.end || 'Unknown'}}</span>
                    <md-tooltip ng-if="!agent.rootcheck.inProgress && agent.rootcheck.start && agent.rootcheck.end" md-direction="bottom" class="wz-tooltip">
                        Start time: {{ agent.rootcheck.start || 'Unknown'}} <br>
                        End time: {{ agent.rootcheck.end || 'Unknown'}} <br>
                        Duration time: {{ agent.rootcheck.duration +' minutes' || 'Unknown'}}
                    </md-tooltip>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End agent information section -->


    <div layout="row" layout-padding>
        <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
            <div class="euiFlexItem">
                <div class="euiPanel euiPanel--paddingLarge">
                    <h3 class="euiTitle">Host monitoring</h3>
                    <div class="euiSpacer euiSpacer--m"></div>
                    <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
                        <wz-welcome-card 
                            class="euiFlexItem" logo="'app_dashboard.svg'" title="'General'"
                            switch-tab="switchTab('general')" current-tab="'general'"
                            description="'Explore your alerts.'"
                        ></wz-welcome-card>
                        <wz-welcome-card 
                            class="euiFlexItem" logo="'app_logging.svg'" title="'File integrity'"
                            switch-tab="switchTab('fim')" current-tab="'fim'"
                            description="TabDescription.fim.description"
                        ></wz-welcome-card>
                        <wz-welcome-card 
                            class="euiFlexItem" logo="'app_devtools.svg'" 
                            title="'Configuration'" switch-tab="switchTab('configuration')" current-tab="'configuration'"
                            description="TabDescription.configuration.description"
                        ></wz-welcome-card>
                        <wz-welcome-card 
                            ng-if="syscollector && syscollector.os && syscollector.os.sysname" class="euiFlexItem" logo="'app_index_pattern.svg'" 
                            title="'Inventory'" switch-tab="switchTab('syscollector')" current-tab="'syscollector'"
                            description="TabDescription.syscollector.description"
                        ></wz-welcome-card>
                    </div>
                </div>
            </div>
            <div class="euiFlexItem">
                <div class="euiPanel euiPanel--paddingLarge">
                    <h3 class="euiTitle">System audit</h3>
                    <div class="euiSpacer euiSpacer--m"></div>
                    <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
                        <wz-welcome-card 
                            class="euiFlexItem" logo="'app_advanced_settings.svg'" 
                            title="'Policy monitoring'" switch-tab="switchTab('pm')" current-tab="'pm'"
                            description="TabDescription.pm.description"
                        ></wz-welcome-card>
                        <wz-welcome-card 
                            ng-if="extensions.audit" class="euiFlexItem" logo="'app_monitoring.svg'" 
                            title="'Audit'" switch-tab="switchTab('audit')" current-tab="'audit'"
                            description="TabDescription.audit.description"
                        ></wz-welcome-card>
                        <wz-welcome-card 
                            ng-if="extensions.oscap" class="euiFlexItem" logo="'app_discover.svg'" 
                            title="'Open SCAP'" switch-tab="switchTab('oscap')" current-tab="'oscap'"
                            description="TabDescription.oscap.description"
                        ></wz-welcome-card>
                        <wz-welcome-card 
                            ng-if="extensions.ciscat" class="euiFlexItem" logo="'app_management.svg'" 
                            title="'CIS-CAT'" switch-tab="switchTab('ciscat')" current-tab="'ciscat'"
                            description="TabDescription.ciscat.description"
                        ></wz-welcome-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" layout-padding>
        <div class="euiFlexGroup euiFlexGroup--gutterLarge euiFlexGroup--responsive">
            <div class="euiFlexItem">
                <div class="euiFlexItem">
                    <div class="euiPanel euiPanel--paddingLarge">
                        <h3 class="euiTitle">Security</h3>
                        <div class="euiSpacer euiSpacer--m"></div>
                        <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
                            <wz-welcome-card 
                                class="euiFlexItem" logo="'app_security.svg'" 
                                title="'Vulnerabilities'" switch-tab="switchTab('vuls')" current-tab="'vuls'"
                                description="TabDescription.vuls.description"
                            ></wz-welcome-card>
                            <wz-welcome-card 
                                ng-if="extensions.virustotal" class="euiFlexItem" logo="'app_saved_objects.svg'" 
                                title="'Virustotal'" switch-tab="switchTab('virustotal')" current-tab="'virustotal'"
                                description="TabDescription.virustotal.description"
                            ></wz-welcome-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="euiFlexItem" ng-if="extensions && (extensions.pci || extensions.gdpr)">
                <div class="euiFlexItem">
                    <div class="euiPanel euiPanel--paddingLarge">
                        <h3 class="euiTitle">Compliance</h3>
                        <div class="euiSpacer euiSpacer--m"></div>
                        <div class="euiFlexGrid euiFlexGrid--gutterLarge euiFlexGrid--halves">
                            <wz-welcome-card 
                                ng-if="extensions.pci" class="euiFlexItem" logo="'app_apm.svg'" 
                                title="'PCI DSS'" switch-tab="switchTab('pci')" current-tab="'pci'"
                                description="TabDescription.pci.description"
                            ></wz-welcome-card>
                            <wz-welcome-card 
                                ng-if="extensions.gdpr" class="euiFlexItem" logo="'app_visualize.svg'" 
                                title="'GDPR'" switch-tab="switchTab('gdpr')" current-tab="'gdpr'"
                                description="TabDescription.gdpr.description"
                            ></wz-welcome-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
