<md-content flex layout="column" ng-if="tab === 'ciscat' && tabView === 'panels'"
    ng-class="{'no-opacity': resultState !== 'ready' || !rendered}" layout-align="start">

    <!-- Metric bar section -->
    <!-- <div layout="row" layout-align="start center">
        <div class="euiPanel euiFlexItem wz-margin-10" flex class="wz-md-card wz-metric-color">
            <md-card-content layout="row" class="wz-padding-metric">
                <div class="wz-text-truncatable" flex>Last not checked: <span class="wz-text-bold"
                        ng-bind="ciscatScanNotChecked()"></span></div>
                <div class="wz-text-truncatable" flex>Last pass: <span class="wz-text-bold"
                        ng-bind="ciscatScanPass()"></span></div>
                <div class="wz-text-truncatable" flex>Last scan score: <span class="wz-text-bold"
                        ng-bind="ciscatScanScore()"></span></div>
                <div class="wz-text-truncatable">Last scan date: <span class="wz-text-bold"
                        ng-bind="ciscatScanTimestamp()"></span></div>
            </md-card-content>
        </div>
    </div> -->
    <!-- End metric bar section -->

    <!-- Metric bar section -->
    <!-- <div layout="row" layout-align="start center">
        <div class="euiPanel euiFlexItem wz-margin-10" flex class="wz-md-card wz-metric-color">
            <md-card-content layout="row" class="wz-padding-metric">
                <div class="wz-text-truncatable" flex>Last errors: <span class="wz-text-bold"
                        ng-bind="ciscatScanError()"></span></div>
                <div class="wz-text-truncatable" flex>Last fails: <span class="wz-text-bold"
                        ng-bind="ciscatScanFail()"></span></div>
                <div class="wz-text-truncatable" flex>Last unknown: <span class="wz-text-bold"
                        ng-bind="ciscatScanUnknown()"></span></div>
                <div class="wz-text-truncatable">Last scan benchmark: <span class="wz-text-bold"
                        ng-bind="ciscatScanBenchmark()"></span></div>
            </md-card-content>
        </div>
    </div> -->
    <!-- End metric bar section -->

    <!-- Hidden metric visualizations section -->
    <!-- <div class="wz-no-display">
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-error'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-fail'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-not-checked'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-pass'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-score'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-timestamp'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-benchmark'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-app-Agents-CISCAT-last-scan-unknown'"></kbn-vis>
    </div> -->
    <!-- End hidden metric visualizations section -->

</md-content>