<md-content flex layout="column" ng-if="tab === 'fim' && tabView === 'panels'" ng-show="!showSyscheckFiles"
    ng-class="{'no-opacity': resultState === 'none' || !rendered}" layout-align="start">
    <div layout="row">
        <span flex></span>
        <md-button ng-click="launchSyscheckScan()" class="discoverSectionSwitchBtn pull-right"><i
                class="fa fa-fw fa-play"></i>
            Run
            scan</md-button>
        <span></span>
        <md-button ng-click="switchSyscheckFiles()" class="discoverSectionSwitchBtn pull-right"><i
                class="fa fa-fw fa-database"></i>
            Show files</md-button>
    </div>
</md-content>

<md-content flex layout="column" ng-if="tab === 'fim' && tabView === 'panels' && showSyscheckFiles"
    layout-align="start">
    <div layout="row" ng-if="agent && agent.os && agent.os.platform !== 'windows'">
        <react-component name="MainFim"/>
    </div>
</md-content>