<md-content flex layout="column" ng-if="tab === 'oscap' && tabView === 'panels'" ng-show="resultState === 'ready' && rendered" layout-align="start">

    <!-- View: Panels -->
    
        <div layout="row">
            <md-card flex class="wz-metric-color wz-md-card">
                <md-card-content layout="row" class="wz-padding-metric">
                    <div flex>Last score: <span class="wz-text-bold" ng-bind="scapLastScore()"></span></div>
                    <div flex>Highest score: <span class="wz-text-bold" ng-bind="scapHighestScore()"></span></div>
                    <div flex>Lowest score: <span class="wz-text-bold" ng-bind="scapLowestScore()"></span></div>
                </md-card-content>
            </md-card>
        </div>

        <div class="wz-no-display">
            <kbn-vis vis-id="'Wazuh-App-Agents-OSCAP-Last-score'"></kbn-vis>
            <kbn-vis vis-id="'Wazuh-App-Agents-OSCAP-Higher-score-metric'"></kbn-vis>
            <kbn-vis vis-id="'Wazuh-App-Agents-OSCAP-Lower-score-metric'"></kbn-vis>
        </div>

        <div layout="row" layout-align="center stretch" class="height-230">
            <md-card flex="25" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Scans</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-OSCAP-Scans" vis-id="'Wazuh-App-Agents-OSCAP-Scans'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="25" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Profiles</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-OSCAP-Profiles" vis-id="'Wazuh-App-Agents-OSCAP-Profiles'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="25" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Content</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-OSCAP-Content" vis-id="'Wazuh-App-Agents-OSCAP-Content'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex="25" class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Severity</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-OSCAP-Severity" vis-id="'Wazuh-App-Agents-OSCAP-Severity'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="start stretch" class="height-230">
            <md-card flex class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Daily scans evolution</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-OSCAP-Daily-scans-evolution" vis-id="'Wazuh-App-Agents-OSCAP-Daily-scans-evolution'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="center stretch" class="height-250">
            <md-card flex class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Top 5 - Alerts</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-OSCAP-Top-5-Alerts" vis-id="'Wazuh-App-Agents-OSCAP-Top-5-Alerts'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex class="wz-md-card">
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Top 5 - High risk alerts</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis id="Wazuh-App-Agents-OSCAP-Top-5-High-risk-alerts" vis-id="'Wazuh-App-Agents-OSCAP-Top-5-High-risk-alerts'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div layout="row" layout-align="center stretch" class="height-570">
            <md-card flex class="wz-md-card"> 
                <md-card-content class="wazuh-column">
                    <span class="wz-headline-title">Alerts summary</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <kbn-vis vis-id="'Wazuh-App-Agents-OSCAP-Last-alerts'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>



</md-content>
