<md-content flex layout="column" ng-if="tab === 'pci' && tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}"
    layout-align="start">

    <!-- View: Panels -->
    <div layout="row" layout-align="center stretch">
        <md-card flex class="wz-md-card">
            <md-tabs md-selected="selectedPciIndex" class="wz-md-tab" md-border-bottom md-dynamic-height id="pciReq_tab">
                <md-tab ng-repeat="tab in pciTabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                    <div class="md-padding">
                        <span class="wz-headline-title">PCI DSS Requirement: {{tab.title}}</span>
                        <md-divider class="wz-margin-top-10"></md-divider>
                        <div layout="row" class="wz-padding-top-10 wz-line-height">
                            <div ng-bind-html="tab.content"></div>
                        </div>
                    </div>
                </md-tab>
            </md-tabs>
        </md-card>
    </div>

    <div layout="row" layout-align="center stretch" class="height-300">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(0)">
                <span class="wz-headline-title">Top 5 rule groups</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(0)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-PCI-Groups" vis-id="'Wazuh-App-Agents-PCI-Groups'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(1)">
                <span class="wz-headline-title">Top 5 rules</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(1)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-PCI-Rule" vis-id="'Wazuh-App-Agents-PCI-Rule'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(2)">
                <span class="wz-headline-title">Top 5 PCI DSS requirements</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(2)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-PCI-Requirement" vis-id="'Wazuh-App-Agents-PCI-Requirement'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="center stretch" class="height-300">
        <md-card flex="70" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(3)">
                <span class="wz-headline-title">PCI Requirements</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(3)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-PCI-Requirements" vis-id="'Wazuh-App-Agents-PCI-Requirements'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(4)">
                <span class="wz-headline-title">Rule level distribution</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(4)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-PCI-Rule-level-distribution" vis-id="'Wazuh-App-Agents-PCI-Rule-level-distribution'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="center stretch" class="height-570">
        <md-card class="wz-md-card" flex ng-class="{'fullscreen': expandArray[5]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(5)">
                <span class="wz-headline-title">Alerts summary</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(5)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis vis-id="'Wazuh-App-Agents-PCI-Last-alerts'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

</md-content>