<div layout="column" layout-align="start stretch" ng-if="tab === 'welcome'" ng-show="!load && !agent">
    <div layout="row" class="layout-padding">
        <div class="euiPanel euiFlexItem wz-margin-10" flex class="wz-md-card" flex>
            <md-card-content class="wz-text-center">
                <div layout="row" layout-padding>
                    <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> <span class="embPanel__header embPanel__title embPanel__dragger layout-row wz-headline-title">Could
                        not fetch data for this agent. <span ng-if="emptyAgent">Reason: {{emptyAgent}}</span></span>
                </div>
                <div layout="row" layout-padding ng-if="emptyAgent">
                    <span class="cursor-pointer" ng-click="getAgent()"><i class="fa fa-fw fa-refresh" aria-hidden="true"></i>
                        Try again</span>
                </div>
            </md-card-content>
        </div>
    </div>
</div>
<div layout="column" layout-align="start stretch" ng-if="tab === 'welcome'" ng-show="!load && agent">

    <div layout="row" class="wz-margin-left-16 wz-margin-right-16 wz-margin-top-8">
        <span flex></span>
        <button class="kuiButton kuiButton--secondary small wz-margin-right-16" ng-click="onClickUpgrade()"><i class="fa fa-arrow-up"></i>
            Upgrade
        </button>
        <button class="kuiButton kuiButton--secondary small wz-margin-right-16" ng-click="onClickRestart()"><i class="fa fa-refresh"></i>
            Restart
        </button>
        <button class="kuiButton kuiButton--secondary small wz-no-margin" ng-click="goDiscover()"><i class="fa fa-compass"></i>
            Discover
        </button>
    </div>
    <div layout="row" layout-padding>
        <react-component name="StatsAgent" flex props="{
            name: agent.name || '-',
            id: agent.id || '-',
            ip: agent.ip || '-',
            version: agent.version || '-',
            agentOS: agentOS || '-',
            dateAdd: agent.dateAdd ? offsetTimestamp('', agent.dateAdd) : '-',
            lastKeepAlive: agent.lastKeepAlive ? offsetTimestamp('', agent.lastKeepAlive) : '-'
        }" />
    </div>

    <div ng-if="welcomeCardsProps">
        <react-component name="WelcomeScreenAgent" props="welcomeCardsProps" />
    </div>
</div>