<md-content flex layout="column" ng-if="tab === 'audit' && tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}"
    layout-align="start">

    <!-- View: Panels -->

    <div layout="row">
        <md-card flex class="wz-md-card">
            <md-card-content layout="row" class="wz-padding-metric">
                <div class="wz-text-truncatable" flex>New files: <span class="wz-text-bold" ng-bind="auditNewFiles()"></span></div>
                <div class="wz-text-truncatable" flex>Read files: <span class="wz-text-bold" ng-bind="auditReadFiles()"></span></div>
                <div class="wz-text-truncatable" flex>Modified files: <span class="wz-text-bold" ng-bind="auditModifiedFiles()"></span></div>
                <div class="wz-text-truncatable" flex>Removed files: <span class="wz-text-bold" ng-bind="auditRemovedFiles()"></span></div>
            </md-card-content>
        </md-card>
    </div>

    <div class="wz-no-display">
        <kbn-vis vis-id="'Wazuh-App-Agents-Audit-New-files-metric'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-Audit-Read-files-metric'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-Audit-Modified-files-metric'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-Audit-Removed-files-metric'"></kbn-vis>
        <kbn-vis vis-id="'Wazuh-App-Agents-Audit-Latest-alert'"></kbn-vis>
    </div>

    <div layout="row" layout-align="center stretch" class="height-230">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(0)">
                <span class="wz-headline-title">Groups</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(0)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Audit-Groups" vis-id="'Wazuh-App-Agents-Audit-Groups'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(1)">
                <span class="wz-headline-title">Directories</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(1)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Audit-Directories" vis-id="'Wazuh-App-Agents-Audit-Directories'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(2)">
                <span class="wz-headline-title">Files</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(2)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Audit-Files" vis-id="'Wazuh-App-Agents-Audit-Files'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="center stretch" class="height-230">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(3)">
                <span class="wz-headline-title">Alerts over time</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(3)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-Audit-Alerts-over-time" vis-id="'Wazuh-App-Agents-Audit-Alerts-over-time'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div class="height-448" layout="row" layout-align="center stretch">
        <div flex="20" layout="column" layout-align="center stretch">
            <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
                <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                    ng-dblclick="expand(4)">
                    <span class="wz-headline-title">File read access</span>
                    <span flex></span>
                    <span class="wz-text-link" ng-click="expand(4)"><i class="fa fa-fw fa-expand"></i></span>
                </md-card-actions>
                <md-card-content class="wazuh-column">
                    <kbn-vis id="Wazuh-App-Agents-Audit-File-read-access" vis-id="'Wazuh-App-Agents-Audit-File-read-access'"></kbn-vis>
                </md-card-content>
            </md-card>

            <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[5]}">
                <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                    ng-dblclick="expand(5)">
                    <span class="wz-headline-title">File write access</span>
                    <span flex></span>
                    <span class="wz-text-link" ng-click="expand(5)"><i class="fa fa-fw fa-expand"></i></span>
                </md-card-actions>
                <md-card-content class="wazuh-column">
                    <kbn-vis id="Wazuh-App-Agents-Audit-File-write-access" vis-id="'Wazuh-App-Agents-Audit-File-write-access'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div flex="60" layout="column" layout-align="center stretch">
            <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[6]}">
                <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                    ng-dblclick="expand(6)">
                    <span class="wz-headline-title">Commands</span>
                    <span flex></span>
                    <span class="wz-text-link" ng-click="expand(6)"><i class="fa fa-fw fa-expand"></i></span>
                </md-card-actions>
                <md-card-content class="wazuh-column">
                    <kbn-vis id="Wazuh-App-Agents-Audit-Commands" vis-id="'Wazuh-App-Agents-Audit-Commands'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>

        <div flex="20" layout="column" layout-align="center stretch">
            <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[7]}">
                <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                    ng-dblclick="expand(7)">
                    <span class="wz-headline-title">Created files</span>
                    <span flex></span>
                    <span class="wz-text-link" ng-click="expand(7)"><i class="fa fa-fw fa-expand"></i></span>
                </md-card-actions>
                <md-card-content class="wazuh-column">
                    <kbn-vis id="Wazuh-App-Agents-Audit-Created-files" vis-id="'Wazuh-App-Agents-Audit-Created-files'"></kbn-vis>
                </md-card-content>
            </md-card>
            <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[8]}">
                <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                    ng-dblclick="expand(8)">
                    <span class="wz-headline-title">Removed files</span>
                    <span flex></span>
                    <span class="wz-text-link" ng-click="expand(8)"><i class="fa fa-fw fa-expand"></i></span>
                </md-card-actions>
                <md-card-content class="wazuh-column">
                    <kbn-vis id="Wazuh-App-Agents-Audit-Removed-files" vis-id="'Wazuh-App-Agents-Audit-Removed-files'"></kbn-vis>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div layout="row" layout-align="center stretch" class="height-570">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[9]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis"
                ng-dblclick="expand(9)">
                <span class="wz-headline-title">Alerts summary</span>
                <span flex></span>
                <span class="wz-text-link" ng-click="expand(9)"><i class="fa fa-fw fa-expand"></i></span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis vis-id="'Wazuh-App-Agents-Audit-Last-alerts'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

</md-content>