<md-content flex layout="column" ng-if="tab === 'gdpr' && tabView === 'panels'"
    ng-class="{'no-opacity': resultState !== 'ready' || !rendered}" layout-align="start">

    <!-- View: Panels -->

    <div ng-if="gdprReqs" class="wz-margin-10">
        <react-component name='RequirementCard' props="gdprReqs"/>
    </div>

    <div layout="row" layout-align="center stretch" class="height-300">
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[0]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(0)">
                <span class="wz-headline-title">Top 5 rule groups</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(0)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-GDPR-Groups" vis-id="'Wazuh-App-Agents-GDPR-Groups'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[1]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(1)">
                <span class="wz-headline-title">Top 5 rules</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(1)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-GDPR-Rule" vis-id="'Wazuh-App-Agents-GDPR-Rule'"></kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[2]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(2)">
                <span class="wz-headline-title">Top 5 GDPR requirements</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(2)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-GDPR-Requirement" vis-id="'Wazuh-App-Agents-GDPR-Requirement'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="center stretch" class="height-300">
        <md-card flex="70" class="wz-md-card" ng-class="{'fullscreen': expandArray[3]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(3)">
                <span class="wz-headline-title">GDPR Requirements</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(3)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-GDPR-Requirements" vis-id="'Wazuh-App-Agents-GDPR-Requirements'">
                </kbn-vis>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card" ng-class="{'fullscreen': expandArray[4]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(4)">
                <span class="wz-headline-title">Rule level distribution</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(4)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis id="Wazuh-App-Agents-GDPR-Rule-level-distribution"
                    vis-id="'Wazuh-App-Agents-GDPR-Rule-level-distribution'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-align="center stretch" class="height-570">
        <md-card class="wz-md-card" flex ng-class="{'fullscreen': expandArray[5]}">
            <md-card-actions layout="row" layout-align="end center" class="wz-card-actions-vis" ng-dblclick="expand(5)">
                <span class="wz-headline-title">Alerts summary</span>
                <span flex></span>
                <span class="cursor-pointer" ng-click="expand(5)">
                    <react-component name="EuiIcon" props="{type:'expand'}" />
                </span>
            </md-card-actions>
            <md-card-content class="wazuh-column">
                <kbn-vis vis-id="'Wazuh-App-Agents-GDPR-Last-alerts'"></kbn-vis>
            </md-card-content>
        </md-card>
    </div>

</md-content>