include ./dashboards.head
include ./agents-welcome.html
include ./agents-module.html
include ./agents-syscollector.html
<react-component class='wz-module-body-main' ng-if="tab === 'configuration' && agent" name="WzManagementConfiguration" props="{agent: agent, goGroups: goGroups, exportConfiguration: exportConfiguration}"></react-component>
include ../footer.foot
