include ./dashboards.head
include ./agents-welcome.html
include ./agents-fim.html
include ./agents-pm.html
include ./agents-mitre.html
include ./agents-syscollector.html
include ./agents-sca.html
include ./dashboards.html
include ../management/configuration/agent-configuration.pug
include ../footer.foot
