include ./dashboards.head
include ./agents-welcome.html
include ./agents-fim.html
include ./agents-pm.html
include ./agents-mitre.html
include ./agents-syscollector.html
include ./agents-sca.html
<div ng-if="tab === 'configuration' && agent" style="margin-top: 10px;">
  <react-component ng-if="tab === 'configuration' && agent" name="WzManagementConfiguration" props="{agent: agent, goGroups: goGroups, exportConfiguration: exportConfiguration}"/>
</div>
include ./dashboards.html
include ../footer.foot