<div ng-if="tabView === 'panels'" ng-class="{'no-opacity': resultState !== 'ready' || !rendered}" class="md-padding-v">
    <div class="wz-no-display">
        <div ng-repeat="vis in visualizations[tab].metrics">
            <kbn-vis id="{{vis.id}}" vis-id="vis.id"></kbn-vis>
        </div>
    </div>

    <!-- Metrics of Security Events Dashboard -->
    <div ng-if="tab === 'general'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
            items: [
                { description: 'Total', value: totalAlerts(), color: 'primary' },
                { description: 'Level 12 or above alerts', value: level12(), color: 'accent' },
                { description: 'Authentication failure', value: authFailure(), color: 'danger' }, 
                { description: 'Authentication success', value: authSuccess(), color: 'secondary' }
            ]            
        }" />
    </div>

    <!-- Metrics of Vulverabilities Dashboard -->
    <div ng-if="tab === 'vuls'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
            items: [
                { description: 'Critical severity alerts', value: vulnCritical(), color: 'danger' },
                { description: 'High severity alerts', value: vulnHigh(), color: 'primary' },
                { description: 'Medium severity alerts', value: vulnMedium(), color: 'secondary' },
                { description: 'Low severity alerts', value: vulnLow(), color: 'subdued' }
            ]            
        }" />
    </div>

    <!-- Metrics of VirusTotal Dashboard -->
    <div ng-if="tab === 'virustotal'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
            items: [
                { description: 'Total malicious', value: virusMalicious(), color: 'danger' },
                { description: 'Total positives', value: virusPositives(), color: 'primary' },
                { description: 'Total', value: virusTotal(), color: 'secondary' },
            ]            
        }" />
    </div>

    <!-- Metrics of Oscap Dashboard -->
    <div ng-if="tab === 'oscap'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
                items: [
                    { description: 'Last score', value: scapLastScore(), color: 'accent' },
                    { description: 'Highest score', value: virusPositives(), color: 'primary' },
                    { description: 'Lowest score', value: virusTotal(), color: 'secondary' },
                ]            
            }" />
    </div>

    <!-- Metrics of Cis-Cat Dashboard -->
    <div ng-if="tab === 'ciscat'" class="md-padding">
        <react-component flex name="AlertsStats" props="{
                items: [
                    { description: 'Last not checked', value: ciscatScanNotChecked(), color: 'accent' },
                    { description: 'Last pass', value: ciscatScanPass(), color: 'primary' },
                    { description: 'Last scan score', value: ciscatScanScore(), color: 'secondary' },
                    { description: 'Last scan date', value: ciscatScanTimestamp(), color: 'subdued' },
                    { description: 'Last errors', value: ciscatScanError(), color: 'accent' },
                    { description: 'Last fails', value: ciscatScanFail(), color: 'primary' },
                    { description: 'Last unknown', value: ciscatScanUnknown(), color: 'secondary' },
                    { description: 'Last scan benchmark', value: ciscatScanBenchmark(), color: 'subdued' },
                ]            
            }" />
    </div>

    <!-- Cards for PCI Dashboard-->
    <div ng-if="tab === 'pci'" class="md-padding">
        <div ng-if="pciReqs" class="wz-margin-10">
            <react-component name='RequirementCard' props="pciReqs" />
        </div>
    </div>

    <!-- Cards for GDPR Dashboard-->
    <div ng-if="tab === 'gdpr'" class="md-padding">
        <div ng-if="gdprReqs" class="wz-margin-10">
            <react-component name='RequirementCard' props="gdprReqs" />
        </div>
    </div>

    <!-- Cards for NIST Dashboard-->
    <div ng-if="tab === 'nist'" class="md-padding">
        <div ng-if="nistReqs" class="wz-margin-10">
            <react-component name='RequirementCard' props="nistReqs" />
        </div>
    </div>

    <!-- Cards for HIPAA Dashboard-->
    <div ng-if="tab === 'hipaa'" class="md-padding">
        <div ng-if="hipaaReqs" class="wz-margin-10">
            <react-component name='RequirementCard' props="hipaaReqs" />
        </div>
    </div>

    <div ng-repeat="row in visualizations[tab].rows" ng-if="tab !== 'fim' || (tab === 'fim' && !showSyscheckFiles)">
        <div class="euiFlexGroup" ng-style="{'height':row.height + 'px'}">
            <div ng-repeat="vis in row.vis" flex="{{vis.width || 100}}">
                <div ng-if="vis.hasRows">
                    <div class="euiFlexItem">
                        <div ng-repeat="visRow in vis.rows">
                            <div class="euiFlexGroup" ng-style="{'height':visRow.height + 'px'}">
                                <div ng-repeat="visualizeRow in visRow.vis" flex="{{visualizeRow.width || 100}}">
                                    <div class="euiPanel wz-margin-10">
                                        <div class="euiFlexItem h-100"
                                            ng-class="{'fullscreen': checkExpandedVis(visualizeRow.id)}">
                                            <div class="euiFlexGroup" ng-dblclick="expand(visualizeRow.id)">
                                                <span
                                                    class="embPanel__header embPanel__title embPanel__dragger layout-row wz-headline-title">{{visualizeRow.title}}</span>
                                                <span class="cursor-pointer wz-margin-8-no-left"
                                                    ng-click="expand(visualizeRow.id)">
                                                    <react-component name="EuiIcon" props="{type:'expand'}" />
                                                </span>
                                            </div>
                                            <div class="wazuh-column"
                                                ng-style="{'height': (visRow.height - 65) + 'px'}">
                                                <kbn-vis id="{{visualizeRow.id}}" vis-id="visualizeRow.id"></kbn-vis>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!vis.hasRows">
                    <div class="euiPanel wz-margin-10">
                        <div class="euiFlexItem h-100" ng-class="{'fullscreen': checkExpandedVis(vis.id)}">
                            <div class="euiFlexGroup" ng-dblclick="expand(vis.id)">
                                <span
                                    class="embPanel__header embPanel__title embPanel__dragger layout-row wz-headline-title">{{vis.title}}</span>
                                <span class="cursor-pointer wz-margin-8-no-left" ng-click="expand(vis.id)">
                                    <react-component name="EuiIcon" props="{type:'expand'}" />
                                </span>
                            </div>
                            <div class="wazuh-column" ng-style="{'height': (row.height - 65) + 'px'}"
                                ng-show="vis.id !== 'Wazuh-App-Overview-General-Agents-status' || (vis.id === 'Wazuh-App-Overview-General-Agents-status' && wzMonitoringEnabled)">
                                <kbn-vis id="{{vis.id}}" vis-id="vis.id"></kbn-vis>
                            </div>
                        </div>
                        <div class="wazuh-column" ng-style="{'height': (row.height - 65) + 'px'}"
                            ng-show="vis.id === 'Wazuh-App-Overview-General-Agents-status' && !wzMonitoringEnabled">
                            <div layout="row">
                                <div flex layout="column">
                                    <div layout="row" class="wz-padding-top-10"></div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50" class="wz-text-bold">Total</p>
                                        <p class="wz-text-right color-grey wz-text-bold">{{agentsCountTotal}}</p>
                                    </div>
                                    <div layout="row" class="wz-padding-top-10"></div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50">Active</p>
                                        <p class="wz-text-right color-grey">{{agentsCountActive}}</p>
                                    </div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50">Disconnected</p>
                                        <p class="wz-text-right color-grey">{{agentsCountDisconnected}}</p>
                                    </div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50">Never connected</p>
                                        <p class="wz-text-right color-grey">{{agentsCountNeverConnected}}</p>
                                    </div>
                                    <div layout="row" class="wz-padding-top-10">
                                        <p flex="50">Agents coverage</p>
                                        <p class="wz-text-right color-grey">{{(agentsCoverity | number:2)}}%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>