<!-- Evaluations card -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'openscap-evaluations'">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Evaluations</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">Scans executed according to specific security policies and their profiles</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON(currentConfig['open-scap'].content)">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML(currentConfig['open-scap'].content)">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">
            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Path</th>
                    <th class="wz-text-left">Profile</th>
                    <th class="wz-text-left">Type</th>
                    <th class="wz-text-left">Timeout</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="item in currentConfig['open-scap'].content">
                        <td>{{item.path}}</td>
                        <td><ul><li ng-repeat="profile in item.profile">{{profile}}</li></ul></td>
                        <td>{{item.type}}</td>
                        <td>{{item.timeout}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End evaluations card -->
