<div flex ng-if="!isruleset && !isdecoders" layout="column" class="wz-table-no-padding" ng-show="(!noscroll && data.items && data.items.length > 0) || (noscroll && data)">
    <!-- Manager/Logs table -->
    <div ng-if="!isagents && !noscroll" flex class="wz-table-scroll" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data.items | filter : searchTerm"
            class="wz-table-common" ng-class="!nopointer ? 'wz-table-cursor-pointer' : '' "
            ng-click="clickAction(full ? item : $index)">
            <div ng-class="key.truncatable === 'true' ? 'wz-text-truncatable' : ''" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
    <!-- Manager/Logs table on realtime -->
    <div ng-if="!isagents && noscroll" flex class="wz-table-scroll">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data" class="wz-table-common"
            ng-class="!nopointer ? 'wz-table-cursor-pointer' : '' " ng-click="clickAction($index)">
            <div ng-class="key.truncatable === 'true' ? 'wz-text-truncatable' : ''" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
    <!-- Agents preview table -->
    <div ng-if="!noscroll && isagents" flex class="wz-table-scroll" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data.items | filter : searchTerm"
            class="wz-table-common" ng-class="!nopointer ? 'wz-table-cursor-pointer' : '' ">
            <div class="wz-table-agents wz-text-truncatable" ng-repeat="key in keys" flex="{{key.size || ''}}" ng-click="clickAction(full ? item : $index,key)">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
</div>

<!-- Manager/Ruleset/Rules tab -->
<div flex ng-if="isruleset" layout="column" class="wz-table-no-padding" ng-show="(!noscroll && data.items && data.items.length > 0) || (noscroll && data)">
    <div ng-if="!noscroll" flex class="wz-table-scroll" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data.items | filter : searchTerm"
            class="wz-table-common" ng-class="!nopointer && activeitem !== item.id ? 'wz-table-cursor-pointer' : !nopointer && activeitem === item.id ? 'wz-table-cursor-pointer wz-table-active' : ''"
            ng-click="clickAction(full ? item : $index)">
            <div class="wz-text-truncatable" ng-show="activeitem !== item.id" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
            <div flex ng-show="activeitem === item.id" class="wz-table-height-fixed">
                <div layout="row" class="wz-table-size">
                    <div class="wz-text-truncatable" ng-repeat="key in keys" flex="{{key.size || ''}}">
                        <span>{{parseItem(item,key) || '---'}}</span>
                    </div>
                </div>
                <div layout="row" class="wz-padding-right-14 wz-padding-bottom-14 ">
                    <md-card flex class="wz-cursor-default wz-md-card">
                        <md-card-content>
                            <span class="wz-headline-title">Overview</span>
                            <md-divider class="wz-margin-top-10"></md-divider>

                            <div layout="row" class="wz-table-padding-top-10">
                                <span flex>{{item.description}}</span>
                            </div>
                            <div layout="row" class="wz-table-padding-top-10">
                                <span flex>Id</span>
                                <span flex class="wz-text-right color-grey">{{item.id}}</span>
                            </div>
                            <div layout="row" class="wz-table-padding-top-10">
                                <span flex>Level</span>
                                <span flex class="wz-text-right wz-text-link" ng-click="data.addFilter('level', item.level); $event.stopPropagation();">{{item.level}}</span>
                            </div>
                            <div layout="File" class="wz-table-padding-top-10">
                                <span flex>File</span>
                                <span flex class="wz-text-right wz-text-link" ng-click="data.addFilter('file', item.file); $event.stopPropagation();">{{item.file}}</span>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card flex class="wz-cursor-default wz-md-card">
                        <md-card-content>
                            <div layout="row" ng-if="item.groups.length > 0">
                                <div flex>
                                    <span class="wz-headline-title">Groups</span>
                                    <md-divider class="wz-margin-top-10"></md-divider>

                                    <div layout="row" class="wz-table-padding-top-10" ng-repeat="group in item.groups">
                                        <span flex class="wz-text-link" ng-click="data.addFilter('group', group)">{{group}}</span>
                                    </div>

                                </div>
                            </div>
                            <div layout="row" class="wz-padding-top-10" ng-if="item.pci.length > 0">
                                <div flex>
                                    <span class="wz-headline-title">PCI DSS</span>
                                    <md-divider class="wz-margin-top-10"></md-divider>

                                    <div layout="row" class="wz-table-padding-top-10" ng-repeat="pci in item.pci">
                                        <span flex class="wz-text-link" ng-click="data.addFilter('pci', pci)">{{pci}}</span>
                                    </div>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card flex class="wz-cursor-default wz-md-card">
                        <md-card-content>
                            <span class="wz-headline-title">Extra settings</span>
                            <md-divider class="wz-margin-top-10"></md-divider>

                            <div layout="row" class="wz-table-padding-top-10" ng-repeat="(detailk, detailv) in item.details">
                                <span flex>{{detailk}}</span>
                                <span flex class="wz-text-right color-grey">{{detailv}}</span>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Manager/Ruleset/Decoders tab -->
<div flex ng-if="isdecoders" layout="column" class="md-padding wz-table-no-padding wz-table-no-padding-bottom" ng-show="(!noscroll && data.items && data.items.length > 0) || (noscroll && data)">
    <div ng-if="!noscroll" flex class="wz-table-scroll" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="decoder in data.items | filter : searchTerm"
            class="wz-table-common" ng-class="!nopointer && activeitem !== decoder.name+decoder.file+decoder.position ? 'wz-table-cursor-pointer' : !nopointer && activeitem === decoder.name+decoder.file+decoder.position ? 'wz-table-cursor-pointer wz-table-active' : ''"
            ng-click="clickAction(full ? decoder : $index)">
            <div ng-show="activeitem !== decoder.name+decoder.file+decoder.position" class="wz-text-truncatable" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(decoder,key) || '---'}}</span>
            </div>
            <div flex ng-show="activeitem === decoder.name+decoder.file+decoder.position" class="wz-table-height-fixed">
                <div layout="row" class="wz-table-size">
                    <div ng-repeat="key in keys" flex="{{key.size || ''}}" class="wz-text-truncatable">
                        <span>{{parseItem(decoder,key) || '---'}}</span>
                    </div>
                </div>
                <div layout="row" class="wz-padding-right-14 wz-padding-bottom-14">
                    <md-card flex class="wz-cursor-default wz-md-card">
                        <md-card-content>
                            <span class="wz-headline-title">Overview</span>
                            <md-divider class="wz-margin-top-10"></md-divider>

                            <div layout="row" class="wz-table-padding-top-10">
                                <span flex>Full path</span>
                                <span flex class="wz-text-right color-grey">{{decoder.path}}</span>
                            </div>
                            <div layout="row" class="wz-table-padding-top-10">
                                <span flex>Position</span>
                                <span flex class="wz-text-right color-grey">{{decoder.position}}</span>
                            </div>
                            <div layout="row" class="wz-table-padding-top-10" ng-show="decoder.details.parent">
                                <span flex>Parent</span>
                                <span flex class="wz-text-right color-grey">{{decoder.details.parent}}</span>
                            </div>
                           </md-card-content>
                    </md-card>
                    <md-card flex class="wz-cursor-default wz-md-card" ng-if="detailk != 'parent'">
                        <md-card-content>
                            <span class="wz-headline-title">Details</span>
                            <md-divider class="wz-margin-top-10"></md-divider>

                            <div layout="row" class="wz-table-padding-top-10" ng-repeat="(detailk, detailv) in decoder.details">
                                <span flex ng-if="((detailk !== 'regex') && (detailk !== 'order')) || (detailk === 'regex') || (detailk === 'regex')">{{detailk}}</span>
                                <span flex class="wz-text-right color-grey" ng-if="(detailk !== 'regex') && (detailk !== 'order')">{{detailv}}</span>
                                <span flex class="wz-text-right color-grey" ng-if="(detailk === 'regex')" ng-bind-html="colorRegex(detailv)"></span>
                                <span flex class="wz-text-right color-grey" ng-if="(detailk === 'order')" ng-bind-html="colorOrder(detailv)"></span>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout="row">
    <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="data.busy || loading || load"></md-progress-linear>
</div>
<div flex layout="row" layout-align="start start" ng-show="!data.busy && ((!noscroll && data.items && data.items.length === 0) || (noscroll && !data))">
    <md-card class="wz-md-card" flex layout="column">
        <md-card-content class="wz-text-center">
            <i class="fa fa-frown-o"></i> No results found
        </md-card-content>
    </md-card>
</div>
