.wz-table-no-padding {
    padding: 0px;
}

.wz-padding-left-15 {
    padding-left: 15px;
}

.wz-table-padding-top-10 {
    padding-top: 10px;
}

.wz-table-size {
    min-height: 34px;
    height: auto;
    align-items: center;
}

.wz-table-common {
    height: auto;
    min-height: 34px;
    line-height: 20px;
    padding-top: 0px;
    padding-left: 15px;
    align-items: center;
    box-shadow: 0 1px 0px 2px rgba(0, 0, 0, 0.1);
}

.wz-table-common:hover {
    background-color: rgb(0,121,165);
    color: white;
}

.wz-table-scroll {
    overflow: auto;
    height: 400px;
}

.wz-table-even {
    background-color: #fafafa;
}

.wz-table-odd {
    background-color: white;
}

.wz-table-cursor-pointer {
    cursor: pointer;
}

.wz-table-active {
    background-color: rgb(0,121,165);
    color: white;
}

.wz-table-ruleset-card-info {
    background-color: rgb(0,121,165);
    height: 100%;
    padding: 0px;
}

.wz-padding-right-14 {
    padding-right: 14px !important;
}

.wz-padding-bottom-14 {
    padding-bottom: 14px !important;
}

.wz-cursor-default {
    cursor: default !important;
}

.no-lateral-padding .md-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.wz-table-height-fixed {
    min-height: 220px;
    max-height: 320px;
    overflow: hidden;
}

.wz-table-card-active {
    background-color: rgb(0,121,165) !important;
    color: white !important;
}

.wz-table-agents {
    min-height: 34px;
    height: auto;
    padding-top: 10px;
}

@-moz-document url-prefix() {
    .mozilla-table-size-85 {max-height: 85vh !important;}
    .mozilla-table-size-99 {max-height: 99vh !important;}
}
