<div flex ng-if="!isruleset && !isdecoders" layout="column" class="wz-table-no-padding" ng-show="(!noscroll && data.items && data.items.length > 0) || (noscroll && data)">
    <!-- Manager/Logs table -->
    <div ng-if="!isagents && !noscroll" flex class="wz-table-scroll" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data.items | filter : searchTerm"
            class="wz-table-common" ng-class="!nopointer ? 'wz-table-cursor-pointer' : '' "
            ng-click="clickAction(full ? item : $index)">
            <div ng-class="key.truncatable === 'true' ? 'wz-text-truncatable' : ''" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
    <!-- Manager/Logs table on realtime -->
    <div ng-if="!isagents && noscroll" flex class="wz-table-scroll">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data" class="wz-table-common"
            ng-class="!nopointer ? 'wz-table-cursor-pointer' : '' " ng-click="clickAction($index)">
            <div ng-class="key.truncatable === 'true' ? 'wz-text-truncatable' : ''" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
    <!-- Agents preview table -->
    <div ng-if="!noscroll && isagents" flex class="wz-table-scroll" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data.items | filter : searchTerm"
            class="wz-table-common" ng-class="!nopointer ? 'wz-table-cursor-pointer' : '' " ng-show="item && item.id !== '000'">
            <div class="wz-table-agents wz-text-truncatable" ng-repeat="key in keys" flex="{{key.size || ''}}" ng-click="clickAction(full ? item : $index,key)">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
</div>

<!-- Manager/Ruleset tables section -->
<div flex ng-if="isruleset" layout="column" ng-show="(!noscroll && data.items && data.items.length > 0) || (noscroll && data)">
    <!-- Manager/Ruleset/Rules table -->
    <div ng-if="!noscroll && !isdecoders" flex class="wz-table-scroll" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data.items | filter : searchTerm" class="wz-table-common" ng-class="!nopointer ? 'wz-table-cursor-pointer' : '' " ng-click="clickAction(full ? item : $index)">
            <div class="wz-text-truncatable" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
    <!-- End Manager/Ruleset/Rules table -->

    <!-- Manager/Ruleset/Decoders table -->
    <div ng-if="!noscroll && isdecoders" flex class="wz-table-scroll" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'wz-table-odd'" ng-class-even="'wz-table-even'" ng-repeat="item in data.items | filter : searchTerm" class="wz-table-common" ng-class="!nopointer ? 'wz-table-cursor-pointer' : '' " ng-click="clickAction(full ? item : $index)">
            <div class="wz-text-truncatable" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
    <!-- End Manager/Ruleset/Decoders table -->
</div>
<!-- End Manager/Ruleset tables section -->

<!-- Progress bar -->
<div layout="row">
    <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="data.busy || loading || load"></md-progress-linear>
</div>
<!-- End progress bar -->

<!-- No results section -->
<div flex layout="row" layout-align="start start" ng-show="!data.busy && ((!noscroll && data.items && data.items.length === 0) || (noscroll && !data))">
    <md-card class="wz-md-card" flex layout="column">
        <md-card-content class="wz-text-center">
            <i class="fa fa-frown-o"></i> No results found
        </md-card-content>
    </md-card>
</div>
<!-- End no results section -->
