<div flex ng-if="!isruleset && !isdecoders" layout="column" class="groupsFixPadding no-padding-bottom" ng-show="(!noscroll && data.items && data.items.length > 0) || (noscroll && data)">
    <div ng-if="!noscroll" flex class="clusterScrollable" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in data.items | filter : searchTerm"
            class="ownNavBarGroupsPadding agents-groups-preview groups-table groupsFixPadding wz-word-wrap wz-table-border" ng-class="!nopointer ? 'cursor-pointer' : '' "
            ng-click="clickAction(full ? item : $index)">
            <div ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
    <div ng-if="noscroll" flex class="clusterScrollable">
        <div layout="row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in data" class="ownNavBarGroupsPadding agents-groups-preview groups-table groupsFixPadding wz-word-wrap wz-table-border"
            ng-class="!nopointer ? 'cursor-pointer' : '' " ng-click="clickAction($index)">
            <div ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
        </div>
    </div>
</div>

<div flex ng-if="isruleset" layout="column" class="md-padding groupsFixPadding no-padding-bottom" ng-show="(!noscroll && data.items && data.items.length > 0) || (noscroll && data)">
    <div ng-if="!noscroll" flex class="clusterScrollable" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in data.items | filter : searchTerm"
            class="ownNavBarGroupsPadding agents-groups-preview groups-table groupsFixPadding wz-table-border" ng-class="!nopointer && activeitem !== item.id ? 'cursor-pointer' : !nopointer && activeitem === item.id ? 'cursor-pointer wz-active' : ''"
            ng-click="clickAction(full ? item : $index)">
            <div ng-show="activeitem !== item.id" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(item,key) || '---'}}</span>
            </div>
            <div layout="column" flex ng-show="activeitem === item.id">
                <div layout="row" class="ruleset-card-info ruleset-opened">
                    <div ng-repeat="key in keys" flex="{{key.size || ''}}">
                        <span>{{parseItem(item,key) || '---'}}</span>
                    </div>
                </div>
                <div layout="row" class="ruleset-card-info padding-right-14 padding-bottom-14 ">
                    <md-card flex class="wz-cursor-default">
                        <md-card-content>
                            <h4>
                                <i class="fa fa-tasks"></i> Overview</h4>
                            <md-divider></md-divider>
                            <p>{{item.description}}</p>
                            <p>Id
                                <span class="md-secondary pull-right">{{item.id}}</span>
                            </p>
                            <p>Level
                                <span class="md-secondary pull-right listHover cursor-pointer" ng-click="data.addFilter('level', item.level); $event.stopPropagation();">{{item.level}}</span>
                            </p>
                            <p>File
                                <span class="md-secondary pull-right listHover cursor-pointer" ng-click="data.addFilter('file', item.file); $event.stopPropagation();">{{item.file}}</span>
                            </p>
                        </md-card-content>
                    </md-card>
                    <md-card flex class="wz-cursor-default">
                        <md-card-content>
                            <div layout="row" ng-if="item.groups.length > 0">
                                <div flex>
                                    <h4>
                                        <i class="fa fa-reorder"></i> Groups</h4>
                                    <md-divider></md-divider>
                                    <p ng-repeat="group in item.groups">
                                        <span class="md-secondary listHover cursor-pointer" ng-click="data.addFilter('group', group)">{{group}}</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div layout="row" ng-if="item.pci.length > 0">
                                <div flex>
                                    <h4>
                                        <i class="fa fa-shield"></i> PCI DSS</h4>
                                    <md-divider></md-divider>
                                    <p ng-repeat="pci in item.pci">
                                        <span class="md-secondary listHover cursor-pointer" ng-click="data.addFilter('pci', pci)">{{pci}}</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card flex class="wz-cursor-default">
                        <md-card-content>
                            <h4>
                                <i class="fa fa-cog"></i> Extra settings</h4>
                            <md-divider></md-divider>
                            <p ng-repeat="(detailk, detailv) in item.details">
                                {{detailk}}
                                <span class="md-secondary pull-right">{{detailv}}</span>
                            </p>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div flex ng-if="isdecoders" layout="column" class="md-padding groupsFixPadding no-padding-bottom" ng-show="(!noscroll && data.items && data.items.length > 0) || (noscroll && data)">
    <div ng-if="!noscroll" flex class="clusterScrollable" when-scrolled="data.nextPage('')">
        <div layout="row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="decoder in data.items | filter : searchTerm"
            class="ownNavBarGroupsPadding agents-groups-preview groups-table groupsFixPadding wz-table-border" ng-class="!nopointer && activeitem !== decoder.name+decoder.file+decoder.position ? 'cursor-pointer' : !nopointer && activeitem === decoder.name+decoder.file+decoder.position ? 'cursor-pointer wz-active' : ''"
            ng-click="clickAction(full ? decoder : $index)">
            <div ng-show="activeitem !== decoder.name+decoder.file+decoder.position" class="wz-word-wrap" ng-repeat="key in keys" flex="{{key.size || ''}}">
                <span>{{parseItem(decoder,key) || '---'}}</span>
            </div>
            <div layout="column" flex ng-show="activeitem === decoder.name+decoder.file+decoder.position">
                <div layout="row" class="ruleset-card-info ruleset-opened">
                    <div ng-repeat="key in keys" flex="{{key.size || ''}}" class="wz-word-wrap">
                        <span>{{parseItem(decoder,key) || '---'}}</span>
                    </div>
                </div>
                <div layout="row" class="ruleset-card-info padding-right-14 padding-bottom-14">
                    <md-card flex class="wz-cursor-default">
                        <md-card-content>
                            <h4>
                                <i class="fa fa-tasks"></i> Overview</h4>
                            <md-divider></md-divider>
                            <p>Full path
                                <span class="md-secondary pull-right">{{decoder.path}}</span>
                            </p>
                            <p>Position
                                <span class="md-secondary pull-right">{{decoder.position}}</span>
                            </p>
                            <p ng-show="decoder.details.parent">Parent
                                <span class="md-secondary pull-right">{{decoder.details.parent}}</span>
                            </p>
                        </md-card-content>
                    </md-card>
                    <md-card flex class="wz-cursor-default" ng-if="detailk != 'parent'">
                        <md-card-content>
                            <h4>
                                <i class="fa fa-cog"></i> Details</h4>
                            <md-divider></md-divider>
                            <p ng-repeat="(detailk, detailv) in decoder.details">
                                {{detailk}}
                                <span class="md-secondary pull-right" ng-if="(detailk !== 'regex') && (detailk !== 'order')">{{detailv}}</span>
                                <span class="md-secondary pull-right" ng-if="(detailk === 'regex')" ng-bind-html="colorRegex(detailv)">{{colorRegex(detailv)}}</span>
                                <span class="md-secondary pull-right" ng-if="(detailk === 'order')" ng-bind-html="colorOrder(detailv)">{{colorOrder(detailv)}}</span>
                            </p>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout="row">
    <md-progress-linear class="md-accent" md-mode="indeterminate" ng-show="data.busy || loading || load"></md-progress-linear>
</div>
<div flex layout="row" layout-align="start start" ng-show="!data.busy && ((!noscroll && data.items && data.items.length === 0) || (noscroll && !data))">
    <md-card flex layout="column">
        <md-card-content class="text-center">
            <i class="fa fa-frown-o"></i> No results found
        </md-card-content>
    </md-card>
</div>