<!--   Version 4.0 -->

<!-- Copy this file to config.xml to enable this module. -->

<module>
	<pipeline name="udp" type="startup">
		<processor name="udp" plugin="udpinputprocessor">
			<config>
			</config>
		</processor>
	
		<processor name="residentSendOut" plugin="queueoutputprocessor">
			<config>
				<queueName>parsingQueue</queueName>
			</config>
		</processor>
	</pipeline>
</module>
