.euiTitle.office-stats-title{
    white-space: nowrap;
}
h5.euiTitle.office-stats-subtitle{
    white-space: nowrap;
    margin: 0;
    font-weight: normal;
}
.office-stats-callout-warning{
    margin: 0 -16px;
    padding: 16px 38px;
}

.wz-justify-center {
    justify-content: center;
}

.office-description-list dt.euiDescriptionList__title, .office-description-list dd.euiDescriptionList__description {
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}