<div flex="auto" layout="column" ng-if="configurationTab === 'database-output'">

    <!-- Headline -->
    <div layout="column" layout-padding>
        <div>
            <span class="font-size-18">Database output</span>
        </div>
        <span class="md-subheader">MySQL and PostgreSQL database output configuration</span>
    </div>
    <!-- End headline -->

    <div class="md-padding md-padding-top-16" ng-if="load">
        <react-component name="EuiProgress" props="{size: 'xs', color: 'primary'}" />
    </div>

    <!-- This section contains the main content and the right sidenav -->
    <div flex="auto" layout="row" ng-if="!load">

        <!-- This section appears when there's no configuration -->
        <wz-no-config flex ng-if="false"></wz-no-config>
        <!-- End no configuration section -->

        <!-- This section is the main content -->
        <div flex layout="column">

            <!-- The main card will all the settings -->
            <md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent">
                <md-card-content>
                    <div layout="row" layout-align="start center">
                        <div>
                            <span class="font-size-16">Main settings</span>
                            <div class="wz-margin-top-10">
                                <span class="md-subheader small">These settings indicate the database where alerts are
                                    stored</span>
                            </div>
                        </div>
                        <span flex></span>
                        <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small"
                            ng-click="getJSON()">JSON</span>
                        <span class="small">&nbsp;&centerdot;&nbsp;</span>
                        <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small"
                            ng-click="getXML()">XML</span>
                    </div>
                    <md-divider class="wz-margin-top-10"></md-divider>

                    <!-- Configuration block -->
                    <div class="wz-padding-top-10">

                        <wz-config-item label="Database type" value="'foo'">
                        </wz-config-item>
                        <wz-config-item label="Database name" value="'foo'">
                        </wz-config-item>
                        <wz-config-item label="Database server IP" value="'foo'">
                        </wz-config-item>
                        <wz-config-item label="Database username" value="'foo'">
                        </wz-config-item>

                    </div>
                    <!-- End configuration block -->
                </md-card-content>
            </md-card>
            <!-- End main card with all the settings -->

            <wz-config-viewer flex getjson="getJSON()" getxml="getXML()" jsoncontent="JSONContent"
                xmlcontent="XMLContent" />

        </div>
        <!-- End main content section -->

        <!-- This section is the right sidenav content -->
        <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
            <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
                <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
            </span>
            <md-list ng-if="showHelp">
                <md-subheader>More info about this section</md-subheader>
                <md-list-item target="_blank" class="wz-text-link"
                    ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/database-output.html">
                    Database
                    output reference</md-list-item>
            </md-list>
        </md-sidenav>
        <!-- End right sidenav section -->

    </div>
    <!-- End main content and right sidenav section -->

</div>