<!-- No configuration section -->
<wz-no-config
  flex
  error="'not-present'"
  ng-if="configurationSubTab === 'vulnerabilities-feeds' && currentConfig && currentConfig['vulnerability-detector'] && !currentConfig['vulnerability-detector'].feeds"></wz-no-config>
<!-- End no configuration section -->

<!-- Feeds card -->
<md-card class="wz-md-card" ng-if="!JSONContent && !XMLContent && configurationSubTab === 'vulnerabilities-feeds' && currentConfig && currentConfig['vulnerability-detector'] && currentConfig['vulnerability-detector'].feeds">
    <md-card-content>
        <div layout="row" layout-align="start center">
            <div>
                <span class="font-size-16">Feeds</span>
                <div class="wz-margin-top-10">
                    <span class="md-subheader small">List of OVAL databases to check for vulnerability scans</span>
                </div>
            </div>
            <span flex></span>
            <span ng-class="JSONContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getJSON(currentConfig['vulnerability-detector'].feeds || [])">JSON</span>
            <span class="small">&nbsp;&centerdot;&nbsp;</span>
            <span ng-class="XMLContent ? 'wz-text-active' : ''" class="wz-text-link small" ng-click="getXML(currentConfig['vulnerability-detector'].feeds || [])">XML</span>
        </div>
        <md-divider class="wz-margin-top-10"></md-divider>

        <!-- Configuration block -->
        <div class="wz-padding-top-10">

            <table class="table table-striped table-condensed" style="table-layout: fixed !important;">
                <thead class="wz-text-bold">
                    <th class="wz-text-left">Name</th>
                    <th class="wz-text-left">Version</th>
                    <th class="wz-text-left col-lg-2">Update interval</th>
                    <th class="wz-text-left col-lg-3">Alt. path</th>
                    <th class="wz-text-left col-lg-3">Alt. URL</th>
                    <th class="wz-text-left">Alt. port</th>
                </thead>
                <tbody class="wz-word-wrap">
                    <tr ng-repeat="item in currentConfig['vulnerability-detector'].feeds track by $index">
                        <td>{{ item.name || '---' }}</td>
                        <td>{{ item.version || '---' }}</td>
                        <td>{{ item.interval || '---' }}</td>
                        <td>{{ item.path || '---' }}</td>
                        <td>{{ item.alternative.url || '---' }}</td>
                        <td>{{ item.alternative.port || '---' }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- End configuration block -->
    </md-card-content>
</md-card>
<!-- End feeds card -->
