<div ng-if="!viewingDetail" ng-show="!editingFile" layout="column" ng-init="filesctrl.switchFilesSubTab(mctrl.globalRulesetTab)">
    <div layout="row" class="wz-margin-top-16">
        <div flex class="euiPanel euiPanel--paddingLarge md-margin-h">
            <div layout="row" layout-align="end center" class="height-35">
                    <button type="submit"
                    class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--medium wz-margin-right-20"
                    ng-click="mctrl.setRulesTab(mctrl.globalRulesetTab)" tooltip="Go back" tooltip-placement="bottom">
                    <react-component name="EuiIcon" props="{type:'arrowLeft'}" ></react-component>
                </button>
                        <h1 class="euiTitle euiTitle--medium">Manage {{mctrl.globalRulesetTab}} files</h1>
                        <wz-kbn-switch class="md-primary wz-no-top-bottom-margin md-padding-h wz-margin-top-3" switch-model="mctrl.onlyLocalFiles"
                        switch-text="Editable files"></wz-kbn-switch>
                        <span flex></span>

                    <button ng-if="mctrl.adminMode" type="button" ng-click="filesctrl.addNewFile(mctrl.globalRulesetTab)" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                            <span class="euiButtonEmpty__content">
                                <react-component name="EuiIcon" props="{type:'plusInCircle'}" ></react-component>
                                <span class="euiButtonEmpty__text">Add
                                        new {{mctrl.globalRulesetTab}} file</span>
                            </span>
                        </button>
                <react-component ng-if="mctrl.adminMode" name="UploadFiles" props="mctrl.uploadFilesProps" class="wz-margin-left-10"></react-component>
                <button type="button" ng-click="filesctrl.refresh()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                    <span class="euiButtonEmpty__content">
                        <react-component name="EuiIcon" props="{type:'refresh'}" ></react-component>
                        <span class="euiButtonEmpty__text">Refresh</span>
                    </span>
                </button>
                <!-- 
                <button type="button" ng-click="mctrl.openLogtest()" class="euiButtonEmpty euiButtonEmpty--primary euiButtonEmpty--small wz-margin-left-10">
                        <span class="euiButtonEmpty__content">
                            <react-component name="EuiIcon" props="{type:'play'}" ></react-component>
                            <span class="euiButtonEmpty__text">Test your logs</span>
                        </span>
                    </button>    
                -->         
                </div>

                <div class="wz-padding-bottom-0">
                <div div layout="row" style="margin-left: -16px;padding-right:0" 
                class="md-padding euiFlexGroup euiFlexGroup--alignItemsCenter euiFormControlLayout__childrenWrapper md-padding-h ng-scope ">
                <input placeholder="Filter files..." ng-model="filesctrl.custom_search" type="text"
                    class="euiFieldSearch euiFieldSearch--fullWidth euiFlexItem ng-empty ng-pristine ng-touched ng-valid"
                    aria-invalid="false" wz-enter="filesctrl.search(filesctrl.custom_search)">
                <div class="euiFormControlLayoutIcons wz-margin-left-16">
                    <span class="euiFormControlLayoutCustomIcon">
                        <react-component name="EuiIcon"
                            props="{type:'search', className:'euiFormControlLayoutCustomIcon__icon'}"></react-component>
                    </span>
                </div>
    
                <button type="submit" aria-label="Search" class="euiButton euiButton--primary euiButton--fill wz-margin-left-8"
                ng-click="filesctrl.search(filesctrl.custom_search)">
                <react-component name="EuiIcon" props="{type:'search'}"></react-component> Search
            </button>
            </div>
        </div>

                <wz-table ng-if="mctrl.globalRulesetTab === 'rules' && mctrl.onlyLocalFiles" flex path="'/rules/files'"
                    implicit-filter="[{name: 'path', value: 'etc/rules'}]" keys="[{value: 'file', width: '25%'}]"
                    allow-click="true" row-sizes="[16,13,11]" implicit-sort="'path'">
                </wz-table>
                <wz-table ng-if="mctrl.globalRulesetTab === 'rules' && !mctrl.onlyLocalFiles" flex path="'/rules/files'"
                    keys="[{value: 'file', width: '25%'}]" allow-click="true" row-sizes="[16,13,11]">
                </wz-table>
                <wz-table ng-if="mctrl.globalRulesetTab === 'decoders' && mctrl.onlyLocalFiles" flex
                    path="'/decoders/files'" implicit-filter="[{name: 'path', value: 'etc/decoders'}]"
                    keys="[{value: 'file', width: '25%'}]" allow-click="true" row-sizes="[16,13,11]"  implicit-sort="'path'">
                </wz-table>
                <wz-table ng-if="mctrl.globalRulesetTab === 'decoders' && !mctrl.onlyLocalFiles" flex
                    path="'/decoders/files'" keys="[{value: 'file', width: '25%'}]" allow-click="true"
                    row-sizes="[16,13,11]" implicit-sort="'file'">
                </wz-table>
        </div>
    </div>
</div>
<div class="md-padding" ng-if="editingFile">
    <div flex layout="column">
        <div layout="row" class="wz-padding-bottom-14">
            <div ng-if="!newFile && !editorReadOnly">
                <span ng-click='closeEditingFile()' class='wz-margin-top-3 kuiButton kuiButton--hollow'>Close</span>
                <button ng-if='mctrl.adminMode' ng-disabled='xmlHasErrors || doingSaving' ng-click='doSaveConfig(false)'
                    class='btn wz-button pull-right wz-margin-left-8'>
                    <span ng-show='!xmlHasErrors'><i aria-hidden='true' class='fa fa-fw fa-save'
                            ng-class="doingSaving ? 'fa-spin fa-spinner' : ''"></i>Save
                        file</span>
                    <span ng-show='xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                        XML format error</span>
                </button>
            </div>
            <div ng-if="editorReadOnly">
                <div layout="row" layout-align="start center">
                    <span ng-click='closeEditingFile()' class='wz-margin-top-3 kuiButton kuiButton--hollow'>Close</span>
                </div>
            </div>
            <div ng-if="newFile" layout="row" class="wz-width-100">
                <button ng-click="closeEditingFile()"
                    class="wz-margin-top-3 kuiButton kuiButton--hollow">Close</button>
                <button ng-if='mctrl.adminMode'
                    ng-disabled='xmlHasErrors || newFileName === "" || doingSaving || overwriteError'
                    ng-click='doSaveConfig(true,newFileName)'
                    class="kuiButton kuiButton--secondary height-35 wz-margin-left-8">
                    <span ng-show='!xmlHasErrors'>
                        <react-component name="EuiIcon" props="{type: 'alert'}" ></react-component> Save file
                    </span>
                    <span ng-show='xmlHasErrors' class='btn-danger'><i aria-hidden='true' class='fa fa-fw fa-exclamation-triangle'></i>
                        XML format error</span>
                </button>
                <input flex placeholder="{{type === 'rules' ? 'Eg: my_local_rule.xml' : 'Eg: my_local_decoder.xml'}}"
                    ng-model="newFileName" type="text" class="wz-margin-left-8 kuiLocalSearchInput" aria-invalid="false"
                    ng-change="cancelSaveAndOverwrite(newFileName)">
                <button ng-show="restartBtn" class="kuiButton kuiButton--secondary height-35 wz-margin-left-8" type="button"
                    ng-disabled="doingSaving || !restartBtn" ng-click="restart(); toggleRestartMsg()">Restart
                    now</button>
            </div>
        </div>
        <div ng-if="!editorReadOnly && fetchedXML">
            <wz-xml-file-editor file-name='{{type}}' data="fetchedXML" target-name="newFile ? selectedItem.file : currentFile.file"
                valid-fn='xmlIsValid(valid)' saving-param='toggleSaveConfig()' close-fn='closeEditingFile(reload)'>
            </wz-xml-file-editor>
        </div>
        <div ng-show="editorReadOnly && XMLContent">
            <div layout="row" class="wz-padding-bottom-0">
                <wz-config-viewer flex xmlcontent="XMLContent" hide-header="true" no-local="currentFile.file"></wz-config-viewer>
            </div>
        </div>
    </div>
</div>