<div class="section-header section-padded">
	<h2 class="section-title"><%- _("Platform Alerts Setup").t() %></h2>
	<%- _("Manage Monitoring Console platform alerts.").t() %>
	<a href="<%- docUrl %>" target="_blank" class="doc-link"><%- _("Learn More").t() %> <i class="icon-external"></i></a>
</div>

<div class="main-section">
	<div class="table-toolbar">
		<div class="filter-container">
			<div class="collection-count"></div>
			<span class="text-name-filter-placeholder"></span>
			<div class="select-page-count"></div>
		</div>
		<div class="paginator-container"></div>
	</div>
	<div class="clearfix" />
	<div class="grid-placeholder"></div>
</div>